{% load static i18n %}
{% load util_tags %}
{% load youth_tags %}

<div class="mb-2 mr-2 btn-group dropdown" style="position: relative;">
    <button class="btn btn-outline-primary">Actions</button>
    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-outline-primary"><span class="sr-only">Toggle Dropdown</span>
    </button>
    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start">
        <a type="button" href="{% url 'youth:child_profile' record.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-contact btn-icon-wrapper"> </i></button>
          {% trans "View Profile" %}</a>
        <a type="button" href="{% url 'youth:child_edit' record.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-create btn-icon-wrapper"> </i></button>
          {% trans "Edit" %}</a>
        <a type="button" href="" tabindex="0" class="dropdown-item delete-student"  data-registration-id="{{ record.id }}">
          <button id="delete-button-{{ record.id }}" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-cancel btn-icon-wrapper"> </i></button>
          {% trans "Disable" %}</a>

    </div>
</div>


