{% extends "account/base.html" %}
{% load static i18n %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<style>
  .app-logo-home {
    height: 250px;
    width: 500px;
  }
  .app-logo-home img {
    width: 500px;
  }
</style>

<div id="loginApp"></div>

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel">
const formStyle = { width: '100%' };
function LoginApp() {
  return (
    <div className="mx-auto app-login-box col-md-8">
      <div className="app-logo-home mx-auto mb-3"><img src="{% static 'images/clm_plus_logo.png' %}" /></div>
      <div className="modal-dialog mx-auto">
        <div className="modal-content">
          <div className="modal-body">
            <div className="h5 modal-title text-center">
              <h4 className="mt-2">
                <div>Welcome to BMA</div>
                <span>Please sign-in with your account.</span>
              </h4>
            </div>
          </div>
          <div className="modal-footer text-center">
            <form className="login" method="POST" action="{% url 'account_login' %}" style={formStyle}>
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button className="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  );
}
ReactDOM.render(<LoginApp />, document.getElementById('loginApp'));
</script>
{% endblock %}


