{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block auth_title %}{% trans "Change Password" %}{% endblock %}
{% block auth_subtitle %}{% trans "Choose a new password for your account." %}{% endblock %}

{% block inner %}
<form method="POST" autocomplete="off" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary fw-semibold py-2" type="submit" name="action">
            <i class="bi bi-shield-lock me-2"></i>{% trans "Change Password" %}
        </button>
        <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
