{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block auth_title %}{% trans "Password Changed" %}{% endblock %}
{% block auth_subtitle %}{% trans "Your password has been updated." %}{% endblock %}

{% block inner %}
<div class="text-center">
    <i class="bi bi-check-circle text-success" style="font-size: 3rem;"></i>
    <p class="text-muted mt-3">{% trans 'Your password is now changed.' %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary mt-2">{% trans "Sign in" %}</a>
</div>
{% endblock %}
