{% extends "account/base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block auth_title %}{% trans "Set Password" %}{% endblock %}
{% block auth_subtitle %}{% trans "Create a password to secure your account." %}{% endblock %}

{% block inner %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid mt-4">
        <button type="submit" name="action" class="btn btn-primary fw-semibold py-2">
            <i class="bi bi-shield-lock me-2"></i>{% trans "Set Password" %}
        </button>
    </div>
</form>
{% endblock %}
