{% extends "account/base.html" %}
{% load i18n account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block auth_title %}{% trans "Check Your Inbox" %}{% endblock %}
{% block auth_subtitle %}{% trans "We have sent you an e-mail with a password reset link." %}{% endblock %}

{% block inner %}
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="text-center">
    <i class="bi bi-envelope-check text-success" style="font-size: 3rem;"></i>
    <p class="text-muted mt-3">
        {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>
    <a href="{% url 'account_login' %}" class="btn btn-outline-primary mt-2">{% trans "Back to sign in" %}</a>
</div>
{% endblock %}
