{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block auth_title %}{% trans "Verify Your E-mail" %}{% endblock %}
{% block auth_subtitle %}{% trans "One more step to finish setting up your account." %}{% endblock %}

{% block inner %}
<div class="text-center">
    <i class="bi bi-envelope-check text-primary" style="font-size: 3rem;"></i>
    <p class="text-muted mt-3">
        {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>
</div>
{% endblock %}
