{% load staticfiles i18n %}

<div id="add_child_noid_block" style="display: none;">
    <form class="inlineForm form-medium-size" id="add_child_noid_form">
        <div class="line">
            <label class="text">{% trans "School" %}</label>
            {{ form.school }}
        </div>
        <div class="line">
            <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
            {{ student_form.first_name }}
            <span class="error" id="first_name_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line">
            <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
            {{ student_form.father_name }}
            <span class="error" id="father_name_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line">
            <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
            {{ student_form.last_name }}
            <span class="error" id="last_name_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line">
            <label class="text">{% trans "Mother's Full name" %}<span class="asterisque">*</span></label>
            {{ student_form.mother_fullname }}
            <span class="error" id="mother_fullname_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line">
            <label class="text">{% trans "Age" %}<span class="asterisque">*</span></label>
            {{ student_form.age }}
            <span class="error" id="age_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line field-select-small-size">
            <label class="text">{% trans "Date of birth" %}</label>
            {{ student_form.birthday_day }}
            {{ student_form.birthday_month }}
            {{ student_form.birthday_year }}
        </div>
        <div class="line">
            <label class="text">{% trans "Gender" %}<span class="asterisque">*</span></label>
            {{ student_form.sex }}
            <span class="error" id="gender_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line">
            <label class="text">{% trans "Relationship to Household reprentative" %}<span class="asterisque">*</span></label>
            {{ student_form.relation_to_adult }}
            <span class="error" id="relation_to_adult_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line" >
            <label class="text">{% trans "Have the child been out of school for more than 2 years?" %}</label>
            {% for choice in student_form.out_of_school_two_years %}
                <span class="hidden-field">{{ choice }}</span>
            {% endfor %}
            <div id="radioBtn" class="btn-group">
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_out_of_school_two_years" data-title="1">{% trans "Yes" %}</a>
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_out_of_school_two_years" data-title="0">{% trans "No" %}</a>
            </div>
        </div>
        <div class="line" >
            <label class="text">{% trans "Child registered in UNHCR or Family Book?" %}</label>
            {% for choice in student_form.related_to_family %}
                <span class="hidden-field">{{ choice }}</span>
            {% endfor %}
            <div id="radioBtn" class="btn-group">
                <a class="btn btn-primary btn-sm active" data-toggle="id_related_to_family" data-title="1">{% trans "Yes" %}</a>
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_related_to_family" data-title="0">{% trans "No" %}</a>
            </div>
        </div>
        <div class="line">
            <label class="text">{% trans "Was this child enrolled in any school last year" %}</label>
            {{ student_form.enrolled_last_year }}
        </div>
        <div id="enrolled_in_school_location" style="display:none">
            <div class="line">
                <label class="text">{% trans "Select a Location" %}</label>
                {{ student_form.enrolled_last_year_location }}
            </div>
            <div class="line">
                <label class="text">{% trans "Select a School" %}</label>
                {{ student_form.enrolled_last_year_school }}
            </div>
        </div>
    </form>
</div>

<div id="add_child_withid_block" style="display: none;">
    <form class="inlineForm form-medium-size" id="add_child_withid_form">
        <div class="line">
            <label class="text">{% trans "School" %}</label>
            {{ form.school }}
        </div>
        <div class="line">
            <label class="text">{% trans "Child's ID Number" %}</label>
            {{ student_form.id_number }}
        </div>
        <div class="line">
            <label class="text">{% trans "Relationship to Household reprentative" %}<span class="asterisque">*</span></label>
            {{ student_form.relation_to_adult }}
            <span class="error" id="relation_to_household_reprentative_error">{% trans "This field is required" %}</span>
        </div>
        <div class="line" >
            <label class="text">{% trans "Have the child been out of school for more than 2 years?" %}</label>
            {% for choice in student_form.out_of_school_two_years %}
                <span class="hidden-field">{{ choice }}</span>
            {% endfor %}
            <div id="radioBtn" class="btn-group">
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_out_of_school_two_years" data-title="1">{% trans "Yes" %}</a>
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_out_of_school_two_years" data-title="0">{% trans "No" %}</a>
            </div>
        </div>
        <div class="line" >
            <label class="text">{% trans "Child registered in UNHCR or Family Book?" %}</label>
            {% for choice in student_form.related_to_family %}
                <span class="hidden-field">{{ choice }}</span>
            {% endfor %}
            <div id="radioBtn" class="btn-group">
                <a class="btn btn-primary btn-sm active" data-toggle="id_related_to_family" data-title="1">{% trans "Yes" %}</a>
                <a class="btn btn-primary btn-sm notActive" data-toggle="id_related_to_family" data-title="0">{% trans "No" %}</a>
            </div>
        </div>
        <div class="line">
            <label class="text">{% trans "Was this child enrolled in any school last year" %}</label>
            {{ student_form.enrolled_last_year }}
        </div>
        <div id="enrolled_in_school_location" style="display:none">
            <div class="line">
                <label class="text">{% trans "Select a Location" %}</label>
                {{ student_form.enrolled_last_year_location }}
            </div>
            <div class="line">
                <label class="text">{% trans "Select a School" %}</label>
                {{  student_form.enrolled_last_year_school }}
            </div>
        </div>
    </form>
</div>



