{% load staticfiles i18n %}

<div id="add_child_noid_block" style="display: none;">
    <form class="inlineForm">
        <h5 class="panel-title">{% trans "Add Child" %} - {% trans "Other or no ID" %}</h5>
        <div class="line">
            <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
            {{ student_form.first_name }}
        </div>
        <div class="line">
            <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
            {{ student_form.father_name }}
        </div>
        <div class="line">
            <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
            {{ student_form.last_name }}
        </div>
        <div class="line">
            <label class="text">{% trans "Mother Full name" %}<span class="asterisque">*</span></label>
            {{ student_form.mother_fullname }}
        </div>
        <div class="line">
            <label class="text">{% trans "Age" %}<span class="asterisque">*</span></label>
            {{ student_form.age }}
        </div>
        <div class="line">
            <label class="text">{% trans "Date of birth" %}<span class="asterisque">*</span></label>
            {{ student_form.birthday_day }}
            {{ student_form.birthday_month }}
            {{ student_form.birthday_year }}
        </div>
        <div class="line">
            <label class="text">{% trans "Gender" %}<span class="asterisque">*</span></label>
            {{ student_form.sex }}
        </div>
        <div class="line">
            <label class="text">{% trans "Relationship to Houshold head" %}<span class="asterisque">*</span></label>
            {{ student_form.relation_to_adult }}
        </div>
        <div class="line">
            <label class="text">{% trans "Was this child enrolled in any school last year" %}</label>
            {{ student_form.enrolled_last_year }}
        </div>
    </form>
</div>

<div id="add_child_withid_block" style="display: none;">
    <form class="inlineForm">
        <h5 class="panel-title">{% trans "Add Child" %}</h5>
        <div class="line">
            <label class="text">{% trans "Location" %}</label>
            {{ student_form.location }}
        </div>
        <div class="line">
            <label class="text">{% trans "School" %}</label>
            {{ student_form.school }}
        </div>
        <div class="line">
            <label class="text">{% trans "Child's ID Number" %}</label>
            {{ student_form.id_number }}
        </div>
        <div class="line">
            <label class="text">{% trans "Relationship to Houshold head" %}<span class="asterisque">*</span></label>
            {{ student_form.relation_to_adult }}
        </div>
        <div class="line">
            <label class="text">{% trans "Was this child enrolled in any school last year" %}</label>
            {{ student_form.enrolled_last_year }}
        </div>
    </form>
</div>
