<table id="beneficiary-table" class="table table-striped table-bordered cell-border"
data-height="500"
data-pagination="true"
data-search="true"
cellspacing="0"
width="100%">
    <thead>
        <tr>
            <th style = "display:none">>ID</th>
            <th id="tbl-child-name" >Child Name</th>
            <th id="tbl-child-current-school" >Old School</th>
            <th id="tbl-child-new-school" >New School</th>
            <th id="tbl-child-new-school" >New School</th>
            <th id="tbl-approve-reject"  >Approve/Reject</th>
            <th id="tbl-comments"  >Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for beneficiary in beneficiaries %}
            <tr class="row-class" beneficiary-id="{{ beneficiary.id }}" >
                <td>{{ beneficiary.id }}</td>
                <td>{{ beneficiary.id }}</td>
                <td>{{ beneficiary.id }}</td>
                <td>{{ beneficiary.id }}</td>
                <td>

                    <div class="switch-toggle switch-3 switch-candy" style = "width:220px">

                        <input id="on-{{ beneficiary.id }}" name="state-d-{{ beneficiary.id }}" type="radio"
                               {% if beneficiary.beneficiary_changed_status == 'accepted' %}checked{% endif %} value = "accepted">
                        <label for="on-{{ beneficiary.id }}" onclick="">Accept</label> </input>

                        <input id="na-{{ beneficiary.id }}" name="state-d-{{ beneficiary.id }}" type="radio"
                               {% if beneficiary.beneficiary_changed_status == 'open' %}checked{% endif %} value = "open">
                            <label for="na-{{ beneficiary.id }}" onclick="">-</label> </input>

                        <input id="off-{{ beneficiary.id }}" name="state-d-{{ beneficiary.id }}" type="radio"
                               {% if beneficiary.beneficiary_changed_status == 'rejected' %}checked{% endif %} value = "rejected">
                        <label for="off-{{ beneficiary.id }}" onclick="">Reject</label> </input>

                        <a></a>
                    </div>

                </td>
                <td>
                    <textarea>{{ beneficiary.beneficiary_changed_comment  }}</textarea>
                </td>

                <td style = "display:none">{{ beneficiary.beneficiary_changed_status  }}</td>

                <td style = "display:none">{{ beneficiary.beneficiary_changed_comment  }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
