{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">

{% endblock %}

{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">

                <div class="alert alert-success" role="alert" style="display: none;">
                    <strong>{% trans 'Success' %}</strong> {% trans 'Your change is successfully Saved' %}
                </div>
                <div class="alert alert-warning" role="alert" style="display: none;">
                    <strong>{% trans 'Oops' %}</strong> {% trans 'Error saving changes, please contact system administrators' %}
                </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "Class Assignments" %}</a></li>
                                    <li>
                                        <div style="display: inline-block;">
                                            <label for="id_school">{% trans 'School' %}</label>
                                        </div>
                                        <div style="display: inline-block;">
                                             <select class="form-control" id="id_school">
                                                 <option value="">----</option>
                                                  {% for school in schools %}
                                                    <option value="{{ school.id }}" {% if selectedSchool == school.id %}selected="selected"{% endif %}>
                                                        {{ school.name }} - {% if school.location %}{{ school.location.name }}{% endif %}
                                                    </option>
                                                  {% endfor %}
                                             </select>
                                        </div>
                                    </li>
                                 </ol>
                                </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <div class="loader"></div>

                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr>
                                        <th>{% trans "Student fullname" %}</th>
                                        <th>{% trans "Age" %}</th>
                                        <th>{% trans "Class" %}</th>
                                        <th>{% trans "Section" %}</th>
                                        <th>{% trans "Enrolled in this school" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registry in registrations %}
                                        <tr>
                                            <td>{% if registry.student %}{{ registry.student }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.get_age }}{% endif %}</td>
                                            <td>
                                                <select name="classroom" class="classroom" data-regid="{{ registry.id }}">
                                                    <option value="">----</option>
                                                    {% for classroom in classrooms %}
                                                        <option value="{{ classroom.id }}" {% if registry.classroom.id == classroom.id %}selected="selected"{% endif %}>{{ classroom.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <select name="section" class="section" data-regid="{{ registry.id }}">
                                                    <option value="">----</option>
                                                    {% for section in sections %}
                                                        <option value="{{ section.id }}" {% if registry.section.id == section.id %}selected="selected"{% endif %}>{{ section.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input {% if registry.enrolled_in_this_school %}checked="checked"{% endif %} class="enrolled" data-regid="{{ registry.id }}" type="checkbox" />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = protocol+'{{ request.get_host }}';
        var synchro_path = host+'/api/class-assignment/';

        $(document).ready(function(){

            $('.enrolled').bootstrapSwitch({
                'onText' : '{% trans 'Yes' %}',
                'offText': '{% trans 'No' %}',
                'onColor':'success',
                'offColor':'danger',
                'size': 'small'
            });
            oTable = $('#registrations-table').DataTable({
                fixedHeader: true,
                paging:   true,
                ordering: true,
                info:     true,
                autoWidth: false,
                scrollY: '50vh',
                scrollX: true,
                scrollCollapse: true,
                "pageLength": 100,
                "language": {
                    "url": "/static/locale/"+language+".json"
                }
            });

            // save the student classroom and section on change
            $("select.section, select.classroom").change(function(){
                var data = {};
                var name = $(this).attr('name');
                data[name] = $(this).val() ;
                loadAjaxCall($(this).data('regid'), data);
            });

            $('.enrolled').on('switchChange.bootstrapSwitch', function(event, state) {
                var regId = $(this).data('regid');
                var data = { enrolled_in_this_school: state };
                loadAjaxCall(regId, data);
            });


            // get the list of school and fill the table with it
            $("#id_school").change(function(){
                var selected_school = $(this).val();
               // reload the page with the school id passed in post
                if(selected_school)
                    window.location.href = '/registrations/class-assignment/?school='+selected_school;
                else
                    window.location.href = '/registrations/class-assignment/';

            });

            function loadAjaxCall(regId , data)
            {
                 $.ajax({
                    type: "PATCH",
                    url: synchro_path+regId+'/',
                    cache: false,
                    headers: getHeader(),
                    dataType: 'json',
                    data: data,
                    beforeSend: function( ) {
                       // show loader
                        $(".loader").show();
                      }
                 }).done(function(data) {
                  // hide loader, show success message
                    $(".loader").hide();
                     if(data) {
                         $(".alert-success").fadeIn();
                         setTimeout(function () {
                             $(".alert-success").fadeOut();
                         }, 1000);
                     }
                     else {
                         $(".alert-danger").fadeIn();
                         setTimeout(function () {
                             $(".alert-danger").fadeOut();
                         }, 2000);
                     }
                });
            }
        });
    </script>

{% endblock %}
