{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">

    <link rel="stylesheet" type="text/css" href="{% static 'css/toggle-switch.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">


    <style>
        .row-class {
            cursor: pointer;
        }
        .row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

        .child-row-class {
            cursor: pointer;
        }
        .child-row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

        .transparent-header
        {
           background-color: transparent !IMPORTANT;
           border: solid 0px transparent !IMPORTANT;
        }

    </style>

<script type="text/javascript" src="{% static 'js/registration-pilot/UI/coffee-script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/registration-pilot/UI/ect.min.js' %}"></script>

{% endblock %}


{% block content %}


         <div class="loader"></div>

         <section class="main-content-wrapper" id = "hhList">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">

                <div class="alert alert-success" role="alert" style="display: none;">
                    <strong>{% trans 'Success' %}</strong> {% trans 'Your change is successfully Saved' %}
                </div>
                <div class="alert alert-warning" role="alert" style="display: none;">
                    <strong>{% trans 'Oops' %}</strong> {% trans 'Error saving changes, please contact system administrators' %}
                </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                  <li><a>{% trans "Updates and Complaints Approval Layer" %}</a></li>
                                </ol>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th>{% trans "Category" %}</th>
                                        <th>{% trans "Type" %}</th>
                                        <th>{% trans "Number" %}</th>
                                        <th>{% trans "Urgent" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for complaint in complaints %}
                                    <tr class="row-class" complaintID="{{ complaint.ID }}" complaint_type="{{ complaint.complaint_type }}">
                                        <td>{{ complaint.complaint_type }}</td>
                                        <td>{{ complaint.Name }}</td>
                                        <td>{{ complaint.Statistics }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                <tr class="row-class" complaintID="{{ 100 }}">
                                    <td>{{ school_changed_to_verify.complaint_type }}</td>
                                    <td>{{ school_changed_to_verify.Name }}</td>
                                    <td>{{ school_changed_to_verify.Statistics }}</td>
                                    <td></td>
                                </tr>
                                <tr class="row-class" complaintID="{{ 200 }}">
                                    <td>{{ beneficiary_changed_verify.complaint_type }}</td>
                                    <td>{{ beneficiary_changed_verify.Name }}</td>
                                    <td>{{ beneficiary_changed_verify.Statistics }}</td>
                                    <td></td>
                                </tr>
                                <tr class="row-class" style="font-weight:bold" >
                                        <td>{{ total.Name }}</td>
                                        <td></td>
                                        <td>{{ total.Statistics }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>


     <div id = "editComplaintForm" style ="display:none">
         <div class="panel-heading">
             <h3 class="panel-title">
                 <ol class="breadcrumb">
                     <li><a>{% trans "Updates and Complaints" %}</a></li>
                 </ol>
             </h3>
             <div class="actions pull-right">
                 <i class="fa fa-chevron-down"></i>
                 <i class="fa fa-times"></i>
             </div>
         </div>
         <div>
             <button class="btn btn-warning" type="button" id="CloseButton" style="float:left;">
              {% trans "Cancel" %}
            </button>
            <button class="btn btn-primary" type="button" id="SaveButton" style="float:right; " >
              {% trans "Save" %}
            </button>
         </div>

         <table id="complaints-table" class="table table-striped table-bordered cell-border"
               data-height="500"
               data-pagination="true"
               data-search="true"
               cellspacing="0"
               width="100%">
          <thead>
              <tr>
                  <th style = "display:none">>ID</th>
                  <th>Child Name</th>
                  <th>Old School</th>
                  <th>New School</th>
                  <th>Approve/Reject</th>
                  <th>Comments</th>
              </tr>
          </thead>
          <tbody>

          </tbody>
        </table>



     </div>

    <div id = "hhNotFoundForm" style ="display:none">
       {% include 'registration-pilot/household-not-found.html' %}
     </div>

    <div id = "acceptRejectToggle">


        <div class="switch-toggle switch-3 switch-candy" style = "width:220px">

            <input id="on" name="state-d" type="radio" checked="" >
            <label for="on" onclick="">Accept</label> </input>

            <input id="na" name="state-d" type="radio" checked="checked">
                <label for="na" onclick="">-</label> </input>

            <input id="off" name="state-d" type="radio">
            <label for="off" onclick="">Reject</label> </input>

            <a></a>
        </div>

    </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/registration-pilot/UI/SlyInitialisation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/registration-pilot/Validation/validator.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var user_id = {{ request.user.id }};
        var host = protocol+'{{ request.get_host }}';
        var synchro_path = host+'/api/registry-search/';

        var complaints_url = host+'/api/registrations-complaint-category/';
        var checking_id_number_url = host+'/api/complaint-id/';

        var hhID = null;
        var nfID = null;
        var notFoundRecord = null;

        $(document).ready
        (
           function()
           {

               InitialiseClose();

               $(document).on
               (
                 'click',
                 '.row-class',
                 function()
                 {
                    block = $(this);
                    complaintID = block.attr('complaintID');
                     complaint_type = block.attr('complaint_type');
                     //alert(complaint_type);

                    LoadData(complaintID , complaint_type );

                     hideForms();
                     $("#editComplaintForm").show();


                 }
               );

                function hideForms()
                {
                    $("#hhList").hide();
                    $("#editComplaintForm").hide();
                }

          function hideAll()
          {
            $("#phoneFields").hide();
          }

              function loadAjaxCall(regId , data)
            {
                 $.ajax({
                    type: "PATCH",
                    url: synchro_path+regId+'/',
                    cache: false,
                    headers: getHeader(),
                    dataType: 'json',
                    data: data,
                    beforeSend: function( ) {
                       // show loader
                        $(".loader").show();
                      }
                 }).done(function(data) {
                  // hide loader, show success message
                    $(".loader").hide();
                     if(data) {
                         $(".alert-success").fadeIn();
                         setTimeout(function () {
                             $(".alert-success").fadeOut();
                         }, 1000);
                     }
                     else {
                         $(".alert-danger").fadeIn();
                         setTimeout(function () {
                             $(".alert-danger").fadeOut();
                         }, 2000);
                     }
                });
            }

      });


      var householdRecord = null;


      function LoadData(complaintCategoryID , complaint_type)
      {
         $.ajax({
                     type: "GET",
                     url: complaints_url+complaintCategoryID,
                     data: [],
                     cache: false,
                     async: false,
                     headers: getHeader(),
                     dataType: 'json',
                     success: function (response) {

                         var complaintCategory = response;


                         for(complaintIndex in complaintCategory.complaints)
                         {
                            var complaint = complaintCategory.complaints[complaintIndex];
                            AddComplaintRow(complaint, complaint_type);
                         }

                     },
                     error: function (response) {
                        var required_fields = JSON.parse(response.responseText);
                        console.log(response);
                     }
                 });
      }


            function AddComplaintRow(entry, complaint_type)
            {
                var idCell = "<td style = 'display:none;'>"+entry.complaint_id +"</td>";
                var adultCell =  "<td>"+entry.adult_first_name + ' ' + entry.adult_father_name + ' ' + entry.adult_last_name+"</td>";
                var adultIDCell =  "<td>"+entry.adult_id_number +"</td>";
                var noteCell =  "<td>"+entry.complaint_note +"</td>";
                var dateCell =  "<td>"+entry.created +"</td>";

{#                     var oldSchoolCell = "<td>"+entry.complaint_type +"</td>";#}
{#                     var newSchoolCell = "<td>"+entry.complaint_type +"</td>";#}



                 if(complaint_type= 'Bank') {
                     var bankDateCell =  "<td>"+entry.complaint_bank_date_of_incident +"</td>";
                     var phoneCell =  "<td>"+entry.complaint_bank_phone_used +"</td>";
                     var serviceCell =  "<td>"+entry.complaint_bank_service_requested +"</td>";

                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+phoneCell+dateCell+bankDateCell+serviceCell+noteCell+"</tr>"
                     );
                 }
                 else if(complaint_type= 'Card'){

                     var phoneCell =  "<td>"+entry.adult_primary_phone +"</td>";
                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+dateCell+phoneCell+"</tr>"
                     );

                 }
                 else if(complaint_type = 'Card Distribution'){
                     var phoneCell =  "<td>"+entry.adult_primary_phone +"</td>";
                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+dateCell+phoneCell+noteCell+"</tr>"
                     );

                 }
                 else if(complaint_type = 'Payment') {
                     var phoneCell =  "<td>"+entry.adult_primary_phone +"</td>";

                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+noteCell+dateCell+"</tr>"
                     );

                 }
                 else if(complaint_type = 'Reinstate Beneficiary') {

                     var phoneCell =  "<td>"+entry.adult_primary_phone +"</td>";

                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+noteCell+dateCell+"</tr>"
                     );

                 }
                 else if(complaint_type = 'School Related') {

                     var phoneCell =  "<td>"+entry.adult_primary_phone +"</td>";
                     var studentCell =  "<td>"+entry.student_first_name + ' ' + entry.student_father_name + ' ' + entry.student_last_name+"</td>";


                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+adultIDCell+adultCell+phoneCell+dateCell+noteCell+studentCell+"</tr>"
                     );
                 }
                 else if(complaint_type = 'Not Found') {
                     var notFoundNameCell =  "<td>"+entry.not_found_first_name + ' ' + entry.not_found_father_name + ' ' + entry.not_found_last_name+"</td>";
                     var notFoundIDCell =  "<td>"+entry.not_found_id_number +"</td>";

                     $("#complaints-table tbody").append
                     (
                         "<tr>"+idCell+notFoundIDCell+notFoundNameCell+phoneCell+dateCell+noteCell+studentCell+"</tr>"
                     );

                 }
                 else if(complaint_type = 'Other') {

                 }

            }

      function updateDropDownValue(dropDownElement, value)
      {
          dropDownElement.find('option:selected').removeAttr('selected');
          dropDownElement.find('option[value="'+value+'"]').attr("selected",true);
          dropDownElement.val(value);
      }


       function CreateChildData(childVisitID)
        {
           childData = [];

           $("#schools-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 childRecord = new Object();

                 childRecord.reg_id = trElement.find('td:nth-child(1)').html();

                 dropDownElement = trElement.find('td:nth-child(5) select');

                 childRecord.school_changed_to_verify = dropDownElement.val();

                 childData.push(childRecord);

              }
           );

           return childData;
        }

      function CloseHousehold()
      {
          $("#hhEditForm").hide();
          $("#hhList").show();

        householdRecord = null;
        hhID = null;
      }

      function InitialiseSave()
      {
          $(document).on
          (
             'click',
             '#SaveButton',
             function()
             {
                if(ValidateHouseHoldUpdate())
                {
                   if($("#changeOption").val() == "phone" || $("#changeOption").val() == "address"
                       || $("#changeOption").val() == "beneficiary" || $("#changeOption").val() == "twoCards" || $("#changeOption").val() == "notEligible")
                   {
                      SaveHousehold();
                   }
                   else if($("#changeOption").val() == "school_change")
                   {
                      SaveChildren();
                   }
                    else if($("#changeOption").val() == "cardStatus" && ValidateComplaint())
                   {
                      SaveHousehold();
                   }
                }
             }
           );
      }

      function InitialiseClose()
      {
        $(document).on
          (
             'click',
             '#CloseButton',
             function()
             {
                 $("#editComplaintForm").hide();
                 $("#hhList").show();
             }
           );
      }

      function SaveHousehold()
      {
          var houseHoldData = new Object();

          if($("#changeOption").val() == "phone")
          {
              houseHoldData.primary_phone = $("#primary_phone").val();
              houseHoldData.primary_phone_answered = $("#primary_phone_answered").val();
              if ($("#secondary_phone").val() !='')
              {
                  houseHoldData.secondary_phone = $("#secondary_phone").val();
                  houseHoldData.secondary_phone_answered = $("#secondary_phone_answered").val();
              }
          }
          else if($("#changeOption").val() == "address")
          {
              houseHoldData.address = $("#address").val();
          }
          else if($("#changeOption").val() == "beneficiary")
          {
              SaveNewBenificiary(houseHoldData);
          }
          else if($("#changeOption").val() == "twoCards")
          {
              houseHoldData.duplicate_card_first_card_case_number = $("#first_card_case_number").val();
              houseHoldData.duplicate_card_first_card_last_four_digits = $("#first_card_last_four_digits").val();
              houseHoldData.duplicate_card_second_card_case_number = $("#second_card_case_number").val();
              houseHoldData.duplicate_card_secondcard_last_four_digits = $("#secondcard_last_four_digits").val();
          }
          else if($("#changeOption").val() == "cardStatus")
          {
              houseHoldData.primary_phone = $("#card_phone").val();
          }
          else if($("#changeOption").val() == "notEligible")
          {
              houseHoldData.no_logner_eligible = true;
              houseHoldData.no_logner_eligible_reason = $("#not_eligible_select").val();
              houseHoldData.no_logner_eligible_specify = $("#not_eligible_reason_specify").val();
          }
          $.ajax
          (
              {
                  type: "PATCH",
                  url: checking_id_number_url + hhID +"/",
                  data: houseHoldData,
                  cache: false,
                  async: false,
                  headers: getHeader(),
                  dataType: 'json',
                  success: function (response)
                  {
                      var block = $("#registrations-table tr[adultid="+hhID+"]");
                      if ($("#primary_phone").val() !='')
                      {
                          block.find("td:nth-child(4)").text($("#primary_phone").val());
                      }
                      if ($("#card_phone").val() !='')
                      {
                          block.find("td:nth-child(4)").text($("#card_phone").val());
                      }
                      if ($("#secondary_phone").val() !='')
                      {
                          block.find("td:nth-child(5)").text($("#secondary_phone").val());
                      }
                      CloseHousehold();

                  },
                  error: function (response)
                  {
                      console.log(response);
                  }
              }
          );
      }

       function GetBooleanSelection(element)
       {
          return element.find('a.active').attr('data-title')==1 ? "true":"false";
       }

       function ChangeBooleanSelection(element, isSelected)
       {
           ChangeBooleanSelectionOption(element.find('a[data-title=1]'),isSelected);
           ChangeBooleanSelectionOption(element.find('a[data-title=0]'),!isSelected);
       }
       function ChangeBooleanSelectionOption(element, isSelected)
           {
              if(isSelected)
              {
                 element.addClass("active");
                 element.removeClass("notActive");
              }
              else
              {
                 element.removeClass("active");
                 element.addClass("notActive");
              }
           }

      function formatDate_save(date) {
          var d = new Date(date),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();
          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day = '0' + day;
          return [year, month, day].join('-');
      }

      function FormatDate(dateString)
        {
           var date;

           if(isDate(dateString, "yyyy-MM-ddTHH:mm:ssZ") )
           {
              date = new Date(getDateFromFormat(dateString, "yyyy-MM-ddTHH:mm:ssZ"));
           }
           else
           {
              date = new Date(dateString);
           }

           var result =
           (
              date.getDate().toString() + '/' +
              (date.getMonth() + 1).toString() + '/' +
              date.getFullYear().toString()
           );

           return result;
        }

        function FormatJSONDate(dateString)
        {
           var date;

           if(isDate(dateString, "dd/MM/yyyy") )
           {
              date = new Date(getDateFromFormat(dateString, "d/MM/yyyy"));
           }
           else if(isDate(dateString, "d/MM/yyyy") )
           {
              date = new Date(getDateFromFormat(dateString, "d/MM/yyyy"));
           }
           else if(isDate(dateString, "dd/M/yyyy") )
           {
              date = new Date(getDateFromFormat(dateString, "dd/M/yyyy"));
           }
           else
           {
              date = new Date(dateString);
           }

           return date;
        }

    </script>

{% endblock %}


