{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">

{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Registration" %}</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
<form method="post" action="" class="inlineForm">
                          <div class="panel-body">
                            <div class="scrollbar">
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>

                            <div id="oneperframe" class="frame oneperframe">
                                <ul class="slidee">

                                    {# 1 Slide select a school #}
                                    <li class="active framebox">
                                        <h5 class="panel-title">{% trans "Contact Information" %}</h5>
                                        <p>
                                            {% trans "Officers of the Min Ila Cash Pilot must be able to reach you by phone and household visit in order for your household to benefit from the pilot. Your information will only be provided to officers of the pilot who will be trained to handle your information carefully and will only visit you if your child drops out of school." %}
                                        </p>
                                        <p>
                                            <strong>{% trans "If you change your phone number or address, please inform the program by calling 81-312940, or you will be removed after we are unable to locate you." %}</strong>
                                        </p>
                                        <p>
                                            <strong>{% trans "This number is on the leaflet provided to you." %}</strong>
                                        </p>
                                    </li>

                                    {# 2 Declaration and Signature #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Declaration and Consent" %}</h5>
                                        <p>
                                            {% trans "Every month your household will receive a cash amount intended to help the children you have registered in the pilot to attend school. Each child 6 to 9 years old will get USD 20 and each child 10 to 14 will receive USD 65. If your child stops attending school you will receive an SMS to remind you of the purpose of the cash after 10 days. After 20 days you will receive a household visit from Min Ila Pilot officers to help guide you to additional support to keep your children in school." %}
                                        </p>
                                        <p>
                                            {% trans "If Pilot Officers are unable to locate you by household visit after 3 attempts within a 2 month time period, you will stop receiving payments. Therefore if you change your phone number or address, it is very important that you please inform us by calling 81-312940." %}
                                        </p>
                                        <p>
                                            {% trans "Please indicate that you understand the above as it has been read to you and that you consent to be contacted by telephone and by household visit by officers of the program by signing below. Those knowingly providing false information or committing fraud against the program will be removed from the pilot." %}
                                        </p>
                                        <p>
                                            {% trans "By signing this agreement you also consent to allow us to share the data collected today with UNHCR and WFP in order to help ensure that you are paid. Some data will also be shared with the Ministry of Education and Higher Education (MEHE). We will ensure that your data is handled carefully and confidentially. If you have any questions please ask them before signing." %}
                                        </p>
                                        <h6>{% trans "Signature" %}</h6>
                                            <div style="display: none;">
                                                {{ form.signature }}
                                            </div>
                                          <div id="signature-pad" class="m-signature-pad">
                                            <div class="m-signature-pad--body">
                                              <canvas></canvas>
                                            </div>
                                            <div class="m-signature-pad--footer">
                                                <button type="button" class="btn btn-warning" data-action="clear">
                                                    <i class="icon-clear-sign icon-white"></i>{% trans "clear" %}
                                                </button>
                                                <button type="button" class="btn btn-success" data-action="save">
                                                    <i class="icon-validation-sign icon-white"></i>{% trans "confirm" %}
                                                </button>
                                            </div>
                                          </div>
                                    </li>

                                    {# 3 Contact information #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Contact Information" %}</h5>
                                        <p>
                                            {% trans "To benefit from the cash pilot, you must provide us with an address where carefully selected, trained officers who work for the pilot can visit your household and a phone number where we can reach you. These officers will be trained to handle your information carefully and will only visit you if a child you have registered drops out of school." %}
                                            <strong>{% trans "If you change your phone number or address, please inform the program by calling 81-312940, or you will be removed after we are unable to locate you." %}</strong>
                                        </p>
                                        <div class="line">
                                            <label class="text">{% trans "Address" %}<span class="asterisque">*</span></label>
                                            {{ form.address }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Primary Phone Number" %}<span class="asterisque">*</span></label>
                                            {{ form.primary_phone }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Phone Number are normally answered by" %}<span class="asterisque">*</span></label>
                                            {{ form.primary_phone_answered }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Secondary Phone Number" %}</label>
                                            {{ form.secondary_phone }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Phone Number are normally answered by" %}</label>
                                            {{ form.secondary_phone_answered }}
                                        </div>
                                        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
                                    </li>

                                </ul>
                            </div>

                            <ul class="pages">
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>

                            <div class="controls center">
                                <button class="btn prev btn-primary">
                                    <i class="icon-prev-sign icon-white"></i>{% trans "prev" %}
                                </button>
                                <button class="btn next btn-primary">
                                    {% trans "next" %}<i class="icon-next-sign icon-white"></i>
                                </button>
                            </div>
                        </div>
</form>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signature_pad.js' %}"></script>
    <script type="text/javascript">

    var wrapper = document.getElementById("signature-pad"),
        clearButton = wrapper.querySelector("[data-action=clear]"),
        saveButton = wrapper.querySelector("[data-action=save]"),
        canvas = wrapper.querySelector("canvas"),
        signaturePad;

    $(document).ready(function() {

        var $frame = $('#oneperframe');
        var $wrap = $frame.parent();

        // Call Sly on frame
        $frame.sly({
            horizontal: 1,
            itemNav: 'forceCentered',
            smart: 1,
            activateMiddle: 1,
            mouseDragging: 0,
            touchDragging: 0,
            releaseSwing: 1,
            startAt: 0,
            scrollBar: $wrap.find('.scrollbar'),
            scrollBy: 1,
            pagesBar: $wrap.find('.pages'),
            activatePageOn: 'click',
            speed: 300,
            elasticBounds: 1,
            easing: 'easeOutExpo',
            dragHandle: 1,
            dynamicHandle: 1,
            clickBar: 1,

            // Buttons
            prev: $wrap.find('.prev'),
            next: $wrap.find('.next')
        });

        signaturePad = new SignaturePad(canvas);

        clearButton.addEventListener("click", function (event) {
            signaturePad.clear();
        });

        saveButton.addEventListener("click", function (event) {
            if (signaturePad.isEmpty()) {
            } else {
                $('#id_signature').val(signaturePad.toDataURL());
                console.log(signaturePad.toDataURL());
            }
        });

        window.addEventListener("resize", resizeCanvas);
        resizeCanvas();

        // Returns signature image as data URL (see https://mdn.io/todataurl for the list of possible paramters)
        signaturePad.toDataURL(); // save image as PNG
        signaturePad.toDataURL("image/jpeg"); // save image as JPEG

        // Draws signature image from data URL
{#        signaturePad.fromDataURL("data:image/png;");#}

        // Clears the canvas
        signaturePad.clear();

        // Returns true if canvas is empty, otherwise returns false
        signaturePad.isEmpty();

        // Unbinds all event handlers
        signaturePad.off();

        // Rebinds all event handlers
        signaturePad.on();

    });

    function resizeCanvas() {
        var ratio =  Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);
{#        signaturePad.clear(); // otherwise isEmpty() might return incorrect value#}
    }
    </script>

{% endblock %}
