{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">

{% endblock %}

<div id="not_found_block" style="display: block;">

      <div class="alert alert-success" role="alert" id="alert-cancel-success" style="display: none;">
          {% trans 'Household not found cancelled' %}.
          {% trans 'Please click' %}
      </div>

      <form method="post" action="" class="inlineForm" id="household_update_form" style="display: block;" onsubmit="return false;">
          <input type="hidden" name="id_not_found_edit" id="main_id" />
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}

             <div class="panel-body">
               <h3 class="panel-title">{% trans "Household not found" %}</h3>
               </div>

    <div class="controls center">
      {% if LANGUAGE_CODE == 'ar-ar' %}
        <button class="btn btn-warning" type="button" id="nfCloseButton" style="float:left;">
          {% trans "Cancel" %}
        </button>
        <button class="btn btn-primary" type="button" id="nfSaveButton" style="float:left; display:none" >
          {% trans "Save" %}
        </button>
      {% else %}

        <button class="btn btn-warning" type="button" id="nfCloseButton" style="float:right;">
            {% trans "Cancel" %}
        </button>

        <div style="width:190px;height:40px;float:left;">

        <button class="btn btn-primary" type="button" id="nfSaveButton" style="float:left; display:none">
          {% trans "Save" %}
        </button>
        </div>

      {% endif %}
      </div>

    </form>
      </div>
