{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}">

{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Registration" %}
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
<form method="post" action="" class="inlineForm">
     {% csrf_token %}
                          <div class="panel-body">
                            <div class="scrollbar">
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>

                            <div id="oneperframe" class="frame oneperframe">
                                <ul class="slidee">

                                    {# 1 Slide select a school #}
                                    <li class="active framebox">
                                        <h5 class="panel-title"></h5>
                                        <div class="line">
                                            <label class="text">{% trans "Select School" %}</label>
                                            {{ form.school }}
                                        </div>
                                    </li>

                                    {# 2 Slide introduction part 1 #}
                                    <li class="framebox">
                                        <p>{% trans "The Min Ila Pilot will provide children enrolled in 2nd shift with a cash transfer. Each child aged 6 to 9 will receive USD 20 per month. Each child aged 10 to 14 will receive USD 65 per month." %}</p>
                                        <p>{% trans "This cash is intended to help children regularly attend 2nd shift school in order that their future opportunities are improved." %}</p>
                                    </li>

                                    {# 3 Slide introduction part 2 #}
                                    <li class="framebox">
                                        <p>{% trans "If a student stops attending school, you will receive an SMS reminder of the purpose of this cash." %}</p>
                                        <p>{% trans "If the student does not return to school, you will receive a household visit to help us understand why the student cannot attend and to offer you more services to help the student attend school." %}</p>
                                    </li>

                                    {# 4 Slide introduction part 3 #}
                                    <li class="framebox">
                                        <p>{% trans "If your address or phone number changes, you must inform us by calling 81-312940. If your household cannot be found after 2 months you will stop receiving benefits." %}</p>
                                        <p>{% trans "Please take a leaflet now so you have this important phone number with you." %}</p>
                                    </li>

                                    {# 5 Slide introduction part 4 #}
                                    <li class="framebox">
                                        <p>{% trans "You will receive your payments on an ATM Card. If you do not already have a Burgundy ATM Card, you will be provided with one. UNICEF will send you an SMS to tell you the date, time and place you can collect the Burgundy ATM Card." %}</p>
                                    </li>

                                    <li class="framebox">
                                         <h5 class="panel-title">{% trans "Register New Household" %}</h5>
                                                                                <div class="line">
                                            <label class="text">{% trans "Nationality" %}<span class="asterisque">*</span></label>
                                            {{ form.nationality }}
                                        </div>
                                         <div class="line">
                                            <label class="text">{% trans "ID Type" %}<span class="asterisque">*</span></label>
                                            {{ form.id_type }}

                                             <select id ="options">
                                                 <option value="None">None</option>
                                                 <option value="OptionUNHCR">OptionUNHCR</option>
                                                 <option value="OptionOtherID">OptionOtherID</option>
                                                 <option value="OptionNoID">OptionNoID</option>
                                             </select>
                                         </div>

                                        <div id = "HouseholdUNHCR" style = "display:none">
                                            <div class="line">
                                                <label class="text">{% trans "Is the principal applicant still with your household?" %}<span class="asterisque">*</span></label>
                                                <input id="PrincipalHouseHold_1" type="radio" name="PrincipalHouseHoldCB" value="1" class="hidden-field" />
                                                <input id="PrincipalHouseHold_0" type="radio" name="PrincipalHouseHoldCB" value="0" class="hidden-field" />
                                                <div id="radioBtn" class="btn-group">
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="id_PrincipalHouseHold" data-title="1">YES</a>
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="id_PrincipalHouseHold" data-title="0">NO</a>
                                                </div>
                                            </div>


                                            <!-- <input id="PrincipalHouseHoldCB" type="checkbox" name="isPrincipal" value="1" checked/> -->
                                            <br/>
                                            <div class="line">
                                                <label class="text" id="HouseholdRegistrationNumber" style = "display:none">{% trans "UNHCR Household Registration Number" %}<span class="asterisque">*</span></label>
                                                <label class="text" id="IndividualRegistrationNumber" style = "display:none">{% trans "UNHCR Individual Registration Number of the Household Representative" %}<span class="asterisque">*</span></label>
                                            </div>
                                        </div>

                                        <div id = "HouseholdOtherID" style = "display:none">
                                            <p>{% trans "NOTE: in order to register with other ID, the ID Holder must be present AND must be 18 years of age or older." %}</p>
                                            <div class="line">
                                                <label class="text" >{% trans "ID Number" %}<span class="asterisque">*</span></label>
                                            </div>
                                        </div>

                                        <div id = "HouseholdUNHCR_OtherID" style = "display:none">
                                                {{ form.id_number }}
                                            </br>
                                        </div>



                                        <div id = "HouseholdUNHCRNote" style = "display:none">
                                            <p id="IndividualRegistrationNote" style = "display:none">{% trans "NOTE: If the Household Representative is not listed on the UNHCR Certificate, it cannot be used to regiter for the Pilot. Another form of ID must be used." %}</p>
                                        </div>

                                        <div id = "HouseholdOtherNoID" style = "display:none">
                                            <div class="line">
                                                <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
                                                {{ form.first_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
                                                {{ form.father_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
                                                {{ form.last_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Mother Full name" %}<span class="asterisque">*</span></label>
                                                {{ form.mother_fullname }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Age" %}<span class="asterisque">*</span></label>
                                                {{ form.age }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Date of birth" %}<span class="asterisque">*</span></label>
                                                {{ form.birthday_day }}
                                                {{ form.birthday_month }}
                                                {{ form.birthday_year }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Gender" %}<span class="asterisque">*</span></label>
                                                {{ form.sex }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Relationship to Houshold head" %}<span class="asterisque">*</span></label>
                                                {{ form.relation_to_householdhead }}
                                            </div>
                                        </div>
                                        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
                                    </li>

                                </ul>
                            </div>

                            <ul class="pages">
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                            </ul>

                            <div class="controls center">
                                <button class="btn prev btn-primary">
                                    <i class="icon-prev-sign icon-white"></i>{% trans "prev" %}
                                </button>
                                <button class="btn next btn-primary">
                                    {% trans "next" %}<i class="icon-next-sign icon-white"></i>
                                </button>
                            </div>

                        </div>
</form>

                        </div>
                      </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        initializeSly($('#oneperframe'));

        $("#options").change
        (
                function ()
                {
                   var selectedOption = this.value;
                }
        );

        $("#options").change
        (
                function ()
                {
                   var selectedOption = this.value;

				   if(selectedOption == "OptionUNHCR")
				   {
					   hideAll();
					   $("#HouseholdUNHCR").show();
                       $("#HouseholdUNHCR_OtherID").show();
                       $("#HouseholdUNHCRNote").show();

				   }
				   else if (selectedOption == "OptionOtherID")
				   {
					   hideAll();
					   $("#HouseholdOtherID").show();
                       $("#HouseholdUNHCR_OtherID").show();
                       $("#HouseholdOtherNoID").show();
				   }
				   else if (selectedOption == "OptionNoID")
				   {
					   hideAll();
					   $("#HouseholdOtherNoID").show();
				   }
				   else
				   {
					   hideAll();
				   }
                }
        );



    //$("#PrincipalHouseHoldCB").change
    $('input[type=radio][name=PrincipalHouseHoldCB]').change
        (
                function ()
                {
				   var PrincipalHouseHoldCBChecked = $("input[name=PrincipalHouseHoldCB]:checked").val();

                   //var PrincipalHouseHoldCBChecked = $('#PrincipalHouseHoldCB:checkbox:checked').length > 0;

				   if(PrincipalHouseHoldCBChecked==1)
				   {
					   $("#HouseholdRegistrationNumber").show();
					   $("#IndividualRegistrationNumber").hide();
					   $("#IndividualRegistrationNote").hide();
                       $("#HouseholdUNHCR_OtherID").show();
				   }
                   else
				   {
					   $("#HouseholdRegistrationNumber").hide();
					   $("#IndividualRegistrationNumber").show();
					   $("#IndividualRegistrationNote").show();

                       $("#HouseholdUNHCR_OtherID").show();
				   }
                }
        );

    });
    function hideAll()
    {
        $("#HouseholdUNHCR").hide();
        $("#HouseholdUNHCR_OtherID").hide();
        $("#HouseholdUNHCRNote").hide();
        $("#HouseholdOtherID").hide();
        $("#HouseholdOtherNoID").hide();
    }


    </script>

{% endblock %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
