{% extends "base.app.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">

{% endblock %}


{% block content %}

<form method="post" action="" class="inlineForm">
{% csrf_token %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
                          <div class="panel-body">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a class="nav-link" href="{% url 'registrations:registering_adult' %}?ln={{ LANGUAGE_CODE }}">{% trans "Pilot" %}</a></li>
                                    <li><a>{% trans "Registration Household" %}</a></li>
                                </ol>
                            </h3>
                            <div id="oneperframe" class="frame oneperframe">
                                <ul class="slidee">

                                    {# 1 Slide select a school #}
                                    <li class="active framebox">
                                        <h5 class="panel-title"></h5>
                                        <div class="line">
                                            <label class="text">{% trans "Select School" %}</label>
                                            {{ form.school }}
                                        </div>
                                    </li>

                                    {# 2 Slide introduction part 1 #}
                                    <li class="framebox">
                                        <p>{% trans "The Min Ila Pilot will provide children enrolled in 2nd shift with a cash transfer. Each child aged 6 to 9 will receive USD 20 per month. Each child aged 10 to 14 will receive USD 65 per month." %}</p>
                                        <p>{% trans "This cash is intended to help children regularly attend 2nd shift school in order that their future opportunities are improved." %}</p>
                                    </li>

                                    {# 3 Slide introduction part 2 #}
                                    <li class="framebox">
                                        <p>{% trans "If a student stops attending school, you will receive an SMS reminder of the purpose of this cash." %}</p>
                                        <p>{% trans "If the student does not return to school, you will receive a household visit to help us understand why the student cannot attend and to offer you more services to help the student attend school." %}</p>
                                    </li>

                                    {# 4 Slide introduction part 3 #}
                                    <li class="framebox">
                                        <p>{% trans "This desk is to Register for the Min Ila Pilot, not to enroll in school. Children must already be enrolled in school in order to Register for the Pilot." %}</p>
                                        <p>{% trans "If your child does not enroll in school he/she will be removed from the Min Ila Pilot." %}</p>
                                        <p>{% trans "If your child is not already enrolled in school, please go and do so now, then return to Register for the Pilot" %}</p>
                                    </li>

                                    {# 5 Slide introduction part 4 #}
                                    <li class="framebox">
                                        <p>{% trans "If your address or phone number changes, you must inform us by calling 81-312940. If your household cannot be found after 2 months you will stop receiving benefits." %}</p>
                                        <p>{% trans "Please take a leaflet now so you have this important phone number with you." %}</p>
                                    </li>

                                    <li class="framebox">
                                         <h5 class="panel-title">{% trans "Register New Household" %}</h5>
                                                                                <div class="line">
                                            <label class="text">{% trans "Nationality" %}<span class="asterisque">*</span></label>
                                            {{ form.nationality }}
                                        </div>
                                         <div class="line">
                                            <label class="text">{% trans "ID Type" %}<span class="asterisque">*</span></label>
                                            {{ form.id_type }}
                                         </div>

                                        <div id="HouseholdUNHCR" style="display:none">
                                            <div class="line">
                                                <label class="text">{% trans "Is the principal applicant still with your household?" %}<span class="asterisque">*</span></label>
                                                <span class="hidden-field"><input id="PrincipalHouseHold_1" type="radio" name="PrincipalHouseHoldCB" value="1" /></span>
                                                <span class="hidden-field"><input id="PrincipalHouseHold_0" type="radio" name="PrincipalHouseHoldCB" value="0" /></span>
                                                <div id="radioBtn" class="btn-group">
                                                    <a class="btn btn-primary btn-sm active" data-toggle="PrincipalHouseHold" data-title="1">{% trans "Yes" %}</a>
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="PrincipalHouseHold" data-title="0">{% trans "No" %}</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line" id="HouseholdID_block">
                                            <label class="text" id="HouseholdRegistrationNumber" style = "display:none">{% trans "UNHCR Household Registration Number" %}<span class="asterisque">*</span></label>
                                            <label class="text" id="IndividualRegistrationNumber" style = "display:none">{% trans "UNHCR Individual Registration Number of the Household Representative" %}<span class="asterisque">*</span></label>
                                            <label class="text" id="HouseholdOtherID" style="display: none;">{% trans "ID Number" %}<span class="asterisque">*</span></label>
                                            <span id="HouseholdUNHCR_OtherID" style="display: none;">{{ form.id_number }}</span>
                                        </div>

                                        <div class="line" id="HouseholdOtherID_Note" style="display: none;">
                                            <p>{% trans "NOTE: in order to register with other ID, the ID Holder must be present AND must be 18 years of age or older." %}</p>
                                        </div>

                                        <div class="line" id="HouseholdUNHCRNote" style="display:none">
                                            <p id="IndividualRegistrationNote" style="display:none">{% trans "NOTE: If the Household Representative is not listed on the UNHCR Certificate, it cannot be used to regiter for the Pilot. Another form of ID must be used." %}</p>
                                        </div>

                                        <div id="HouseholdOtherNoID" style="display:none">
                                            <div class="line">
                                                <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
                                                {{ form.first_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
                                                {{ form.father_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
                                                {{ form.last_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Mother Full name" %}<span class="asterisque">*</span></label>
                                                {{ form.mother_fullname }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Age" %}<span class="asterisque">*</span></label>
                                                {{ form.age }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Date of birth" %}<span class="asterisque">*</span></label>
                                                {{ form.birthday_day }}
                                                {{ form.birthday_month }}
                                                {{ form.birthday_year }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Gender" %}<span class="asterisque">*</span></label>
                                                {{ form.sex }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Relationship to Houshold head" %}<span class="asterisque">*</span></label>
                                                {{ form.relation_to_householdhead }}
                                            </div>
                                        </div>
                                    </li>

                                    {# Slide card introduction part 1 #}
                                    <li class="framebox">
                                        <p>{% trans "You will receive your payments on an ATM Card. If you do not already have a Burgundy ATM Card, you will be provided with one. UNICEF will send you an SMS to tell you the date, time and place you can collect the Burgundy ATM Card." %}</p>
                                        <p>{% trans "Note: It is very important that you provide us a working phone number so we can send you the details of where and when to collect your ATM Card" %}</p>
                                    </li>

                                    {# Slide card introduction part 2 #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Collect existing ATM case number" %}</h5>
                                        <label class="text">{% trans "Please copy case number directly from card" %}<span class="asterisque">*</span></label>

                                        <div class="line">
                                            <label class="text">{% trans "Blue Card Case Number" %}</label>
                                            {{ form.wfp_case_number }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "White Card Case Number" %}</label>
                                            {{ form.csc_case_number }}
                                        </div>
                                        <button class="btn btn-success" type="submit">{% trans "Next Step" %}</button>
                                    </li>

                                </ul>
                            </div>

                            <ul class="pages">
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>
                            </ul>

                            <div class="controls center">
                                <button class="btn prev btn-primary">
                                    <i class="icon-prev-sign icon-white"></i>{% trans "prev" %}
                                </button>
                                <button class="btn next btn-primary">
                                    {% trans "next" %}<i class="icon-next-sign icon-white"></i>
                                </button>
                            </div>

                        </div>
</form>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function() {
        initializeSly($('#oneperframe'));

        $("#id_id_type").change(function () {
            hideAll();
            $("#HouseholdID_block").show();
            var selectedOption = $(this).val();
            console.log(selectedOption);

           if(selectedOption == 1) {
               $("#HouseholdUNHCR").show();
               $("#HouseholdUNHCR_OtherID").show();
               $("#HouseholdUNHCRNote").show();
               $("#HouseholdRegistrationNumber").show();

           }else if (selectedOption == 2 || selectedOption == 3 || selectedOption == 4|| selectedOption == 5)  {
               $("#HouseholdOtherID").show();
               $("#HouseholdOtherID_Note").show();
               $("#HouseholdUNHCR_OtherID").show();
               $("#HouseholdOtherNoID").show();
               $("#HouseholdRegistrationNumber").hide();
               $("#IndividualRegistrationNumber").hide();
           }else if (selectedOption == 6) {
               $("#HouseholdOtherNoID").show();
               $("#HouseholdID_block").hide();

               bootbox.alert("{% trans 'Please let the household know that we are currently not able to provide payments to those without ID. However, please offer them the option to complete data collection so that we can try to include them later once we develop a solution for them.' %}", function() {});
{#               x=  alert("Please let the household know that we are currently not able to provide payments to those without ID. However, please offer them the option to complete data collection so that we can try to include them later once we develop a solution for them.");#}
{#               x.focus();#}
           }
        });

    $('input[type=radio][name=PrincipalHouseHoldCB]').change(function () {
        var PrincipalHouseHoldCBChecked = $(this).val();

           if(PrincipalHouseHoldCBChecked==1) {
               $("#HouseholdRegistrationNumber").show();
               $("#IndividualRegistrationNumber").hide();
               $("#IndividualRegistrationNote").hide();
               $("#HouseholdUNHCR_OtherID").show();
           } else {
               $("#HouseholdRegistrationNumber").hide();
               $("#IndividualRegistrationNumber").show();
               $("#IndividualRegistrationNote").show();
               $("#HouseholdUNHCR_OtherID").show();
           }
        });

    });

    function hideAll()
    {
        $("#HouseholdUNHCR").hide();
        $("#HouseholdUNHCR_OtherID").hide();
        $("#HouseholdUNHCRNote").hide();
        $("#HouseholdOtherID").hide();
        $("#HouseholdOtherID_Note").hide();
        $("#HouseholdOtherNoID").hide();
        $("#HouseholdRegistrationNumber").hide();
        $("#IndividualRegistrationNumber").hide();
    }


    </script>

{% endblock %}
