{% extends "base.app.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">

{% endblock %}


{% block content %}

<form method="post" action="" class="inlineForm">
{% csrf_token %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
                          <div class="panel-body">
                            <div id="oneperframe" class="frame oneperframe" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr"{% endif %}>
                                <ul class="slidee" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr"{% endif %}>

                                    {# 1 Slide select a school #}
                                    <li class="active framebox">
                                        <h5 class="panel-title">{% trans "Registration Household" %}</h5>
                                        <div class="line">
                                            <label class="text">{% trans "Select School" %}</label>
                                            {{ form.school }}
                                        </div>
                                    </li>

                                    {# 2 Slide introduction part 1 #}
                                    <li class="framebox">
                                        <p>
                                            <strong>{% trans "Welcome to the Registration Desk of the Min Ila Pilot" %}</strong>
                                        </p>
                                        <p>{% trans "The Min Ila Pilot will provide children enrolled in 2nd shift with a cash transfer. Each child aged 6 to 9 will receive USD 20 per month. Each child aged 10 to 14 will receive USD 65 per month." %}</p>
                                        <p>{% trans "This cash is intended to help children regularly attend 2nd shift school in order that their future opportunities are improved." %}</p>
                                    </li>

                                    {# 3 Slide introduction part 2 #}
                                    <li class="framebox">
                                        <p>{% trans "If a student stops attending school, you will receive an SMS reminder of the purpose of this cash." %}</p>
                                        <p>{% trans "If the student does not return to school, you will receive a household visit to help us understand why the student cannot attend and to offer you more services to help the student attend school." %}</p>
                                    </li>

                                    {# 4 Slide introduction part 3 #}
                                    <li class="framebox">
                                        <p>{% trans "This desk is to Register for the Min Ila Pilot, not to enroll in school. Children must already be enrolled in school in order to Register for the Pilot." %}</p>
                                        <p>{% trans "If your child does not enroll in school he/she will be removed from the Min Ila Pilot." %}</p>
                                        <p>{% trans "If your child is not already enrolled in school, please go and do so now, then return to Register for the Pilot" %}</p>
                                    </li>

                                    {# 5 Slide introduction part 4 #}
                                    <li class="framebox">
                                        <p>{% trans "If your address or phone number changes, you must inform us by calling 81-312940. If your household cannot be found after 2 months you will stop receiving benefits." %}</p>
                                        <p>{% trans "Please take a leaflet now so you have this important phone number with you." %}</p>
                                    </li>

                                    {# 6 #}
                                    <li class="framebox">
                                         <h5 class="panel-title">{% trans "Register New Household" %}</h5>
                                        <div class="line">
                                            <label class="text">{% trans "Nationality" %}<span class="asterisque">*</span></label>
                                            {{ form.nationality }}
                                        </div>
                                         <div class="line">
                                            <label class="text">{% trans "ID Type" %}<span class="asterisque">*</span></label>
                                            {{ form.id_type }}
                                         </div>

                                        <div id="HouseholdUNHCR" style="display:none">
                                            <div class="line">
                                                <label class="text">{% trans "Is the principal applicant still with your household?" %}<span class="asterisque">*</span></label>
                                                <span class="hidden-field"><input id="PrincipalHouseHold_1" type="radio" name="PrincipalHouseHoldCB" value="1" /></span>
                                                <span class="hidden-field"><input id="PrincipalHouseHold_0" type="radio" name="PrincipalHouseHoldCB" value="0" /></span>
                                                <div id="radioBtn" class="btn-group">
                                                    <a class="btn btn-primary btn-sm active" data-toggle="PrincipalHouseHold" data-title="1">{% trans "Yes" %}</a>
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="PrincipalHouseHold" data-title="0">{% trans "No" %}</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="line" id="HouseholdID_block">
                                            <label class="text" id="HouseholdRegistrationNumber" style = "display:none">{% trans "UNHCR Household Registration Number" %}<span class="asterisque">*</span></label>
                                            <label class="text" id="IndividualRegistrationNumber" style = "display:none">{% trans "UNHCR Individual Registration Number of the Household Representative" %}<span class="asterisque">*</span></label>
                                            <label class="text" id="HouseholdOtherID" style="display: none;">{% trans "ID Number" %}<span class="asterisque">*</span></label>
                                            <span id="HouseholdUNHCR_OtherID" style="display: none;">{{ form.id_number }}</span>
                                        </div>

                                        <div class="line" id="HouseholdOtherID_Note" style="display: none;">
                                            <p>{% trans "NOTE: in order to register with other ID, the ID Holder must be present AND must be 18 years of age or older." %}</p>
                                        </div>

                                        <div class="line" id="HouseholdUNHCRNote" style="display:none">
                                            <p id="IndividualRegistrationNote" style="display:none">{% trans "NOTE: If the Household Representative is not listed on the UNHCR Certificate, it cannot be used to regiter for the Pilot. Another form of ID must be used." %}</p>
                                        </div>

                                        <div id="HouseholdOtherNoID" style="display:none">
                                            <div class="line">
                                                <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
                                                {{ form.first_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
                                                {{ form.father_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
                                                {{ form.last_name }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Mother's Full name" %}<span class="asterisque">*</span></label>
                                                {{ form.mother_fullname }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Age" %}<span class="asterisque">*</span></label>
                                                {{ form.age }}
                                            </div>
                                            <div class="line field-select-small-size">
                                                <label class="text">{% trans "Date of birth" %}<span class="asterisque">*</span></label>
                                                {{ form.birthday_day }}
                                                {{ form.birthday_month }}
                                                {{ form.birthday_year }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Gender" %}<span class="asterisque">*</span></label>
                                                {{ form.sex }}
                                            </div>
                                            <div class="line">
                                                <label class="text">{% trans "Relationship to Household head" %}<span class="asterisque">*</span></label>
                                                {{ form.relation_to_householdhead }}
                                            </div>
                                        </div>
                                    </li>

                                    {# 7 Slide card introduction part 1 #}
                                    <li class="framebox">
                                        <p>{% trans "You will receive your payments on an ATM Card. If you do not already have a Burgundy ATM Card, you will be provided with one. UNICEF will send you an SMS to tell you the date, time and place you can collect the Burgundy ATM Card." %}</p>
                                        <p>{% trans "Note: It is very important that you provide us a working phone number so we can send you the details of where and when to collect your ATM Card" %}</p>
                                    </li>

                                    {# 8 Slide card introduction part 2 #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Collect existing ATM case number" %}</h5>
                                        <label class="text">{% trans "Please copy case number directly from card" %}<span class="asterisque">*</span></label>

                                        <div class="line">
                                            <label class="text">{% trans "Blue Card Case Number" %}</label>
                                            {{ form.wfp_case_number }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "White Card Case Number" %}</label>
                                            {{ form.csc_case_number }}
                                        </div>
                                    </li>

                                    {# 9 Registre Child #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Register Children in Pilot" %}</h5>
                                        <div class="line">
                                            <label class="text">{% trans "Do you have any children enrolled in other schools?" %}</label>
                                            {% for choice in form.child_enrolled_in_other_schools %}
                                                <span class="hidden-field">{{ choice }}</span>
                                            {% endfor %}
                                            <div id="radioBtn" class="btn-group">
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_child_enrolled_in_other_schools" data-title="1">{% trans "Yes" %}</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_child_enrolled_in_other_schools" data-title="0">{% trans "No" %}</a>
                                            </div>
                                        </div>
                                        <div class="line" id="registration_status_block" style="display: none;">
                                            <label class="text">{% trans "Have you already completed the registration process for this pilot in other school?" %}</label>
                                            {% for choice in form.previously_registered_status %}
                                                <span class="hidden-field">{{ choice }}</span>
                                            {% endfor %}
                                            <div id="radioBtn" class="btn-group">
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_previously_registered_status" data-title="1">{% trans "Yes" %}</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_previously_registered_status" data-title="0">{% trans "No" %}</a>
                                            </div>
                                        </div>
                                        <div class="line" id="previously_registered_block" style="display: none;">
                                            <label class="text">{% trans "You would have been required to present your ID when completing the Pilot Registration Process in the other school. Do you have the ID Number that was presented during your previous Pilot Registration?" %}</label>
                                            {% for choice in form.previously_registered %}
                                                <span class="hidden-field">{{ choice }}</span>
                                            {% endfor %}
                                            <div id="radioBtn" class="btn-group">
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_previously_registered" data-title="1">{% trans "Yes" %}</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="id_previously_registered" data-title="0">{% trans "No" %}</a>
                                            </div>
                                        </div>
                                        <span class="error" id="previously_registered_error" style="display: none;">
                                            {% trans "To ensure that your household receives complete payment you must provide the ID Number under which your other registration took place. You can either come back tomorrow, or you can call the hotline to do this. It is important taht your do this in order to not delay your payment" %}
                                        </span>
                                        <div class="line" id="id_number_block" style="display: none;">
                                            <label class="text">{% trans "ID Number" %}<span class="asterisque">*</span></label>
                                            {{ form.id_number }}
                                        </div>
                                        <div id="no_id_block" style="display: none;">
                                            <table class="table table-striped table-bordered cell-border" id="no_id_table"
                                                   data-height="500"
                                                   data-pagination="true"
                                                   data-search="true"
                                                   cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                    <th>{% trans "School" %}</th>
                                                    <th>ID</th>
                                                    <th>{% trans "Full Name" %}</th>
                                                    <th>{% trans "Mother's Full name" %}</th>
                                                    <th>{% trans "Date of birth" %}</th>
                                                    <th>{% trans "Age" %}</th>
                                                    <th>{% trans "Relationship to Household reprentative" %}</th>
                                                    <th>{% trans "Was this child enrolled in any school last year" %}</th>
                                                </thead>
                                                <tbody>
                                                    {% for register in registred_children %}
                                                        <tr>
                                                            <td>{% if register.school %}{{ register.school.name }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.number }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.full_name }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.mother_fullname }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.birthday }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.age }}{% endif %}</td>
                                                            <td>{{ register.relation_to_adult }}</td>
                                                            <td>{% if register.enrolled_last_year %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <button class="btn btn-success" id="add_child_noid" type="button">
                                                {% trans "Add Child" %}
                                                <i class="icon-plus-sign icon-white"></i>
                                            </button>
                                        </div>

                                        <div id="with_id_block" style="display: none;">
                                            <table class="table table-striped table-bordered cell-border" id="with_id_table"
                                                   data-height="500"
                                                   data-pagination="true"
                                                   data-search="true"
                                                   cellspacing="0"
                                                   width="100%">
                                                <thead>
                                                    <th>{% trans "School" %}</th>
                                                    <th>{% trans "Child's UNHCR Individual Number" %}</th>
                                                    <th>{% trans "Relationship to Household reprentative" %}</th>
                                                    <th>{% trans "Was this child enrolled in any school last year" %}</th>
                                                </thead>
                                                <tbody>
                                                    {% for register in registred_children %}
                                                        <tr>
                                                            <td>{% if register.school %}{{ register.school.name }}{% endif %}</td>
                                                            <td>{% if register.student %}{{ register.student.id_number }}{% endif %}</td>
                                                            <td>{{ register.relation_to_adult }}</td>
                                                            <td>{% if register.enrolled_last_year %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <button class="btn btn-success" id="add_child_withid" type="button">
                                                {% trans "Add Child" %}
                                                <i class="icon-plus-sign icon-white"></i>
                                            </button>
                                        </div>

                                    </li>

                                    {# 10 Contact information #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Contact Information" %}</h5>
                                        <p>
                                            {% trans "Officers of the Min Ila Cash Pilot must be able to reach you by phone and household visit in order for your household to benefit from the pilot. Your information will only be provided to officers of the pilot who will be trained to handle your information carefully and will only visit you if your child drops out of school." %}
                                        </p>
                                        <p>
                                            <strong>{% trans "If you change your phone number or address, please inform the program by calling 81-312940, or you will be removed after we are unable to locate you." %}</strong>
                                        </p>
                                        <p>
                                            <strong>{% trans "This number is on the leaflet provided to you." %}</strong>
                                        </p>
                                    </li>

                                    {# 11 Declaration #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Declaration and Consent" %}</h5>
                                        <p>
                                            {% trans "Every month your household will receive a cash amount intended to help the children you have registered in the pilot to attend school. Each child 6 to 9 years old will get USD 20 and each child 10 to 14 will receive USD 65. If your child stops attending school you will receive an SMS to remind you of the purpose of the cash after 10 days. After 20 days you will receive a household visit from Min Ila Pilot officers to help guide you to additional support to keep your children in school." %}
                                        </p>
                                        <p>
                                            {% trans "If Pilot Officers are unable to locate you by household visit after 3 attempts within a 2 month time period, you will stop receiving payments." %}
                                        </p>
                                        </li>
                                 {# 12 Declaration #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Declaration and Consent" %}</h5>
                                        <p>
                                        <p>
                                            {% trans "Please indicate that you understand the above as it has been read to you and that you consent to be contacted by telephone and by household visit by officers of the program by signing below. Those knowingly providing false information or committing fraud against the program will be removed from the pilot." %}
                                        </p>
                                        <p>
                                            {% trans "By signing this agreement you also consent to allow us to share the data collected today with UNHCR and WFP in order to help ensure that you are paid. Some data will also be shared with the Ministry of Education and Higher Education (MEHE). We will ensure that your data is handled carefully and confidentially. If you have any questions please ask them before signing." %}
                                        </p>
                                    </li>

                                    {# 13 Signature #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Signature of Household Representative" %}</h5>
                                            <div style="display: none;">
                                                {{ form.signature }}
                                            </div>
                                          <div id="signature-pad" class="m-signature-pad">
                                            <div class="m-signature-pad--body">
                                                <canvas width="600" height="300" style="touch-action: none;"></canvas>
                                            </div>
                                            <div class="m-signature-pad--footer">
                                                <button type="button" class="btn btn-warning" data-action="clear">
                                                    <i class="icon-clear-sign icon-white"></i>{% trans "clear" %}
                                                </button>
                                                <button type="button" class="btn btn-success" data-action="save">
                                                    <i class="icon-validation-sign icon-white"></i>{% trans "confirm" %}
                                                </button>
                                            </div>
                                          </div>
                                    </li>

                                    {# 14 Contact information #}
                                    <li class="framebox">
                                        <h5 class="panel-title">{% trans "Contact Information" %}</h5>
                                        <p>
                                            {% trans "To benefit from the cash pilot, you must provide us with an address where carefully selected, trained officers who work for the pilot can visit your household and a phone number where we can reach you. These officers will be trained to handle your information carefully and will only visit you if a child you have registered drops out of school." %}
                                            <strong>{% trans "If you change your phone number or address, please inform the program by calling 81-312940, or you will be removed after we are unable to locate you." %}</strong>
                                        </p>
                                        <div class="line">
                                            <label class="text">{% trans "Address" %}<span class="asterisque">*</span></label>
                                            {{ form.address }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Primary Phone Number" %}<span class="asterisque">*</span></label>
                                            {{ form.primary_phone }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Phone Number are normally answered by" %}<span class="asterisque">*</span></label>
                                            {{ form.primary_phone_answered }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Secondary Phone Number" %}</label>
                                            {{ form.secondary_phone }}
                                        </div>
                                        <div class="line">
                                            <label class="text">{% trans "Phone Number are normally answered by" %}</label>
                                            {{ form.secondary_phone_answered }}
                                        </div>
                                        <button class="btn btn-success" type="submit">{% trans "Save" %}</button>
                                    </li>

                                </ul>
                            </div>

                            <ul class="pages" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr" {% endif %}>
                                <li class="active">1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li>7</li>

                                <li>8</li>
                                <li>9</li>
                                <li>10</li>
                                <li>11</li>
                                <li>12</li>
                                <li>13</li>
                                <li>14</li>
                            </ul>

                            <div class="controls center" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr" {% endif %}>
                                <button class="btn btn-primary disabled" type="button" id="previousButton">
                                    <i class="icon-prev-sign icon-white"></i>{% trans "previous" %}
                                </button>
                                <button class="btn btn-primary" type="button" id="nextButton">
                                    {% trans "next" %}<i class="icon-next-sign icon-white"></i>
                                </button>
                            </div>

                        </div>
</form>

    {% include 'registration-pilot/add_child.html' %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signature_pad.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/appcache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>
    <script type="text/javascript">

    var $frame;

    var onePerFrameSly;

    $(document).ready(function() {
        onePerFrameSly = initializeSly($('#oneperframe'));
        initializeSignature();
{#        createDataStore('db_pilot', 1, 'registrations');#}

        $("#id_id_type").change(function () {
            hideAll();
            $("#HouseholdID_block").show();
            var selectedOption = $(this).val();

           if(selectedOption == 1) {
               $("#HouseholdUNHCR").show();
               $("#HouseholdUNHCR_OtherID").show();
               $("#HouseholdUNHCRNote").show();
               $("#HouseholdRegistrationNumber").show();

           }else if (selectedOption == 2 || selectedOption == 3 || selectedOption == 4|| selectedOption == 5)  {
               $("#HouseholdOtherID").show();
               $("#HouseholdOtherID_Note").show();
               $("#HouseholdUNHCR_OtherID").show();
               $("#HouseholdOtherNoID").show();
               $("#HouseholdRegistrationNumber").hide();
               $("#IndividualRegistrationNumber").hide();
           }else if (selectedOption == 6) {
               $("#HouseholdOtherNoID").show();
               $("#HouseholdID_block").hide();

               bootbox.alert("{% trans 'Please let the household know that we are currently not able to provide payments to those without ID. However, please offer them the option to complete data collection so that we can try to include them later once we develop a solution for them.' %}", function() {});
           }
        });

        $('input[type=radio][name=PrincipalHouseHoldCB]').change(function () {
            var PrincipalHouseHoldCBChecked = $(this).val();

           if(PrincipalHouseHoldCBChecked==1) {
               $("#HouseholdRegistrationNumber").show();
               $("#IndividualRegistrationNumber").hide();
               $("#IndividualRegistrationNote").hide();
               $("#HouseholdUNHCR_OtherID").show();
           } else {
               $("#HouseholdRegistrationNumber").hide();
               $("#IndividualRegistrationNumber").show();
               $("#IndividualRegistrationNote").show();
               $("#HouseholdUNHCR_OtherID").show();
           }
        });

        $('input[name=child_enrolled_in_other_schools]').click(function(){
            if($(this).val() == 1){
                $('#registration_status_block').show();
                $('#no_id_block').hide();
                $('#with_id_block').hide();
            }else{
                $('#registration_status_block').hide();
                $('#previously_registered_block').hide();
                $('#previously_registered_error').hide();
                $('#id_number_block').hide();
                if($('#id_id_type').val() == 1){
                    $('#with_id_block').show();
                }else{
                    $('#no_id_block').show();
                }
            }
        });

        $('input[name=previously_registered_status]').click(function(){
            if($(this).val() == 1){
                $('#previously_registered_block').show();
                $('#no_id_block').hide();
                $('#with_id_block').hide();
            }else{
                $('#previously_registered_block').hide();
                $('#previously_registered_error').hide();
                $('#id_number_block').hide();
                if($('#id_id_type').val() == 1){
                    $('#with_id_block').show();
                }else{
                    $('#no_id_block').show();
                }
            }
        });

        $('input[name=previously_registered]').click(function(){
            if($(this).val() == 1){
                $('#previously_registered_error').hide();
                $('#id_number_block').show();
            }else{
                $('#previously_registered_error').show();
                $('#id_number_block').hide();
            }
        });

        $('#add_child_noid').click(function(){
            bootbox.dialog({
                            title: "{% trans "Add Child" %}",
                            message: $('#add_child_noid_block').html(),
                            buttons: {
                                success: {
                                    label: "{% trans "Save" %}",
                                    className: "btn-success",
                                    callback: function () {
                                        var tr = $('<tr>');
                                        var form = $('.bootbox-body').find('#add_child_noid_form');
                                        tr.append($('<td>').html(form.find('#id_school').find(':selected').text()));
                                        tr.append($('<td>').html('&nbsp;'));
                                        tr.append($('<td>').html(form.find('#id_first_name').val()+' '+ form.find('#id_father_name').val()+' '+form.find('#id_last_name').val()));
                                        tr.append($('<td>').html(form.find('#id_mother_fullname').val()));
                                        tr.append($('<td>').html(form.find('#id_birthday_day').find(':selected').text()+'/'+form.find('#id_birthday_month').find(':selected').text()+'/'+form.find('#id_birthday_year').find(':selected').text()));
                                        tr.append($('<td>').html(form.find('#id_age').val()));
                                        tr.append($('<td>').html(form.find('#id_relation_to_adult').find(':selected').text()));
                                        tr.append($('<td>').html(form.find('#id_enrolled_last_year').find(':selected').text()));
                                        $('#no_id_table').find('tbody').append(tr);

                                        console.log($('#add_child_noid_form').find('input'));
                                        console.log($('#add_child_noid_form').find('select'));
                                    }
                                }
                            }
            });
        });

       $('#add_child_withid').click(function(){
            bootbox.dialog({
                            title: "{% trans "Add Child" %}",
                            message: $('#add_child_withid_block').html(),
                            buttons: {
                                success: {
                                    label: "{% trans "Save" %}",
                                    className: "btn-success",
                                    callback: function () {
                                        var tr = $('<tr>');
                                        var form = $('.bootbox-body').find('#add_child_withid_form');
                                        tr.append($('<td>').html(form.find('#id_school').find(':selected').text()));
                                        tr.append($('<td>').html(form.find('#id_id_number').val()));
                                        tr.append($('<td>').html(form.find('#id_relation_to_adult').find(':selected').text()));
                                        tr.append($('<td>').html(form.find('#id_enrolled_last_year').find(':selected').text()));
                                        $('#with_id_table').find('tbody').append(tr);

                                        console.log($('#add_child_withid_form').find('input'));
                                        console.log($('#add_child_withid_form').find('select'));
                                    }
                                }
                            }
                        });
        });

        $("#id_birthday_day").change(function () {
            calculateDateOfBirth();
        });

        $("#id_birthday_month").change(function () {
            calculateDateOfBirth();
        });

        $("#id_birthday_year").change(function () {
            calculateDateOfBirth();
        });


        $("#previousButton").click
         (
            function()
            {
                if(!$("#previousButton").hasClass("disabled"))
                {
                       onePerFrameSly.prev();
                }
            }
         );

        $("#nextButton").click
         (
            function()
            {
                if(!$("#nextButton").hasClass("disabled"))
                {
                    if(onePerFrameSly.rel.activeItem == 8)
                    {
                        bootbox.confirm("{% trans 'Are all the children enrolled in the 2nd shift schools have been registered?' %}", function(result) {
                        if(result == true)
                        {
                           onePerFrameSly.next();
                        }
                        });
                    }
                    else
                    {
                        onePerFrameSly.next();
                    }
                }
            }
         );

        onePerFrameSly.on
        (
            'active',
            function (eventName, itemIndex)
            {
                if(onePerFrameSly.rel.activeItem == 8 || onePerFrameSly.rel.activeItem == 0)
                {
                    $("#previousButton").addClass("disabled");
                }
                else
                {
                    $("#previousButton").removeClass("disabled");
                }


                if(onePerFrameSly.rel.activeItem == onePerFrameSly.items.length-1)
                {
                    $("#nextButton").addClass("disabled");
                }
                else
                {
                    $("#nextButton").removeClass("disabled");
                }
            }
        );

    });

    function hideAll()
    {
        $("#HouseholdUNHCR").hide();
        $("#HouseholdUNHCR_OtherID").hide();
        $("#HouseholdUNHCRNote").hide();
        $("#HouseholdOtherID").hide();
        $("#HouseholdOtherID_Note").hide();
        $("#HouseholdOtherNoID").hide();
        $("#HouseholdRegistrationNumber").hide();
        $("#IndividualRegistrationNumber").hide();
    }

    function calculateDateOfBirth()
    {
        var birthday_day = $('#id_birthday_day').val();
        var birthday_month = $('#id_birthday_month').val()-1;
        var birthday_year = $('#id_birthday_year').val();

        var birthDate = new Date(birthday_year, birthday_month, birthday_day);

        if(birthday_day != "" && birthday_month != "" && birthday_year != "" )
        {
            var age = calculateAge(birthDate,new Date());;

            $('#id_age').val(age);

            if(age < 18)
            {
               bootbox.alert("{% trans 'Age less than 18.' %}", function() {});
            }
        }
        else
        {
            $('#id_age').val("");
        }

    }

    function calculateAge(dateOfBirth, dateToCalculate) {
        var calculateYear = dateToCalculate.getFullYear();
        var calculateMonth = dateToCalculate.getMonth();
        var calculateDay = dateToCalculate.getDate();

        var birthYear = dateOfBirth.getFullYear();
        var birthMonth = dateOfBirth.getMonth();
        var birthDay = dateOfBirth.getDate();

        var age = calculateYear - birthYear;
        var ageMonth = calculateMonth - birthMonth;
        var ageDay = calculateDay - birthDay;

        if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
            age = parseInt(age) - 1;
        }

        return age;
    }

    </script>

{% endblock %}
