{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">

{% endblock %}

<div id="edit_registration_block" style="display: block;">

      <div class="alert alert-success" role="alert" id="alert-cancel-success" style="display: none;;">
          {% trans 'Household update cancelled' %}.
          {% trans 'Please click' %}
      </div>

      <form method="post" action="" class="inlineForm" id="household_update_form" style="display: block;" onsubmit="return false;">
          <input type="hidden" name="id_hhedit" id="main_id" />
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
             <div class="panel-body">
               <div id="oneperframe" class="frame oneperframe" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr"{% endif %}>
                  <ul class="slidee" {% if LANGUAGE_CODE == 'ar-ar' %}lang="en" dir="ltr"{% endif %}>
                    {# 1 Slide household Identity #}
                        <li class="active framebox">
                            <div class="line" id="hhsuspended" style="display: none">
                                <label  style="color: red">{% trans "Please note that this household is currently suspended " %}</label><span id ="HHSuspendedNote"></span>
                            </div>
                            <h3 class="panel-title">{% trans "Verify Caller Identity" %}</h3>
                            <br>
                            <div class="line">
                                <label >{% trans "The information the caller provided for you to locate them in the database cannot be used to verify their identify" %}</label>
                            </div>
                            <br>
                            <label >{% trans "Caller must answer 2 of the following questions correctly." %}</label>
                            <br>
                            <div class="line">
                                <label >{% trans "- Name of person that registered children: " %}</label> <span id ="hhName"></span>
                            </div>
                            <div class="line">
                                <label >{% trans "- ID Number: " %}</label><span id ="hhIdNumber"></span>
                            </div>
                            <div class="line">
                                <label >{% trans "- DOB of person that registered children " %}</label><span id ="hhDOB"></span>
                            </div>
                            <div class="line" >
                                <label >{% trans "- Last 4 digits on ATM Card: " %}</label><span id ="hhLastcardgigits"></span>
                            </div>
                            <div class="line" >
                                <label >{% trans "- Primary phone: " %}</label><span id ="hhprimary_phone"></span>
                            </div>
                            <div class="line" >
                                <label >{% trans "- Secondary phone: " %}</label><span id ="hhsecondary_phone"></span>
                            </div>
                        </li>
                    {# 2 Slide update data #}
                        <li class="framebox">
                          <h3 class="panel-title">{% trans "Updates and Complaints" %}</h3>
                          <br>
                          <label >{% trans "Please select: " %}</label>
                          <select id="changeOption">
                             <option value="" selected="selected">---------</option>
                             <optgroup label="UPDATE">
                                  <option value="phone">Phone</option>
                                 <option value="address">Address</option>
                                  <option value="school_change">School</option>
                                  <option value="beneficiary">Beneficiary Change Request</option>
                                  <option value="notEligible">Household No Longer Eligible</option>
                             </optgroup>
                              <optgroup label="VIEW INFO / COMPLAINTS">
                                  <option value="payment">Payment Information</option>
                                  <option value="cardStatus">ATM Card Distribution Status</option>
                                  <option value="card">Card and Pin Usage</option>
                                  <option value="refusedServiceBLF"> Refused Service by BLF </option>
                                  <option value="schoolRefusedEntrance">School Director Refused Re-entry</option>
                                  <option value="reinstateBeneficiary">Reinstate Beneficiary</option>
                                  <option value="twoCards">Two Red Cards</option>
                                  <option value="missingChild">Missing student</option>
                                  <option value="otherComplaint">Other</option>
                              </optgroup>
                          </select>
                        <hr>
                            <div id = "phoneFields" style="display:none">
                                <div class="line" >
                                    <label  style="width: 200px;">{% trans "Current Primary phone: " %}</label><span id ="hh_current_primary_phone"></span>
                                </div>
                                <div class="line">
                                  <label class="text" style="width: 200px;">{% trans "Primary Phone Number: " %}</label>
                                  <input id="primary_phone" maxlength="45" type="text">
                                  <span class="error" id="primary_phone_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Confirm Phone Number: " %}</label>
                                    <input id="primary_phone_confirm" maxlength="45" type="text">
                                    <span class="error" id="primary_phone_confirm_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                    <span class="error" id="primary_phone_confirm_error">{% trans "Phone mismatch" %}</span>
                              </div>
                              <div class="line">
                                  <label class="text" style="width: 200px;">{% trans "Phone Number is normally answered by: " %}</label>
                                  <select id="primary_phone_answered" >
                                      {% for value, text in phoneAnsweredby %}
                                          <option value="{{ value }}">{{ text }}</option>
                                      {% endfor %}
                                  </select>
                                  <span class="error" id="primary_phone_answered_error">{% trans "Phone Number is normally answered by is missing" %}</span>
                              </div>

                                <div class="line" >
                                    <label  style="width: 200px;">{% trans "Current Secondary phone: " %}</label><span id ="hh_current_secondary_phone"></span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Secondary Phone Number: " %}</label>
                                    <input id="secondary_phone" maxlength="45" type="text">
                                    <span class="error" id="secondary_phone_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Confirm Phone Number: " %}</label>
                                    <input id="secondary_phone_confirm" maxlength="45" type="text">
                                    <span class="error" id="secondary_phone_confirm_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                    <span class="error" id="secondary_phone_confirm_error">{% trans "Phone mismatch" %}</span>
                                </div>
                              <div class="line">
                                  <label class="text" style="width: 200px;">{% trans "Phone number is normally answered by: " %}</label>
                                  <select id="secondary_phone_answered" >
                                      {% for value, text in phoneAnsweredby %}
                                          <option value="{{ value }}">{{ text }}</option>
                                      {% endfor %}
                                  </select>
                                  <span class="error" id="secondary_phone_answered_error">{% trans "Phone Number is normally answered by is missing" %}</span>
                              </div>
                          </div>
                            <div class="line" id = "addressFields" style="display:none">
                                <div class="line">
                                    <label  style="width: 200px;">{% trans "Current Address: " %}</label><span id ="hhAddess"></span>
                                </div>
                                <label class="text" style="width: 200px;">{% trans "New Address: " %}</label>
                                <textarea cols="30" id="address" name="address" rows="4"></textarea>
                                <span class="error" id="address_error">{% trans "Address field is required!" %}</span>
                            </div>
                            <div class="line" id = "beneficiaryFields" style="display:none">
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary ID Type: " %}</label>
                                    <select id="idType" >
                                        {% for itm in idType %}
                                          <option value="{{ itm.id }}">{{ itm.name }}</option>
                                      {% endfor %}
                                    </select>
                                    <span class="error" id="nf_dType_error">{% trans "New Beneficiary ID Type is missing." %}</span>
                                </div>
                                <div  class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Individual ID Number: " %}</label>
                                    <input id="id_number" maxlength="45" type="text">
                                    <span class="error" id="beneficiary_id_number_error">{% trans "Invalid ID format." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary First Name (Arabic): " %}</label>
                                    <input id="first_name" maxlength="45" type="text">
                                    <span class="error" id="first_name_error">{% trans "Beneficiary First Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Father Name (Arabic): " %}</label>
                                    <input id="father_name" maxlength="45" type="text">
                                    <span class="error" id="father_name_error">{% trans "Beneficiary Father Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Last Name (Arabic): " %}</label>
                                    <input id="last_name" maxlength="45" type="text">
                                    <span class="error" id="last_name_error">{% trans "Beneficiary Last Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Mother Full  Name (Arabic): " %}</label>
                                    <input id="mother_full_name" maxlength="45" type="text">
                                    <span class="error" id="mother_full_name_error">{% trans "Beneficiary Mother Full Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Gender: " %}</label>
                                    <select id="gender" >
                                        {% for value, text in gender %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                <span class="error" id="gender_error">{% trans "Gender is missing." %}</span>
                                </div>
                                <div class="line field-select-small-size">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary DOB" %}</label>
                                    <select id="days" ></select>
                                    <select id="months" >
                                        {% for value, text in months %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <select id="years" >
                                    </select>
                                    <span class="error" id="dob_error">{% trans "DOB is not valid" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Realtionship to household head: " %}</label>
                                    <select id="relation_to_householdhead" >
                                        {% for value, text in relationToHouseholdHead %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="error" id="relation_to_householdhead_error">{% trans "Relationship to household head is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "New Beneficiary Phone Number: " %}</label>
                                    <input id="beneficiary_phone" maxlength="45" type="text">
                                    <span class="error" id="beneficiary_phone_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                </div>
                                <div class="line">
                                  <label class="text" style="width: 200px;">{% trans "Confirm Phone Number: " %}</label>
                                  <input id="beneficiary_phone_confirm" maxlength="45" type="text">
                                    <span class="error" id="beneficiary_phone_confirm_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                  <span class="error" id="beneficiary_phone_confirm_error">{% trans "Phone mismatch" %}</span>
                              </div>

                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Is the new beneficiary the same as person calling? " %}</label>
                                    <div id="radioBtn" class="btn-group same_as_caller_block">
                                        <a class="btn btn-primary btn-sm notActive" data-toggle="same_as_caller" data-title="1">{% trans "Yes" %}</a>
                                        <a class="btn btn-primary btn-sm active" data-toggle="same_as_caller" data-title="0">{% trans "No" %}</a>
                                    </div>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Reason: " %}</label>
                                    <select id="reason" >
                                        {% for itm in beneficiaryChangedReason %}
                                          <option value="{{ itm.id }}">{{ itm.name }}</option>
                                      {% endfor %}
                                    </select>
                                    <span class="error" id="reason_error">{% trans "Reason is missing." %}</span>
                                </div>
                                <div class="line" id = "beneficiary_reason" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Specify: " %}</label>
                                    <input id="beneficiary_specify_reason" maxlength="100" type="text">
                                </div>
                            </div>
                            <div id = "schoolChangeFields" style="display:none">
                                <br>
                                <table id="schools-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                  <thead>
                                      <tr>
                                          <th style = "display:none">>ID</th>
                                          <th>Child</th>
                                          <th>Current School</th>
                                          <th>Location</th>
                                          <th>School</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                  </tbody>
                                </table>
                                <div id = "childSchool" style = "display:none">
                                    <select name = "childSchool">
                                        {% for school in schools %}
                                            <option value="{{ school.id }}" location-id = "{{ school.location_id }}" >
                                                {{ school.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div id = "childSchoolLocation" style = "display:none">
                                    <select name = "childSchoolLocation">
                                        {% for location in locations %}
                                            <option value="{{ location.id }}" >
                                                {{ location }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>

                            </div>
                            <div class="line" id = "notEligibleFields" style="display:none">
                                <div  id = "notEligibleSelect" >
                                    <label class="text" style="width: 200px;">{% trans "Reason: " %}</label>
                                    <select id="not_eligible_select" >
                                        {% for itm in not_eligible_reason %}
                                          <option value="{{ itm.id }}">{{ itm.name }}</option>
                                      {% endfor %}
                                    </select>
                                </div>
                                <div class="line" id = "not_eligible_specify_reason" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Specify: " %}</label>
                                    <input id="not_eligible_reason_specify" maxlength="100" type="text">
                                </div>
                             <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Comment: " %}</label>
                                    <input id="no_logner_eligible_comment" maxlength="100" type="text">
                                </div>
                            </div>
                            <div id = "paymentFields" style="display:none">
                                <div class="line" >
                                    <label >{% trans "Household Status:  " %}</label><span id ="hhsuspended_payment"></span>
                                </div>
                            <label class="text" style="width: 400px;">{% trans "Payment History: " %}</label>
                                <table id="payments-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                  <thead>
                                      <tr>
                                          <th style = "display:none">>ID</th>
                                          <th>Date</th>
                                          <th>Amount</th>
                                          <th>Month</th>
                                          <th>Year</th>
                                      </tr>
                                  </thead>
                                  <tbody>

                                  </tbody>
                                </table>
                                <br>
                                <label class="text" style="width: 400px;">{% trans "Children in Household: " %}</label>
                                <table id="children-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th style = "display:none">>ID</th>
                                        <th>Child</th>
                                        <th>Age</th>
                                        <th>School</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <br>
                                <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                <select id="payment_complaint" >
                                    {% for itm in payment_complaint_types %}
                                        <option value="{{ itm.id }}">{{ itm.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="line" id = "cardStatusFields" style="display:none">
                                <div class="line">
                                    <label >{% trans "Card Status: " %}</label> <span id ="hhCardStatus"></span>
                                </div>
                                <div class="line">
                                    <label >{% trans "Date of distribution: " %}</label> <span id ="hhDateOfDistribution"></span>
                                </div>
                                <br>
                                <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                <select id="card_distribution_complaint" >
                                    {% for itm in card_distribution_cmplaint_types %}
                                        <option value="{{ itm.id }}">{{ itm.name }}</option>
                                    {% endfor %}
                                </select>
                              <div id = "cardPhoneFields" style="display:none">
                                  <div class="line" >
                                      <label  style="width: 200px;">{% trans "Current phone: " %}</label><span id ="hh_card_primary_phone"></span>
                                  </div>
                                  <div class="line">
                                      <label class="text" style="width: 200px;">{% trans "Phone Number: " %}</label>
                                      <input id="card_phone" maxlength="45" type="text">
                                      <span class="error" id="card_phone_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                  </div>
                                  <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Confirm Phone Number: " %}</label>
                                    <input id="card_phone_confirm" maxlength="45" type="text">
                                    <span class="error" id="card_phone_confirm_length_error">{% trans "The phone number must be 8 digits" %}</span>
                                    <span class="error" id="card_phone_confirm_error">{% trans "Phone mismatch" %}</span>
                              </div>
                              </div>
                            </div>
                            <div class="line" id = "cardFields" style="display:none">
                                <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                <select id="card_complaint" >
                                    {% for itm in card_complaint_types %}
                                        <option value="{{ itm.id }}">{{ itm.name }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            <div id = "reinstateBeneficiaryFields" style="display:none">
                                <div   style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                    <select id="reinstate_complaint" >
                                        {% for itm in reinstate_beneficiary_complaint_types %}
                                            <option value="{{ itm.id }}">{{ itm.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="line" id = "schoolRefusedEntranceFields" style="display:none">
                                <div  id = "schoolComplaintSelect" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                    <select id="school_complaint" >
                                        {% for itm in school_complaint_types %}
                                            <option value="{{ itm.id }}" {% if forloop.first %}checked{% endif %}>{{ itm.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <label>{% trans "Please select the child that has been refused re-entry by the School Director" %}</label>
                                <label class="text" style="width: 200px;">{% trans "Student: " %}</label>
                                    <select id="student_refused_entrance" style="width: 440px;" >
                                    </select>
                            </div>
                            <div class="line" id = "otherFields" style="display:none">
                                <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                <select id="other_complaint" >
                                    {% for itm  in other_complaint_types %}
                                        <option value="{{ itm.id }}">{{ itm.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="line" id = "bankFields" style="display:none">
                                <div class="line" id = "bankSelect" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                    <select id="bank_complaint" >
                                        {% for itm  in bank_complaint_types %}
                                            <option value="{{ itm.id }}" {% if forloop.first %}checked{% endif %}>{{ itm.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="line field-select-small-size">
                                    <label class="text" style="width: 200px;">{% trans "Date of incident: " %}</label>
                                    <select id="complait_days" ></select>
                                    <select id="complait_months" >
                                        {% for value, text in months %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <select id="complait_years" > </select>
                                    <span class="error" id="complait_date_error">{% trans "Date is not valid" %}</span>
                                </div>
                                <div class="line field-select-small-size">
                                    <label class="text" style="width: 200px;">{% trans "Time of incident: " %}</label>
                                    <select id="complait_hours" ></select>
                                    <select id="complait_minutes" ></select>
                                    <select id="complait_am_pm" >
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Phone number from which call was placed: " %}</label>
                                    <input id="complaint_bank_phone_used" maxlength="45" type="text">
                                    <span class="error" id="complaint_bank_phone_used_error">{% trans "Phone is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Service requested " %}</label>
                                    <input id="complaint_bank_service_requested" maxlength="45" type="text">
                                    <span class="error" id="complaint_bank_service_requested_error">{% trans "Service requested is missing." %}</span>
                                </div>
                            </div>
                            <div class="line" id = "twoCardsFields" style="display:none">
                                <div class="line">
                                    <label class="text">{% trans "Case Number on First Card: " %}</label>
                                    <input id="first_card_case_number" maxlength="45" type="text">
                                    <span class="error" id="first_card_case_number_error">{% trans "Case number is incorrect" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text">{% trans "Confirm Case Number on First Card: " %}</label>
                                    <input id="first_card_case_number_confirm" maxlength="45" type="text">
                                    <span class="error" id="first_card_case_number_confirm_error">{% trans "Case number is incorrect" %}</span>
                                    <span class="error" id="first_card_case_equal_error">{% trans "Case mismatch" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text">{% trans "Last four digits of the  First Card: " %}</label>
                                    <input id="first_card_last_four_digits" maxlength="45" type="text">
                                    <span class="error" id="first_card_last_four_digits_error">{% trans "last 4 digits is incorrect" %}</span>
                                </div>

                                <div class="line">
                                    <label class="text">{% trans "Case Number on Second Card: " %}</label>
                                    <input id="second_card_case_number" maxlength="45" type="text">
                                    <span class="error" id="second_card_case_number_error">{% trans "Case number is incorrect" %}</span>
                                    <span class="error" id="second_card_case_number_error_error">{% trans "last 4 digits is incorrect" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text">{% trans "Confirm Case Number on Second Card: " %}</label>
                                    <input id="second_card_case_number_confirm" maxlength="45" type="text">
                                    <span class="error" id="second_card_case_number_confirm_error">{% trans "Case number is incorrect" %}</span>
                                    <span class="error" id="second_card_case_equal_error">{% trans "Case mismatch" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text">{% trans "Last four digits of the  Second Card: " %}</label>
                                    <input id="secondcard_last_four_digits" maxlength="45" type="text">
                                    <span class="error" id="second_card_last_four_digits_error">{% trans "last 4 digits is incorrect" %}</span>
                                </div>
                            </div>

                            <div class="line" id = "missingChildFields" style="display:none">
                                <div class="line" id = "missingChildSelect" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Complaint Type: " %}</label>
                                    <select id="missingChild_complaint" >
                                        {% for itm  in missingChild_complaint_types %}
                                            <option value="{{ itm.id }}" {% if forloop.first %}checked{% endif %}>{{ itm.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student ID Type: " %}</label>
                                    <select id="st_idType" >
                                        {% for itm in idType %}
                                            <option value="{{ itm.id }}">{{ itm.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="error" id="st_idType_error">{% trans "Student ID Type is missing." %}</span>
                                </div>
                                <div  class="line">
                                     <label class="text" style="width: 200px;">{% trans "Student ID Number: " %}</label>
                                     <input id="st_id_number" maxlength="45" type="text">
                                     <span class="error" id="st_id_number_error">{% trans "Invalid ID format." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student First Name (Arabic): " %}</label>
                                    <input id="st_first_name" maxlength="45" type="text">
                                    <span class="error" id="st_first_name_error">{% trans "Student First Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student Father Name (Arabic): " %}</label>
                                    <input id="st_father_name" maxlength="45" type="text">
                                    <span class="error" id="st_father_name_error">{% trans "Student Father Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student Last Name (Arabic): " %}</label>
                                    <input id="st_last_name" maxlength="45" type="text">
                                    <span class="error" id="st_last_name_error">{% trans "Student Last Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student Mother Full  Name (Arabic): " %}</label>
                                    <input id="st_mother_full_name" maxlength="45" type="text">
                                    <span class="error" id="st_mother_full_name_error">{% trans "Student Mother Full Name is missing." %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Student Gender: " %}</label>
                                    <select id="st_gender" >
                                        {% for value, text in gender %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="error" id="st_gender_error">{% trans "Student Gender is missing." %}</span>
                                </div>
                                <div class="line field-select-small-size">
                                    <label class="text" style="width: 200px;">{% trans "Student DOB" %}</label>
                                    <select id="st_days" ></select>
                                    <select id="st_months" >
                                        {% for value, text in months %}
                                            <option value="{{ value }}">{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <select id="st_years" >
                                    </select>
                                    <span class="error" id="st_dob_error">{% trans "Student DOB is not valid" %}</span>
                                </div>
                                <div>
                                    <label class="text" style="width: 200px;">{% trans "Student School" %}</label>
                                    <select name = "studentSchool">
                                        {% for school in schools %}
                                            <option value="{{ school.id }}" location-id = "{{ school.location_id }}" >
                                                {{ school.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="error" id="st_school_error">{% trans "Student school is not valid" %}</span>
                                </div>
                                <div class="line">
                                    <label class="text" style="width: 480px;">{% trans "Does the Household confirm that the child is registered in the 2nd shift? " %}</label>
                                    <div id="radioBtn_missingchild" class="toggleRadioBtn btn-group confirm_child_registered_second_shift_block">
                                        <a class="btn btn-primary btn-sm notActive" data-toggle="confirm_child_registered_second_shift" data-title="1">{% trans "Yes" %}</a>
                                        <a class="btn btn-primary btn-sm active" data-toggle="confirm_child_registered_second_shift" data-title="0">{% trans "No" %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="line" id = "ComplaintFields" style="display:none">
                                 <div class="line">
                                    <label class="text" style="width: 200px;">{% trans "Urgent" %}</label>
                                    <div id="radioBtn_urgent" class="toggleRadioBtn btn-group complaint_urgent_block">
                                        <a class="btn btn-primary btn-sm notActive" data-toggle="complaint_urgent" data-title="1">{% trans "Yes" %}</a>
                                        <a class="btn btn-primary btn-sm active" data-toggle="complaint_urgent" data-title="0">{% trans "No" %}</a>
                                    </div>
                                </div>

                                <label class="text" style="width: 200px;">{% trans "Comment: " %}</label>
                                <textarea cols="38" id="complaint" name="complaint" rows="1"></textarea>
                                <span class="error" id="complaint_error">{% trans "Comment is missing." %}</span>
                                <br>
                            </div>
                            <div class="line" id = "complaint_Other_type" style="display:none">
                                    <label class="text" style="width: 200px;">{% trans "Specify: " %}</label>
                                    <input id="complaint_Other_type_specify" maxlength="100" type="text">
                            </div>
                            <div class="line" id = "ComplaintHistory" style="display:none">
                                <label class="text" style="width: 400px;">{% trans "Complaint History: " %}</label>
                                <table id="complaints-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th style = "display:none">>ID</th>
                                        <th>Type of Complaint</th>
                                        <th>Date of Complaint</th>
                                        <th>Details</th>
                                        <th>Complaint Status</th>
                                        <th>Comments</th>
                                        <th>Date of Resolution</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                  </ul>
            </div>
          <ul class="pages" id="slySlider">
              <li class="active">1</li>
              <li>2</li>
          </ul>
        </div>

    <div class="controls center">
      {% if LANGUAGE_CODE == 'ar-ar' %}
        <button class="btn btn-warning" type="button" id="hhCloseButton" style="float:left;">
          {% trans "Cancel" %}
        </button>
        <button class="btn btn-primary" type="button" id="hhSaveButton" style="float:left; display:none" >
          {% trans "Save" %}
        </button>
        <button class="btn btn-primary .prev" type="button" id="previousButton">
            <i class="icon-next-sign icon-white"></i> {% trans "previous" %}
        </button>
        <button class="btn btn-primary .next" type="button" id="nextButton">
              {% trans "next" %} <i class="icon-prev-sign icon-white"></i>
          </button>
      {% else %}

        <button class="btn btn-warning" type="button" id="hhCloseButton" style="float:right;">
            {% trans "Cancel" %}
        </button>

        <div style="width:190px;height:40px;float:left;">

        <button class="btn btn-primary" type="button" id="hhSaveButton" style="float:left; display:none">
          {% trans "Save" %}
        </button>

        </div>
        <button class="btn btn-primary .prev" type="button" id="previousButton">
            <i class="icon-prev-sign icon-white"></i> {% trans "previous" %}
        </button>
        <button class="btn btn-primary .next" type="button" id="nextButton">
              {% trans "next" %} <i class="icon-next-sign icon-white"></i>
          </button>
      {% endif %}
      </div>
    </form>
      </div>
