<table id="students-table" class="table table-striped table-bordered cell-border"
data-height="500"
data-pagination="true"
data-search="true"
cellspacing="0"
width="100%">
    <thead>
        <tr>
            <th style = "display:none">>ID</th>
            <th >Student Name</th>
            <th >ID</th>
            <th >Old School</th>
            <th >New School</th>
            <th >Approve/Reject</th>
            <th >Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr class="row-class" student-id="{{ student.id }}" >
                <td>{{ student.student.first_name }} {{ student.student.father_name }} {{ student.student.last_name }}</td>
                <td>{{ student.student.id_number }}</td>
                <td>{{ student.school.name}}</td>
                <td>{{ student.school_changed_to_verify.name }}</td>
                <td>

                    <div class="switch-toggle switch-3 switch-candy" style = "width:220px">

                        <input id="on-{{ student.id }}" name="state-d-{{ student.id }}" type="radio"
                               {% if student.school_changed_status == 'accepted' %}checked{% endif %} value = "accepted">
                        <label for="on-{{ student.id }}" onclick="">Approve</label> </input>

                        <input id="na-{{ student.id }}" name="state-d-{{ student.id }}" type="radio"
                               {% if student.school_changed_status == 'open' %}checked{% endif %} value = "open">
                            <label for="na-{{ student.id }}" onclick="">-</label> </input>

                        <input id="off-{{ student.id }}" name="state-d-{{ student.id }}" type="radio"
                               {% if student.school_changed_status == 'rejected' %}checked{% endif %} value = "rejected">
                        <label for="off-{{ student.id }}" onclick="">Reject</label> </input>

                        <a></a>
                    </div>

                </td>
                <td>
                    <textarea>{{ student.school_changed_comment  }}</textarea>
                </td>

                <td style = "display:none">{{ student.school_changed_status  }}</td>
                <td style = "display:none">{{ student.school_changed_comment  }}</td>
                <td style = "display:none">{{ student.school_changed_to_verify.id  }}</td>


            </tr>
        {% endfor %}
    </tbody>
</table>
