<table id="beneficiary-table" class="table table-striped table-bordered cell-border"
data-height="500"
data-pagination="true"
data-search="true"
cellspacing="0"
width="100%">
    <thead>
        <tr>
            <th style = "display:none">>ID</th>
            <th >HH Rep Name</th>
            <th >Case# (Card1)</th>
            <th >Case# (Card2)</th>
            <th >Case# (Min Ila)</th>
            <th >Phone #</th>
            <th >Resolve/Pending</th>
            <th >Comments</th>
        </tr>
    </thead>
    <tbody>
        {% for beneficiary in beneficiaries %}
            <tr class="row-class" beneficiary-id="{{ beneficiary.id }}" >
                <td>{{ beneficiary.first_name }} {{ beneficiary.father_name }} {{ beneficiary.last_name }}</td>
                <td>{{ beneficiary.duplicate_card_first_card_case_number }}</td>
                <td>{{ beneficiary.duplicate_card_second_card_case_number }}</td>
                <td>{{ beneficiary.id_number}}</td>
                <td>{{ beneficiary.primary_phone}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
