{% extends "base.app.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signature_pad.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">

{% endblock %}
{% block content %}

<div class="alert alert-success" role="alert" id="alert-synchro-success" style="display: none;;">
    {% trans 'Application submission success' %}.
    {% trans 'Please click' %}
    <a class="nav-link" href="{% url 'registrations:registering_pilot' %}?ln={{ LANGUAGE_CODE }}">{% trans "here" %}</a>
    {% trans 'to start a new application' %}.
</div>
<div class="alert alert-success" role="alert" id="alert-cancel-success" style="display: none;;">
    {% trans 'Application registration cancelled' %}.
    {% trans 'Please click' %}
    <a class="nav-link" href="{% url 'registrations:registering_pilot' %}?ln={{ LANGUAGE_CODE }}">{% trans "here" %}</a>
    {% trans 'to start a new application' %}.
</div>

{#<button type="button" id="registration-synchro">synch</button>#}

<form method="post" action="" class="inlineForm" id="mainForm" style="display: block;" onsubmit="return false;">
    <input type="hidden" name="id_watinglist" id="main_id" />
    <div class="panel-body">
      <h3 class="panel-title">{% trans "Waiting List" %}</h3>
      <div class="line">
        <p>{% trans "As this school is full we are unable to register you in the Min Ila Pilot. We will collect your basic information and contact you if 2nd shift is opened in another school nearby. UNICEF will send you an SMS to inform you of the school name and location if this happens. You should then go to that school to enroll and to register in the Min Ila Pilot. We regret that we cannot register you in the pilot until that time." %}</p>
      </div>
      <div class="line">
        <label class="text">{% trans "School" %}<span class="asterisque">*</span></label>
        {{ form.school }}
        <span class="error" id="school_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
          <label class="text">{% trans "First Name" %}<span class="asterisque">*</span></label>
          {{ form.first_name }}
          <span class="error" id="first_name_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
          <label class="text">{% trans "Father's Name" %}<span class="asterisque">*</span></label>
          {{ form.father_name }}
          <span class="error" id="father_name_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
          <label class="text">{% trans "Last Name" %}<span class="asterisque">*</span></label>
          {{ form.last_name }}
          <span class="error" id="last_name_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
        <label class="text">{% trans "UNHCR Household Registration Number" %}</label>
        {{ form.unhcr_id }}
        <span class="error" id="id_number_UNHCR_Other_format_error">{% trans "The UNHCR ID is not valid" %}</span>
      </div>
     <div class="line">
        <label class="text">{% trans "Number of children to be enrolled in this school" %}<span class="asterisque">*</span></label>
       {{ form.number_of_children }}
        <span class="error" id="number_of_children_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
        <label class="text">{% trans "Primary Phone Number" %}<span class="asterisque">*</span></label>
        {{ form.phone_number }}
        <span class="error" id="phone_number_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
        <label class="text">{% trans "Secondary Phone Number" %}</label>
        {{ form.alternate_phone_number }}
      </div>
      <div class="line">
        <label class="text">{% trans "Village of Residence" %}<span class="asterisque">*</span></label>
        {{ form.village }}
        <span class="error" id="village_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
        <label class="text">{% trans "District/Caza of Residence" %}<span class="asterisque">*</span></label>
        {{ form.location }}
        <span class="error" id="location_error">{% trans "This field is required" %}</span>
      </div>
      <div class="line">
          <label class="text">&nbsp;</label>
          <button class="btn btn-success" type="button" id="waiting_list_save">{% trans "Submit" %}</button>
      </div>
    </div>
</form>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
  <script type="text/javascript">
      var db = null;
      var language  = '{{ LANGUAGE_CODE }}';
      var user_id = {{ request.user.id }};
      var protocol = 'http://';
      {% if request.is_secure %}
          protocol = 'https://';
      {% endif %}
      var host = protocol+'{{ request.get_host }}';
      var synchro_path = host+'/api/waiting-list/';

      var arabic_fields = "#id_first_name, #id_last_name, #id_father_name";
  $(document).ready(function() {

        createDataStore('db_pilot_waiting', 1, 'waitinglist', true);
        setInterval(function(){
            if(navigator.onLine) {
                synchronize_data(false);
            }
        }, 3600000);

  $(document).on('blur', '#mainForm input, #mainForm select, #mainForm textarea', function(){
      update_item_store(parseInt($('#main_id').val()), $(this).attr('name'), $(this).val(), 'waitinglist');
  });

  $(document).on('blur', arabic_fields, function(){
      checkArabicOnly($(this));
  });

   $('#waiting_list_save').click(function(e){
        var sectionCheck = validate_waiting_list();
        if(sectionCheck)
        {
            bootbox.confirm("{% trans 'Are you sure you want to add those children to the waiting list?' %}", function(result) {
            if(result == true) {
                var store = getStoreByName('waitinglist');
                var request = store.get(parseInt($('#main_id').val()));
                request.onsuccess = function(){
                    var result = request.result;

                    console.log(result);
                    if(result){
                        push_waitinglist_data(result, synchro_path, 'waitinglist');
                    }
                };
                update_item_store(parseInt($('#main_id').val()), 'completed', true, 'waitinglist');
                displayFeedback();
            }
            });

              }
          });
  });

  function displayFeedback()
    {
        $('#mainForm').remove();
        $('#alert-synchro-success').show();
    }

  function synchronize_data(store_name, url, callback)
    {
        var store = getStoreByName(store_name);
        var request = store.getAll();
        request.onsuccess = function() {
            var result = request.result;
            $(result).each(function(i, item){
                if(item.synchronized == false && item.completed == true) {
                    push_waitinglist_data(item, url, store_name);
                }
{#                if(item.synchronized == true || (item.synchronized == false && item.completed == false)){#}
{#                    delete_from_store(parseInt(item.id), store_name, true);#}
{#                }#}
            });
            if(callback){
                callback();
            }
        };
    }

    function push_waitinglist_data(item, url, store_name)
    {
        $.ajax({
            type: "POST",
            url: url,
            data: item,
            cache: false,
            async: false,
            headers: getHeader(),
            dataType: 'json',
            success: function (response) {
                if(response.id){
                    update_item_store(parseInt(item.id), 'synchronized', true, store_name);
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }

</script>
{% endblock %}
