{% extends "clm/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

{% block module_name %}Dirasa - Attendance{% endblock %}
{% block project_title %}Attendance{% endblock %}

{% block main_content %}

<style>

.attendance_day_off label.active {
    background-color: #3f6ad8 !important;
    color: white !important;
}

.form-control, .input-group-prepend select, .btn-primary {
    height: 40px; /* Ensures uniform height */
    padding: 0 12px;
    font-size: 14px;
    border-radius: 5px; /* Rounded corners for a smoother look */
}

.input-group-prepend select {
    border: 1px solid #ced4da;
}

select {
    width: 100%; /* Ensures dropdowns take full width */
}

.input-group-text {
    background-color: #007bff;
    color: white;
    border-radius: 5px 0 0 5px;
}

.select-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.disabled-input {
    background-color: white;
    border: 0;
}
.btn-icon {
    height: 35px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
}
.is-invalid {
    border-color: red !important;
    background-color: #ffe6e6 !important;
    color: black !important;
}
</style>

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-child"></i>
                                        </span>
                                        <span class="d-inline-block">
                                          Dirasa Daily Attendance
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'clm:bridging_page' %}">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>


                        </div>
</div>

<div class="row">
<div class="col-md-4">
                                    <div class="main-card mb-3 card">
                                        <div class="card-header"><i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>Daily Attendance
                                            <div class="btn-actions-pane-right actions-icon-btn">
                                              <a href="{% url 'clm:bridging_attendance_report' %}">
                                                  <button class="btn-icon btn-icon-only btn btn-link">
                                                      <i class="pe-7s-cloud-download btn-icon-wrapper"></i>
                                                  </button>
                                              </a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="form-group">
                                              {% csrf_token %}
                                              <input type="hidden" value="{{ request.user.center.id }}" name="center_id" id="center_id" />
                                                  <div class="input-group">
                                                      <div class="input-group-prepend datepicker-trigger">
                                                          <div class="input-group-text">
                                                              <i class="fa fa-calendar-alt"></i>
                                                          </div>
                                                      </div>
                                                    <input type="text" class="form-control" data-toggle="datepicker" id="attendance_date" value="{{ attendance_date }}"/>
                                                  </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="col-md-6">
                                                  <div class="select-wrapper">
                                                      <select id="round" class="form-control">
                                                          <option value="">Round</option>
                                                          {% for item in round %}
                                                              {% if item != '' %}
                                                                  <option value="{{ item.id }}" {% if round == "{{ item }}" %}selected{% endif %}>{{ item }}</option>
                                                              {% endif %}
                                                          {% endfor %}
                                                      </select>
                                                  </div>
<!--                                                  <input type="text" class="form-control disabled-input" disabled />-->
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="col-md-6">
                                                  <div class="select-wrapper">
                                                      <select id="school" class="form-control">
                                                          <option value="">School</option>
                                                          {% for item in school %}
                                                              {% if item != '' %}
                                                                  <option value="{{ item.id }}" {% if school == "{{ item }}" %}selected{% endif %}>{{ item }}</option>
                                                              {% endif %}
                                                          {% endfor %}
                                                      </select>
                                                  </div>
<!--                                                  <input type="text" class="form-control disabled-input" disabled />-->
                                              </div>
                                          </div>
                                          <div class="form-row">
                                              <div class="col-md-6">
                                                  <div class="select-wrapper">
                                                      <select id="registration_level" class="form-control" name="registration_level">
                                                      <option value="">Registration Level</option>
                                                      {% if request.user.is_staff %}
                                                          <option value="level_one" {% if registration_level == 'level_one' %}selected{% endif %}>Level one</option>
                                                          <option value="level_two" {% if registration_level == 'level_two' %}selected{% endif %}>Level two</option>
                                                          <option value="level_three" {% if registration_level == 'level_three' %}selected{% endif %}>Level three</option>
                                                          <option value="level_four" {% if registration_level == 'level_four' %}selected{% endif %}>Level four</option>
                                                          <option value="level_five" {% if registration_level == 'level_five' %}selected{% endif %}>Level five</option>
                                                          <option value="level_six" {% if registration_level == 'level_six' %}selected{% endif %}>Level six</option>
                                                          <option value="level_one_pm" {% if registration_level == 'level_one_pm' %}selected{% endif %}>Level one PM shift</option>
                                                          <option value="level_two_pm" {% if registration_level == 'level_two_pm' %}selected{% endif %}>Level two PM shift</option>
                                                          <option value="level_three_pm" {% if registration_level == 'level_three_pm' %}selected{% endif %}>Level three PM shift</option>
                                                          <option value="level_four_pm" {% if registration_level == 'level_four_pm' %}selected{% endif %}>Level four PM shift</option>
                                                          <option value="level_five_pm" {% if registration_level == 'level_five_pm' %}selected{% endif %}>Level five PM shift</option>
                                                          <option value="level_six_pm" {% if registration_level == 'level_six_pm' %}selected{% endif %}>Level six PM shift</option>
                                                          <option value="grade_one" {% if registration_level == 'grade_one' %}selected{% endif %}>Grade one</option>
                                                          <option value="grade_two" {% if registration_level == 'grade_two' %}selected{% endif %}>Grade two</option>
                                                          <option value="grade_three" {% if registration_level == 'grade_three' %}selected{% endif %}>Grade three</option>
                                                          <option value="grade_four" {% if registration_level == 'grade_four' %}selected{% endif %}>Grade four</option>
                                                          <option value="grade_five" {% if registration_level == 'grade_five' %}selected{% endif %}>Grade five</option>
                                                          <option value="grade_six" {% if registration_level == 'grade_six' %}selected{% endif %}>Grade six</option>

                                                      {% elif request.user.partner and not request.user.partner.is_Kayany %}
                                                          <option value="level_one" {% if registration_level == 'level_one' %}selected{% endif %}>Level one</option>
                                                          <option value="level_two" {% if registration_level == 'level_two' %}selected{% endif %}>Level two</option>
                                                          <option value="level_three" {% if registration_level == 'level_three' %}selected{% endif %}>Level three</option>
                                                          <option value="level_four" {% if registration_level == 'level_four' %}selected{% endif %}>Level four</option>
                                                          <option value="level_five" {% if registration_level == 'level_five' %}selected{% endif %}>Level five</option>
                                                          <option value="level_six" {% if registration_level == 'level_six' %}selected{% endif %}>Level six</option>
                                                          <option value="level_one_pm" {% if registration_level == 'level_one_pm' %}selected{% endif %}>Level one PM shift</option>
                                                          <option value="level_two_pm" {% if registration_level == 'level_two_pm' %}selected{% endif %}>Level two PM shift</option>
                                                          <option value="level_three_pm" {% if registration_level == 'level_three_pm' %}selected{% endif %}>Level three PM shift</option>
                                                          <option value="level_four_pm" {% if registration_level == 'level_four_pm' %}selected{% endif %}>Level four PM shift</option>
                                                          <option value="level_five_pm" {% if registration_level == 'level_five_pm' %}selected{% endif %}>Level five PM shift</option>
                                                          <option value="level_six_pm" {% if registration_level == 'level_six_pm' %}selected{% endif %}>Level six PM shift</option>
                                                      {% else %}
                                                          <option value="grade_one" {% if registration_level == 'grade_one' %}selected{% endif %}>Grade one</option>
                                                          <option value="grade_two" {% if registration_level == 'grade_two' %}selected{% endif %}>Grade two</option>
                                                          <option value="grade_three" {% if registration_level == 'grade_three' %}selected{% endif %}>Grade three</option>
                                                          <option value="grade_four" {% if registration_level == 'grade_four' %}selected{% endif %}>Grade four</option>
                                                          <option value="grade_five" {% if registration_level == 'grade_five' %}selected{% endif %}>Grade five</option>
                                                          <option value="grade_six" {% if registration_level == 'grade_six' %}selected{% endif %}>Grade six</option>
                                                      {% endif %}
                                                  </select>

                                                  </div>
<!--                                                  <input type="text" class="form-control disabled-input" disabled />-->
                                              </div>
                                          </div>
                                                          <div class="form-row">
                    <div class="col-md-6">
                        <div role="group" class="btn-group-sm btn-group">
                            <div class="btn-group btn-group-toggle attendance_day_off" data-toggle="buttons">
                                <label class="btn btn-light {% if day_off == 'No' %}active{% endif %}">
                                    <input type="radio" value="No" name="attendance_day_off" {% if day_off == 'No' %}checked{% endif %} /> Working day
                                </label>
                                <label class="btn btn-light {% if day_off == 'Yes' %}active{% endif %}">
                                    <input type="radio" value="Yes" name="attendance_day_off" {% if day_off == 'Yes' %}checked{% endif %} /> Day Off
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="select-wrapper">
                            <select id="close_reason" class="form-control {% if close_reason == '' %}hidden{% endif %}">
                                <option value="">Closing Reason</option>
                                <option value="Public Holiday" {% if close_reason == 'Public Holiday' %}selected{% endif %}>Public Holiday</option>
                                <option value="School Holiday" {% if close_reason == 'School Holiday' %}selected{% endif %}>School Holiday</option>
                                <option value="Strike" {% if close_reason == 'Strike' %}selected{% endif %}>Strike</option>
                                <option value="Weekly Holiday" {% if close_reason == 'Weekly Holiday' %}selected{% endif %}>Weekly Holiday</option>
                                <option value="Roads Closed" {% if close_reason == 'Roads Closed' %}selected{% endif %}>Roads Closed</option>
                                <option value="Other" {% if close_reason == 'Other' %}selected{% endif %}>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                                          </div>

                                        <div class="d-block text-right card-footer">
                                            <a href="{% url 'clm:load_attendance_children' %}" class="btn-wide mb-2 mr-2 btn-icon btn btn-primary" id="load_attendance_children"><i class="pe-7s-refresh-2 btn-icon-wrapper"></i>Load</a>
                                            {% if request.user|has_group:"CLM_ATTENDANCE" %}
                                            <a href="{% url 'clm:save_attendance_children' %}" class="btn-wide mb-2 mr-2 btn-icon btn btn-success disabled" id="save_attendance_children"><i class="pe-7s-diskette btn-icon-wrapper"></i>Save</a>
                                            {% endif %}
                                        </div>
                                      </div>
                                    </div>


            <div class="col-md-8">

                <div class="main-card mb-3 card">
                  <div class="card-header"><i class="header-icon ion-android-people icon-gradient bg-plum-plate"></i>
                    <p class="mb-0">Children Registered: <span id="children_count">0</span></p>
                  </div>
                  <div class="card-body" style="height: 400px; overflow: auto;">
                      <div id="attendance_children"></div>
                  </div>
                  <div class="d-block text-center card-footer"></div>

                </div>

            </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" language="javascript" src="{% static 'js/bridging/attendance.js' %}?v=23"></script>

{% endblock %}
