{% extends "clm/base.html" %}
{% load static i18n %}
{% load static %}
{% load bootstrap3 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Dashboard{% endblock %}
{% block module_name %}Dirasa - Dashboard{% endblock %}

{% block content %}

<style>
  .filter-package-type {
    cursor: pointer;
  }

</style>

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="pe-7s-display1"></i>
                                        </span>
                                        <span class="d-inline-block">Dashboard</span>
                                    </div>
                                </div>
                            </div>

                        </div>
</div>

<div class="row">

  <iframe title="Makani - 2025 - V2" width="95%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiOTExNDAyZjUtN2NhNS00MTBiLWE2MWMtMzVmMDBiYTE4NTQ1IiwidCI6Ijc3NDEwMTk1LTE0ZTEtNGZiOC05MDRiLWFiMTg5MjAyMzY2NyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

</div>

{% endblock content %}
