{% extends "base.html" %}
{% load staticfiles i18n %}
{% load util_tags %}

{% block extra_head %}

{% endblock %}

{% block content-full-page %}


<div class="card-deck">
    {% if request.user|has_group:"CLM_BLN" %}
<div class="col-sm-4">
  <div class="card">
    <a href="{% url "clm:bln_list" %}">
        <img class="card-img-top" data-src="holder.js/250px250/" alt="100%x180" src="{% static 'images/clm-bln-icon.png' %}" data-holder-rendered="true" style="height: 250px; width: 250px; display: block;">
    </a>
    <div class="card-block" style="border-top: 1px solid rgba(0,0,0,.125)">
      <h4 class="card-title">BLN</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
    {% endif %}
    {% if request.user|has_group:"CLM_RS" %}
<div class="col-sm-4">
  <div class="card">
    <a href="{% url "clm:rs_list" %}">
        <img class="card-img-top" data-src="holder.js/250px250/" alt="100%x180" src="{% static 'images/clm-rs-icon.png' %}" data-holder-rendered="true" style="height: 250px; width: 250px; display: block;">
    </a>
    <div class="card-block" style="border-top: 1px solid rgba(0,0,0,.125)">
      <h4 class="card-title">RS</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
    {% endif %}
    {% if request.user|has_group:"CLM_CBECE" %}
<div class="col-sm-4">
  <div class="card">
    <a href="{% url "clm:cbece_list" %}">
        <img class="card-img-top" data-src="holder.js/250px250/" alt="100%x180" src="{% static 'images/clm-cbece-icon.png' %}" data-holder-rendered="true" style="height: 250px; width: 250px; display: block;">
    </a>
    <div class="card-block" style="border-top: 1px solid rgba(0,0,0,.125)">
      <h4 class="card-title">CB-ECE</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
    {% endif %}
</div>



{% endblock %}

{% block extra_js %}

{% endblock %}
