{% load staticfiles i18n %}
<button class="btn btn-danger moved-button" itemscope="{{ record.id }}" id="moved_button_{{ record.id }}" translation="{% trans "Are you sure you want to tag this student as moved?" %}">
    {% trans "Moved?" %}
</button>
<div class="moving-date-block d-none" id="moving_date_block_{{ record.id }}">
    <input class="form-control moving-date-input" itemscope="{{ record.id }}" id="moving_date_{{ record.id }}" type="text" placeholder="{% trans 'Moved date' %}" />
    <button class="btn btn-success save-moved-button" itemscope="{{ record.id }}" id="save_moved_button_{{ record.id }}">
        {% trans "Save" %}
    </button>
    <button class="btn btn-warning cancel-moved-button" itemscope="{{ record.id }}" id="cancel_moved_button_{{ record.id }}">
        {% trans "reset" %}
    </button>
</div>
