{% extends "base.new.html" %}

{% block main_content %}

            <div class="row">



            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                	<article role="pge-title-content">

                    	<header>

                        	<h2><span>CLM +</span> MSCC.</h2>

                        </header>

                        <p>Multi Service Community Center.</p>

                    </article>

                </section>



                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'images/education.png' %}" alt="" class="img-responsive" style="width: 100%; height: 300px;"/>

                        <figcaption>

                        	<h2><span>Education & more</span></h2>

							<p></p>

							<a href="{% url 'clm:mscc_list' %}"></a>

                        </figcaption>

                    </figure>

                </section>

                <div class="clearfix"></div>

                <section class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'images/youth.png' %}" alt="" class="img-responsive" style="width: 100%; height: 300px;"/>

                        <figcaption>

                        	<h2><span>Youth</span></h2>

							<p></p>

							<a href="{% url 'clm:mscc_youth_list' %}"></a>

                        </figcaption>

                    </figure>

                </section>

                <section class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'images/health.png' %}" alt="" class="img-responsive" style="width: 100%; height: 300px;"/>

                        <figcaption>

                        	<h2><span>Health</span></h2>

							            <p></p>

							<a href="{% url 'clm:mscc_health_list' %}"></a>

                        </figcaption>

                    </figure>

                </section>

                <section class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'images/child protection.png' %}" alt="" class="img-responsive" style="width: 100%; height: 300px;"/>

                        <figcaption>

                        	<h2><span>Child Protection</span></h2>

							<p></p>

							<a href="{% url 'clm:mscc_cp_list' %}"></a>

                        </figcaption>

                    </figure>

                </section>

                <section class="col-xs-6 col-sm-3 col-md-3 col-lg-3 grid">

                	<figure class="effect-oscar">

                    	<img src="{% static 'images/social policy.png' %}" alt="" class="img-responsive" style="width: 100%; height: 300px;"/>

                        <figcaption>

                        	<h2><span>Social Policy</span></h2>

							<p></p>

							<a href="{% url 'clm:mscc_cp_list' %}"></a>

                        </figcaption>

                    </figure>

                </section>

                <div class="clearfix"></div>


            </div>


{% endblock %}
