.frame {
    height: 750px;
    overflow: hidden;
}
.frame ul {
    height: 100%;
}
.frame ul.slidee {
    padding: 0px !important;
    margin: 0px !important;
}
.frame li.framebox {
    padding: 15px !important;
    margin: 0px !important;
}
.frame ul li.framebox {
    list-style: none;
    float: left;
    height: 90%;
    /*margin: 0 0 0 10px;*/
    /*padding: 15px 0 0 15px;*/
    width: 227px;
    position: relative;
    -webkit-box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);
    box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%);
    /*border: 1px solid red;*/
}
.oneperframe {
    /*border: 1px solid #1f7e9a;*/
    /*-webkit-box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);*/
    /*box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);*/
    /*-moz-border-radius: 6px 6px 6px 6px;*/
    /*-webkit-border-radius: 6px 6px 6px 6px;*/
    /*border-radius: 6px 6px 6px 6px;*/
    /*background: #eeeeee;*/
    /*background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));*/
    /*background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%);*/
}
body, .app-container {
    /*border: 1px solid #1fad83;*/
     /*-webkit-box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);*/
    /*box-shadow: inset -1px -1px 2px 2px rgba(1, 1, 1, 0.1);*/
    /*-moz-border-radius: 6px 6px 6px 6px;*/
    /*-webkit-border-radius: 6px 6px 6px 6px;*/
    /*border-radius: 6px 6px 6px 6px;*/
    background: #eeeeee;
    /*background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));*/
    /*background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);*/
    /*background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%);*/
}
.frame ul li.active {

}
.scrollbar {
    height: 2px;
    line-height: 0;
    margin: 0 0 1em;
}
.scrollbar .handle {
    cursor: pointer;
    height: 100%;
    width: 100px;
}
.scrollbar .handle .mousearea {
    height: 20px;
    left: 0;
    position: absolute;
    top: -9px;
    width: 100%;
}
.pages {
    list-style: none outside none;
    margin: 0px 0;
    padding: 0;
    text-align: center;
    padding-top: 10px;
}
.pages li {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin: 0 4px;
    overflow: hidden;
    text-indent: -999px;
    width: 14px;
}
.pages li.framebox:hover {
    background: none repeat scroll 0 0 #AAAAAA;
}
.pages li.active {
    background: none repeat scroll 0 0 #666666;
}
.controls {
    margin: 10px 0;
    text-align: center;
}
.oneperframe {
    height: 725px;
    width: 750px;
}
.oneperframe ul li.framebox {
    overflow: auto;
    height: 720px;
    width: 745px;
}

.oneperframe ul li.framebox p {
    width: 93%;
    text-align: justify;
}

@media (min-width: 768px) {
    #oneperframe {
      width: 705px;
    }
    /*#oneperframe .slidee {*/
      /*max-width: 700px;*/
    /*}*/
    #oneperframe ul li.framebox {
      width: 700px;
    }
}
