{% load static i18n %}
{% load static i18n %}
<style>

.attendance_status label.active {
    background-color: #3f6ad8 !important;
    color: white !important;
}

</style>
<ul class="list-group">
{% for item in instances %}
                                            <li class="list-group-item">
                                                <div class="todo-indicator bg-warning"></div>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                          <img width="42" class="rounded-circle" src="{% static 'images/avatars/male.png' %}">
                                                        </div>
                                                        <div class="widget-content-left" style="width: 200px !important;">
                                                            <input type="hidden" class="registration_id" name="registry_id[]" value="{{ item.registration_id }}" />
                                                            <input type="hidden" class="attendance_id" name="attendance_id[]" value="{{ item.attendance_id }}" />
                                                            <input type="hidden" class="child_id" name="child_id[]" value="{{ item.child_id }}" />
                                                            <div class="widget-heading"><a class="show-child-details" data-toggle="modal" data-target=".bd-example-modal-lg-2" href="{% url 'mscc:child_profile_preview' %}?registry_id={{ item.registration_id }}">{{ item.child_fullname }}</a></div>
                                                            <div class="widget-subheading">{{ item.child_mother_fullname }}</div>
                                                        </div>
                                                        <div class="widget-content-right" style="width: 200px !important;">
                                                            <div class="widget-heading">{{ item.child_birthday }}</div>
                                                            <div class="widget-subheading">{{ item.child_nationality }}</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div role="group" class="btn-group-sm btn-group">

                                                                <div class="btn-group btn-group-toggle attendance_status" data-toggle="buttons">
                                                                  <label class="btn btn-light {% if item.attended == 'Yes' or item.attended == ''  %} active {% endif %} " itemscope="#reason_block_{{ item.registration_id }}">
                                                                    <input type="radio" class="status" name="attendance_status_{{ item.registration_id }}" value="Yes" {% if item.attended == 'Yes'  %} checked {% endif %} /> Attended
                                                                  </label>
                                                                  <label class="btn btn-light {% if item.attended == 'No'  %} active {% endif %} " itemscope="#reason_block_{{ item.registration_id }}" >
                                                                    <input type="radio" class="status" name="attendance_status_{{ item.registration_id }}" value="No" {% if item.attended == 'No'  %} checked {% endif %} /> Absent
                                                                  </label>
                                                                </div>

                                                              </div>
                                                        </div>
                                                    </div>
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-right">
                                                              <div class="input-group  {% if item.attended == 'Yes' or item.attended == ''  %} hidden {% endif %} " id="reason_block_{{ item.registration_id }}">
                                                                  <div class="input-group-prepend">
                                                                      <select id="absence_reason_{{ item.registration_id }}" class="btn-primary absence_reason">
                                                                          <option value="">Select Reason</option>
                                                                          <option value="Sick" {% if item.absence_reason == 'Sick'  %} selected {% endif %} >Sick</option>
                                                                          <option value="Transportation" {% if item.absence_reason == 'Transportation'  %} selected {% endif %} >Transportation</option>
                                                                          <option value="Other" {% if item.absence_reason == 'Other'  %}  selected {% endif %} >Other</option>
                                                                      </select>
                                                                  <input id="absence_reason_other_{{ item.registration_id }}" type="text" class="form-control absence_reason_other" placeholder="Absence Other reasons" value="{{ item.absence_reason_other }}">
                                                                </div>
                                                              </div>
                                                            </div>

                                                        </div>
                                                </div>
                                            </li>
  {% endfor %}

</ul>
<script>
    $('.attendance_status label').click(function(e) {
        var item = $(this);
        setTimeout(
          function()
          {
                var attendance_status = item.find('input').val();
                var itemscope = item.attr('itemscope');

                if (attendance_status == 'No') {
                    $(itemscope).removeClass('hidden');
                }else {
                    $(itemscope).addClass('hidden');
                }
          }, 500);

    });
</script>
