{% load staticfiles i18n %}
{% load static %}
<style>

.attendance_status label.active {
    background-color: #3f6ad8 !important;
    color: white !important;
}

</style>
<ul class="list-group">
{% for item in instances %}
                                            <li class="list-group-item">
                                                <div class="todo-indicator bg-warning"></div>
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                          <img width="42" class="rounded-circle" src="{% static 'images/avatars/male.png' %}">
                                                        </div>
                                                        <div class="widget-content-left" style="width: 200px !important;">
                                                            <input type="hidden" class="registry_id" name="registry_id[]" value="{{ item.id }}" />
                                                            <input type="hidden" class="child_id" name="child_id[]" value="{{ item.child.id }}" />
                                                            <div class="widget-heading"><a class="show-child-details" data-toggle="modal" data-target=".bd-example-modal-lg-2" href="{% url 'mscc:child_profile_preview' %}?registry_id={{ item.id }}">{{ item.child.full_name }}</a></div>
                                                            <div class="widget-subheading">{{ item.child.mother_fullname }}</div>
                                                        </div>
                                                        <div class="widget-content-right" style="width: 200px !important;">
                                                            <div class="widget-heading">{{ item.child.birthday }}</div>
                                                            <div class="widget-subheading">{{ item.child.nationality.name }}</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div role="group" class="btn-group-sm btn-group">

                                                                <div class="btn-group btn-group-toggle attendance_status" data-toggle="buttons">
                                                                  <label class="btn btn-light active" itemscope="#reason_block_{{ item.id }}">
                                                                    <input type="radio" class="status" name="attendance_status_{{ item.id }}" value="Yes" checked /> Attended
                                                                  </label>
                                                                  <label class="btn btn-light" itemscope="#reason_block_{{ item.id }}">
                                                                    <input type="radio" class="status" name="attendance_status_{{ item.id }}" value="No" /> Absent
                                                                  </label>
                                                                </div>

                                                              </div>
                                                        </div>
                                                    </div>
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-right">
                                                              <div class="input-group hidden" id="reason_block_{{ item.id }}">
                                                                  <div class="input-group-prepend">
                                                                      <select id="absence_reason_{{ item.id }}" class="btn-primary absence_reason">
                                                                          <option value="">Select Reason</option>
                                                                          <option value="Sick">Sick</option>
                                                                          <option value="Transportation">Transportation</option>
                                                                          <option value="Other">Other</option>
                                                                      </select>
                                                                  </div>
                                                                  <input id="absence_reason_other_{{ item.id }}" type="text" class="form-control absence_reason_other" placeholder="Absence Other reasons">
                                                              </div>
                                                            </div>
                                                        </div>

                                                </div>
                                            </li>
  {% endfor %}
</ul>
<script>
    $('.attendance_status label').click(function(e) {
        var item = $(this);
        setTimeout(
          function()
          {
                var attendance_status = item.find('input').val();
                var itemscope = item.attr('itemscope');

                if (attendance_status == 'No') {
                    $(itemscope).removeClass('hidden');
                }else {
                    $(itemscope).addClass('hidden');
                }
          }, 500);

    });
</script>
