{% load static i18n %}
{% load static %}
{% load util_tags %}

<div class="row staff-profile">

<div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card-shadow-primary profile-responsive card-border mb-3 card">
<div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner bg-info">
                                        <div class="menu-header-image opacity-3"></div>
                                        <div class="menu-header-content btn-pane-right">
                                            <div class="avatar-icon-wrapper mr-2 avatar-icon-xl">
                                                <div class="avatar-icon rounded">
                                                    {% if instance.child.sex == 'Female' %}
                                                        <img src="{% static 'images/avatars/female.png' %}">
                                                    {% else %}
                                                        <img src="{% static 'images/avatars/male.png' %}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="menu-header-title">{{ instance.child.full_name }}</h5>
                                                <h6 class="menu-header-subtitle">Father: {{ instance.child.father_name  }}</h6>
                                                <h6 class="menu-header-subtitle">Mother: {{ instance.child.mother_fullname  }}</h6>
                                            </div>
                                            <div class="menu-header-btn-pane">
                                                <button class="button btn btn-pill btn-dark" data-style="slide-right"><a href="/MSCC/Child-Edit/{{ instance.id }}" style="color: white;"><i class="pe-7s-pen"></i></a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Nationality</div>
                                                    <div class="widget-subheading">{{ instance.child.nationality.name }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Birthday</div>
                                                    <div class="widget-subheading">{{ instance.child.birthday }}
                                                      - {{ instance.child.age }} years
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Number</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.child.number }}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Family Status</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.child.family_status }} - {{ instance.child.number_children }} child
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Any disability or special need?</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.child.disability }}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

<div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mb-3 card">
                                    <!--<div class="card-header-tab card-header">-->
                                        <!--<div class="card-header-title font-size-lg text-capitalize font-weight-normal">-->
                                            <!--<i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>-->
                                            <!--Details-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">General info.</h5>
                                                    <!--<h6 class="menu-header-subtitle">-->
                                                        <!--You have-->
                                                        <!--<b class="text-info">21 </b>-->
                                                        <!--unread messages-->
                                                    <!--</h6>-->
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active show" id="tab-c-1" data-toggle="tab" href="#tab-animated-1" aria-selected="true">
                                                    <span>Address</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-0" data-toggle="tab" href="#tab-animated-0">
                                                    <span>Household</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-2" data-toggle="tab" href="#tab-animated-2">
                                                    <span>Social/Economic</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab-animated-0" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps ps--active-y">
                                                        <div class="p-3">
                                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Father’s educational level</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-phone-handset text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Mother’s educational level</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-laptop-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Household's/Relatives Primary phone number</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>
                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-laptop-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Who will be answering the phone</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-laptop-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Household's/Relatives Primary phone number</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>
                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-laptop-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Who will be answering the phone</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-smartphone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Child's primary caretaker</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-cloud text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Caretaker's Full Name</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-cloud text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Caretaker's Mother Full Name</h4>
                                                                            <p></p></div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 99px;"></div></div></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane active show" id="tab-animated-1" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps">
                                                        <div class="p-3">

                                                    <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-home text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">
                                                                    Pcode where the child lives in Internal Settlement/Camp

                                                                </h4>
                                                                    <p>
                                                                        <span class="badge badge-dot badge-dot-lg badge-dot-inside"></span>
                                                                    </p>
                                                                    <p> {{ instance.child.address }}</p>
                                                                    <p>{{ instance.child.p_code }}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-map-marker text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Governorate / District</h4>
                                                                    <p> {{ instance.governorate }} / {{ instance.district }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-animated-2" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps">
                                                        <div class="p-3">

                                                    <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"><i class="pe-7s-news-paper text-alternate"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Engaged in Labor?</h4>
                                                                    <p>
                                                                    </p></div>
                                                            </div>
                                                        </div>


                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"><i class="pe-7s-news-paper text-alternate"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Type of Labor</h4>
                                                                    <p>
                                                                    </p></div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"><i class="pe-7s-news-paper text-alternate"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Working hours during a week? (in hours)</h4>
                                                                    <p></p></div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-alternate"><i class="pe-7s-news-paper text-alternate"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">How much get paid per week? (amount in LBP)</h4>
                                                                    <p></p></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                        </div>

                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav flex-column">
                                            <li class="nav-item-btn text-center pt-4 pb-3 nav-item">
                                                <!--<button class="btn-shadow btn-wide btn-pill btn btn-dark">-->
                                                    <!--<span class="badge badge-dot badge-dot-lg badge-info badge-pulse">Badge</span>-->
                                                    <!--View All Messages-->
                                                <!--</button>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

<div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mb-3 card">
                                    <!--<div class="card-header-tab card-header">-->
                                        <!--<div class="card-header-title font-size-lg text-capitalize font-weight-normal">-->
                                            <!--<i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>-->
                                            <!--Details-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">Education</h5>
                                                    <!--<h6 class="menu-header-subtitle">-->
                                                        <!--You have-->
                                                        <!--<b class="text-info">21 </b>-->
                                                        <!--unread messages-->
                                                    <!--</h6>-->
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active show" id="tab-c-3" data-toggle="tab" href="#tab-animated-3" aria-selected="true">
                                                    <span>Situation</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="tab-animated-3" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps ps--active-y">
                                                        <div class="p-3">
                                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Child’s educational level when registering for the round</h4>
                                                                            <p>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Dropout date from school</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Programme</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Education programme in MSCC</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-shield text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Date of registration in the round</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 99px;"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav flex-column">
                                            <li class="nav-item-btn text-center pt-4 pb-3 nav-item">
                                                <!--<button class="btn-shadow btn-wide btn-pill btn btn-dark">-->
                                                    <!--<span class="badge badge-dot badge-dot-lg badge-info badge-pulse">Badge</span>-->
                                                    <!--View All Messages-->
                                                <!--</button>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

<div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mb-3 card">
                                    <!--<div class="card-header-tab card-header">-->
                                        <!--<div class="card-header-title font-size-lg text-capitalize font-weight-normal">-->
                                            <!--<i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>-->
                                            <!--Details-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">Assessments</h5>
                                                    <!--<h6 class="menu-header-subtitle">-->
                                                        <!--You have-->
                                                        <!--<b class="text-info">21 </b>-->
                                                        <!--unread messages-->
                                                    <!--</h6>-->
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active show" id="tab-c-4" data-toggle="tab" href="#tab-animated-4" aria-selected="true">
                                                    <span>Diagnostic Assessment</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-5" data-toggle="tab" href="#tab-animated-5" aria-selected="true">
                                                    <span>Education Assessment </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="tab-animated-4" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps ps--active-y">
                                                        <div class="p-3">
                                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Arabic Language Development Assessment</h4>
                                                                            <p>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Foreign Language Development Assessment (only in BLN)</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Cognitive Development - Mathematics test</h4>
                                                                            <p>
                                                                            </p></div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 99px;"></div></div></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-animated-5" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 222px;">
                                                    <div class="scrollbar-container ps">
                                                        <div class="p-3">

                                                    <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Child Level of participation / Absence</h4>
                                                                    <p>
                                                                    </p></div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Main barriers affecting attendance/participation, performance, or causing drop-out</h4>
                                                                    <p>
                                                                        </p></div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-info text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Undertake the Post tests ?</h4>
                                                                    <p>
                                                                        </p></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav flex-column">
                                            <li class="nav-item-btn text-center pt-4 pb-3 nav-item">
                                                <!--<button class="btn-shadow btn-wide btn-pill btn btn-dark">-->
                                                    <!--<span class="badge badge-dot badge-dot-lg badge-info badge-pulse">Badge</span>-->
                                                    <!--View All Messages-->
                                                <!--</button>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


</div>
