{% extends "mscc/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Dashboard{% endblock %}
{% block module_name %}Makani - Dashboard{% endblock %}

{% block content %}

<style>
  .filter-package-type {
    cursor: pointer;
  }

</style>

<div class="page-header">
    <div class="page-header-titles">
        <h1 class="page-header-title"><i class="pe-7s-display1"></i> Dashboard</h1>
    </div>
</div>

<div class="row">

  <iframe title="Makani - 2025 - V2" width="95%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNmNjMjU1MTUtZjFkZS00NTNkLTg2ZGItZjFjZmRiZjg3YzI4IiwidCI6Ijc3NDEwMTk1LTE0ZTEtNGZiOC05MDRiLWFiMTg5MjAyMzY2NyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>

</div>

{% endblock content %}
