{% extends "base4.html" %}
{% load static i18n %}
{% load static %}
{% load bootstrap3 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="pe-7s-display1"></i>
                                        </span>
                                        <span class="d-inline-block">Dashboard</span>
                                    </div>
                                </div>
                            </div>

                        </div>
</div>


<div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success bg-light card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Total Registration</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-success pr-2">
                                                        <i class="pe-7s-graph3"></i>
                                                    </span>
                                                    {{ total }}
                                                    <small class="opacity-5 pl-1"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Core-Package</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-info pr-2">
                                                        <i class="pe-7s-graph2"></i>
                                                    </span>
                                                    {{ total_corepackage }}
                                                    <small class="opacity-5 pl-1"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Walk-in OOSC</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-danger pr-2">
                                                        <i class="pe-7s-display1"></i>
                                                    </span>
                                                    {{ total_woosc }}
                                                    <small class="opacity-5 pr-1"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-warning border-warning card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Walk-in In School</div>
                                        <div class="widget-numbers mt-2 fsize-4 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-warning pr-2">
                                                        <i class="pe-7s-graph"></i>
                                                    </span>
                                                    {{ total_wshl }}
                                                    <small class="opacity-5 pl-1"></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<div class="row">

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-body">
                  <h5 class="card-title">Select one or more center</h5>
                  <select multiple="multiple" class="multiselect-dropdown form-control">
                    {% for item in centers %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-body">
                  <h5 class="card-title">Select one or more governorate</h5>
                  <select multiple="multiple" class="multiselect-dropdown form-control">
                    {% for item in governorates %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-body">
                  <h5 class="card-title">Select one or more partner</h5>
                  <select multiple="multiple" class="multiselect-dropdown form-control">
                    {% for item in partners %}
                      <option value="{{ item.id }}">{{ item }}</option>
                    {% endfor %}
                  </select>
              </div>
          </div>
      </div>

</div>

<div class="row" id="dashboard-body">

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Nationality</div>
              <div class="card-body" id="children_per_nationality"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Age Group</div>
              <div class="card-body" id="children_per_age_group"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Programme</div>
              <div class="card-body" id="children_per_programme"></div>
          </div>
      </div>

</div>

<div class="row">

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Source of Identification</div>
              <div class="card-body" id="children_per_source"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Family Status</div>
              <div class="card-body" id="children_per_status"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Cash Support</div>
              <div class="card-body" id="children_cash_support"></div>
          </div>
      </div>

</div>

<div class="row">

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Disability</div>
              <div class="card-body" id="children_per_disability"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Children per Labor Type</div>
              <div class="card-body" id="children_per_labor"></div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="main-card mb-3 card">
              <div class="card-header">Family education level (mother, father)</div>
              <div class="card-body" id="family_education"></div>
          </div>
      </div>

</div>

{% endblock content %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript" src="{% static 'js/Highcharts.chart.js' %}"></script>

<script>
  <!--call ajax to get data-->
  <!--create chart-->
  <!--update chart on change / click-->
  <!--add loader-->

  function load_data(url, params) {

        return $.ajax({
            type: "GET",
            url: url,
            data: params,
            cache: false,
            async: true,
            dataType: 'json',
            success: function (response) {
                console.log('ok');
                return response;
            },
            error: function(response) {
                console.log(response);
            }
        });

  }
</script>

<script type="text/javascript">
   var data = {
       2020: [
           ['Lebanese', 1256916],
           ['Syrians', 804000],
           ['PRL', 68580],
           ['PRS', 10138],
       ],
   };

   var countries = [{
       name: 'Lebanese',
       color: 'rgba(255, 152, 0,0.4)',
       borderColor:'#FF9800'
   }, {
       name: 'Syrians',
       color: 'rgba(0, 162, 255,0.4)',
       borderColor: '#00A2FF'
   }, {
       name: 'PRL',
       color: 'rgba(163, 102, 188,0.4)',
       borderColor: '#A366BC'
   }, {
       name: 'PRS',
       color: 'rgba(158, 229, 161,0.4)',
       borderColor: '#9EE5A1'
   }];


   function getData(data) {
       return data.map(function (country, i) {
           return {
               name: country[0],
               y: country[1],
               color: countries[i].color,
               borderColor: countries[i].borderColor
           };
       });
   }

   Highcharts.theme = {
           colors: ['#34C73B', '#00A2FF', '#F192F1', '#9010BC', '#CF2C2C', '#FF9800'],
           title: {
               style: {
                   color: '#4D4D4D',
                   fontFamily: '"Poppins"',
                   fontSize:'18px',
                   fontWeight:'300',
               }
           },
           subtitle: {
               style: {
                   color: '#6A707E',
                   fontFamily: '"Poppins"',
                   fontSize:'13px',
                   fontWeight:'100',
               }
           },
           yAxis: {
               labels: {
                       style: {
                           color: '#525252',
                           fontFamily: '"Poppins"',
                           fontSize:'12px',
                           fontWeight:'100',
                       }
                   }
           },
           xAxis: {
               labels: {
                       style: {
                           color: '#525252',
                           fontFamily: '"Poppins"',
                           fontSize:'12px',
                           fontWeight:'100',
                       }
                   },
           },
           legend: {
               itemStyle: {
                   fontFamily: '"Poppins"',
                   fontSize:'13px',
                   fontWeight:'100',
                   color: '#ABAFB3'
               },
               itemHoverStyle:{
                   color: 'gray'
               },
               itemMarginTop: 10,
           },
           tooltip:{
               style: {
                   color: '#ABAFB3',
                   fontFamily: '"Poppins"',
                   fontSize:'12px',
                   fontWeight:'400',
               }
           },
           drilldown: {
               activeAxisLabelStyle: {
                   color: '#525252',
                   textDecoration:'none',
                   fontWeight:'100',
               },
               activeDataLabelStyle: {
                   color: '#ABAFB3',
                   display:'none'
               }
           },
           credits: {
    enabled: false
},
       };

       Highcharts.setOptions(Highcharts.theme);


   Highcharts.chart('children_per_age_group', {
       chart: {
           plotBackgroundColor: null,
           plotBorderWidth: 0,
           plotShadow: false,
           type: 'pie'
       },
       title: {
           //text: 'Total Population<br>5,742,742',
           text: '',
           align: 'center',
           verticalAlign: 'middle',
           y: 50
       },
       subtitle: {
           text: '',
           align: 'left',
           verticalAlign: 'bottom',
       },
       tooltip: {
           pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
       },
       accessibility: {
           point: {
               valueSuffix: '%'
           }
       },
       plotOptions: {
           pie: {
               allowPointSelect: true,
               cursor: 'pointer',
               dataLabels: {
                   enabled: false,
                   format: '<b>{point.name}</b>: {point.percentage:.1f} %'
               },
               showInLegend: true
           }
       },
       legend: {
           align: 'right',
           verticalAlign: 'middle',
           layout: 'vertical',

       },
       series: [{
           name: 'Nationality',
           colorByPoint: true,
           innerSize: '50%',
           data: [{
               name: 'Lebanese',
               y: 3864296,
               color: '#FF9800'
           }, {
               name: 'Syrians',
               y: 1500000,
               color: '#00A2FF'
           }, {
               name: 'Palestinians',
               y: 208800,
               color: '#34C73B'
           }]
       }]
   });



   // Create the chart
   Highcharts.chart('children_per_programme', {
       chart: {
           type: 'column',
             margin:80,
           marginBottom:100,

       },
       title: {
           text: '',

       },
       subtitle: {
           text: '',
           align: 'left',
           verticalAlign: 'bottom',
       },
       accessibility: {
           announceNewData: {
               enabled: true
           }
       },
       xAxis: {
           type: 'category'
       },
       yAxis: {
           title: {
               //text: 'Total'
               text:' '
           }

       },
       legend: {
           enabled: false
       },
       plotOptions: {
           series: {
               borderWidth: 1,
               borderColor:'{point.borderColor}',
               pointWidth:40,
               dataLabels: {
                   enabled: false,
                   formatter: function() {
                     return formatNumber(this.point.y);
                   }
               }
           }
       },

       tooltip: {
           formatter: function() {
                 return '<b>'+this.point.name+': </b>'+ formatNumber(this.point.y);
           }
       },

       series: [
           {
               name: "Total per programme",
               colorByPoint: true,
               data: [
                   {
                       name: "263 Cadasters",
                       y: 4292701,
                       drilldown: "263 Cadasters",
                       color: '#3f6ad8'
                   },
                   {
                       name: "Most Vulnerable",
                       y: 2470043,
                       drilldown: "Most Vulnerable",
                       color: '#d92550'
                   },
                   {
                       name: "2nd Most Vulnerable",
                       y: 751460,
                       drilldown: "2nd Most Vulnerable",
                       color: '#f7b924'
                   },
                   {
                       name: "3rd Most Vulnerable",
                       y: 469736,
                       drilldown: "3rd Most Vulnerable",
                       color: '#EDDA2A'
                   },
                   {
                       name: "4th Most Vulnerable",
                       y: 343759,
                       drilldown: "4th Most Vulnerable",
                       color: '#3ac47d'
                   },
                   {
                       name: "5th Most Vulnerable",
                       y: 257703,
                       drilldown: "5th Most Vulnerable",
                       color: '#16aaff'
                   }
               ]
           }
       ],
       drilldown: {
           series: [
               {
                   name: "263 Cadasters",
                   id: "263 Cadasters",
                   data: [
                       [
                           "Children",
                           1350371
                       ],
                       [
                           "Lebanese",
                           2907571
                       ],
                       [
                           "LBN Children",
                           905708
                       ],
                       [
                           "Displaced Syrians",
                           1212930
                       ],
                       [
                           "SYR Children",
                           650130
                       ],
                       [
                           "Palestinian Refugees",
                           172200
                       ],
                       [
                           "PRL Children",
                           59981
                       ]
                   ]
               },
               {
                   name: "Most Vulnerable",
                   id: "Most Vulnerable",
                   data: [
                       [
                           "Children",
                           931760
                       ],
                       [
                           "Lebanese",
                           1625629
                       ],
                       [
                           "LBN Children",
                           506383
                       ],
                       [
                           "Displaced Syrians",
                           699730
                       ],
                       [
                           "SYR Children",
                           375055
                       ],
                       [
                           "Palestinian Refugees",
                           144684
                       ],
                       [
                           "PRL Children",
                           50321
                       ]
                   ]
               },
               {
                   name: "2nd Most Vulnerable",
                   id: "2nd Most Vulnerable",
                   data: [
                       [
                           "Children",
                           285902
                       ],
                       [
                           "Lebanese",
                           504141
                       ],
                       [
                           "LBN Children",
                           157040
                       ],
                       [
                           "Displaced Syrians",
                           227655
                       ],
                       [
                           "SYR Children",
                           122023
                       ],
                       [
                           "Palestinian Refugees",
                           19664
                       ],
                       [
                           "PRL Children",
                           6839
                       ]
                   ]
               },
               {
                   name: "3rd Most Vulnerable",
                   id: "3rd Most Vulnerable",
                   data: [
                       [
                           "Children",
                           172803
                       ],
                       [
                           "Lebanese",
                           348860
                       ],
                       [
                           "LBN Children",
                           108670
                       ],
                       [
                           "Displaced Syrians",
                           117390
                       ],
                       [
                           "SYR Children",
                           62921
                       ],
                       [
                           "Palestinian Refugees",
                           3486
                       ],
                       [
                           "PRL Children",
                           1212
                       ]
                   ]
               },
               {
                   name: "4th Most Vulnerable",
                   id: "4th Most Vulnerable",
                   data: [
                       [
                           "Children",
                           131008
                       ],
                       [
                           "Lebanese",
                           234114
                       ],
                       [
                           "LBN Children",
                           72927
                       ],
                       [
                           "Displaced Syrians",
                           105990
                       ],
                       [
                           "SYR Children",
                           56811
                       ],
                       [
                           "Palestinian Refugees",
                           3655
                       ],
                       [
                           "PRL Children",
                           1271
                       ]
                   ]
               },
               {
                   name: "5th Most Vulnerable",
                   id: "5th Most Vulnerable",
                   data: [
                       [
                           "Children",
                           94256
                       ],
                       [
                           "Lebanese",
                           194827
                       ],
                       [
                           "LBN Children",
                           60689
                       ],
                       [
                           "Displaced Syrians",
                           62165
                       ],
                       [
                           "SYR Children",
                           33320
                       ],
                       [
                           "Palestinian Refugees",
                           711
                       ],
                       [
                           "PRL Children",
                           274
                       ]
                   ]
               }
           ]
       }
   });







   // Create the chart
   Highcharts.chart('children_per_nationality', {
       chart: {
           type: 'column',
           margin:70,
           marginBottom:115,

       },
       title: {
           text: '',
           align: 'left',
           verticalAlign: 'bottom',
       },
       subtitle: {
           text: 'Total per age group',
           align: 'left',
           verticalAlign: 'bottom',
       },
       accessibility: {
           announceNewData: {
               enabled: true
           }
       },
       xAxis: {
           type: 'category'
       },
       yAxis: {
           title: {
               //text: 'Total populations'
               text: ' '
           }

       },
       legend: {
           enabled: false
       },
       plotOptions: {
           series: {
               borderWidth: 1,
               borderColor:'{point.borderColor}',
               pointWidth:40,
               dataLabels: {
                   enabled: false,
                   <!--format: '{point.value}'-->
                   formatter: function() {
                     return formatNumber(this.point.y);
                   }
               }
           }
       },

       tooltip: {
           <!--headerFormat: '<span style="font-size:11px">{series.name}</span><br>',-->
           <!--pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.value}</b><br/>'-->
           formatter: function() {
                 return '<b>'+this.point.name+': </b>'+ formatNumber(this.point.y);
           }
       },

       series: [
           {
               name: "Nationalities",
               colorByPoint: true,
               data: [
                   {
                       name: "Lebanese",
                       y: 3864296,
                       drilldown: "Lebanese",
                       color: 'rgba(255, 152, 0,0.4)',
                       borderColor:'#FF9800'
                   },
                   {
                       name: "Syrian",
                       y: 1500000,
                       drilldown: "Syrian",
                       color: 'rgba(0, 162, 255,0.4)',
                       borderColor: '#00A2FF'
                   },
                   {
                       name: "PRL",
                       y: 180000,
                       drilldown: "PRL",
                       color: 'rgba(163, 102, 188,0.4)',
                       borderColor: '#A366BC'
                   },
                   {
                       name: "PRS",
                       y: 27700,
                       drilldown: "PRS",
                       color: 'rgba(158, 229, 161,0.4)',
                       borderColor: '#9EE5A1'
                   }
               ]
           }
       ],
       drilldown: {
           series: [
               {
                   name: "Lebanese",
                   id: "Lebanese",
                   data: [
                       [
                           "Under 1 year",
                           72758
                       ],
                       [
                           "Under 2 years",
                           171937
                       ],
                       [
                           "Under 5 years",
                           499339
                       ],
                       [
                           "3-5 years",
                           357407
                       ],
                       [
                           "6-14 years",
                           1218975
                       ],
                       [
                           "6-11 years",
                           770825
                       ],
                       [
                           "15-18 years",
                           477349
                       ],
                       [
                           "3-18 years",
                           1973031
                       ],
                       [
                           "0-5 years",
                           639012
                       ],
                       [
                           "0-17 years",
                           2135887
                       ],
                       [
                           "12-14 years",
                           367448
                       ],
                       [
                           "12-17 years",
                           726045
                       ],
                       [
                           "15-17 years",
                           358193
                       ],
                       [
                           "10-14 years",
                           622504
                       ]
                   ]
               },
               {
                   name: "Syrian",
                   id: "Syrian",
                   data: [
                       [
                           "Under 1 year",
                           30255
                       ],
                       [
                           "Under 2 years",
                           84544
                       ],
                       [
                           "Under 5 years",
                           257412
                       ],
                       [
                           "3-5 years",
                           167743
                       ],
                       [
                           "6-14 years",
                           401348
                       ],
                       [
                           "6-11 years",
                           293300
                       ],
                       [
                           "15-18 years",
                           118569
                       ],
                       [
                           "3-18 years",
                           687661
                       ],
                       [
                           "0-5 years",
                           312116
                       ],
                       [
                           "0-17 years",
                           805199
                       ],
                       [
                           "12-14 years",
                           108047
                       ],
                       [
                           "12-17 years",
                           199779
                       ],
                       [
                           "15-17 years",
                           91732
                       ],
                       [
                           "10-14 years",
                           197362
                       ]
                   ]
               },
               {
                   name: "PRL",
                   id: "PRL",
                   data: [
                       [
                           "Under 1 year",
                           3240
                       ],
                       [
                           "Under 2 years",
                           6689
                       ],
                       [
                           "Under 5 years",
                           17386
                       ],
                       [
                           "3-5 years",
                           10768
                       ],
                       [
                           "6-14 years",
                           30824
                       ],
                       [
                           "6-11 years",
                           20578
                       ],
                       [
                           "15-18 years",
                           14231
                       ],
                       [
                           "3-18 years",
                           55824
                       ],
                       [
                           "0-5 years",
                           21041
                       ],
                       [
                           "0-17 years",
                           62601
                       ],
                       [
                           "12-14 years",
                           10247
                       ],
                       [
                           "12-17 years",
                           20982
                       ],
                       [
                           "15-17 years",
                           10736
                       ],
                       [
                           "10-14 years",
                           16772
                       ]
                   ]
               },
               {
                   name: "PRS",
                   id: "PRS",
                   data: [
                       [
                           "Under 1 year",
                           527
                       ],
                       [
                           "Under 2 years",
                           1214
                       ],
                       [
                           "Under 5 years",
                           3017
                       ],
                       [
                           "3-5 years",
                           1758
                       ],
                       [
                           "6-14 years",
                           6022
                       ],
                       [
                           "6-11 years",
                           4216
                       ],
                       [
                           "15-18 years",
                           1973
                       ],
                       [
                           "3-18 years",
                           9753
                       ],
                       [
                           "0-5 years",
                           3631
                       ],
                       [
                           "0-17 years",
                           11172
                       ],
                       [
                           "12-14 years",
                           1806
                       ],
                       [
                           "12-17 years",
                           3325
                       ],
                       [
                           "15-17 years",
                           1518
                       ],
                       [
                           "10-14 years",
                           3252
                       ]
                   ]
               }
           ]
       }
   });


</script>


{% endblock %}
