{% extends "mscc/base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load util_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block project_title %}List{% endblock %}

{% block content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="d-inline-block">
                                          {{ request.user.username }}
                                          {% if request.user|has_group:"MSCC_PARTNER" or request.user|has_group:"MSCC_CENTER"  %}
                                          - {{ request.user.partner }}
                                          {% endif %}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                      <a href="/">List</a>
                                                </li>
                                              {% if request.user|has_group:"MSCC_FULL" and request.user|has_group:"MSCC_CENTER" and request.user.center.id %}

                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.governorate }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.caza }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.cadaster }} - {{ request.user.center.p_code }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.name }} - {{ request.user.center.type }}
                                                </li>
                                              {% endif %}

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>
                        </div>
</div>

<div class="row">
{% if request.user|has_group:"MSCC_CENTER" and not request.user.center %}
  <div class="alert alert-danger fade show" role="alert"> You don't have a center assigned to your profile please contact the administrator</div>
{% endif %}
</div>

<div class="row">
{% if request.user|has_group:"MSCC_FULL" and request.user|has_group:"MSCC_CENTER" and request.user.center.id %}
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-primary pr-2">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Core-Package">
                                                    Core Package
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-danger pr-2">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Walk-in">
                                                    Walk-in
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-danger-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}
{% if request.user|has_group:"MSCC_YOUTH" %}
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-primary pr-2">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Core-Package">
                                                    Add new Beneficiary
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}
{% if request.user|has_group:"MSCC_CENTER" and request.user.center.id or request.user|has_group:"MSCC_PARTNER" %}
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Attendance</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>
                                                    <span class="opacity-10 text-success pr-2">
                                                        <i class="fa fa-list"></i>
                                                    </span>
                                                    <a href="{% url 'mscc:attendance' %}">
                                                      Daily Attendance
                                                    </a>

                                                  <!--<small class="opacity-5 pr-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-warning-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}

                          <!--<div class="col-md-6 col-lg-3">-->
                              <!--<div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">-->
                                  <!--<div class="widget-chat-wrapper-outer">-->
                                      <!--<div class="widget-chart-content">-->
                                          <!--<div class="widget-title opacity-5 text-uppercase">Need RS support</div>-->
                                          <!--<div class="widget-numbers mt-2 fsize-4 mb-0 w-100">-->
                                              <!--<div class="widget-chart-flex align-items-center">-->
                                                  <!--<div>-->
                                                      <!--<small class="text-success pr-1">+</small>-->
                                                      <!--34-->
                                                      <!--<small class="opacity-5 pl-1">%</small>-->
                                                  <!--</div>-->
                                                  <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                      <!--<div class="circle-progress circle-progress-success-sm d-inline-block">-->
                                                          <!--<small></small>-->
                                                      <!--</div>-->
                                                  <!--</div>-->
                                              <!--</div>-->
                                          <!--</div>-->
                                      <!--</div>-->
                                  <!--</div>-->
                              <!--</div>-->
                          <!--</div>-->
                    </div>

<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button class="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>
                </button>

                <button href="" title="Cancel"
                 class="btn btn-outline-warning"><i class="fa fa-fw" aria-hidden="true"></i>
                </button>

              {% if user|has_group:"EXPORT" %}
                <a href="" title="Download" class="btn btn-outline-success download-report">
                    <i class="lnr-download"></i>
                </a>
                <div class = "downloading-message" style = "display:none">
                  Loading...
                </div>
              {% endif %}

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap4">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap4.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/mscc/list.js' %}?v=19"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>


{% endblock %}
