{% extends "mscc/base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load util_tags %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block project_title %}List{% endblock %}

{% block content %}
<div id="listApp"></div>
{% endblock %}

{% block modal %}
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel">
function ListApp() {
  return (
    <>

<div className="app-page-title">
                        <div className="page-title-wrapper">
                            <div className="page-title-heading">
                                <div>
                                    <div className="page-title-head center-elem page-title-heading">
                                        <span className="d-inline-block pr-2">
                                            <i className="fa fa-user"></i>
                                        </span>
                                        <span className="d-inline-block">
                                          {{ request.user.username }}
                                          {% if request.user|has_group:"MSCC_PARTNER" or request.user|has_group:"MSCC_CENTER"  %}
                                          - {{ request.user.partner }}
                                          {% endif %}
                                        </span>
                                    </div>
                                    <div className="page-title-subheading opacity-10">
                                        <nav className="" aria-label="breadcrumb">
                                            <ol className="breadcrumb">
                                                <li className="breadcrumb-item">
                                                    <a href="/">
                                                        <i aria-hidden="true" className="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li className="breadcrumb-item">
                                                      <a href="/">List</a>
                                                </li>
                                              {% if request.user|has_group:"MSCC_FULL" and request.user|has_group:"MSCC_CENTER" and request.user.center.id %}

                                                <li className="breadcrumb-item">
                                                    {{ request.user.center.governorate }}
                                                </li>
                                                <li className="breadcrumb-item">
                                                    {{ request.user.center.caza }}
                                                </li>
                                                <li className="breadcrumb-item">
                                                    {{ request.user.center.cadaster }} - {{ request.user.center.p_code }}
                                                </li>
                                                <li className="breadcrumb-item">
                                                    {{ request.user.center.name }} - {{ request.user.center.type }}
                                                </li>
                                              {% endif %}

                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div className="page-title-actions"></div>
                        </div>
</div>

<div className="row">
{% if request.user|has_group:"MSCC_CENTER" and not request.user.center %}
  <div className="alert alert-danger fade show" role="alert"> You don't have a center assigned to your profile please contact the administrator</div>
{% endif %}
</div>

<div className="row">
{% if request.user|has_group:"MSCC_FULL" and request.user|has_group:"MSCC_CENTER" and request.user.center.id %}
                        <div className="col-md-6 col-lg-3">
                            <div className="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div className="widget-chat-wrapper-outer">
                                    <div className="widget-chart-content">
                                        <div className="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div className="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div className="widget-chart-flex align-items-center">
                                                <div>

                                                    <span className="opacity-10 text-primary pr-2">
                                                        <i className="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Core-Package">
                                                    Core Package
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div className="col-md-6 col-lg-3">
                            <div className="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                                <div className="widget-chat-wrapper-outer">
                                    <div className="widget-chart-content">
                                        <div className="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div className="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div className="widget-chart-flex align-items-center">
                                                <div>

                                                    <span className="opacity-10 text-danger pr-2">
                                                        <i className="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Walk-in">
                                                    Walk-in
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}
{% if request.user|has_group:"MSCC_YOUTH" %}
                        <div className="col-md-6 col-lg-3">
                            <div className="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div className="widget-chat-wrapper-outer">
                                    <div className="widget-chart-content">
                                        <div className="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div className="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div className="widget-chart-flex align-items-center">
                                                <div>

                                                    <span className="opacity-10 text-primary pr-2">
                                                        <i className="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'mscc:child_add' %}?type=Core-Package">
                                                    Add new Beneficiary
                                                  </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}
{% if request.user|has_group:"MSCC_CENTER" and request.user.center.id or request.user|has_group:"MSCC_PARTNER" %}
                        <div className="col-md-6 col-lg-3">
                            <div className="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
                                <div className="widget-chat-wrapper-outer">
                                    <div className="widget-chart-content">
                                        <div className="widget-title opacity-5 text-uppercase">Attendance</div>
                                        <div className="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div className="widget-chart-flex align-items-center">
                                                <div>
                                                    <span className="opacity-10 text-success pr-2">
                                                        <i className="fa fa-list"></i>
                                                    </span>
                                                    <a href="{% url 'mscc:attendance' %}">
                                                      Daily Attendance
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{% endif %}

                    </div>

<div className="row">
    <div className="col-lg-12">
<div id="accordion" className="accordion-wrapper mb-3 form-filters">
    <div className="card">
        <div id="headingOne" className="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" className="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 className="m-0 p-0">
                    <i className="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" className="collapse" style="">
            <div className="card-body">
            <form action="" method="get" className="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button className="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" className="pe-7s-search"></i>
                </button>

                <button href="" title="Cancel"
                 className="btn btn-outline-warning"><i className="fa fa-fw" aria-hidden="true"></i>
                </button>

              {% if user|has_group:"EXPORT" %}
                <a href="" title="Download" className="btn btn-outline-success download-report">
                    <i className="lnr-download"></i>
                </a>
                <div className= "downloading-message" style = "display:none">
                  Loading...
                </div>
              {% endif %}

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div className="row table-list">
    <div className="col-lg-12">
        <div className="card-hover-shadow-2x mb-3 card">
            <div className="card-body">
                <div className="table-responsive dataTables_wrapper dt-bootstrap4">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap4.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
    </>
  );
}
ReactDOM.render(<ListApp />, document.getElementById('listApp'));
</script>
<script type="text/javascript" src="{% static 'js/project.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/mscc/list.js' %}?v=19"></script>
<script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>
{% endblock %}
