{% extends "base4.html" %}
{% load static i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block content %}

<!--<div class="app-page-title"><div class="page-title-wrapper"><div class="page-title-heading"><div class="page-title-icon"><i class="icon pe-7s-server icon-gradient bg-ripe-malin"></i></div><div>-->
    <!--Child Profile-->
    <!--<div class="page-title-subheading">-->
                                    <!--</div>-->
<!--</div></div><div class="page-title-actions">-->
<!--</div></div></div>-->


<div class="row">

        <div class="col-md-12">
                                    <div class="mb-3 card">
                                        <div class="tabs-lg-alternate card-header">
                                            <ul class="nav nav-justified">
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-0" class="nav-link active show">
                                                        <div class="widget-number">Child Info.</div>
                                                        <!--<div class="tab-subheading">-->
                                                                <!--<span class="pr-2 opactiy-6">-->
                                                                    <!--<i class="fa fa-comment-dots"></i>-->
                                                                <!--</span>-->
                                                            <!--Totals-->
                                                        <!--</div>-->
                                                    </a></li>
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-1" class="nav-link show">
                                                        <div class="widget-number">Provided Services</div>
                                                        <!--<div class="tab-subheading">Products</div>-->
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-2" class="nav-link show">
                                                        <div class="widget-number text-danger">Attendances</div>
                                                        <!--<div class="tab-subheading">-->
                                                            <!--<span class="pr-2 opactiy-6">-->
                                                                <!--<i class="fa fa-bullhorn"></i>-->
                                                            <!--</span>-->
                                                            <!--Income-->
                                                        <!--</div>-->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="tab-eg9-0" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'mscc/child_info_tab.html' %}
                                                </div>
                                            </div>
                                            <div class="tab-pane show" id="tab-eg9-1" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'mscc/child_services_tab.html' %}
                                                </div>
                                            </div>
                                            <div class="tab-pane show" id="tab-eg9-2" role="tabpanel">
                                                <div class="card-body"><p class="mb-0">
                                                  {% include 'mscc/child_attendance_tab.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>

{% endblock %}
