{% extends "base4.html" %}
{% load static i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block content %}

<!--<div class="app-page-title"><div class="page-title-wrapper"><div class="page-title-heading"><div class="page-title-icon"><i class="icon pe-7s-server icon-gradient bg-ripe-malin"></i></div><div>-->
    <!--Child Profile-->
    <!--<div class="page-title-subheading">-->
                                    <!--</div>-->
<!--</div></div><div class="page-title-actions">-->
<!--</div></div></div>-->

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-child"></i>
                                        </span>
                                        <span class="d-inline-block">Child Profile</span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a>
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    <a href="/">List</a>
                                                </li>
                                                <li class="active breadcrumb-item" aria-current="page">
                                                    Child Profile and Provided Services
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions">

                                {% if instance.child_outreach %}
                                <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-success" data-original-title="">
                                    <i class="lnr-thumbs-up btn-icon-wrapper"> </i>
                                </button>
                                {% else %}
                                <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-warning" data-original-title="">
                                    <i class="lnr-thumbs-down btn-icon-wrapper"> </i>
                                </button>

                                {% endif %}


                                <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary" data-original-title="">
                                    {{ instance.type }}
                                </button>

{% get_completion_rate instance as result %}

<div class="progress mr-3" style="height: 35px; float: right; width: 150px;">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ result }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ result }}%;">{{ result }}%</div>
</div>


                            </div>

                        </div>
</div>


<div class="row">

        <div class="col-md-12">
                                    <div class="mb-3 card">
                                        <div class="tabs-lg-alternate card-header">
                                            <ul class="nav nav-justified">
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-0" class="nav-link active show">
                                                        <div class="widget-number">Child Info.</div>
                                                        <!--<div class="tab-subheading">-->
                                                                <!--<span class="pr-2 opactiy-6">-->
                                                                    <!--<i class="fa fa-comment-dots"></i>-->
                                                                <!--</span>-->
                                                            <!--Totals-->
                                                        <!--</div>-->
                                                    </a></li>
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-1" class="nav-link show">
                                                        <div class="widget-number">Provided Services</div>
                                                        <!--<div class="tab-subheading">Products</div>-->
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-2" class="nav-link show">
                                                        <div class="widget-number text-danger">Attendances</div>
                                                        <!--<div class="tab-subheading">-->
                                                            <!--<span class="pr-2 opactiy-6">-->
                                                                <!--<i class="fa fa-bullhorn"></i>-->
                                                            <!--</span>-->
                                                            <!--Income-->
                                                        <!--</div>-->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="tab-eg9-0" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'mscc/child_info_tab.html' %}
                                                </div>
                                            </div>
                                            <div class="tab-pane show" id="tab-eg9-1" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'mscc/child_services_tab.html' %}
                                                </div>
                                            </div>
                                            <div class="tab-pane show" id="tab-eg9-2" role="tabpanel">
                                                <div class="card-body"><p class="mb-0">
                                                  {% include 'mscc/child_attendance_tab.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/mscc/mscc.js' %}"></script>

{% endblock %}
