{% extends "mscc/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load bootstrap4 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Health and Nutrition{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div>
                  <div class="page-title-head center-elem page-title-heading">
                      <span class="d-inline-block pr-2">
                          <i class="fa fa-id-card"></i>
                      </span>
                      <span class="d-inline-block">
                        Health and Nutrition
                      </span>
                  </div>
                  <div class="page-title-subheading opacity-10">
                      <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                  <a href="/">
                                      <i aria-hidden="true" class="fa fa-home"></i>
                                  </a>
                              </li>
                              <li class="breadcrumb-item">
                                    <a href="/MSCC/Child-Profile/{{ registry }}/?current_tab=services">{% get_child_fullname registry %}</a>
                              </li>
                               <li class="breadcrumb-item">
                                     Health and Nutrition
                              </li>
                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
          <div class="page-title-actions"></div>
      </div>
</div>

<!--        {{ form.errors }}-->

<div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="smartwizard3" class="forms-wizard-vertical">
                                        <ul class="forms-wizard">
                                            <li>
                                                <a href="#step-1">
                                                    <em>1</em><span>Health and Nutrition</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <em>2</em><span>Sessions</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="form-wizard-content">

                                           {% crispy form 'bootstrap4' %}
                                        </div>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="clearfix">
                                        <!--<button type="reset" id="reset-btn22" class="btn-shadow float-left btn btn-link">Reset</button>-->
                                        <a href="{% url 'mscc:list' %}" type="button" id="reset-btn22-1" class="btn-shadow float-left btn btn-link">Back to list</a>

                                        <!--<button type="submit" id="submit-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save</button>-->
                                        <!--<button type="submit" id="submit-btn22-1" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save & add another</button>-->

                                        <button type="button" id="next-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-primary">Next</button>
                                        <button type="button" id="prev-btn22" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>
                                    </div>
                                </div>
                            </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/mscc/service_health_nutrition.js' %}?v=13"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>

{% endblock %}
