{% extends "mscc/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}LEGO{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<div class="page-header">
    <div class="page-header-titles">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'mscc:list' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                      <a href="{% url 'mscc:child_profile' registry %}?current_tab=services">{% get_child_fullname registry %}</a>
                </li>
                 <li class="breadcrumb-item">
                       LEGO
                </li>
            </ol>
        </nav>
        <h1 class="page-header-title"><i class="fa fa-id-card"></i> LEGO</h1>
    </div>
</div>

<!--        {{ form.errors }}-->

<div class="main-card mb-3 card">
    <div class="card-body">
        {# LEGO has only one section, so it must not initialize the AJAX/hash-based wizard. #}
        <div>
            {% crispy form 'bootstrap5' %}
        </div>
        <div class="divider"></div>

        <div class="clearfix">
            <a href="{% url 'mscc:list' %}" id="reset-btn22-1" class="btn-shadow float-left btn btn-link">Back to list</a>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>

{% endblock %}
