{% load staticfiles i18n %}
{% load util_tags %}

<div class="mb-2 mr-2 btn-group dropdown" style="position: relative;">
    <button class="btn btn-outline-primary">Actions</button>
    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-outline-primary">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start">
        <a href="{{ column.attrs.url_edit }}{{ record.id }}" tabindex="0" class="dropdown-item">
            <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info">
                <i class="ion-android-create btn-icon-wrapper"></i>
            </button>
            {% trans "Edit" %}
        </a>
        <form method="post"
              action="{{ column.attrs.url_delete }}{{ record.id }}/"
              class="dropdown-item"
              onsubmit="return confirm('{% trans 'Are you sure you want to delete this teacher?' %}');">
            {% csrf_token %}
            <button type="submit" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-danger">
                <i class="ion-android-delete btn-icon-wrapper"></i>
            </button>
            {% trans "Delete" %}
        </form>

    </div>
</div>
