{% load static i18n %}
{% load static i18n %}
{% load util_tags %}
{% load youth_tags %}

<div class="row staff-profile">
<!--Youth Bio Data-->
<div class="col-md-12 col-lg-6 col-xl-4">
                            <div class="card-shadow-primary profile-responsive card-border mb-3 card">
<div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner bg-info">
                                        <div class="menu-header-image opacity-3"></div>
                                        <div class="menu-header-content btn-pane-right">
                                            <div class="avatar-icon-wrapper mr-2 avatar-icon-xl">
                                                <div class="avatar-icon rounded">
                                                    {% if instance.adolescent.gender == 'Female' %}
                                                        <img src="{% static 'images/avatars/female.png' %}">
                                                    {% else %}
                                                        <img src="{% static 'images/avatars/male.png' %}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="menu-header-title">{{ instance.adolescent.full_name }}</h5>
                                                <h6 class="menu-header-subtitle">Father: {{ instance.adolescent.father_name  }}</h6>
                                                <h6 class="menu-header-subtitle">Mother: {{ instance.adolescent.mother_fullname  }}</h6>
                                            </div>
                                            <!--<div class="menu-header-btn-pane">-->
                                                <!--<button class="button btn btn-pill btn-dark" data-style="slide-right"><a href="/youth/Child-Edit/{{ instance.id }}" style="color: white;"><i class="pe-7s-pen"></i></a></button>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush" style="height: 400px; overflow: scroll;">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Nationality</div>
                                                        {% if instance.adolescent.nationality.id == 6  %}
                                                            <div class="widget-subheading">{{ instance.adolescent.nationality.name }} - {{ instance.adolescent.nationality_other }}</div>
                                                        {% else %}
                                                            <div class="widget-subheading">{{ instance.adolescent.nationality.name }}</div>
                                                        {% endif %}
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">ID type - Number</div>
                                                    <div class="widget-subheading">
                                                      {% if instance.adolescent.id_type.id != 7 %}
                                                        {{ instance.adolescent.id_type.name }} - {{ instance.adolescent.id_number }}
                                                      {% else %}
                                                        {{ instance.adolescent.id_type.name }}
                                                      {% endif %}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                  <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Birthday</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.adolescent.birthday }} - {{ instance.adolescent.age_year_month }}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Number</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.adolescent.number }}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Any disability or special need?</div>
                                                    <div class="widget-subheading">
                                                      {{ instance.adolescent.disability }}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

<!--General Info-->
<div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="mb-3 card">
                                    <!--<div class="card-header-tab card-header">-->
                                        <!--<div class="card-header-title font-size-lg text-capitalize font-weight-normal">-->
                                            <!--<i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>-->
                                            <!--Details-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">General info.
                                                      <div style="float:right;">
                                                            <a href="/youth/Child-Edit/{{ instance.id }}/" data-toggle="tooltip" data-placement="top" data-original-title="Edit Youth Infos."><i class="pe-7s-pen"></i></a>
                                                      </div>
                                                    </h5>
                                                    <!--<h6 class="menu-header-subtitle">-->
                                                        <!--You have-->
                                                        <!--<b class="text-info">21 </b>-->
                                                        <!--unread messages-->
                                                    <!--</h6>-->
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active show" id="tab-c-1" data-toggle="tab" href="#tab-animated-1" aria-selected="true">
                                                    <span>Address</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link" id="tab-c-0" data-toggle="tab" href="#tab-animated-0">
                                                    <span>Household</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="tab-animated-0" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 340px;">
                                                    <div class="scrollbar-container ps ps--active-y">
                                                        <div class="p-3">
                                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-graduation-hat text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Father’s educational level</h4>
                                                                            <p> {{instance.adolescent.father_educational_level}}</p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-graduation-hat text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Mother’s educational level</h4>
                                                                            <p> {{instance.adolescent.mother_educational_level}}</p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-phone text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Household's/Relatives Primary phone number</h4>
                                                                            <p> {{instance.adolescent.first_phone_number}}</p></div>
                                                                    </div>
                                                                </div>


                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-phone-handset text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Household's/Relatives Secondary phone number</h4>
                                                                            <p> {{instance.adolescent.second_phone_number}}</p></div>
                                                                    </div>
                                                                </div>
                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-users text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Youth's primary caretaker</h4>
                                                                          {% if instance.adolescent.main_caregiver == 'Other'  %}
                                                                              <p> {{instance.adolescent.main_caregiver}} - {{instance.adolescent.main_caregiver_other}}</p>
                                                                          {% else %}
                                                                              <p> {{instance.adolescent.main_caregiver}}</p>
                                                                          {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-cloud text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Caretaker's Full Name</h4>
                                                                            <p> {{instance.adolescent.caregiver_full_name}}</p></div>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="pe-7s-user-female text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Caretaker's Mother Full Name</h4>
                                                                            <p> {{instance.adolescent.caregiver_mother_name}}</p></div>
                                                                    </div>
                                                                </div>
                                                               <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-users text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Youth's primary caretaker</h4>
                                                                          {% if instance.adolescent.main_caregiver_nationality.id == 6 %}
                                                                              <p> {{instance.adolescent.main_caregiver_nationality}} - {{instance.adolescent.main_caregiver_other}}</p>
                                                                          {% else %}

                                                                              <p> {{instance.adolescent.main_caregiver_nationality}}</p>
                                                                          {% endif %}
                                                                        </div>
                                                                    </div>
                                                               </div>
                                                              <div class="vertical-timeline-item vertical-timeline-element">
                                                                    <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-dark"><i class="lnr-users text-dark"></i></div></span>
                                                                        <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Youth's ID Type</h4>
                                                                          {% if instance.adolescent.id_type.id != 7 %}
                                                                              <p> {{ instance.adolescent.id_type.name }} - {{ instance.adolescent.caregiver_id_number }}</p>
                                                                          {% else %}
                                                                              <p> {{ instance.adolescent.id_type.name }}</p>
                                                                          {% endif %}
                                                                        </div>
                                                                    </div>
                                                               </div>

                                                            </div>
                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 200px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 99px;"></div></div></div>
                                                </div>
                                            </div>
                                            <div class="tab-pane active show" id="tab-animated-1" role="tabpanel">
                                                <div class="scroll-area-sm" style="height: 340px;">
                                                    <div class="scrollbar-container ps">
                                                        <div class="p-3">

                                                    <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column">


                                                      <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-home text-info"></i></div></span>

                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">
                                                                    Address

                                                                </h4>
                                                                    <p>
                                                                        <span class="badge badge-dot badge-dot-lg badge-dot-inside"></span>
                                                                    </p>
                                                                    <p> {{ instance.adolescent.address }}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="vertical-timeline-item vertical-timeline-element">
                                                            <div><span class="vertical-timeline-element-icon bounce-in"><div class="timeline-icon border-info"><i class="pe-7s-map-marker text-info"></i></div></span>
                                                                <div class="vertical-timeline-element-content bounce-in"><h4 class="timeline-title">Governorate / District / Cadaster</h4>
                                                                    <p> {{ instance.adolescent.governorate }} / {{ instance.adolescent.district }} / {{ instance.adolescent.cadaster }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                        </div>
                                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav flex-column">
                                            <li class="nav-item-btn text-center pt-4 pb-3 nav-item">
                                                <!--<button class="btn-shadow btn-wide btn-pill btn btn-dark">-->
                                                    <!--<span class="badge badge-dot badge-dot-lg badge-info badge-pulse">Badge</span>-->
                                                    <!--View All Messages-->
                                                <!--</button>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

  <!--Education history and current situation -->
<div class="col-md-12 col-lg-6 col-xl-4">
  {% program_data 'EnrolledPrograms' instance as result %}
                                <div class="mb-3 card">
                                    <!--<div class="card-header-tab card-header">-->
                                        <!--<div class="card-header-title font-size-lg text-capitalize font-weight-normal">-->
                                            <!--<i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>-->
                                            <!--Details-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">Enrolled Programs
                                                      <div style="float:right;">
                                                        <a href="/youth/Program/Enrolled-Programs-Add/{{ instance.id }}/" data-toggle="tooltip" data-placement="top" data-original-title="Add Program Infos."><i class="pe-7s-plus"></i></a>
                                                      </div>
                                                    </h5>
                                                    <!--<h6 class="menu-header-subtitle">-->
                                                        <!--You have-->
                                                        <!--<b class="text-info">21 </b>-->
                                                        <!--unread messages-->
                                                    <!--</h6>-->
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-shadow-bordered p-3">
                                            <li class="nav-item">
                                                <a role="tab" class="nav-link active show" id="tab-c-3" data-toggle="tab" href="#tab-animated-3" aria-selected="true">
                                                    <span>Program</span>
                                                </a>
                                            </li>
<!--                                            <li class="nav-item">-->
<!--                                                  <a role="tab" class="nav-link" id="tab-c-4" data-toggle="tab" href="#tab-animated-4">-->
<!--                                                      <span>Education History</span>-->
<!--                                                  </a>-->
<!--                                              </li>-->
                                        </ul>

                                        <div class="tab-content">
                                                                          <ul class="list-group list-group-flush" style="height: 400px; overflow: scroll;">

                                          {% for prog in result %}
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">{{prog.program}}</div>
                                                            <div class="widget-subheading">{{prog.sub_program}} -- {{prog.registration_date}} -- {{prog.completion_date}}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                                                          {% endfor %}

                                </ul>
                                        </div>
                                        <ul class="nav flex-column">
                                            <li class="nav-item-btn text-center pt-4 pb-2 nav-item">
                                                <!--<button class="btn-shadow btn-wide btn-pill btn btn-dark">-->
                                                    <!--<span class="badge badge-dot badge-dot-lg badge-info badge-pulse">Badge</span>-->
                                                    <!--View All Messages-->
                                                <!--</button>-->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


</div>
