{% extends "youth/base.html" %}

{% block project_title %}Dashboard{% endblock %}
{% block module_name %}Youth - Dashboard{% endblock %}

{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-head center-elem page-title-heading">
                <span class="d-inline-block pr-2">
                    <i class="pe-7s-display1"></i>
                </span>
                <span class="d-inline-block">Dashboard</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <iframe title="Youth Dashboard" width="95%" height="600" src="https://app.powerbi.com/links/GqLX-KzJAM?ctid=77410195-14e1-4fb8-904b-ab1892023667&amp;pbi_source=linkShare" frameborder="0" allowfullscreen="true"></iframe>
</div>
{% endblock content %}
