{% extends "youth/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load bootstrap4 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-child"></i>
                                        </span>
                                        <span class="d-inline-block">
                                          {% if form.instance.id == None %}
                                            Add New Youth
                                          {% else %}
                                            Edit Youth Info.
                                          {% endif %}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'youth:list' %}">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {% if form.instance.id == None %}
                                                      <a href="{% url 'youth:list' %}">List</a>
                                                    {% else %}
                                                      <a href="/youth/Child-Profile/{{ form.instance.id }}">Youth Profile</a>
                                                    {% endif %}
                                                </li>
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.governorate }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.caza }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.cadaster }} - {{ request.user.center.p_code }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.name }} - {{ request.user.center.type }}-->
<!--                                                </li>-->
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>

                        </div>
</div>

{{ form.errors }}

<div class="" style="display:none;" id="child-duplication-error">
  <div class="alert alert-danger fade show" role="alert" id="child-duplication-error-text"></div>
</div>

<div class="row">

<div class="main-card mb-3 card {% if form.instance.id == None %}col-md-9{% else %}col-md-12{% endif %}">
                                <div class="card-body">
                                    <div id="smartwizard3" class="forms-wizard-vertical">
                                        <ul class="forms-wizard">
                                            <!--<li>-->
                                                <!--<a href="#step-1">-->
                                                    <!--<em>1</em><span>General Information</span>-->
                                                <!--</a>-->
                                            <!--</li>-->
                                            <li>
                                                <a href="#step-1">
                                                    <em>1</em><span>Youth Information</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <em>2</em><span>Parent/Caregiver Information</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="form-wizard-content">

                                           {% crispy form 'bootstrap4' %}
                                        </div>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="clearfix">
                                        <!--<button type="reset" id="reset-btn22" class="btn-shadow float-left btn btn-link">Reset</button>-->
                                        <a href="{% url 'youth:list' %}" type="button" id="reset-btn22-1" class="btn-shadow float-left btn btn-link">Back to list</a>

                                        <!--<button type="submit" id="submit-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save</button>-->
                                        <!--<button type="submit" id="submit-btn22-1" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save & add another</button>-->

                                        <button type="button" id="next-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-primary" style="display: none;">Next</button>
                                        <button type="button" id="next-page" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-primary">Next</button>
                                        <button type="button" id="prev-btn22" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>
                                    </div>
                                </div>
                            </div>
{% if form.instance.id == None %}
  <div class="col-md-3" id="outreach-nfe-result">
    <div class="main-card mb-3 card">
      <div class="card-header"><i class="header-icon pe-7s-filter icon-gradient bg-plum-plate"> </i>Outreach filter result</div>
                                                  <div id="search_loader" class="loader-wrapper d-flex justify-content-center align-items-center hidden" style="position: absolute; top: 100px; left: 25%;">
                                                    <div class="loader">
                                                        <div class="ball-spin-fade-loader">
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="card-body" style="height: 225px; overflow: auto;">
                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column" id="outreach_search_result">
                                                <!--<div class="vertical-timeline-item vertical-timeline-element">-->
                                                    <!--<div>-->
                                                        <!--<div class="vertical-timeline-element-icon bounce-in">-->
                                                            <!--<div class="timeline-icon border-success bg-success">-->
                                                                <!--<i class="fa fa-child text-white"></i>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<div class="vertical-timeline-element-content bounce-in">-->
                                                            <!--<h4 class="timeline-title text-success">FontAwesome Icons</h4>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            </div>
                                        </div>
                                    </div>
    <div class="main-card mb-3 card">
      <div class="card-header"><i class="header-icon pe-7s-filter icon-gradient bg-plum-plate"> </i>Previous data</div>
                                                  <div id="nfe_search_loader" class="loader-wrapper d-flex justify-content-center align-items-center hidden" style="position: absolute; top: 100px; left: 25%;">
                                                    <div class="loader">
                                                        <div class="ball-spin-fade-loader">
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                            <div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                        <div class="card-body" style="height: 225px; overflow: auto;">
                                            <div class="vertical-time-icons vertical-timeline vertical-timeline--animate vertical-timeline--one-column" id="nfe_search_result">
                                                <!--<div class="vertical-timeline-item vertical-timeline-element">-->
                                                    <!--<div>-->
                                                        <!--<div class="vertical-timeline-element-icon bounce-in">-->
                                                            <!--<div class="timeline-icon border-success bg-success">-->
                                                                <!--<i class="fa fa-child text-white"></i>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                        <!--<div class="vertical-timeline-element-content bounce-in">-->
                                                            <!--<h4 class="timeline-title text-success">FontAwesome Icons</h4>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                            <!--<p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            </div>
                                        </div>
                                    </div>
</div>
{% endif %}
</div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/validator.js' %}?v=1"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/youth/youth.js' %}?v=20"></script>
    <script type="text/javascript" src="{% static 'js/youth/general.js' %}?v=1"></script>

    <script>
      var url = "{% url 'youth:load_districts' %}";
      var url_cadasters = "{% url 'youth:load_cadasters' %}";

      $("#id_adolescent_governorate").change(function () {
          load_districts(url);
          load_cadasters(url_cadasters);
      });
      $("#id_adolescent_district").change(function () {
          load_cadasters(url_cadasters);
      });
    </script>



{% endblock %}
