{% extends "youth/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% load youth_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div>
                  <div class="page-title-head center-elem page-title-heading">
                      <span class="d-inline-block pr-2">
                          <i class="fa fa-id-card"></i>
                      </span>
                      <span class="d-inline-block">
                        Register the Youth in a new Round
                      </span>
                  </div>
                  <div class="page-title-subheading opacity-10">
                      <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                  <a href="{% url 'youth:list' %}">
                                      <i aria-hidden="true" class="fa fa-home"></i>
                                  </a>
                              </li>
                              <li class="breadcrumb-item">
                                    <a href="{% url 'youth:child_profile' registry %}?current_tab=services">{% get_child_fullname registry %}</a>
                              </li>
                               <li class="breadcrumb-item">
                                     New Round
                              </li>

                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
          <div class="page-title-actions"></div>
      </div>
</div>

        <!--{{ form.errors }}-->

<div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="smartwizard3" class="forms-wizard-vertical">
                                        <ul class="forms-wizard">
                                            <li>
                                                <a href="#step-1">
                                                    <em>1</em><span>Register the Youth in a new Round</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="form-wizard-content">
                                          <form>
                                            <div id="step-1">

                                              <div class="row card-body">
                                                <h2>To add this youth to a new round, click on the "Confirm" button to create a new registration and start adding the Education information.</h2>
                                              </div>
                                                <br>
                                                {% get_child_rounds registry as child_rounds  %}
                                                {% if child_rounds  %}
                                                    <div class="row card-body">
                                                        <h5>Regitration History</h5><br>
                                                    </div>
                                                    {% for child_round in child_rounds %}
                                                      <div class="row card-body">
                                                        <h6>{{ child_round }}</h6><br>
                                                      </div>
                                                    {% endfor %}
                                                {% endif %}


                                              <!--<div class="row card-body">-->
                                                  <div class="form-group" style="padding-top: 100px;">
                                                    <div class="">
                                                      <a type="button" href="/youth/New-Round-Redirect/?registry={{registry}}&new_round_confirmation=confirmed" name="new_round_confirmation" class="btn btn-primary btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success" id="submit-id-save">Confirm</a>
                                                      <a type="reset" name="cancel" class="btn btn-inverse btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-warning" id="reset-id-reset">Cancel</a>
                                                    </div>
                                                  </div>
                                              <!--</div>-->

                                            </div>

                                          </form>

                                        </div>
                                    </div>
                                    <!--<div class="divider"></div>-->

                                    <div class="clearfix">
                                        <!--<button type="reset" id="reset-btn22" class="btn-shadow float-left btn btn-link">Reset</button>-->
                                        <!--<a href="{% url 'youth:list' %}" type="button" id="reset-btn22-1" class="btn-shadow float-left btn btn-link">Back to list</a>-->

                                        <!--<button type="submit" id="submit-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save</button>-->
                                        <!--<button type="submit" id="submit-btn22-1" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-success">Save & add another</button>-->

                                        <!--<button type="button" id="next-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-primary">Next</button>-->
                                        <!--<button type="button" id="prev-btn22" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>-->
                                    </div>
                                </div>
                            </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/youth/service_digital.js' %}?v=5"></script>
    <script type="text/javascript" src="{% static 'js/youth/general.js' %}?v=1"></script>

{% endblock %}
