{% extends "youth/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

{% block content %}
<style>
    .wide-dropdown {
        width: 200px;
    }
    .wide-checkbox input[type="checkbox"] {
      width: 50px;
    }
    /* Wider select box */
    .long-select {
        width: 100% !important;
        white-space: nowrap; /* Prevents text from wrapping */
        overflow-x: auto; /* Enables horizontal scroll */
    }

    /* Optional: improve scrollbar appearance */
    .long-select::-webkit-scrollbar {
        height: 6px;
    }
    .long-select::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }
</style>
<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="d-inline-block">
                                            {{ request.user.username }} - {{ request.user.partner }}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'youth:list' %}">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                      <a href="{% url 'youth:list' %}">List</a>
                                                </li>
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.governorate }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.caza }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.cadaster }} - {{ request.user.center.p_code }}-->
<!--                                                </li>-->
<!--                                                <li class="breadcrumb-item">-->
<!--                                                    {{ request.user.center.name }} - {{ request.user.center.type }}-->
<!--                                                </li>-->


                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>
                        </div>
</div>

<div class="row">
{% if request.user|has_group:"youth_CENTER" and not request.user.center %}
  <div class="alert alert-danger fade show" role="alert"> You don't have a center assigned to your profile please contact the administrator</div>
{% endif %}
</div>

<div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-primary border-primary card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">Registration</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-primary pr-2">
                                                        <i class="fa fa-list"></i>
                                                    </span>
                                                  <a href="{% url 'youth:list' %}">
                                                    Youth List
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-success border-success card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">New Program Document</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-success pr-2">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'youth:program_program_document_add' %}">
                                                    Add Program Document
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-gradient-alt-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>

<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button class="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>
                </button>

               <button type="button" title="Cancel" class="btn btn-outline-warning" onclick="window.location.href='{% url 'youth:pd_list' %}'">
                    <i class="fa fa-fw" aria-hidden="true"></i>
                </button>

                <a href="" title="Download" class="btn btn-outline-success download-report">
                    <i class="lnr-download"></i>
                </a>

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap5">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/youth/pd_list.js' %}?v=4"></script>
    <script type="text/javascript" src="{% static 'js/youth/general.js' %}?v=1"></script>


{% endblock %}
