{% extends "youth/base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load util_tags %}
{% bootstrap_css %}

{% block content %}
<style>
    .wide-dropdown {
        width: 200px;
    }
    .wide-checkbox input[type="checkbox"] {
      width: 50px;
    }
    .table th,
    .table td {
        vertical-align: top !important;
        text-align: left;
    }
    /* Wider select box */
    .long-select {
        width: 100% !important;
        white-space: nowrap; /* Prevents text from wrapping */
        overflow-x: auto; /* Enables horizontal scroll */
    }

    /* Optional: improve scrollbar appearance */
    .long-select::-webkit-scrollbar {
        height: 6px;
    }
    .long-select::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 3px;
    }
    .master-programs-col {
        min-width: 400px;
        width: 40%;
        white-space: normal;
    }
</style>
<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="d-inline-block">
                                            {{ request.user.username }} - {{ request.user.partner }}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                      <a href="{% url 'youth:pd_list' %}">List</a>
                                                </li>


                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions">
<a href="{% url 'youth:program_program_document_add' %}" class="mr-3 btn-icon btn btn-info"><i class="fa fa-plus btn-icon-wrapper"> </i>Add Programme Document</a>
                        </div>
                        </div>
</div>


<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
               {% crispy filter.form 'bootstrap5' %}
            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap5">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/youth/pd_list.js' %}?v=4"></script>
    <script type="text/javascript" src="{% static 'js/youth/general.js' %}?v=1"></script>


{% endblock %}
