{% extends "youth/base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load bootstrap4 %}
{% load util_tags %}
{% load youth_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<div class="app-page-title">
      <div class="page-title-wrapper">
          <div class="page-title-heading">
              <div>
                  <div class="page-title-head center-elem page-title-heading">
                      <span class="d-inline-block pr-2">
                          <i class="fa fa-id-card"></i>
                      </span>
                      <span class="d-inline-block">
                        Program Document
                      </span>
                  </div>
                  <div class="page-title-subheading opacity-10">
                      <nav class="" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">
                                  <a href="{% url 'youth:list' %}">
                                      <i aria-hidden="true" class="fa fa-home"></i>
                                  </a>
                              </li>
                               <li class="breadcrumb-item">
                                     Program Document
                              </li>

                          </ol>
                      </nav>
                  </div>
              </div>
          </div>
          <div class="page-title-actions"></div>
      </div>
</div>

        <!--{{ form.errors }}-->

<div class="main-card mb-3 card">
                                <div class="card-body">
                                    <div id="smartwizard3" class="forms-wizard-vertical">
                                        <ul class="forms-wizard">
                                            <li>
                                                <a href="#step-1">
                                                    <em>1</em><span>Program Document</span>
                                                </a>
                                            </li>
                                           {% if request.user|has_group:"YOUTH_UNICEF" %}
                                            <li>
                                                <a href="#step-2">
                                                    <em>2</em><span>Donors</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <em>3</em><span>Master Programs</span>
                                                </a>
                                            </li>
                                          {% else %}
                                            <li>
                                                <a href="#step-2">
                                                    <em>2</em><span>Master Programs</span>
                                                </a>
                                            </li>
                                           {% endif %}
                                        </ul>
                                        <div class="form-wizard-content">

                                           {% crispy form 'bootstrap4' %}
                                        </div>
                                    </div>
                                    <div class="divider"></div>

                                    <div class="clearfix">
                                        <!--<button type="reset" id="reset-btn22" class="btn-shadow float-left btn btn-link">Reset</button>-->
                                        <a href="{% url 'youth:list' %}" type="button" id="reset-btn22-1" class="btn-shadow float-left btn btn-link">Back to list</a>
                                      <button type="button" id="next-btn22" class="btn-shadow btn-wide float-right btn-pill mr-3 btn-hover-shine btn btn-primary">Next</button>
                                      <button type="button" id="prev-btn22" class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondary">Previous</button>

                                    </div>
                                </div>
                            </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/youth/program_document.js' %}?v=11"></script>
    <script type="text/javascript" src="{% static 'js/youth/general.js' %}?v=1"></script>

<!--    <script type="text/javascript">-->
<!--    $(document).ready(function() {-->

<!--        $('#prev-btn22').addClass('d-none');-->

<!--        $('#prev-btn22').click(function(e){-->
<!--            updateButtonVisibility();-->
<!--        });-->
<!--        $('#next-btn22').click(function(e){-->
<!--            updateButtonVisibility();-->
<!--        });-->

<!--        function updateButtonVisibility() {-->
<!--            const activeStepIndex = $('#smartwizard3 .forms-wizard li.active').index();-->
<!--            const totalSteps = $('#smartwizard3 .forms-wizard li').length - 1;-->


<!--            $('#prev-btn22').removeClass('d-none');-->
<!--            $('#next-btn22').removeClass('d-none');-->

<!--            if (activeStepIndex < 0) {-->
<!--                $('#prev-btn22').addClass('d-none');-->
<!--            }-->

<!--            if (activeStepIndex >= totalSteps-1) {-->
<!--                $('#next-btn22').addClass('d-none');-->
<!--            }-->
<!--        }-->

<!--    });-->
<!--</script>-->


{% endblock %}
