{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-alert.css' %}">

{% endblock %}

{% block content-full-page %}

    <style>
        .synchro-status.success {
            background-color: #1ABB9C !important;
        }
        .synchro-status.failed {
            background-color: #ac2925 !important;
        }
        tr.highlighted {
            background-color: darkseagreen !important;
        }
        .registration-field-p:focus {
            background-color: yellow;
        }
        .registration-field:focus {
            background-color: yellow;
        }
        tr.warning {
            border: 3px solid #90111A;
        }
    </style>

    {% include 'enrollments/prototype_edit.html' %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                <div class="alert alert-success" role="alert" id="alert-synchro-success" style="display: none;"><strong>{% trans 'Well done' %}</strong> {% trans 'Synchronization success' %}</div>
                <div class="alert alert-warning" role="alert" id="alert-synchro-warning" style="display: none;"><strong>{% trans 'Warning' %}</strong> {% trans 'Please check fill required field' %}</div>
                <div class="alert alert-danger" role="alert" id="alert-connection" style="display: none;">{% trans 'Please check your internet connectivity' %}</div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading" style="position: absolute; top:50px;" id="header">
                            <ol class="breadcrumb">
                                <li><h3 class="panel-title">{% trans "Editing students data" %}</h3></li>
                                <li>
                                  <button class="btn btn-info" id="registration-synchro">
                                    <i class="icon-synch-sign icon-white"></i>&nbsp;
                                        {% trans "synchronize" %}
                                  </button>
{#                                  <button class="btn btn-info" id="attendance-push">#}
{#                                    <i class="icon-synch-sign icon-white"></i>&nbsp;#}
{#                                        {% trans "push to tablet" %}#}
{#                                  </button>#}
                                  <button class="btn btn-info" id="registration-download">
                                    <i class="icon-synch-sign icon-white"></i>&nbsp;
                                        {% trans "download data" %}
                                  </button>
                                    <a class="btn btn-info" id="registration-export" href="{% url "enrollments:enrollment_export" %}" target="_blank">
                                        <i class="icon-export-sign icon-white"></i>&nbsp;
                                            {% trans "Export" %}
                                    </a>
                                </li>
                                <li>
                                    <select name="classroom" id="filter_class" class="col-200">
                                        <option value="0">{% trans "Filter by Class" %}</option>
                                        {% for item in classrooms %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name="section" id="filter_section" class="col-200">
                                        <option value="0">{% trans "Filter by Section" %}</option>
                                        {% for item in sections %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-success" id="filter_go">
                                        {% trans "Filter data" %}
                                    </button>
                                    <button class="btn btn-warning" id="filter_cancel">
                                        {% trans "Rest filter" %}
                                    </button>
                                </li>
                            </ol>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-heading">
                            <ol class="breadcrumb">
                                <li>{{ school }}</li>
                                <li>{{ location }}</li>
                                <li>{{ location_parent }}</li>
                                <li>{% trans "Total students" %} <span class="badge ttl_students">{{ total }}</span></li>
                            </ol>
                        </div>
                          <div class="panel-body">
                              <div class="loader"></div>
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%" style="margin-bottom: 100px; margin-top: 75px;">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th rowspan="2">&nbsp;</th>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2"><label>{% trans "Student first name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student father name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student last name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Sex" %}</label></th>
                                        <th colspan="3" style="text-align: center;"><label>{% trans "Student birthday" %}</label></th>
                                        <th rowspan="2"><label class="col-60">{% trans "Student age" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student nationality" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Mother fullname" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Mother nationality" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Registered in UNHCR" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student ID Type" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student ID Number" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student living address" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Phone number (6 digits)" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Phone prefix (2 digits)" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Current Class" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Current Section" %}</label></th>
                                        <th colspan="6" style="text-align: center; background-color: #67b168;"><label>{% trans "Last student education" %}</label></th>
                                        <th colspan="4" style="text-align: center; background-color: #ec971f;"><label>{% trans "Last student informal education" %}</label></th>
                                    </tr>
                                    <tr id="thead-line-2">
                                        <th><label>{% trans "year" %}</label></th>
                                        <th><label>{% trans "month" %}</label></th>
                                        <th><label>{% trans "day" %}</label></th>
                                        <th style="background-color: #67b168;"><label class="col-100">{% trans "Last education level" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "School type" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "School shift" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "School" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "Education year" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "Result" %}</label></th>
                                        <th style="background-color: #ec971f;"><label class="col-150">{% trans "Is the child participated in an ALP/2016-2 program" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP level" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP round" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP result" %}</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div style="position: fixed; bottom: 10px; {% if LANGUAGE_CODE == 'ar-ar' %}right: 35px;{% else %}left: 35px;{% endif %}">
{#                              <button class="btn btn-success" id="add_datatable_line">#}
{#                                <i class="icon-plus-sign icon-white"></i>&nbsp;#}
{#                                    {% trans "Add empty line" %}#}
{#                              </button>#}
{#                              <button class="btn btn-success" id="add_defined_lines">#}
{#                                <i class="icon-plus-sign icon-white"></i>&nbsp;#}
{#                                    {% trans "Add defined number of lines" %}#}
{#                              </button>#}
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript">
        var oTable = null;
        var db = null;
    </script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/appcache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
    <script type="text/javascript">
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var school_id = {{ request.user.school_id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var rows = 1;
        var limit = 100;
        var offset = 0;
        var total = {{ total }};
        var filter_on = false;
        var synchro_result = true;
        var prototype = $('#registration_prototype');
        var table = $('#registrations-table');
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = protocol+'{{ request.get_host }}';
        var synchro_path = host+'/api/enrollments/';
        var arabic_fields = "#student_address, #student_mother_fullname, #student_first_name, #student_father_name, #student_last_name";

        $(document).ready(function(){

            createStores();
            bootbox.addLocale(language, {
                OK : '{% trans "Ok" %}',
                CANCEL : '{% trans "Cancel" %}',
                CONFIRM : '{% trans "Confirm" %}'
            });
            bootbox.setLocale(language);

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('blur', arabic_fields, function(){
                checkArabicOnly($(this));
            });

            $(document).on('click', 'tbody tr', function(){
                $('tbody').find('tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });

            $(window).scroll(function () {
                var l = $(this).scrollLeft();
                if(parseInt(l) <= 0){
                    $('#header').css({'left': l});
                }else{
                    $('#header').css({'right': -l});
                }

                if($(window).scrollTop() == $(document).height() - $(window).height()){
                    if(filter_on == true){
                        return false;
                    }
                    var total_records = $('#registrations-table').find('tr.registration-line').length;
                    if(total_records < total) {
                        offset = limit;
                        limit = limit + 100;
                        $('#load_more_data').hide();
                        $(".loader").show();
                        build_datatable();
                    }else{
                        $(".loader").hide();
                    }
                }
            });

            $(document).on('click', '#registered_in_unhcr_1, #registered_in_unhcr_0', function(){
                var itemscope = $(this).attr('itemscope');
                var id_type = $('#line-'+itemscope).find('#student_id_type');
                if($(this).attr('data-value') == 'yes'){
                    $(id_type).val(1);
                    $(id_type).trigger('blur');
                    $(id_type).attr('disabled', 'disabled');
                }else{
                    $(id_type).val('');
                    $(id_type).trigger('blur');
                    $(id_type).removeAttr('disabled');
                }
            });

            $(document).on('click', '#participated_in_alp_1, #participated_in_alp_0', function(){
                var itemscope = $(this).attr('itemscope');
                var alp_details = $('#line-'+itemscope).find('.alp_details');
                if($(this).attr('data-value') == 'yes'){
                    $(alp_details).removeAttr('disabled');
                }else{
                    $(alp_details).val('');
                    $(alp_details).trigger('blur');
                    $(alp_details).attr('disabled', 'disabled');
                }
            });

            $(document).on('click', '#filter_go', function(){
                filter_on = true;
                $(".loader").show();
                var classroom = $('#filter_class').val();
                var section = $('#filter_section').val();

                if((classroom != 0 && section != 0) || classroom != 0){
                    filterByClass(classroom, section);
                }else{
                    filter_on = false;
                    $(".loader").hide();
                }
            });

            $(document).on('click', '#filter_cancel', function(){
                filter_on = false;
                incremental_id = 1;
                offset = 0;
                limit = 100;
                build_datatable();
                $('#filter_class').val('');
                $('#filter_section').val('');
                $('#input#search').val('');
            });

            $(document).on('click', '#add_datatable_line', function(){
                var item = create_item_store_default_keys();
                add_to_store(item);
                scrollToBottom();
            });

            $(document).on('click', '#add_defined_lines', function(){
                bootbox.prompt("{% trans 'Please enter the number of lines' %}", function(result) {
                    if (result === null) {
                    } else {
                        var number = parseInt(result);
                        for (var i = 0; i < number; i++) {
                            var item = create_item_store_default_keys();
                            add_to_store(item);
                        }
                        scrollToBottom();
                    }
                });
            });

            $(document).on('click', '#duplicate_last_line_select', function(){
                if(rows == 0) {
                    return false;
                }else{
                    var lastid = $('.registration-field-id:last').val();
                    var request = getRecord(parseInt(lastid), 'registrations');
                    request.onsuccess = function(){

                        var params = {
                            classroom: $('#duplicate_classroom').is(':checked'),
                            section: $('#duplicate_section').is(':checked'),
                        };
                        duplicate_item_values(request.result, params);
                        scrollToBottom();
                    };
                }
            });

            $(document).on('click', '#duplicate_defined_lines_select', function(){
                if(rows == 0) {
                    return false;
                }else{
                    bootbox.prompt("{% trans 'Please enter the number of lines' %}", function(result) {
                        if (result === null) {
                        } else {
                            var number = parseInt(result);
                            var lastid = $('.registration-field-id:last').val();
                            var request = getRecord(parseInt(lastid), 'registrations');
                            request.onsuccess = function() {
                                for (var i = 0; i < number; i++) {
                                    var params = {
                                        classroom: $('#duplicate_classroom').is(':checked'),
                                        section: $('#duplicate_section').is(':checked'),
                                    };
                                    duplicate_item_values(request.result, params);
                                }
                                scrollToBottom();
                            };
                        }
                    });
                }
            });

            $(document).on('click', '.delete-registration-row', function(){
                var item = $(this);
                bootbox.confirm("{% trans 'are you sure you want to delete this row?' %}", function(result) {
                    if(result == true){
                        delete_from_store(item.attr('itemscope'), 'registrations');
                        item.parents('tr').remove();
                    }
                });
            });

            $(document).on('change', '.student_birthday', function(){
                if($(this).val()) {
                    var option = $(this).find('option:selected');
                    var age = calculateAge($(this).attr('itemscope'));
                    update_item_store(parseInt($(this).attr('itemscope')), 'student_age', age, 'registrations');
                    var itemblock = '.student_age_'+$(this).attr('itemscope');
                    $(itemblock).val(age);
                }
            });

            $(document).on('blur', '.registration-field', function(){
                if($(this).attr('data-value')){
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations');
                }else{
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('name'), $(this).val(), 'registrations');
                }
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations');
            });

            $(document).on('change', '.registration-field-check', function(){
                update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations');
            });

            $(document).on('blur', '.registration-field-p', function(){
                if($(this).attr('data-value')){
                    update_or_create_item(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations-p');
                }else{
                    update_or_create_item(parseInt($(this).attr('itemscope')), $(this).attr('name'), $(this).val(), 'registrations-p');
                }
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations-p');
            });

            $(document).on('change', '.registration-field-check-p', function(){
                update_or_create_item(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations-p');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations-p');
            });

            $(document).on('click', '#registration-synchro', function(){
                synchro_result = true;
                $('.alert').hide();
                if(navigator.onLine) {
                    $(".loader").show();
                    synchronize_data(true);
                }else{
                    $('#alert-connection').show();
                }
            });

            $(document).on('click', '#registration-download', function(){
                if(navigator.onLine) {
                    incremental_id = 0;
                    offset = 0;
                    limit = 100;
                    $('#registrations-table').find('.registration-line').remove();
                    $('.alert').hide();
                     $(".loader").show();
                    load_base_data();
                    setTimeout(function(){
                        build_datatable();
                        $(".loader").hide();
                    }, 5000);
                }else{
                    $('#alert-connection').show();
                }
            });
        });

        function calculateAge(itemid)
        {
            var age = 0;
            var form = $('#line-'+itemid);

            var birthday_day = form.find('#student_birthday_day').val();
            var birthday_month = form.find('#student_birthday_month').val();
            var birthday_year = form.find('#student_birthday_year').val();

            var birthDate = new Date(birthday_year, birthday_month, birthday_day);

            if(birthday_day != "" && birthday_month != "" && birthday_year != "" ) {
                age = getDateDiff(birthDate,new Date());
            }

            return age;
        }

        function getDateDiff(dateOfBirth, dateToCalculate) {
            var calculateYear = dateToCalculate.getFullYear();
            var calculateMonth = dateToCalculate.getMonth();
            var calculateDay = dateToCalculate.getDate();

            var birthYear = dateOfBirth.getFullYear();
            var birthMonth = dateOfBirth.getMonth();
            var birthDay = dateOfBirth.getDate();

            var age = calculateYear - birthYear;
            var ageMonth = calculateMonth - birthMonth;
            var ageDay = calculateDay - birthDay;

            if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
                age = parseInt(age) - 1;
            }

            return age;
        }

        function duplicate_item_values(duplicata, fields)
        {
            var new_item = create_item_store_default_keys();
            $.each(fields, function(field, flag){
                if(flag){
                    new_item[field] = duplicata[field];
                }
            });

            add_to_store(new_item);
            add_fill_line_data(new_item);
            scrollToBottom();
        }

        function create_item_store_default_keys()
        {
            var item = {id: rows, synchronized: false, deleted: false, owner: user_id, original_id: 0, school: school_id};
            var fields = $('#registration_prototype').find('.registration-field');
            $(fields).each(function(i, field){
                item[$(field).attr('name')] = $(field).val();
            });

            return item;
        }

        function add_to_store(data)
        {
            var store = getStoreByName('registrations');
            var request = store.put(data);
            add_table_newline(data.id, prototype, table);
            rows = rows + 1;
        }

        function build_datatable()
        {
            var store = getStoreByName('registrations');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    rows = item.id;
                    if(item.deleted == false &&  i > offset && i <= limit){
                        $(".loader").show();
                        add_table_newline(item.id, prototype, table);
                        add_fill_line_data(item);
                        $(".loader").hide();
                    }
                });
                rows = rows + 1;
            };
        }

        function add_fill_line_data(item)
        {
            var fields = $('#line-'+item.id).find('.registration-field');
            $(fields).each(function(i, field){
                if($(field).attr('data-value')){
                    var value = item[$(field).attr('data-name')];
                }else{
                    var value = item[$(field).attr('name')];
                }

                if(value == "yes" || value == "no"){
                    if($(field).attr('data-value') == value){
                        $(field).attr('checked', 'checked');
                        if($(field).attr('itemref')){
                            var f_related = $('#line-'+item.id).find('.'+$(field).attr('itemref'));
                            $(f_related).attr('disabled', 'disabled');
                        }
                    }
                }else{
                    $(field).val(value);
                }
            });
        }

        function filterByClass(classroom, section)
        {
            var store = getStoreByName('registrations');
            if(section != 0) {
                var index = store.index("classroomAndSection");
                var request = index.getAll([parseInt(classroom), parseInt(section)]);
            }else{
                var index = store.index("classroom");
                var request = index.getAll(parseInt(classroom));
            }

            request.onsuccess = function() {
                var result = request.result;
                reBuildTable(result);
            }
        }

        function reBuildTable(data)
        {
            incremental_id = 0;
            $('#registrations-table').find('.registration-line').remove();
            $(data).each(function(i, item){
                if(item.deleted == false){
                    $(".loader").show();
                    add_table_newline(item.id, prototype, table);
                    add_fill_line_data(item);
                    $(".loader").hide();
                }
            });
        }

        function synchronize_data()
        {
{#            push_data();#}
            patch_data();
        }

        function push_data()
        {
            var store = getStoreByName('registrations');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    $(".loader").show();
                    if(item.deleted == true){
                        delete_data_from_server(synchro_path, item.original_id, item.id, 'registrations');
                    }else if(item.to_update == true){
                        update_data_into_server(item);
                    }
                    $(".loader").hide();
                });
            };
        }

        function patch_data()
        {
            var store = getStoreByName('registrations-p');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    $(".loader").show();
                    if(item.to_update == true){
                        patch_data_into_server(item);
                    }
                    $(".loader").hide();
                });
            };
        }

        function push_data_to_server(item)
        {
            var data = item;

            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                async: true,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 201){
                        $('#line-'+item.id).removeClass('warning');
                        $('#line-'+item.id).find('.synchro-status').removeClass('failed');
                        $('#line-'+item.id).find('.synchro-status').addClass('success');
                        $('#line-'+item.id).find('.registration-field').removeClass('required');
                        item.synchronized = true;
                        item.original_id = response.id;

                        update_item_store(parseInt(item.id), 'synchronized', true, 'registrations');
                        update_item_store(parseInt(item.id), 'original_id', response.id, 'registrations');
                        update_item_store(parseInt(item.id), 'to_update', false, 'registrations');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+item.id).addClass('warning');
                    $('#line-'+item.id).find('.synchro-status').removeClass('success');
                    $('#line-'+item.id).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.registration-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function update_data_into_server(item)
        {
            var data = item;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                async: true,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 200){
                        $('#line-'+item.id).removeClass('warning');
                        $('#line-'+item.id).find('.synchro-status').removeClass('failed');
                        $('#line-'+item.id).find('.synchro-status').addClass('success');
                        $('#line-'+item.id).find('.registration-field').removeClass('required');
                        update_item_store(parseInt(item.id), 'synchronized', true, 'registrations');
                        update_item_store(parseInt(item.id), 'to_update', false, 'registrations');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+item.id).addClass('warning');
                    $('#line-'+item.id).find('.synchro-status').removeClass('success');
                    $('#line-'+item.id).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.registration-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function patch_data_into_server(item)
        {
            var itemid = item.id;
            var data = item;
            delete data.id;

            $.ajax({
                type: "PATCH",
                url: synchro_path+itemid+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    $('#line-'+itemid).removeClass('warning');
                    $('#line-'+itemid).find('.synchro-status').removeClass('failed');
                    $('#line-'+itemid).find('.synchro-status').addClass('success');
                    $('#line-'+itemid).find('.registration-field').removeClass('required');
                    update_item_store(parseInt(itemid), 'to_update', false, 'registrations-p');
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+itemid).addClass('warning');
                    $('#line-'+itemid).find('.synchro-status').removeClass('success');
                    $('#line-'+itemid).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+itemid).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function pull_registrations_data(url, store_name)
        {
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                async: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    var store = getStoreByName(store_name);
                    var data = response;
                    if(response.data) {
                        data = response.data;
                    }
                    $(data).each(function(i, item){
                        var request = store.index('original_id').get(parseInt(item.original_id));
                        request.onsuccess = function() {
                            item.synchronized = true;
                            item.deleted = false;
                            item.to_update = false;
                            item.student_nationality = item.student_nationality_id;
                            item.student_mother_nationality = item.student_mother_nationality_id;
                            item.student_id_type = item.student_id_type_id;

                            item.last_education_level = item.last_education_level_id;
                            item.last_informal_edu_level = item.last_informal_edu_level_id;
                            item.last_informal_edu_round = item.last_informal_edu_round_id;
                            item.last_informal_edu_final_result = item.last_informal_edu_final_result_id;
                            item.last_school = item.last_school_id;

                            if(request.result === undefined) {
                                store.put(item);
                            }else{
                                var result = request.result;
                                result = item;
                                store.put(item);
                            }
                        };
                    });
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }

        function load_base_data()
        {
            pull_registrations_data(synchro_path, 'registrations');
        }

        function createStores()
        {
            var request = indexedDB.open("registrations_edit_2", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('registrations')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                }
                if(flag){
                    var store = db.createObjectStore("registrations", {keyPath: "id", autoIncrement:true});
                    store.createIndex('original_id', 'original_id');
                    store.createIndex('classroom', 'classroom');
                    store.createIndex('section', 'section');
                    store.createIndex('classroomAndSection', ['classroom', 'section']);

                    db.createObjectStore("registrations-p", {keyPath: "id", autoIncrement:true});

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                $(".loader").show();
                setTimeout(function(){
                    build_datatable();
                    $(".loader").hide();
                }, 5000);
            };
        }

    </script>

{% endblock %}
