{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">

{% endblock %}


{% block content-full-page %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "Registration" %}</a></li>
                                    <li>
                                         <select id="id_school">
                                             <option value="">---{% trans "Display by School" %}---</option>
                                              {% for school in schools %}
                                                <option value="{{ school.id }}" {% if selectedSchool == school.id %}selected="selected"{% endif %}>
                                                    {{ school }} - {% if school.location %}{{ school.location.name }}{% endif %}
                                                </option>
                                              {% endfor %}
                                         </select>
                                    </li>
                                    <li>
                                        <a class="btn btn-info" id="registration-export" href="{% url "enrollments:enrollment_export" %}" target="_blank">
                                            <i class="icon-export-sign icon-white"></i>&nbsp;
                                                {% trans "Export" %}
                                          </a>
                                    </li>
                                 </ol>


                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <div class="loader"></div>
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr>
                                        <th>{% trans "Governorate" %}</th>
                                        <th>{% trans "District" %}</th>
                                        <th>{% trans "School number" %}</th>
                                        <th>{% trans "School" %}</th>
                                        <th>{% trans "Student number" %}</th>
                                        <th>{% trans "Student first name" %}</th>
                                        <th>{% trans "Student father name" %}</th>
                                        <th>{% trans "Student last name" %}</th>
                                        <th>{% trans "Sex" %}</th>
                                        <th>{% trans "Student birthday" %}</th>
                                        <th>{% trans "Student age" %}</th>
                                        <th>{% trans "Student nationality" %}</th>
                                        <th>{% trans "Mother fullname" %}</th>
                                        <th>{% trans "Mother nationality" %}</th>
                                        <th>{% trans "Registered in UNHCR" %}</th>
                                        <th>{% trans "Student ID Type" %}</th>
                                        <th>{% trans "Student ID Number" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "ID Number tooltip" %}"></i>
                                        </th>
                                        <th>{% trans "Student living address" %}</th>
                                        <th>{% trans "Phone number" %}</th>
                                        <th>{% trans "Phone prefix" %}</th>
                                        <th>{% trans "Current Class" %}</th>
                                        <th>{% trans "Current Section" %}</th>
                                        <th>{% trans "Last education level" %}</th>
                                        <th>{% trans "Last education year" %}</th>
                                        <th>{% trans "Last year result" %}</th>
                                        <th>{% trans "Is the child participated in an ALP program" %}</th>
                                        <th>{% trans "Last informal education level" %}</th>
                                        <th>{% trans "Last informal education year" %}</th>
                                        <th>{% trans "Last informal education result" %}</th>
                                        <th>{% trans "Last informal education final result" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registry in registrations %}
                                        <tr>
                                            <td>{% if registry.school and registry.school.location and registry.school.location.parent %}{{ registry.school.location.parent.name }}{% endif %}</td>
                                            <td>{% if registry.school and registry.school.location %}{{ registry.school.location.name }}{% endif %}</td>
                                            <td>{% if registry.school %}{{ registry.school.number }}{% endif %}</td>
                                            <td>{% if registry.school %}{{ registry.school.name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.number }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.first_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.father_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.last_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{% trans registry.student.sex %}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.birthday }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.age }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.nationality_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.mother_fullname }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.mother_nationality }}{% endif %}</td>
                                            <td>{% if registry.registered_in_unhcr %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                            <td>{% if registry.student and registry.student.id_type %}{{ registry.student.id_type.name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.id_number }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.address }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.phone }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.phone_prefix }}{% endif %}</td>
                                            <td>{% if registry.classroom %}{{ registry.classroom.name }}{% endif %}</td>
                                            <td>{% if registry.section %}{{ registry.section.name }}{% endif %}</td>
                                            <td>{% if registry.last_education_level %}{{ registry.last_education_level.name }}{% endif %}</td>
                                            <td>{{ registry.last_education_year }}</td>
                                            <td>{{ registry.last_year_result }}</td>
                                            <td>{% if registry.participated_in_alp %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                            <td>{% if registry.last_informal_edu_level %}{{ registry.last_informal_edu_level.name }}{% endif %}</td>
                                            <td>{{ registry.last_informal_edu_year }}</td>
                                            <td>{{ registry.last_informal_edu_result }}</td>
                                            <td>{% if registry.last_informal_edu_final_result %}{{ registry.last_informal_edu_final_result.name }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';

        $(document).ready(function(){

            oTable = $('#registrations-table').DataTable({
                fixedHeader: false,
                paging:   true,
                ordering: true,
                info:     true,
                autoWidth: false,
                scrollY: '50vh',
{#                scrollY: '50vh',#}
                scrollX: true,
                scrollCollapse: true,
                "language": {
                    "url": "/static/locale/"+language+".json"
                },
                "fnInitComplete": function(oSettings, json) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            // get the list of school and fill the table with it
            $("#id_school").change(function(){
                var selected_school = $(this).val();
               // reload the page with the school id passed in post
                if(selected_school){
                    window.location.href = '{% url "registrations:registration_view" %}'+'?school='+selected_school;
                }
                else {
                    window.location.href = '{% url "registrations:registration_view" %}';
                }
            });

        });
    </script>

{% endblock %}
