{#{% load staticfiles i18n %}#}
{#{% load util_tags %}#}
{##}
{#{% get_range_str 2001 2020 as last_education_years %}#}
{#{% get_range_str 2001 2020 as last_informal_years %}#}
{##}
{#    <tr id="line-{{ line.id }}" class="registration-line" itemscope="{{ line.id }}">#}
{#        <td>#}
{#            <input type="hidden" name="id" value="{{ line.id }}" class="registration-field-id" />#}
{#            <span class="incremental_number" itemscope="{{ line.id }}" style="font-weight: bold;"></span>#}
{#        </td>#}
{#        <td>#}
{#            {% if location_parent %}{{ location_parent.name }}{% endif %}#}
{#        </td>#}
{#        <td>#}
{#            {% if location %}{{ location.name }}{% endif %}#}
{#        </td>#}
{#        <td>#}
{#            {% if school %}{{ school.number }}{% endif %}#}
{#        </td>#}
{#        <td>#}
{#            {% if school %}{{ school.name }}{% endif %}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_first_name }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_father_name }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_last_name }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_sex }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_birthday_year }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_birthday_month }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_birthday_day }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_age }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_nationality }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_mother_fullname }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_mother_nationality }}#}
{#        </td>#}
{#        <td>#}
{#            {% if line.registered_in_unhcr %}Yes{% else %}No{% endif %}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_id_type }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_id_number }}#}
{#        <td>#}
{#            {{ line.student_address }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_phone }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.student_phone_prefix }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.classroom_name }}#}
{#        </td>#}
{#        <td>#}
{#            {{ line.section_name }}#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_education_level" id="last_education_level" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "Last education level" %}</option>#}
{#                {% for item in education_levels %}#}
{#                    <option value="{{ item.id }}" {% if line.last_education_level_id == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_school_type" id="last_school_type" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "School type" %}</option>#}
{#                {% for key, item in school_types %}#}
{#                    <option value="{{ key }}" {% if line.last_school_type == key %}selected="selected"{% endif %}>{{ item }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_school_shift" id="last_school_shift" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "School shift" %}</option>#}
{#                {% for key, item in school_shifts %}#}
{#                    <option value="{{ key }}" {% if line.last_school_shift == key %}selected="selected"{% endif %}>{{ item }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_school" id="last_school" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "School" %}</option>#}
{#                {% for item in schools %}#}
{#                    <option value="{{ item.id }}" {% if line.last_school_id == item.id %}selected="selected"{% endif %}>{{ item }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_education_year" id="last_education_year" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "Education year" %}</option>#}
{#                {% for item in last_education_years %}#}
{#                    <option value="{{ item }}" {% if line.last_education_year == item %}selected="selected"{% endif %}>{{ item }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_year_result" id="last_year_result" class="registration-field" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "Result" %}</option>#}
{#                {% for key, item in education_results %}#}
{#                    <option value="{{ key }}" {% if line.last_year_result == key %}selected="selected"{% endif %}>{{ item }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <label><input type="radio" name="participated_in_alp_{{ line.id }}"#}
{#                          data-name="participated_in_alp" value="1"#}
{#                          data-value="yes" id="participated_in_alp_1"#}
{#                          class="registration-field registration-field-check"#}
{#                          itemscope="{{ line.id }}" itemref=""#}
{#                          {% if line.participated_in_alp == 'yes' %}checked="checked"{% endif %}/>#}
{#                {% trans "Yes" %}#}
{#            </label>#}
{#            <label><input type="radio" name="participated_in_alp_{{ line.id }}"#}
{#                          data-name="participated_in_alp" value="0"#}
{#                          data-value="no" id="participated_in_alp_0"#}
{#                          class="registration-field registration-field-check"#}
{#                          itemscope="{{ line.id }}" itemref="alp_details"#}
{#                          {% if line.participated_in_alp == 'no' %}checked="checked"{% endif %} />#}
{#                {% trans "No" %}#}
{#            </label>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_informal_edu_level" id="last_informal_edu_level" class="registration-field alp_details" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "ALP level" %}</option>#}
{#                {% for item in informal_educations %}#}
{#                    <option value="{{ item.id }}" {% if line.last_informal_edu_level_id == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_informal_edu_round" id="last_informal_edu_round" class="registration-field alp_details" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "ALP round" %}</option>#}
{#                {% for item in alp_rounds %}#}
{#                    <option value="{{ item.id }}" {% if line.last_informal_edu_round_id == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#        <td>#}
{#            <select name="last_informal_edu_final_result" id="last_informal_edu_final_result" class="registration-field alp_details" itemscope="{{ line.id }}">#}
{#                <option value="">{% trans "ALP result" %}</option>#}
{#                {% for item in education_final_results %}#}
{#                    <option value="{{ item.id }}" {% if line.last_informal_edu_final_result_id == item.id %}selected="selected"{% endif %}>{{ item.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </td>#}
{#    </tr>#}
