{% load staticfiles i18n %}
{% load util_tags %}

{% get_range 1990 2051 as years %}
{% get_range 1 32 as days %}
{% get_range_str 2001 2020 as last_education_years %}
{% get_range_str 2001 2020 as last_informal_years %}

<table style="display:none;" id="registration_prototype">
    <tr id="line-$$itemscope_id$$" class="registration-line" itemscope="$$itemscope_id$$">
{#        <td>#}
{#            <button class="btn btn-danger delete-registration-row" itemscope="$$itemscope_id$$">#}
{#                <i class="icon-trash icon-white"></i>#}
{#                {% trans "Delete" %}#}
{#            </button>#}
{#        </td>#}
        <td class="synchro-status">
            <input type="hidden" name="id" value="$$itemscope_id$$" class="registration-field-id" />
            <span class="badge incremental_number" itemscope="$$itemscope_id$$" style="font-weight: bold;"></span>
        </td>
{#        <td>#}
{#            <input type="text" name="governorate_name" class="registration-field" readonly="readonly" disabled="disabled"#}
{#                   itemscope="$$itemscope_id$$" id="governorate_name" value="{% if location_parent %}{{ location_parent.name }}{% endif %}" style="width: 50px;"/>#}
{#        </td>#}
{#        <td>#}
{#            <input type="text" name="location" class="registration-field" readonly="readonly" disabled="disabled"#}
{#                   itemscope="$$itemscope_id$$" id="location" value="{% if location %}{{ location.name }}{% endif %}" style="width: 50px;"/>#}
{#        </td>#}
{#        <td>#}
{#            <input type="text" name="school_number" class="registration-field" readonly="readonly" disabled="disabled"#}
{#                   itemscope="$$itemscope_id$$" id="school_number" value="{% if school %}{{ school.number }}{% endif %}" style="width: 50px;"/>#}
{#        </td>#}
{#        <td>#}
{#            <input type="hidden" name="school" class="registration-field" readonly="readonly" disabled="disabled"#}
{#                   itemscope="$$itemscope_id$$" id="school" value="{% if school %}{{ school.id }}{% endif %}"/>#}
{#            <input type="text" name="school_name" class="registration-field" readonly="readonly"#}
{#                   itemscope="$$itemscope_id$$" id="school_name" value="{% if school %}{{ school.name }}{% endif %}" style="width: 100px;"/>#}
{#        </td>#}
        <td>
            <input type="text" name="student_first_name" id="student_first_name" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Student first name" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <input type="text" name="student_father_name" id="student_father_name" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Student father name" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <input type="text" name="student_last_name" id="student_last_name" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Student last name" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <select name="student_sex" id="student_sex" class="registration-field" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Sex" %}</option>
                {% for key, item in genders %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="student_birthday_year" id="student_birthday_year" class="registration-field student_birthday" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "year" %}</option>
                {% for item in years %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="student_birthday_month" id="student_birthday_month" class="registration-field student_birthday" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "month" %}</option>
                {% for key, name in months %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="student_birthday_day" id="student_birthday_day" class="registration-field student_birthday" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "day" %}</option>
                {% for item in days %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="student_age" class="registration-field student_age_$$itemscope_id$$" readonly="readonly" disabled="disabled"
                   disabled="disabled" itemscope="$$itemscope_id$$" id="student_age" value="" size="4" />
        </td>
        <td>
            <select name="student_nationality" id="student_nationality" class="registration-field" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Student nationality" %}</option>
                {% for item in nationalities %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="student_mother_fullname" id="student_mother_fullname" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Mother fullname" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <select name="student_mother_nationality" id="student_mother_nationality" class="registration-field" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Mother nationality" %}</option>
                {% for item in nationalities2 %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label><input type="radio" name="registered_in_unhcr_$$itemscope_id$$" data-name="registered_in_unhcr" value="1" data-value="yes" id="registered_in_unhcr_1" class="registration-field registration-field-check" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled"/>{% trans "Yes" %}</label>
            <label><input type="radio" name="registered_in_unhcr_$$itemscope_id$$" data-name="registered_in_unhcr" value="0" data-value="no" id="registered_in_unhcr_0" class="registration-field registration-field-check" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled"/>{% trans "No" %}</label>
        </td>
        <td>
            <select name="student_id_type" id="student_id_type" class="registration-field" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Student ID Type" %}</option>
                {% for item in idtypes %}
                    <option value="{{ item.id }}">{% trans item.name %}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="student_id_number" value="" id="student_id_number" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Student ID Number" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <input type="text" name="student_address" id="student_address" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Student living address" %}" itemscope="$$itemscope_id$$" />
        </td>
        <td>
            <input type="text" name="student_phone" id="student_phone" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Phone number (6 digits)" %}" itemscope="$$itemscope_id$$" maxlength="6" size="12"/>
        </td>
        <td>
            <input type="text" name="student_phone_prefix" id="student_phone_prefix" class="registration-field" readonly="readonly" disabled="disabled"
                   placeholder="{% trans "Phone prefix (2 digits)" %}" itemscope="$$itemscope_id$$" maxlength="2" size="10" />
        </td>
        <td>
            <select name="classroom" id="classroom" class="registration-field" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Current Class" %}</option>
                {% for item in classrooms %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="section" id="section" class="registration-field registration-field-p" itemscope="$$itemscope_id$$" readonly="readonly" disabled="disabled">
                <option value="">{% trans "Current Section" %}</option>
                {% for item in sections %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_education_level" id="last_education_level" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Last education level" %}</option>
                {% for item in education_levels %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_school_type" id="last_school_type" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "School type" %}</option>
                {% for key, item in school_types %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_school_shift" id="last_school_shift" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "School shift" %}</option>
                {% for key, item in school_shifts %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_school" id="last_school" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "School" %}</option>
                {% for item in schools %}
                    <option value="{{ item.id }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_education_year" id="last_education_year" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Education year" %}</option>
                {% for item in last_education_years %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_year_result" id="last_year_result" class="registration-field registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Result" %}</option>
                {% for key, item in education_results %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <label><input type="radio" name="participated_in_alp_$$itemscope_id$$" data-name="participated_in_alp" value="1" data-value="yes" id="participated_in_alp_1" class="registration-field registration-field-check registration-field-p egistration-field-check-p" itemscope="$$itemscope_id$$" itemref="" />{% trans "Yes" %}</label>
            <label><input type="radio" name="participated_in_alp_$$itemscope_id$$" data-name="participated_in_alp" value="0" data-value="no" id="participated_in_alp_0" class="registration-field registration-field-check registration-field-p egistration-field-check-p" itemscope="$$itemscope_id$$" itemref="alp_details" />{% trans "No" %}</label>
        </td>
        <td>
            <select name="last_informal_edu_level" id="last_informal_edu_level" class="registration-field alp_details registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "ALP level" %}</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_informal_edu_round" id="last_informal_edu_round" class="registration-field alp_details registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "ALP round" %}</option>
                {% for item in alp_rounds %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="last_informal_edu_final_result" id="last_informal_edu_final_result" class="registration-field alp_details registration-field-p" itemscope="$$itemscope_id$$">
                <option value="">{% trans "ALP result" %}</option>
                {% for item in education_final_results %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
