{% extends "youth/base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Upload{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

<section>
    <div class="page-header">
    <div class="page-header-titles">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        Home
                    </a>
                </li>

                <li class="breadcrumb-item">
                    <a href="{% url 'youth:list' %}">
                        List
                    </a>
                </li>
                <li class="breadcrumb-item">Bulk import</li>
            </ol>
        </nav>
        <h1 class="page-header-title"><i class="fa fa-upload"></i> Upload Adolescent Data</h1>
    </div>
</div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                {% if 'import' in message.tags %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fileUpload" class="font-weight-bold">{% trans "Select File" %}</label>
                    <input type="file" name="file" class="form-control-file" id="fileUpload" required>
                </div>

                <button type="submit" class="btn btn-primary mt-3 btn-shadow btn-wide btn-pill">
                    {% trans "Start import" %}
                </button>
            </form>
        </div>
    </div>


{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>

{% endblock %}
