{% extends "youth/base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Upload{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
{% endblock %}

{% block content %}

    <div class="page-header">
    <div class="page-header-titles">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'youth:list' %}">
                        List
                    </a>
                </li>
                <li class="breadcrumb-item">Bulk import</li>
            </ol>
        </nav>
        <h1 class="page-header-title"><i class="fa fa-upload"></i> {% trans "Upload Adolescent Data" %}</h1>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <p class="lead mb-4">
            {% blocktrans with count=count %}You are about to import <strong>{{ count }}</strong> records.{% endblocktrans %}
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-pill btn-shadow">
                <i class="fa fa-check-circle pr-1"></i> {% trans "Confirm Import" %}
            </button>
            <a href="{% url 'backends:adolescent_upload' %}" class="btn btn-outline-secondary btn-pill ml-2">{% trans "Cancel" %}</a>
        </form>

        {% if preview %}
        <h5 class="mt-4">{% trans "Preview" %}</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        {% for key in preview.0.keys %}
                        <th scope="col">{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in preview %}
                    <tr>
                        {% for val in row.values %}
                        <td>{{ val }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>

{% endblock %}
