{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

<h4 class="text-info">Students Attendance </h4>

{% for dict in attendance_student_formset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

{{ attendance_student_formset.non_form_errors }}
{{ attendance_student_formset.management_form }}
<table class="table">
{% for form in attendance_student_formset.forms %}

   {% if forloop.first %}
      <thead align="right">
      <tr align="right">
          {% for field in form.visible_fields %}
              <th style="text-align:right">{{ field.label|capfirst }}</th>
          {% endfor %}
      </tr>
      </thead>
  {% endif %}
  <tr class="{% cycle row1 row2 %} formset_row">

      {% for field in form.visible_fields %}
          <td>
              {% if field.name == 'student_name' %}
                  {{field.value}}
                  <span style="display:none">{{field}}</span>
              {% else %}
                  {{field}}
              {% endif %}
          </td>
      {% endfor %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  </tr>
{% endfor %}
</table>

{% block extra_head %}

    <script type="text/javascript" language="javascript" src="{% static 'js/attendance/attendance-absence.js' %}?v=38"></script>

{% endblock %}

