{% extends "base.online.html" %}

{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-button-group.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
    <style>
        .row-class {
            border: 1px solid;
            border-radius: 8px;
            margin: 15px 0px;
            cursor: pointer;
        }
        .btn-attendance-day.active {
            background-color: #2aabd2;
            color: snow;
        }
    </style>
{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading" id="header">
                            <ol class="breadcrumb">
                                <li><h3 class="panel-title">{% trans "Attendance" %}</h3></li>
                                <li>
                                  <button class="btn btn-info" id="registration-synchro">
                                    <i class="icon-synch-sign icon-white"></i>&nbsp;
                                        {% trans "synchronize" %}
                                  </button>
                                  <button class="btn btn-info" id="registration-download">
                                    <i class="icon-synch-sign icon-white"></i>&nbsp;
                                        {% trans "download data" %}
                                  </button>
                                    <a class="btn btn-info" id="registration-export" href="{% url "enrollments:enrollment_export" %}" target="_blank">
                                        <i class="icon-export-sign icon-white"></i>&nbsp;
                                            {% trans "Export" %}
                                    </a>
                                </li>
                                <li>
                                    <select name="classroom" id="filter_class" class="col-200">
                                        <option value="0">{% trans "Filter by Class" %}</option>
                                        {% for item in classrooms %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <select name="section" id="filter_section" class="col-200">
                                        <option value="0">{% trans "Filter by Section" %}</option>
                                        {% for item in sections %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-success" id="filter_go">
                                        {% trans "Filter data" %}
                                    </button>
{#                                    <input type="text" id="search" size="300" style="width: 200px;" placeholder="{% trans "Search a student" %}" />#}
                                    <button class="btn btn-warning" id="filter_cancel">
                                        {% trans "Rest filter" %}
                                    </button>
                                </li>
                            </ol>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-heading">
                            <ol class="breadcrumb">
                                <li>{{ school }}</li>
                                <li>{{ location }}</li>
                                <li>{{ location_parent }}</li>
                                <li>{% trans "Total students" %} <span class="badge ttl_students">{{ total }}</span></li>
                            </ol>
                          </div>
                     </div>
                </div>
            </div>
            </section>

            <div class="container-main" id="classes-list"></div>
            <span class="badge" id="other-classes" style="display: none;">{% trans 'Other classes' %}</span>
            <div id="attendance-sheet" style="display: none;">

                <table id="attendance-table" {% if LANGUAGE_CODE == 'ar-ar' %}lang="ar" dir="rtl"{% endif %}
                       class="table table-hover table-striped"
                       data-height="500"
                       data-pagination="true"
                       data-search="true"
                       cellspacing="0"
                       width="100%">
                    <thead>
                      <tr>
                        <th>{% trans 'Student fullname' %}</th>
                        <th><input class="toggle-status" type="checkbox" data-on-text="{% trans 'All Present' %}" data-off-text="{% trans 'All Absent' %}"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                  <a class="btn btn-info" id="attendance-save" href="#">
                    <i class="icon-synch-sign icon-white"></i>&nbsp;
                        {% trans "Save" %}
                  </a>
            </div>
              <a class="btn btn-info" id="attendance-validate-all" href="#" style="display: none;">
                <i class="icon-validation-sign icon-white"></i>&nbsp;
                    {% trans "Validate All" %}
              </a>
         </section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var selected_school = {{ school.id }};
        var rows = 1;

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = '{{ request.get_host }}';
        var synchro_path = protocol+host+'/api/attendances/';

        window.addEventListener("offline", function(e) {
          $('#attendance-synchro').hide();
        }, false);

        window.addEventListener("online", function(e) {
          $('#attendance-synchro').show();
        }, false);

        $(document).ready(function(){

            createStores();

            setInterval(function(){
                if(navigator.onLine) {
{#                    synchronize_data(false);#}
                }
            }, 3600000);

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('change', '#location-filter', function(){
                var itemscope = $(this).val();
                $('#school-filter').find('option').hide();
                $('#school-filter').find('option[itemscope='+itemscope+']').show();
            });

            $(document).on('change', '#school-filter', function(){
                $('#other-classes').hide();
                $('#attendance-sheet').hide();
                $('.row-class').show();
                display_classes($(this).val());
                display_attendance_days(get_current_attendance_date());
            });

            $(document).on('click', '.btn-attendance-day', function(){
                $('.btn-attendance-day').removeClass('active');
                $(this).addClass('active');
                $('#other-classes').hide();
                $('#attendance-sheet').hide();
                $('.row-class').hide('slow');
                $('.row-class').show('slow');
                $("#attendance-validate-all").show();
                calculate_attendances($('#school-filter').val());
            });

            $(document).on('click', '.row-class', function(){
                $('.row-class').hide();
                $(this).show();
                $('#other-classes').show();
                display_attendance_sheet($(this).attr('itemid'));
            });

            $(document).on('click', '#other-classes', function(){
                $(this).hide();
                $('.row-class').show();
                $('#attendance-sheet').hide();
                $("#attendance-validate-all").show();
            });

            $(document).on('click', '#attendance-save', function(){
                $('.row-class').show();
                $('#attendance-sheet').hide();
                $('#other-classes').hide();
                $("#attendance-validate-all").show();
            });

            $(document).on('click', '#attendance-validate-all', function(){
                bootbox.confirm("{% trans 'Are you sure to validate all Attendances' %}", function(result) {
                    if (result === true) {
                        validate_attendances();
                    }
                });
            });

            $(document).on('click', '#attendance-synchro', function(){
                synchronize_data(true);
            });

            $("[class='toggle-status']").bootstrapSwitch();
            $("[class='toggle-status']").on('switchChange.bootstrapSwitch', function(event, state) {
                $("[class='status-checkbox']").bootstrapSwitch('state', state);
            });

        });

        function display_classes(school)
        {
            $("#attendance-validate-all").show();
            var store = getStoreByName("classrooms");
            var request = store.getAll()
            var container = $('#classes-list');

            container.empty();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){

                    var row = $('<div>').addClass('row').addClass('row-class').attr('id', 'row-class-'+item.id).attr('itemid', item.id);
                    var total = '{% trans "Total" %}'+ ': '+'<span class="badge ttl_students">0</span><br/>';
                    var ttl_present = '{% trans "Total present" %}'+ ': '+'<span class="badge ttl_present">0</span><br/>';
                    var ttl_absent = '{% trans "Total absent" %}'+ ': '+'<span class="badge ttl_absent">0</span>';
                    var col1 = $('<div>').addClass('col-md-4').html(total+ttl_present+ttl_absent);
                    var col2 = $('<div>').addClass('col-md-8').html(item.name+' - '+item.section_name);
                    var col3 = $('<div>').addClass('col-md-4').html();

                    row.append(col1);
                    row.append(col2);
                    row.append(col3);
                    container.append(row);

                    check_attendance_sheet(item.id);
                });
            };
        }

        function display_attendance_days(selected)
        {
            var container = $('#attendance-days');
            container.empty();
            var days = new Array();
            var store = getStoreByName('classroomsAttendances');
            var request = store.getAll();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    if(days[item.attendance_date] == undefined){
                        days[item.attendance_date] = item.attendance_date;
                        var day = $('<button>').attr('type', 'button')
                                .addClass('btn')
                                .addClass('btn-default')
                                .addClass('btn-attendance-day')
                                .attr('itemid', item.attendance_date)
                                .text(item.attendance_date);
                        if(selected == item.attendance_date){
                            day.addClass('active');
                        }
                        container.append(day);
                    }
                });
            };
        }

        function calculate_attendances(classroom)
        {
            var attendance = $('#row-class-'+classroom);
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDateAndStatus");

            var request1 = index.getAll([parseInt(classroom), get_current_attendance_date(), 1]);
            var request2 = index.getAll([parseInt(classroom), get_current_attendance_date(), 0]);

            attendance.find('.ttl_students').text(0);

            request1.onsuccess = function(){
                var result = request1.result;
                attendance.find('.ttl_present').text(result.length);
                attendance.find('.ttl_students').text(result.length);
            };
            request2.onsuccess = function(){
                var result = request2.result;
                attendance.find('.ttl_absent').text(result.length);
                var ttl_present = parseInt(attendance.find('.ttl_students').text());
                attendance.find('.ttl_students').text(result.length+ttl_present);
            };
        }

        function validate_attendances()
        {
            var selected_date = get_current_attendance_date();
            var store = getStoreByName('classroomsAttendances');
            var index = store.index('date');
            var request = index.getAll(selected_date);
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    item.validated = 1;
                    store.put(item);
                });
            };
        }

        function check_attendance_sheet(classroom)
        {
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDate");
            var request = index.getAll([parseInt(classroom), get_current_attendance_date()]);
            request.onsuccess = function(){
                var result = request.result;
                if(result.length){
                    check_attendance_students(classroom, result);
                }else{
                    create_new_attendance_data(classroom);
                }
            };
        }

        function check_attendance_students(classroom, classroomStudents)
        {
            var store = getStoreByName('registrations');
            var index = store.index('classroom');
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                if(result.length != classroomStudents.length){
                    $(result).each(function(i, item){
                        check_attendance_new_student(classroom, item);
                    });
                }
                calculate_attendances(classroom);
            }
        }

        function check_attendance_new_student(classroom, registration)
        {
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDateAndStudent");
            var request = index.get([parseInt(classroom), get_current_attendance_date(), parseInt(registration.student_id)]);

            request.onsuccess = function(){
                if(!request.result) {
                    create_student_row(registration);
                    calculate_attendances(classroom);
                }
            };
        }

        function display_attendance_sheet(classroom)
        {
            $("#attendance-validate-all").hide();
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDate");
            var request = index.getAll([parseInt(classroom), get_current_attendance_date()]);
            $('#attendance-table').find('tbody').empty();
            $('#attendance-sheet').show();

            request.onsuccess = function(){
                var result = request.result;
                if(result.length){
                    $(result).each(function(i, item){
                        create_attendance_row(item);
                    });
                }
            };
        }

        function create_attendance_row(item)
        {
            var status = '';
            if(item.status){
                status = 'checked';
            }
            var tr = $('<tr>');
{#            var sex_icon = $('<span>').addClass('icon-'+item.sex); //tmp#}
            var sex_icon = $('<span>').addClass('icon-'+item.student_sex);
            var col1 = $('<td>').append(sex_icon).append(item.student_full_name);
            var check_input = $('<input class="status-checkbox" type="checkbox" '+status+' data-on-text="{% trans 'Present' %}" data-off-text="{% trans 'Absent' %}">');
            var col2 = $('<td>').html(check_input);

            tr.append(col1);
            tr.append(col2);
            $('#attendance-table').find('tbody').append(tr);
            check_input.bootstrapSwitch();
            check_input.on('switchChange.bootstrapSwitch', function(event, state) {
                setAttendance(item.classroom, item.student_id, state);
            });
        }

        function create_new_attendance_data(classroom)
        {
            var store = getStoreByName('registrations');
            var index = store.index('classroom');
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    create_student_row(item);
                });
                calculate_attendances(classroom);
                create_classroom_attendance(classroom);
            };
        }

        function create_classroom_attendance(classroom)
        {
            var store = getStoreByName('classroomsAttendances');
            store.put({classroom: parseInt(classroom), attendance_date: get_current_attendance_date(), validated: 0});
        }

        function create_student_row(item)
        {
            var data = {
                original_id: 0,
                synchronized: false,
                student_id: item.student_id,
                student_full_name: item.student_full_name,
                school: item.school,
                classroom: item.classroom,
                classroom_name: item.classroom_name,
                status: false,
                state: 0,
                student_sex: item.student_sex,
                owner: user_id,
                attendance_date: get_current_attendance_date(),
                validation_status: false,
                validation_state: 0,
                validation_date: null,
                validation_owner: null
            };
            getStoreByName('attendances').put(data);
        }

        function synchronize_data(showFeedback)
        {
            var store = getStoreByName('attendances');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    if(item.synchronized == false) {
                        push_data_to_server(item);
                    }else if(item.deleted == true){
                        delete_data_from_server(item);
                    }else{
                        update_data_into_server(item);
                    }
                });
                if(showFeedback){
                    bootbox.alert("{% trans 'Synchronization done' %}", function() {});
                }
            };
        }

        function push_data_to_server(item)
        {
            var data = item;

            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    if(response.status == '201'){
                        $('#line-'+item.id).find('.attendance-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                        item.original_id = response.data.id;
                        update_item_store(item.id, 'original_id', response.data.id);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.attendance-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function update_data_into_server(item)
        {
            var data = item;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    if(response.status == '200'){
                        $('#line-'+item.id).find('.attendance-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.attendance-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function pull_data_from_server(url, store_name)
        {
            var store = getStoreByName(store_name);

            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    $(response).each(function(i, item){
                        var store = getStoreByName(store_name);
                        var request = store.get(item.id);
                        request.onsuccess = function(){
                            var result = request.result;
                            if(result == undefined){
                                store.put(item);
                            }
                        };
                    });
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function load_base_data()
        {
            pull_data_from_server('/api/classrooms/', 'classrooms');
            pull_data_from_server('/api/sections/', 'sections');
{#            pull_data_from_server('/api/students/', 'students');#}
            pull_data_from_server('/api/enrollments/', 'registrations');
{#            pull_data_from_server('/api/attendances/', 'attendances');#}
        }

        function createStores()
        {
            var request = indexedDB.open("db_attendances", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('attendances')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                    console.log(err);
                }
                if(flag){

                    var store1 = db.createObjectStore("attendances", {keyPath: "id", autoIncrement:true});
                    store1.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });
                    store1.createIndex('attendance_date', 'attendance_date', { unique: false, multiEntry: true });
                    store1.createIndex('classroomAndDate', ['classroom', 'attendance_date']);
                    store1.createIndex('classroomAndDateAndStudent', ['classroom', 'attendance_date', 'student_id']);
                    store1.createIndex('classroomAndDateAndStatus', ['classroom', 'attendance_date', 'state']);

                    var store2 = db.createObjectStore("students", {keyPath: "id", autoIncrement:true});

                    var store4 = db.createObjectStore("classrooms", {keyPath: "id", autoIncrement:true});

                    var store5 = db.createObjectStore("registrations", {keyPath: "id", autoIncrement:true});
                    store5.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });

                    var store6 = db.createObjectStore("classroomsAttendances", {keyPath: "id", autoIncrement:true});
                    store6.createIndex('date', 'attendance_date');
                    store6.createIndex('classroomAndDate', ['classroom', 'attendance_date']);

                    db.createObjectStore("sections", {keyPath: "id", autoIncrement:true});

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                load_base_data();
                if(selected_school){
                    display_classes(selected_school);
                    display_attendance_days(getCurrentDate());
                }
            };
        }

        function getStoreByName(store_name)
        {
            var store = db.transaction([store_name], "readwrite").objectStore(store_name);
            return store;
        }

        function setAttendance(classroom, student, status)
        {

            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDateAndStudent");
            var request = index.get([parseInt(classroom), get_current_attendance_date(), parseInt(student)]);
            request.onsuccess = function() {
                var result = request.result;
                result.status = status;
                result.state = status ? 1 : 0;
                store.put(result);
                calculate_attendances(classroom);
            }
        }

        function get_current_attendance_date()
        {
            var selected_date = $('#attendance-days').find('.active').attr('itemid');
            if(!selected_date){
                selected_date = getCurrentDate();
            }
            return selected_date;
        }

        function getHeader()
        {
            var csrftoken = getCookie('csrftoken');
            var header = {'Authorization': 'Token '+user_token, 'X-CSRFToken': csrftoken};
            return header;
        }

    </script>

{% endblock %}
