{% extends "base.html" %}

{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">

{% endblock %}

{% block content-full-page %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="alert alert-success d-none" role="alert">
                                {% trans 'Your data has been sent successfully to the server' %}
                            </div>
                            <div class="alert alert-danger d-none" role="alert">
                                {% trans 'En error has been occurred please contact the admin or try later' %}
                            </div>
                          <div class="panel-heading">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="btn btn-info" href="{% url "attendances:attendance" %}?date={{ selected_date }}">{% trans "Back to " %} {{ selected_date_view }}</a>
                                    <button type="button" class="btn btn-warning absolute-right-15 absolute-top-15" id="exam_day" translation="{% trans 'Are you sure that the students of this class are away for a reason?' %}" {% if disable_attendance %}disabled{% endif %}>{% trans "Exam day" %}</button>
                                    <button type="button" class="btn btn-warning absolute-right-200 absolute-top-15" id="not_attending" translation="{% trans 'Are you sure that the students of this class are away for a reason?' %}" {% if disable_attendance %}disabled{% endif %}>{% trans "Not attending" %}</button>
                                </li>
                            </ol>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    {{ level.name }} - {{ section.name }}
                                </li>
                                <li class="breadcrumb-item">
                                    <span class="badge badge-primary">{{ current_level_section.total }}: {% trans "Total students" %}</span> -
                                    <span class="badge badge-success">{{ current_level_section.total_attended }}: {% trans "Total attended" %}</span> -
                                    <span class="badge badge-danger">{{ current_level_section.total_absences }}: {% trans "Total absences" %}</span>
                                    <a href="#" class="btn btn-success absolute-right-15 absolute-top-7 {% if disable_attendance %}disabled{% endif %}" id="save_attendances" translation="{% trans 'Are you sure you want to save the attendance for this class?' %}">{% trans "Save" %}</a>
                                </li>
                            </ol>
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="attendance-sheet" class="">
                <form action="/api/attendances/" method="post" onsubmit="return false;" id="attendance_class">
                    <input type="hidden" name="attendance_date" value="{{ selected_date }}" id="attendance_date" />
                    <input type="hidden" name="school" value="{{ request.user.school_id }}" id="school" />
                    <input type="hidden" name="owner" value="{{ request.user.id }}" id="owner" />
                    <input type="hidden" name="section" value="{{ section.id }}" id="section" />
                    <input type="hidden" name="level" value="{{ level.id }}" id="level" />
                {% for line in students %}
                    <div class="row row-student">
                        <input type="hidden" name="enrollment_id[]" value="{{ line.id }}" class="enrollment_id" />
                        <input type="hidden" name="student_id[]" id="student_id_{{ line.id }}" value="{{ line.student.id }}" />
                        <input type="hidden" name="student_fullname[]" id="student_fullname_{{ line.id }}" value="{{ line.student }}" />
                        <input type="hidden" name="student_sex[]" id="student_sex_{{ line.id }}" value="{{ line.student.sex }}" />
                        <input type="hidden" name="student_age[]" id="student_age_{{ line.id }}" value="{{ line.student.age }}" />
                        <input type="hidden" name="student_dropout[]" id="student_dropout_{{ line.id }}" value="{{ line.student.dropout }}" />
                        <input type="hidden" name="student_birthday[]" id="student_birthday_{{ line.id }}" value="{{ line.student.birthday }}" />
                        <input type="hidden" name="level[]" id="level_{{ line.id }}" value="{{ level.id }}" />
                        <input type="hidden" name="level_name[]" id="level_name_{{ line.id }}" value="{{ level.name }}" />
                        <input type="hidden" name="section[]" id="section_{{ line.id }}" value="{{ section.id }}" />
                        <input type="hidden" name="section_name[]" id="section_name_{{ line.id }}" value="{{ section.name }}" />

                        <div class="col-xs-6 col-sm-2 icon-student-{{ line.student.sex }} s-col" style="border-left: 10px solid #2aabd2;"></div>
                        <div class="col-xs-3 col-sm-3 s-col">
                            <span>{{ line.student }}</span>
                        </div>
                        <div class="col-xs-3 col-sm-3 s-col">
                            <span class="icon-mother"></span>
                            <span>{{ line.student.mother_fullname }}</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 s-col">
                            <span class="icon-age"></span>
                            <span>{{ line.student.age }}</span>
                        </div>
                        <div class="col-xs-6 col-sm-2 col-md-2 s-col">
                            <input type="checkbox" name="status[]" id="status_{{ line.id }}" {% if line.attendance_status == 'True' or line.attendance_status == None %}checked="checked" value="True"{% else %}value="False"{% endif %} itemid="{{ line.id }}" class="toggle-status" data-on-text="{% trans "Present" %}" data-off-text="{% trans "Absent" %}" {% if disable_attendance %}disabled{% endif %}/>
                        </div>
                        <div class="col-sm-8 absence-reasons {% if line.attendance_status == 'True' or line.attendance_status == None %}d-none{% endif %}" id="reasons-{{ line.id }}">
                            <label class="radio-inline"><input type="radio" {% if line.absence_reason == 'sick' %}checked="checked"{% endif %} value="sick" name="absence_reason[{{ line.id }}]" class="absence_reason_{{ line.id }}" {% if disable_attendance %}disabled{% endif %}/>{% trans "Sick" %}</label>
                            <label class="radio-inline"><input type="radio" {% if line.absence_reason == 'no_reason' %}checked="checked"{% endif %} value="no_reason" name="absence_reason[{{ line.id }}]" class="absence_reason_{{ line.id }}" {% if disable_attendance %}disabled{% endif %}/>{% trans "No reason" %}</label>
                            <label class="radio-inline"><input type="radio" {% if line.absence_reason == 'no_transport' %}checked="checked"{% endif %} value="no_transport" name="absence_reason[{{ line.id }}]" class="absence_reason_{{ line.id }}" {% if disable_attendance %}disabled{% endif %}/>{% trans "No transport" %}</label>
                            <label class="radio-inline"><input type="radio" {% if line.absence_reason == 'other' %}checked="checked"{% endif %} value="other" name="absence_reason[{{ line.id }}]" class="absence_reason_{{ line.id }}" {% if disable_attendance %}disabled{% endif %}/>{% trans "Other" %}</label>
                        </div>
                    </div>
                {% endfor %}

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="btn btn-info" href="{% url "attendances:attendance" %}?date={{ selected_date }}">{% trans "Back to " %} {{ selected_date_view }}</a>
                            <a href="#" class="btn btn-success absolute-right-15 absolute-top-7 {% if disable_attendance %}disabled{% endif %}" id="save_attendances" translation="{% trans 'Are you sure you want to save the attendance for this class?' %}">{% trans "Save" %}</a>
                        </li>
                    </ol>
                </form>
            </div>
         </section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/attendance.js' %}"></script>
    <script type="text/javascript">
        var user_token = '{{ user_token }}';
    </script>

{% endblock %}
