{% extends 'base.html' %}

{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-button-group.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
    <style>
        .row-class {
            border: 1px solid;
            border-radius: 8px;
            margin: 15px 0px;
            cursor: pointer;
        }
        .btn-attendance-day.active {
            background-color: #2aabd2;
            color: snow;
        }
    </style>
{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                          <h4 class="panel-title">
                          <ol class="breadcrumb">
                              <li><a>{% trans "Attendances" %}</a></li>
                                <li><a>
                                <select id="location-filter">
                                    <option value="0">{% trans 'Select a Location' %}</option>
                                    {% for item in locations %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                                </a></li>
                                <li><a>
                                <select id="school-filter">
                                    <option value="0">{% trans 'Select a School' %}</option>
                                    {% for item in schools %}
                                        <option value="{{ item.id }}" itemscope="{% if item.location %}{{ item.location.id }}{% else %}0{% endif %}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                                </a></li>
                            </ol>
                            </h4>
                          </div>
                     </div>
                </div>
            </div>
            </section>
            <div class="container-main" id="classes-list"></div>
            <span class="badge" id="other-classes" style="display: none;">{% trans 'Other classes' %}</span>
            <div id="attendance-sheet" style="display: none;">

                <table id="attendance-table" {% if LANGUAGE_CODE == 'ar-ar' %}lang="ar" dir="rtl"{% endif %}
                       class="table table-hover table-striped"
                       data-height="500"
                       data-pagination="true"
                       data-search="true"
                       cellspacing="0"
                       width="100%">
                    <thead>
                      <tr>
                          <th>{% trans 'Student fullname' %}</th>
{#                          <th></th>#}
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var selected_school = {{ selected_school }};
        var attendance_days = {{ days|safe }};
        var rows = 1;

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = '{{ request.get_host }}';
        var synchro_path = protocol+host+'/api/attendances/';

        $(document).ready(function(){

            createStores();

            setInterval(function(){
                if(navigator.onLine) {
{#                    synchronize_data(false);#}
                }
            }, 3600000);

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('change', '#location-filter', function(){
                var itemscope = $(this).val();
                $('#school-filter').find('option').hide();
                $('#school-filter').find('option[itemscope='+itemscope+']').show();
            });

            $(document).on('change', '#school-filter', function(){
                $('#other-classes').hide();
                $('#attendance-sheet').hide();
                $('.row-class').show();
                display_classes($(this).val());
            });

            $(document).on('click', '.row-class', function(){
                $('.row-class').hide();
                $(this).show();
                $('#other-classes').show();
                display_attendance_days($(this).attr('itemid'));
                display_registered_students($(this).attr('itemid'));
            });

            $(document).on('click', '#other-classes', function(){
                $(this).hide();
                $('.row-class').show();
                $('#attendance-sheet').hide();
                $("#attendance-validate-all").show();
            });

            $(document).on('click', '#attendance-validate-all', function(){
                bootbox.confirm("{% trans 'Are you sure to validate all Attendances' %}", function(result) {
                    if (result === true) {
                        validate_attendances();
                    }
                });
            });

        });

        function display_classes(school)
        {
            var store = getStoreByName("classrooms");
            var index = store.index("school");
            var request = index.getAll(parseInt(school));
            var container = $('#classes-list');

            container.empty();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){

                    var row = $('<div>').addClass('row').addClass('row-class').attr('id', 'row-class-'+item.id).attr('itemid', item.id);
                    var total = '{% trans "Total" %}'+ ': '+'<span class="badge ttl_students">0</span><br/>';
{#                    var ttl_present = '{% trans "Total present" %}'+ ': '+'<span class="badge ttl_present">0</span><br/>';#}
{#                    var ttl_absent = '{% trans "Total absent" %}'+ ': '+'<span class="badge ttl_absent">0</span>';#}
{#                    var col1 = $('<div>').addClass('col-md-4').html(total+ttl_present+ttl_absent);#}
                    var col1 = $('<div>').addClass('col-md-4').html(total);
                    var col2 = $('<div>').addClass('col-md-8').html(item.name+'<br>'+item.grade_name+' - '+item.section_name);
                    var col3 = $('<div>').addClass('col-md-4').html();

                    row.append(col1);
                    row.append(col2);
                    row.append(col3);
                    container.append(row);
                    calculate_total_students(item.id);
                });
            };
        }

        function display_attendance_days(classroom)
        {
            var container = $('#attendance-table').find('thead').find('tr');
            container.find('.attendance-date').remove();
            var store = getStoreByName('classroomsAttendances');
            var index = store.index("classroom");
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    var day = $('<button>').attr('type', 'button')
                            .addClass('btn')
                            .addClass('btn-default')
                            .addClass('btn-attendance-day')
                            .attr('itemid', item.attendance_date)
                            .text(item.attendance_date);
{#                    var ttl_present = '{% trans "Total present" %}'+ ': '+'<span class="badge ttl_present">0</span><br/>';#}
{#                    var ttl_absent = '{% trans "Total absent" %}'+ ': '+'<span class="badge ttl_absent">0</span>';#}
                    var th = $('<th>').addClass('attendance-date')
                            .append(day)
                            .append('<br/>');
{#                            .append(ttl_present)#}
{#                            .append(ttl_absent);#}
                    container.append(th);
{#                    calculate_attendances(classroom, item.attendance_date, th);#}
                });
            };
        }

        function calculate_total_students(classroom)
        {
            var attendance = $('#row-class-'+classroom);
            var store = getStoreByName("registrations");
            var index = store.index("classroom");
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                if(result && result.length){
                    attendance.find('.ttl_students').text(result.length);
                }
            }
        }

        function calculate_attendances(classroom, attendance_date, container)
        {
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDateAndStatus");

            var request1 = index.getAll([parseInt(classroom), attendance_date, 1]);
            var request2 = index.getAll([parseInt(classroom), attendance_date, 0]);

            request1.onsuccess = function(){
                var result = request1.result;
                container.find('.ttl_present').text(result.length);
            };
            request2.onsuccess = function(){
                var result = request2.result;
                container.find('.ttl_absent').text(result.length);
            };
        }

        function validate_attendances()
        {
            var selected_date = get_current_attendance_date();
            var store = getStoreByName('classroomsAttendances');
            var index = store.index('date');
            var request = index.getAll(selected_date);
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    item.validated = 1;
                    store.put(item);
                });
            };
        }

        function display_registered_students(classroom)
        {
            $('#attendance-table').find('tbody').empty();
            $('#attendance-sheet').show();

            var store = getStoreByName("registrations");
            var index = store.index("classroom");
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                if(result && result.length){
                    $(result).each(function(i, item){
                        create_attendance_row(item, classroom);
                    });
                }
            }
        }

        function display_attendance_sheet(classroom)
        {
            var store = getStoreByName("attendances");
            var index = store.index("classroomAndDate");
            var request = index.getAll([parseInt(classroom), get_current_attendance_date()]);
            $('#attendance-table').find('tbody').empty();
            $('#attendance-sheet').show();

            request.onsuccess = function(){
                var result = request.result;
                if(result.length){
                    $(result).each(function(i, item){
                        create_attendance_row(item, classroom);
                    });
                }
            };
        }

        function create_attendance_row(item, classroom)
        {
            var status = '';
            if(item.status){
                status = 'checked';
            }
            var tr = $('<tr>');
            var sex_icon = $('<span>').addClass('icon-'+item.student_sex);
            var col1 = $('<td>').append(sex_icon).append(item.student_full_name);
            tr.append(col1);
            $('#attendance-table').find('tbody').append(tr);
            display_student_attendances(item.student_id, classroom, tr);
        }

        function display_student_attendances(student_id, classroom, container)
        {
            var store = getStoreByName('classroomsAttendances');
            var index = store.index("classroom");
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                if(result){
                    var total = 0;
                    var ttl_present = 0;
                    var ttl_absent = 0;
                    $(result).each(function(i, item){
                        total = total + 1;
                        var store1 = getStoreByName("attendances");
                        var index1 = store1.index("classroomAndDateAndStudent");
                        var request1 = index1.get([parseInt(classroom), item.attendance_date, parseInt(student_id)]);
                        request1.onsuccess = function() {
                            var result1 = request1.result;
                            var status = '';
                            if(result1 && result1.status){
                                status = 'checked';
                                ttl_present = ttl_present + 1;
                            }
                            var check_input = $('<input class="status-checkbox" type="checkbox" readonly="readonly" '+status+' data-on-text="{% trans 'Present' %}" data-off-text="{% trans 'Absent' %}">');
                            var col2 = $('<td>').html(check_input);
                            container.append(col2);
                            check_input.bootstrapSwitch();
                        };
                    });
{#                    var col3 = $('<td>').html(ttl_present+'/'+total);#}
{#                    container.append(col3);#}
                }
            };
        }

        function create_attendance_days(list)
        {
            $(list).each(function(i, item){
                var store = getStoreByName('classroomsAttendances');
                var index = store.index("classroomAndDate");
                var request = index.get([parseInt(item.classroom), item.attendance_date]);
                request.onsuccess = function(){
                    var result = request.result;
                    if(result){

                    }else{
                        store.put(item);
                    }
                };
            });
        }

        function pull_data_from_server(url, store_name)
        {
            var store = getStoreByName(store_name);

            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    $(response).each(function(i, item){
                        var store = getStoreByName(store_name);
                        var request = store.get(item.id);
                        request.onsuccess = function(){
                            var result = request.result;
                            if(result == undefined){
                                store.put(item);
                            }
                        };
                    });
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function load_base_data()
        {
            pull_data_from_server('/api/schools/', 'schools');
            pull_data_from_server('/api/classrooms/', 'classrooms');
            pull_data_from_server('/api/grades/', 'grades');
            pull_data_from_server('/api/sections/', 'sections');
            pull_data_from_server('/api/students/', 'students');
            pull_data_from_server('/api/registrations/', 'registrations');
            pull_data_from_server('/api/attendances/', 'attendances');
            create_attendance_days(attendance_days);
        }

        function createStores()
        {
            var request = indexedDB.open("comp3_attendances", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('attendances')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                    console.log(err);
                }
                if(flag){

                    var store1 = db.createObjectStore("attendances", {keyPath: "id", autoIncrement:true});
                    store1.createIndex('school', 'school', { unique: false, multiEntry: true });
                    store1.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });
                    store1.createIndex('attendance_date', 'attendance_date', { unique: false, multiEntry: true });
                    store1.createIndex('classroomAndDate', ['classroom', 'attendance_date']);
                    store1.createIndex('classroomAndDateAndStudent', ['classroom', 'attendance_date', 'student_id']);
                    store1.createIndex('classroomAndDateAndStatus', ['classroom', 'attendance_date', 'state']);

                    var store2 = db.createObjectStore("students", {keyPath: "id", autoIncrement:true});

                    var store3 = db.createObjectStore("schools", {keyPath: "id", autoIncrement:true});
                    store3.createIndex('location', 'location', { unique: false, multiEntry: true });

                    var store4 = db.createObjectStore("classrooms", {keyPath: "id", autoIncrement:true});
                    store4.createIndex('school', 'school', { unique: false, multiEntry: true });
                    store4.createIndex('section', 'section', { unique: false, multiEntry: true });
                    store4.createIndex('grade', 'grade', { unique: false, multiEntry: true });


                    var store5 = db.createObjectStore("registrations", {keyPath: "id", autoIncrement:true});
                    store5.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });

                    var store6 = db.createObjectStore("classroomsAttendances", {keyPath: "id", autoIncrement:true});
                    store6.createIndex('date', 'attendance_date');
                    store6.createIndex('classroom', 'classroom');
                    store6.createIndex('classroomAndDate', ['classroom', 'attendance_date']);

                    db.createObjectStore("grades", {keyPath: "id", autoIncrement:true});
                    db.createObjectStore("sections", {keyPath: "id", autoIncrement:true});

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                load_base_data();
            };
        }

        function getStoreByName(store_name)
        {
            var store = db.transaction([store_name], "readwrite").objectStore(store_name);
            return store;
        }

        function get_current_attendance_date()
        {
            var selected_date = $('#attendance-days').find('.active').attr('itemid');
            if(!selected_date){
                selected_date = getCurrentDate();
            }
            return selected_date;
        }

        function getHeader()
        {
            var csrftoken = getCookie('csrftoken');
            var header = {'Authorization': 'Token '+user_token, 'X-CSRFToken': csrftoken};
            return header;
        }

    </script>

{% endblock %}
