{% extends "base2.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load util_tags %}
{% bootstrap_css %}

{% block head_title %}Attendance{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bridging/attendance-list.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-combobox.css' %}">
{% endblock %}

{% block main_content %}

{% endblock %}

{% block content-full-page %}


    <div id="resume" class="inner-content">
      <section id="page-title" class="inline-form inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
          <h3 class="font-accident-two-light color01 uppercase"
              data-animation-origin="right"
              data-animation-duration="400"
              data-animation-delay="100"
              data-animation-distance="50px">{% trans "Dirasa Attendance" %}
          </h3>
        </div>
      </section>

      <section class="inline-form inner-section light bg-color01">
          <div class="container-fluid nopadding">
              {{ form.errors }}
              {% crispy form %}
          </div>
      </section>

    </div>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap-combobox.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/validator.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/attendance/main-attendance.js' %}?v=46"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        function openAbsencePage() {
            document.location.href = "{% url 'clm:bridging_attendance_report' %}";
        }

<!--        var user_token = '{{ user_token }}';-->
<!--        var href_full_path = '{{ request.build_absolute_uri }}';-->
<!--        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();-->
    </script>
{% endblock %}
