{% extends "base2.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load util_tags %}
{% bootstrap_css %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bridging/attendance-list.css' %}" rel="stylesheet" />
{% endblock %}

{% block content-full-page %}

<section>

    <section id="page-title" class="inline-form inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h3 class="font-accident-two-light color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                horizental-algin="middle"
                data-animation-distance="50px">{% trans "SCHOOL BRIDGING PORGRAMME-ATTENDANCE" %}
            </h3>
        </div>
    </section>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="badge badge-primary">{{ table.rows|length }}</span></li>
      <li class="breadcrumb-item active">{{ request.user.partner }}</li>
      <li class="breadcrumb-item active">{{ request.user }}</li>
    </ol>
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4>Create Attendance</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.as_p }}


                <div class="mt-3 mb-5">
                    <button id="LoadStudentsButton" type="button" class="px-5 btn btn-info">Load Students</button>
                </div>
                <h5 class="text-info">Add Attendance Students</h5>

                {{ attendance_student_formset.non_form_errors }}
                {{ attendance_student_formset.management_form }}

                <table class="table">
                {% for form in attendance_student_formset.forms %}

                     {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %} formset_row">

                        {% for field in form.visible_fields %}
                            <td>
                                {{ field }}
                            </td>
                        {% endfor %}
                      {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
</div>

</section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap-combobox.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/validator.js' %}"></script>
<!--    <script type="text/javascript" language="javascript" src="{% static 'js/registrations.js' %}"></script>-->
    <script type="text/javascript" language="javascript" src="{% static 'js/bridging/main-attendance.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        var user_token = '{{ user_token }}';
        var href_full_path = '{{ request.build_absolute_uri }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
    </script>
{% endblock %}
