{% extends "base.online.html" %}

{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-button-group.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
    <style>
        .row-class  {
            border: 1px solid;
            border-radius: 8px;
            margin: 15px 0px;
            cursor: pointer;
        }
        .row-student  {
            border-radius: 8px;
            margin: 15px 0px;
            background: #f5f5f5; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(left top, #f5f5f5, #EDEFF1); /* Standard syntax */
        }
        .btn-attendance-day.active {
            background-color: #2aabd2;
            color: snow;
        }
    </style>
{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading" id="header">
                            <ol class="breadcrumb">
                                <li><h3 class="panel-title">{% trans "Attendance" %}</h3></li>
                                <li>
                                    <a class="btn btn-info" id="registration-export" href="{% url "enrollments:enrollment_export" %}" target="_blank">
                                        <i class="icon-export-sign icon-white"></i>&nbsp;
                                            {% trans "Export" %}
                                    </a>
                                </li>
                            </ol>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-heading">
                            <ol class="breadcrumb">
                                <li>{{ school }}</li>
                                <li>{{ location }}</li>
                                <li>{{ location_parent }}</li>
                                <li>{% trans "Total students" %} <span class="badge ttl_students">{{ total }}</span></li>
                            </ol>
                          </div>
                          <div class="panel-heading">
                            <ol class="breadcrumb">
                                <li>
                                    {{ level.name }} - {{ section.name }}
                                    <span class="badge">{{ total_students }}</span>
                                </li>
                                <li>
                                    <select name="dates" id="dates">
                                        {% for date in dates %}
                                            <option value="{{ date }}">{{ date }}</option>
                                        {% endfor %}
                                    </select>
                                </li>
                            </ol>
                          </div>
                     </div>
                </div>
            </div>
            </section>

            <div class="container-main" id="classes-list"></div>
            <div id="attendance-sheet" class="">
            {% if not level %}
                {% for row in levels_by_sections %}
                <div class="row row-class" itemid="{{ row.level }}" itemref="{{ row.section }}">
                    <div class="col-sm-4 text-left">
                        <div>{{ row.level_name }}</div>
                        <div>{{ row.section_name }}</div>
                    </div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-3">
                        <div class="text-right">{% trans "Total Attended" %}: <span class="badge">0</span></div>
                        <div class="text-right">{% trans "Total absentees" %}: <span class="badge">0</span></div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for line in students %}
                    <div class="row row-student">
                        <div class="col-sm-2 icon-{{ line.student.sex }}"></div>
                        <div class="col-sm-7">{{ line.student }}</div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="status" checked="checked" itemid="{{ line.id }}" class="toggle-status" data-on-text="{% trans "Present" %}" data-off-text="{% trans "Absent" %}" />
                            <div class="absence-reasons" style="display: none;" id="reasons-{{ line.id }}">
                                <label class="radio-inline"><input type="radio" name="sick">{% trans "Sick" %}</label>
                                <label class="radio-inline"><input type="radio" name="no_reason">{% trans "No reason" %}</label>
                                <label class="radio-inline"><input type="radio" name="no_transport">{% trans "No transport" %}</label>
                                <label class="radio-inline"><input type="radio" name="other">{% trans "Other" %}</label>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}

            </div>
              <a class="btn btn-info" id="attendance-validate-all" href="#" style="display: none;">
                <i class="icon-validation-sign icon-white"></i>&nbsp;
                    {% trans "Validate All" %}
              </a>
         </section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var selected_school = {{ school.id }};
        var rows = 1;

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = '{{ request.get_host }}';
        var synchro_path = protocol+host+'/api/attendances/';

        $(document).ready(function(){

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('click', '.row-class', function(){
                var itemid = $(this).attr('itemid');
                var itemref = $(this).attr('itemref');
                window.location = '{% url "attendances:attendance" %}' + '?level='+itemid + '&section='+itemref;
            });

            $("[class='toggle-status']").bootstrapSwitch();
            $("[class='toggle-status']").on('switchChange.bootstrapSwitch', function(event, state) {
                $("[class='status-checkbox']").bootstrapSwitch('state', state);
                console.log(this);
                if(state == false){
                    $('.absence-reasons').show();
                }else{
                    $('.absence-reasons').hide();
                }
            });
        });

    </script>

{% endblock %}
