{% extends "base.html" %}

{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

{#    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-progressbars.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-button-group.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">#}
    <style>
        .row-class  {
            max-height:75px;
            border-radius: 0 8px 8px 0;
            margin: 15px 0px;
            cursor: pointer;
            background: #f5f5f5; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(left top, #f5f5f5, #EDEFF1); /* Standard syntax */
            box-shadow: 1px 1px 5px #888888;
        }
        .row-class:hover {
            text-decoration: none;
        }
        .row-class div {
{#            border: 1px solid;#}
        }
        .row-class .s-col {
            height: 75px;
            max-height: 75px;
        }
        .row-class .progress-success {
            color: #5cb85c !important;
            border: 1px solid #5cb85c;
        }
        .row-class .progress-danger {
            color: #d9534f !important;
            border: 1px solid #d9534f;
        }
        .row-class .progress .progress-bar {
{#            color: #2aabd2 !important;#}
            color: #0b0b0b;
        }
        .row-class.disabled {
            pointer-events: none;
            cursor: not-allowed !important;
            opacity: .65;
        }
        .row-student  {
            border-radius: 0 8px 8px 0;
            margin: 15px 0px;
            background: #f5f5f5; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(left top, #f5f5f5, #EDEFF1); /* For Firefox 3.6 to 15 */
            background: linear-gradient(left top, #f5f5f5, #EDEFF1); /* Standard syntax */
            box-shadow: 1px 1px 5px #888888;
        }
        .row-student .s-col {
            padding-top: 15px;
        }
        .row-student div {
{#            border: 1px solid;#}
        }
        .row-student .absence-reasons label {
            font-style: italic;
            padding-right: 5px;
        }
        .row-student .absence-reasons input {
            margin-right: 10px;
        }
        .btn-attendance-day.active {
            background-color: #2aabd2;
            color: red;
        }
        .s-lft {
        }
        .s-lft div {
            padding-top: 5px;
            margin-top: 5px;
        }
        .s-rgt {
            border-radius: 0 8px 8px 0;
            background: #2aabd2;
        }
        .row-class .s-progs {
            padding-top: 5px;
        }
        .s-progs .progress {
            margin-top: 10px;
        }
        .breadcrumb li:first-child {
            padding-left: 10px;
        }
        .absolute-right-30 {
            position: absolute;
            right: 30px;
        }
    </style>
{% endblock %}

{% block header %}
      <li class="nav-item">
        <a class="nav-link" href="">{{ school }} - {{ location }} - {{ location_parent }}
            - <span class="badge">{{ total }}</span>
        </a>
      </li>
{% endblock %}

{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="alert alert-success d-none" role="alert">
                              <strong>Well done!</strong> You successfully read this important alert message.
                            </div>
                            <div class="alert alert-danger d-none" role="alert">
                              <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            </div>
{#                          <div class="panel-heading" id="header">#}
{#                            <ol class="breadcrumb">#}
{#                                <li><h3 class="panel-title">{% trans "Attendance" %}</h3></li>#}
{#                                <li>#}
{#                                    <a class="btn btn-info" id="registration-export" href="{% url "enrollments:enrollment_export" %}" target="_blank">#}
{#                                        <i class="icon-export-sign icon-white"></i>&nbsp;#}
{#                                            {% trans "Export" %}#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ol>#}
{#                            <div class="actions pull-right">#}
{#                                <i class="fa fa-chevron-down"></i>#}
{#                                <i class="fa fa-times"></i>#}
{#                            </div>#}
{#                          </div>#}
{#                          <div class="panel-heading">#}
{#                            <span class="col-sm-2 icon-school"></span>#}
{#                            <ol class="breadcrumb">#}
{#                                <li>{{ school }}</li>#}
{#                                <li>{{ location }}</li>#}
{#                                <li>{{ location_parent }}</li>#}
{#                                <li>{% trans "Total students" %} <span class="badge ttl_students">{{ total }}</span></li>#}
{#                            </ol>#}
{#                          </div>#}
                          <div class="panel-heading">
                                {% if level %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="btn btn-info" href="{% url "attendances:attendance" %}?date={{ selected_date }}">{% trans "Back to " %} {{ selected_date_view }}</a>
                                    <button type="button" class="btn btn-warning absolute-right-30" id="exam_day" translation="{% trans 'Are you sure that the students of this class are away for a reason?' %}">{% trans "Exam day" %}</button>
                                </li>
                            </ol>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    {{ level.name }} - {{ section.name }}
                                </li>
                                <li class="breadcrumb-item">
                                    {% trans "Total students" %} <span class="badge badge-default">{{ total_students }}</span>
                                    <a href="#" class="btn btn-success absolute-right-30" id="save_attendances" translation="{% trans 'Are you sure you want to save the attendance for this class?' %}">{% trans "Save" %}</a>
                                </li>
                            </ol>
                                {% endif %}
                                {% if not level %}
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <div class="form-group">
{#                                        <span class="col-sm-2 icon-date-time"></span>#}
                                        <select name="dates" id="dates" class="form-control">
                                            {% for date in dates %}
                                                <option value="{{ date.value }}" {% if date.value == selected_date %}selected="selected"{% endif %} data-action="{% url "attendances:attendance" %}?date={{ date.value }}">{{ date.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>
                                <li class="breadcrumb-item">
                                      <button type="button" class="closing-reason-b btn btn-primary" itemref="public_holiday" translation="{% trans 'Are you sure that the school is closed today for a public holiday?' %}">{% trans "Public Holiday" %}</button>
                                      <button type="button" class="closing-reason-b btn btn-warning" itemref="school_holiday" translation="{% trans 'Are you sure that the school is closed today for a school holiday?' %}">{% trans "School Holiday" %}</button>
                                      <button type="button" class="closing-reason-b btn btn-danger" itemref="strike" translation="{% trans 'Are you sure that the school is closed today for a strike?' %}">{% trans "Strike" %}</button>
                                      <button type="button" class="closing-reason-b btn btn-info" itemref="weekly_holiday" translation="{% trans 'Are you sure that the school is closed today for a weekly holiday?' %}">{% trans "Weekly Holiday" %}</button>
{#       if director and attendance has been taken for this day                             #}
{#                                        {% if request.user|has_group:"DIRECTOR" or request.user|has_group:"ALP_DIRECTOR" %}#}
                                      <button type="button" class="btn btn-success absolute-right-30" id="attendance_validate" translation="{% trans 'Are you sure you want to validate all attendances?' %}">{% trans "Validate all" %}</button>
{#                                        {% endif %}#}
                                </li>
                            </ol>
                                {% endif %}
                          </div>
                        </div>
                    </div>
                </div>
            </section>

            <div id="attendance-sheet" class="">
                <input type="hidden" name="school" value="{{ request.user.school_id }}" id="school" />
                <input type="hidden" name="owner" value="{{ request.user.id }}" id="owner" />
            {% if not level %}
                {% for row in levels_by_sections %}
                <a class="row row-class" href="{% url "attendances:attendance" %}?date={{ selected_date }}&level={{ row.level }}&section={{ row.section }}">
                    <div class="col-xs-4 col-sm-4 col-md-4 s-lft s-col" style="border-left: 10px solid #2aabd2;">
                        <div>{{ row.level_name }}</div>
                        <div>{{ row.section_name }}</div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 s-col">
                        {% if row.validation_date %}
                            <span class="attendance-status icon-2-check"></span>
                        {% elif row.total_attend or row.total_absent %}
                            <span class="attendance-status icon-check"></span>
                        {% else %}
                            <span class="attendance-status icon-pending-check"></span>
                        {% endif %}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 s-progs s-col">
                        <div class="progress progress-success">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ row.total_attend }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ row.total_attend|percentage:row.total }}%">
                               {{ row.total_attend }} ({{ row.total_attend|percentage:row.total }})%
                            </div>
                         </div>
                        <div class="progress progress-danger">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ row.total_absent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ row.total_absent|percentage:row.total }}%">
                               {{ row.total_absent }} ({{ row.total_absent|percentage:row.total }})%
                            </div>
                         </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 s-rgt s-col">
                        <span class="icon-students"></span>
                        <span style="font-size: 30px; color: #fff; position: absolute; bottom: -5px; left: 22px; text-shadow: 1px 1px 1px;">{{ row.total }}</span>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <form action="/api/attendances/" method="post" onsubmit="return false;" id="attendance_class">
                    <input type="hidden" name="attendance_date" value="{{ selected_date }}" id="attendance_date" />
                    <input type="hidden" name="school" value="{{ request.user.school_id }}" id="school" />
                    <input type="hidden" name="owner" value="{{ request.user.id }}" id="owner" />
                    <input type="hidden" name="section" value="{{ section.id }}" id="section" />
                    <input type="hidden" name="level" value="{{ level.id }}" id="level" />
                {% for line in students %}
                    <div class="row row-student">
                        <input type="hidden" name="enrollment_id[]" value="{{ line.id }}" class="enrollment_id" />
                        <input type="hidden" name="student_id[]" id="student_id_{{ line.id }}" value="{{ line.student.id }}" />
                        <input type="hidden" name="student_fullname[]" id="student_fullname_{{ line.id }}" value="{{ line.student }}" />
                        <input type="hidden" name="student_sex[]" id="student_sex_{{ line.id }}" value="{{ line.student.sex }}" />
                        <input type="hidden" name="student_age[]" id="student_age_{{ line.id }}" value="{{ line.student.age }}" />
                        <input type="hidden" name="student_birthday[]" id="student_birthday_{{ line.id }}" value="{{ line.student.birthday }}" />
                        <input type="hidden" name="level[]" id="level_{{ line.id }}" value="{{ level.id }}" />
                        <input type="hidden" name="level_name[]" id="level_name_{{ line.id }}" value="{{ level.name }}" />
                        <input type="hidden" name="section[]" id="section_{{ line.id }}" value="{{ section.id }}" />
                        <input type="hidden" name="section_name[]" id="section_name_{{ line.id }}" value="{{ section.name }}" />

                        <div class="col-xs-6 col-sm-2 icon-student-{{ line.student.sex }} s-col" style="border-left: 10px solid #2aabd2;"></div>
                        <div class="col-xs-3 col-sm-3 s-col">
                            <span>{{ line.student }}</span>
                        </div>
                        <div class="col-xs-3 col-sm-3 s-col">
                            <span class="icon-mother"></span>
                            <span>{{ line.student.mother_fullname }}</span>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 s-col">
                            <span class="icon-age"></span>
                            <span>{{ line.student.age }}</span>
                        </div>
                        <div class="col-xs-6 col-sm-2 col-md-2 s-col">
                            <input type="checkbox" name="status[]" id="status_{{ line.id }}" checked="checked" itemid="{{ line.id }}" class="toggle-status" data-on-text="{% trans "Present" %}" data-off-text="{% trans "Absent" %}" value="" />
                        </div>
                        <div class="col-sm-8 absence-reasons d-none" id="reasons-{{ line.id }}">
                            <label class="radio-inline"><input type="radio" value="sick" name="absence_reason[]" class="absence_reason_{{ line.id }}" />{% trans "Sick" %}</label>
                            <label class="radio-inline"><input type="radio" value="no_reason" name="absence_reason[]" class="absence_reason_{{ line.id }}" />{% trans "No reason" %}</label>
                            <label class="radio-inline"><input type="radio" value="no_transport" name="absence_reason[]" class="absence_reason_{{ line.id }}" />{% trans "No transport" %}</label>
                            <label class="radio-inline"><input type="radio" value="other" name="absence_reason[]" class="absence_reason_{{ line.id }}" />{% trans "Other" %}</label>
                        </div>
                    </div>
                {% endfor %}

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="btn btn-info" href="{% url "attendances:attendance" %}?date={{ selected_date }}">{% trans "Back to " %} {{ selected_date_view }}</a>
                            <a href="#" class="btn btn-success absolute-right-30" id="save_attendances" translation="{% trans 'Are you sure you want to save the attendance for this class?' %}">{% trans "Save" %}</a>
                        </li>
                    </ol>
                </form>
            {% endif %}
            </div>
         </section>

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript">
        var user_token = '{{ user_token }}';

{#        var protocol = 'http://';#}
{#        {% if request.is_secure %}#}
{#            protocol = 'https://';#}
{#        {% endif %}#}
{#        var host = '{{ request.get_host }}';#}
{#        var synchro_path = protocol+host+'/api/attendances/';#}

        $(document).ready(function(){

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('click', '.closing-reason-b', function () {
                if(confirm($(this).attr('translation'))){
                    var data = {
                        owner: $('input#owner').val(),
                        attendance_date: $('select#dates').val(),
                        school: $('input#school').val(),
                        close_reason: $(this).attr('itemref'),
                        students: {}
                    };
                    set_attendances(data);
                    disable_attendance();
                    $('.closing-reason-b').hide();
                    $(this).show();
                }
            });

            $(document).on('change', '#dates', function(){
                if($(this).val()) {
                    window.location = $('#dates').find('option:selected').attr('data-action');
                }
            });

            $(document).on('click', '#save_attendances', function(){
{#                var form = $('#attendance_class');#}
{#                var form_data = form.serialize();#}
                var students = new Array();

                if(confirm($(this).attr('translation'))) {
                    $('.enrollment_id').each(function (i, item) {
                        var enrollment_id = $(item).val();
                        students.push({
                            student_id: $('#student_id_'+enrollment_id).val(),
                            student_fullname: $('#student_fullname_'+enrollment_id).val(),
                            student_sex: $('#student_sex_'+enrollment_id).val(),
                            student_age: $('#student_age_'+enrollment_id).val(),
                            student_birthday: $('#student_birthday_'+enrollment_id).val(),
                            section: $('#section_'+enrollment_id).val(),
                            section_name: $('#section_name_'+enrollment_id).val(),
                            level: $('#level_'+enrollment_id).val(),
                            level_name: $('#level_name_'+enrollment_id).val(),
                            status: $('#status_'+enrollment_id).val(),
                            absence_reason: $('#absence_reason_'+enrollment_id).val()
                        })
                    });
                    var level_section = {
                        level_section: $('#level').val() + "-" + $('#section').val(),
                        students: students
                    };
                    var data = {
                            owner: $('input#owner').val(),
                            attendance_date: $('input#attendance_date').val(),
                            school: $('input#school').val()
                    };
                    set_attendances(data, level_section);
                }
            });

            $(document).on('click', '#attendance_validate', function(){
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                if(confirm($(this).attr('translation'))) {
                    var data = {
                        validation_owner: $('input#owner').val(),
                        attendance_date: $('input#attendance_date').val(),
                        school: $('input#school').val(),
                        validation_status: true,
                        validation_date: yyyy+'-'+mm+'-'+dd
                    };
                    set_attendances(data, null);
                    disable_attendance();
                    $('.attendance-status').removeClass('icon-pending-check');
                    $('.attendance-status').removeClass('icon-check');
                    $('.attendance-status').addClass('icon-2-check');
                }
            });

            $(document).on('click', '#exam_day', function(){

                if(confirm($(this).attr('translation'))) {
                    var level_section = {
                        level_section: $('#level').val() + "-" + $('#section').val(),
                        students: {},
                        exam_day: true
                    };
                    var data = {
                            owner: $('input#owner').val(),
                            attendance_date: $('input#attendance_date').val(),
                            school: $('input#school').val()
                    };
                    set_attendances(data, level_section);
                    $('#save_attendances').remove();
                    $("[class='toggle-status']").remove();
                }
            });

            $("[class='toggle-status']").bootstrapSwitch();
            $("[class='toggle-status']").on('switchChange.bootstrapSwitch', function(event, state) {
                $("[class='status-checkbox']").bootstrapSwitch('state', state);
                var itemid = $(event.target).attr('itemid');
                if(state == false){
                    $('#reasons-'+itemid).show();
                }else{
                    $('#reasons-'+itemid).hide();
                }
            });
        });

        function disable_attendance()
        {
            $('.closing-reason-b').attr('disabled', 'disabled');
            $('.row-class').addClass('disabled');
        }

        function set_attendances(data, patch_data)
        {
            $.ajax({
                type: "POST",
                url: "/api/attendances/",
                data: data,
                cache: false,
                async: true,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(response.data && patch_data){
                        update_attendances(response.data, patch_data);
                    }else{
                        display_feedback(true);
                    }
                },
                error: function (response) {
                    console.log(response);
                    display_feedback(false);
                }
            });
        }

        function update_attendances(id, data)
        {
            $.ajax({
                type: "PATCH",
                url: "/api/attendances/"+id+"/",
                data: JSON.stringify(data),
                cache: false,
                async: true,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(response.data){
                        display_feedback(true);
                    }
                },
                error: function (response) {
                    display_feedback(false);
                }
            });
        }

        function display_feedback(status)
        {
            $('.alert').addClass('d-none');

            if(status){
                $('.alert-success').removeClass('d-none');
            }else{
                $('.alert-danger').removeClass('d-none');
            }
        }

    </script>

{% endblock %}
