{% load static i18n %}
{% load static i18n %}
{% load util_tags %}
{% load simple_tags %}
 <style>
    .right-align {
        text-align: right;
    }
</style>

<div class="row staff-profile">
<!--Center Data-->
<div class="col-md-12 col-lg-6 col-xl-6">
                            <div class="card-shadow-primary profile-responsive card-border mb-3 card">
<div class="dropdown-menu-header">

                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">Center Info.
                                                      {% if request.user|has_group:"MSCC_CENTER" and  request.user.center %}
                                                          <div style="float:right;">
                                                                <a href="/locations/Center-Edit/{{ instance.id }}/" data-toggle="tooltip" data-placement="top" data-original-title="Edit Center Info."><i class="pe-7s-pen"></i></a>
                                                          </div>
                                                      {% endif %}
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <ul class="list-group list-group-flush" style="height: 400px; overflow: scroll;">
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Name</div>
                                                    <div class="widget-subheading">{{ instance.name }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Governorate</div>
                                                    <div class="widget-subheading">{{ instance.governorate.name  }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Caza</div>
                                                    <div class="widget-subheading">{{ instance.caza.name }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Cadaster</div>
                                                    <div class="widget-subheading">{{ instance.cadaster.name  }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Longitude</div>
                                                    <div class="widget-subheading">{{ instance.longitude }}</div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Latitude</div>
                                                    <div class="widget-subheading"> {{ instance.latitude }} </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Manager Name</div>
                                                    <div class="widget-subheading"> {{ instance.manager_name }} </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <!--<div class="widget-numbers widget-numbers-sm text-primary"><span>764</span></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Phone Number</div>
                                                    <div class="widget-subheading"> {{ instance.phone_number }} </div>
                                                </div>
                                                <div class="widget-content-right">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Email</div>
                                                    <div class="widget-subheading"> {{ instance.email }} </div>
                                                </div>
                                                <div class="widget-content-right">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Type</div>
                                                    <div class="widget-subheading">
                                                        <div class="widget-subheading">{{ instance.type }}</div>
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Provided Services</div>
                                                    <div class="widget-subheading">
                                                      {% for pack in instance.provided_packages %}
                                                        <div> {{pack}} </div>
                                                      {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Programs</div>
                                                    <div class="widget-subheading">
                                                      {% for prog in instance.programs %}
                                                        <div> {{prog}} </div>
                                                      {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="widget-content-right">
                                                    <div class="widget-numbers widget-numbers-sm text-info"><span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Number of Admin staff</div>
                                                    <div class="widget-subheading">{{ instance.admin_staff_number }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left">
                                                    <div class="widget-heading">Is the center accessible for CWD</div>
                                                    <div class="widget-subheading">{{ instance.cwd_accessible }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

<!--Calculated Info-->
<div class="col-md-12 col-lg-6 col-xl-6">
                                <div class="mb-3 card">
                                    <div class="p-0 card-body">
                                        <div class="dropdown-menu-header mt-0 mb-0">
                                            <div class="dropdown-menu-header-inner bg-heavy-rain">
                                                <div class="menu-header-image opacity-1"></div>
                                                <div class="menu-header-content text-dark">
                                                    <h5 class="menu-header-title">Center Figures</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-group list-group-flush" style="height: 400px; overflow: scroll;">
                                          <li class="list-group-item">
                                              <div class="widget-content p-0">
                                                  <div class="widget-content-wrapper">
                                                      <div class="widget-content-left">
                                                          <div class="widget-heading">Number of children</div>
                                                          <div class="widget-subheading">Male:</div>
                                                          <div class="widget-subheading">Female:</div>
                                                      </div>
                                                      <div class="widget-content-right">
                                                          <div class="widget-numbers widget-numbers-sm text-primary right-align"><span>{{ instance.total_children }}</span></div>
                                                          <div class="widget-numbers  text-warning font-size-xlg right-align"><span>{{ instance.total_male }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-success font-size-xlg right-align"><span>{{ instance.total_female }}</span></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-group-item">
                                              <div class="widget-content p-0">
                                                  <div class="widget-content-wrapper">
                                                      <div class="widget-content-left">
                                                          <div class="widget-heading">Number of children with disabilities</div>
                                                          <div class="widget-subheading">Male:</div>
                                                          <div class="widget-subheading">Female:</div>
                                                      </div>
                                                      <div class="widget-content-right">
                                                          <div class="widget-numbers widget-numbers-sm text-info right-align"><span>{{ instance.total_disability }}</span></div>
                                                          <div class="widget-numbers  text-warning o font-size-xlg right-align"><span>{{ instance.total_disability_male }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-success font-size-xlg right-align"><span>{{ instance.total_disability_female }}</span></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-group-item">
                                              <div class="widget-content p-0">
                                                  <div class="widget-content-wrapper">
                                                      <div class="widget-content-left">
                                                          <div class="widget-heading">Total Number of children by Nationality</div>
                                                          <div class="widget-subheading">Lebanese:</div>
                                                          <div class="widget-subheading">Non-Lebanese:</div>
                                                      </div>
                                                      <div class="widget-content-right">
                                                          <div class="widget-numbers widget-numbers-sm text-danger right-align"><span>{{ instance.total_children }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-warning font-size-xlg right-align"><span>{{ instance.total_lebanese }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-success font-size-xlg right-align"><span>{{ instance.total_non_lebanese }}</span></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>

                                          <li class="list-group-item">
                                              <div class="widget-content p-0">
                                                  <div class="widget-content-wrapper">
                                                      <div class="widget-content-left">
                                                          <div class="widget-heading">Total Number of staff</div>
                                                          <div class="widget-subheading">Admin Staff:</div>
                                                          <div class="widget-subheading">Program Staff:</div>
                                                      </div>
                                                      <div class="widget-content-right">
                                                          <div class="widget-numbers widget-numbers-sm text-primary right-align"><span>{{ instance.total_staff }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-warning font-size-xlg right-align"><span>{{ instance.total_admin_staff }}</span></div>
                                                          <div class="widget-numbers widget-numbers-sm text-success font-size-xlg right-align"><span>{{ instance.total_program_staff }}</span></div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
</div>


</div>



