{% extends "location/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load bootstrap4 %}
{% load util_tags %}
{% load simple_tags %}
{% bootstrap_css %}

{% block project_title %}Center Profile{% endblock %}

{% block content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-child"></i>
                                        </span>
                                        <span class="d-inline-block">Center Profile - {{ instance.name }}</span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="/">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                {% if request.user|has_group:"MSCC_PARTNER" %}
                                                <li class="breadcrumb-item">
                                                    <a href="/locations/Center-List/">List</a>
                                                </li>
                                                {% endif %}
                                                <li class="active breadcrumb-item" aria-current="page">
                                                    Center and Program Staff
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>



                        </div>
</div>


<div class="row">

        <div class="col-md-12">
                                    <div class="mb-3 card">
                                        <div class="tabs-lg-alternate card-header">
                                            <ul class="nav nav-justified">
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-0" class="nav-link show{% if current_tab == 'info' %} active{% endif %}">
                                                        <div class="widget-number">Center</div>
                                                    </a></li>
                                                <li class="nav-item">
                                                    <a data-toggle="tab" href="#tab-eg9-1" class="nav-link show{% if current_tab == 'services' %} active{% endif %}">
                                                        <div class="widget-number">Program Staff</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane show{% if current_tab == 'info' %} active{% endif %}" id="tab-eg9-0" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'location/center_info_tab.html' %}
                                                </div>
                                            </div>
                                            <div class="tab-pane show{% if current_tab == 'services' %} active{% endif %}" id="tab-eg9-1" role="tabpanel">
                                                <div class="card-body">
                                                  {% include 'location/program_staff_tab.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/location/program_staff.js' %}?v=19"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=2"></script>

{% endblock %}
