{% extends "location/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}
{% block project_title %}Center List{% endblock %}

{% block content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="d-inline-block">
                                            {{ request.user.username }} - {{ request.user.partner }}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'home' %}">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                      <a href="{% url 'locations:center_list' %}">Center List</a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.governorate }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.caza }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.cadaster }} - {{ request.user.center.p_code }}
                                                </li>
                                                <li class="breadcrumb-item">
                                                    {{ request.user.center.name }} - {{ request.user.center.type }}
                                                </li>


                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>
                        </div>
</div>

<div class="row">
{% if request.user|has_group:"MSCC_CENTER" and not request.user.center %}
  <div class="alert alert-danger fade show" role="alert"> You don't have a center assigned to your profile please contact the administrator</div>
{% endif %}
</div>


<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button class="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>
                </button>

                <button href="" title="Cancel"
                 class="btn btn-outline-warning"><i class="fa fa-fw" aria-hidden="true"></i>
                </button>

                <a href="" title="Download" class="btn btn-outline-success download-center-report">
                    <i class="lnr-download"></i>
                </a>

                <div class = "downloading-message" style = "display:none">
                  Loading...
                </div>

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap5">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/mscc/list.js' %}?v=19"></script>
    <script type="text/javascript" src="{% static 'js/mscc/general.js' %}?v=1"></script>


{% endblock %}
