{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

<h2 class="content-title">تغيير كلمة المرور</h2>


  <div id="content-main">

    <div style="display: block; position: relative; width: 100%; top:0; left: 0px;" class="alert alert-info">رجاءً أدخل كلمة مرورك القديمة، للأمان، ثم أدخل كلمة مرور الجديدة مرتين كي تتأكّد من كتابتها بشكل صحيح.</div>

    <form action="" method="post" class="form-horizontal inlineForm">
        {% csrf_token %}
      <div>

        {% for field in form %}
            <div class="line">
                <label class="text">{{ field.label_tag }}</label>{{ field }}
            </div>
            <span class="error" style="display: inline; float: none;">{{ field.errors }}</span>
        {% endfor %}

        <div class="submit-row submit-row-bottom">
          <input value="غيّر كلمة مروري" class="default btn btn-info" type="submit">
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
      </div>
    </form>
  </div>

{% endblock %}
