{% extends "schools/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

{% block project_title %}School | Club List{% endblock %}

{% block main_content %}

<div class="page-header">
    <div class="page-header-titles">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'clm:bridging_page' %}">
                        Dirasa
                    </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'schools:school_list' %}">Schools</a></li>
                <li class="breadcrumb-item">
                  <a href="{% url 'schools:club_list' school_id %}">Club List</a></li>
            </ol>
        </nav>
        <h1 class="page-header-title"><i class="bi bi-trophy"></i>{% trans "Clubs" %}</h1>
        <p class="page-header-subtitle">
            <i class="bi bi-person-circle me-1"></i>{{ request.user.username }}{% if request.user.partner %} &middot; {{ request.user.partner }}{% endif %}
        </p>
    </div>
    <div class="page-header-actions">
        {% if not request.user.partner or not request.user.partner.is_world_learning %}
        <a href="{% url 'schools:club_add' school_id %}" class="mr-3 btn-icon btn btn-info"><i class="fa fa-plus btn-icon-wrapper"> </i>Add New Club</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-bs-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button class="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>
                </button>

                <button href="" title="Cancel"
                 class="btn btn-outline-warning"><i class="fa fa-fw" aria-hidden="true"></i>
                </button>

              {% if user|has_group:"EXPORT" %}
                <a href="" title="Download" class="btn btn-outline-success download-report">
                    <i class="lnr-download"></i>
                </a>
                <div class = "downloading-message" style = "display:none">
                  Loading...
                </div>
              {% endif %}

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap5">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}

{% block extra_js %}
    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap-combobox.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/school/club-list.js' %}?v=3"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        var user_token = '{{ user_token }}';
        var href_full_path = '{{ request.build_absolute_uri }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
    </script>
{% endblock %}
