{% extends "schools/base.html" %}
{% load static i18n %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

{% block project_title %}School | Meeting List{% endblock %}

{% block main_content %}

<div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div>
                                    <div class="page-title-head center-elem page-title-heading">
                                        <span class="d-inline-block pr-2">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <span class="d-inline-block">
                                          {{ request.user.username }}
                                          - {{ request.user.partner }}
                                        </span>
                                    </div>
                                    <div class="page-title-subheading opacity-10">
                                        <nav class="" aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item">
                                                    <a href="{% url 'clm:bridging_page' %}">
                                                        <i aria-hidden="true" class="fa fa-home"></i>
                                                    </a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                  <a href="{% url 'schools:school_list' %}">Schools</a></li>
                                                <li class="breadcrumb-item">
                                                  <a href="{% url 'schools:meeting_list' school_id %}">Meeting List</a></li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        <div class="page-title-actions"></div>
                        </div>
</div>

<div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="widget-chart widget-chart2 text-left mb-3 card-btm-border card-shadow-danger border-danger card">
                                <div class="widget-chat-wrapper-outer">
                                    <div class="widget-chart-content">
                                        <div class="widget-title opacity-5 text-uppercase">New Registration</div>
                                        <div class="widget-numbers mt-2 fsize-3 mb-0 w-100">
                                            <div class="widget-chart-flex align-items-center">
                                                <div>

                                                    <span class="opacity-10 text-danger pr-2">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                  <a href="{% url 'schools:meeting_add' school_id %}">
                                                    Add New Meeting
                                                  </a>
                                                    <!--<small class="opacity-5 pl-1">%</small>-->
                                                </div>
                                                <!--<div class="widget-title ml-auto font-size-lg font-weight-normal text-muted">-->
                                                    <!--<div class="circle-progress circle-progress-danger-sm d-inline-block">-->
                                                        <!--<small></small>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

<div class="row">
    <div class="col-lg-12">
<div id="accordion" class="accordion-wrapper mb-3 form-filters">
    <div class="card">
        <div id="headingOne" class="card-header">
            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                <h5 class="m-0 p-0">
                    <i class="pe-7s-filter text-primary"></i>
                    Filters</h5>
            </button>
        </div>
        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse" style="">
            <div class="card-body">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}

                <button class="btn btn-outline-primary mr-left-5 filter-report" title="Search">
                  <i style="font-weight:bolder" class="pe-7s-search"></i>
                </button>

                <button href="" title="Cancel"
                 class="btn btn-outline-warning"><i class="fa fa-fw" aria-hidden="true"></i>
                </button>

              {% if user|has_group:"EXPORT" %}
                <a href="" title="Download" class="btn btn-outline-success download-report">
                    <i class="lnr-download"></i>
                </a>
                <div class = "downloading-message" style = "display:none">
                  Loading...
                </div>
              {% endif %}

            </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div class="row table-list">
    <div class="col-lg-12">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-body">
                <div class="table-responsive dataTables_wrapper dt-bootstrap5">
        {% csrf_token %}
        {% render_table table 'django_tables2/bootstrap.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

{% endblock %}


{% block extra_js %}
    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap-combobox.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/school/meeting-list.js' %}?v=2"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script>
        var user_token = '{{ user_token }}';
        var href_full_path = '{{ request.build_absolute_uri }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();
    </script>
{% endblock %}
