{% extends "base.html" %}
{% load staticfiles i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Partner profile{% endblock %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}

    <div id="resume" class="inner-content">

        <section class="inner-section light bg-color01">
            <div class="container-fluid nopadding">

                <fieldset class="bd-callout bd-callout-warning'">
                        <h4 id="alternatives-to-hidden-labels">{% trans "School" %}</h4>
                        <div class="row">
                            <div class="col-md-4">{{ request.user.partner }}</div>
                        </div>
                </fieldset>

                {{ form.errors }}
                {% crispy form %}
            </div>
        </section>

    </div>

{% endblock %}
