{% extends "base.appcache.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
    <style>
        .row-class {
            border: 1px solid;
            border-radius: 8px;
            margin: 15px 0px;
            cursor: pointer;
        }
    </style>
{% endblock %}


{% block content %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">{% trans "Attendance" %}
{#                                  <a class="btn btn-info" id="attendance-synchro" href="#">#}
{#                                    <i class="icon-synch-sign icon-white"></i>&nbsp;#}
{#                                        {% trans "synchronize" %}#}
{#                                  </a>#}
                                <select id="location-filter">
                                    <option value="0">{% trans 'Select a Location' %}</option>
                                    {% for item in locations %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                                <select id="school-filter">
                                    <option value="0">{% trans 'Select a School' %}</option>
                                    {% for item in schools %}
                                        <option value="{{ item.id }}" itemscope="{% if item.location %}{{ item.location.id }}{% else %}0{% endif %}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </h4>
                          </div>
                     </div>
                </div>
            </div>
            </section>

            <div class="container-main" id="classes-list"></div>
            <span class="badge" id="other-classes" style="display: none;">Other classes</span>
            <table id="attendance-sheet" class="table table-hover table-striped"
                   data-height="500"
                   data-pagination="true"
                   data-search="true"
                   cellspacing="0"
                   width="100%"
                   style="display: none;">
                <thead>
                  <tr>
                    <th>{% trans 'Student fullname' %}</th>
                    <th><input class="toggle-status" type="checkbox" data-on-text="{% trans 'Present' %}" data-off-text="{% trans 'Absent' %}"></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var columns = 0;
        var rows = 1;
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = '{{ request.get_host }}';
        var synchro_path = protocol+host+'/api/attendance/';

        window.addEventListener("offline", function(e) {
          $('#attendance-synchro').hide();
        }, false);

        window.addEventListener("online", function(e) {
          $('#attendance-synchro').show();
        }, false);

        $(document).ready(function(){

            createStores();

            setInterval(function(){
                if(navigator.onLine) {
                    synchronize_data(false);
                }
            }, 3600000);

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('change', '#location-filter', function(){
                var itemscope = $(this).val();
                $('#school-filter').find('option').hide();
                $('#school-filter').find('option[itemscope='+itemscope+']').show();
            });

            $(document).on('change', '#school-filter', function(){
                $('#other-classes').hide();
                $('#attendance-sheet').hide();
                $('.row-class').show();
                display_classes($(this).val());
            });

            $(document).on('click', '.row-class', function(){
                $('.row-class').hide();
                $(this).show();
                $('#other-classes').show();
                display_attendance_sheet($(this).attr('itemid'));
            });

            $(document).on('click', '#other-classes', function(){
                $(this).hide();
                $('.row-class').show();
                $('#attendance-sheet').hide();
            });

            $(document).on('blur', '.attendance-field', function(){
                update_item_store($(this).attr('itemscope'), $(this).attr('name'), $(this).val());
            });

            $(document).on('click', '#attendance-synchro', function(){
                synchronize_data(true);
            });

            $("[class='toggle-status']").bootstrapSwitch();
            $("[class='toggle-status']").on('switchChange.bootstrapSwitch', function(event, state) {
                $("[class='status-checkbox']").bootstrapSwitch('state', state);
            });

        });

        function scrollToBottom()
        {
            $("html, body").animate({ scrollTop: $(document).height() }, 10);
        }

        function add_attendance_newline(itemid)
        {
            var line_html =  $('#attendance_prototype').find('tbody').html().replace(/\$\$itemscope_id\$\$/g, itemid);
            $('#attendances-table').find('tbody').append(line_html);
        }

        function duplicate_item_values(duplicata, fields)
        {
            var new_item = create_item_store_default_keys();
            $.each(fields, function(field, flag){
                if(flag){
                    new_item[field] = duplicata[field];
                }
            });

            add_to_store(new_item);
            add_fill_line_data(new_item);
            scrollToBottom();
        }

        function create_item_store_default_keys()
        {
            var item = {id: rows, synchronized: false, deleted: false, owner: user_id};
            var fields = $('#attendance_prototype').find('.attendance-field');
            $(fields).each(function(i, field){
                item[$(field).attr('name')] = '';
            });

            return item;
        }

        function add_to_store(data)
        {
            var store = getObjectStore();
            var request = store.put(data);
            add_attendance_newline(data.id);
            rows = rows + 1;
        }

        function delete_from_store(itemid)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            request.onsuccess = function(){
                result = request.result;
                if(result.synchronized == true){
                    update_item_store(itemid, 'deleted', true);
                }else{
                    store.delete(parseInt(itemid));
                    rows = rows - 1;
                }
            }
        }

        function update_item_store(itemid, name, value)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            request.onsuccess = function(){
                var item = request.result;
                item[name] = value;
                store.put(item);
            };
        }

        function patch_item_store(item)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(item.id));
            request.onsuccess = function(){
                store.put(item);
            };
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function build_datatable()
        {
            var store = getObjectStore();
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    rows = item.id;
                    if(item.deleted == false){
                        add_attendance_newline(item.id);
                        add_fill_line_data(item);
                    }
                });
                rows = rows + 1;
            };
        }

        function add_fill_line_data(item)
        {
            var fields = $('#line-'+item.id).find('.attendance-field');
            $(fields).each(function(i, field){
                $(field).val(item[$(field).attr('name')]);
            });
        }

        function display_classes(school)
        {
            var store = getStoreByName("classrooms");
            var index = store.index("school");
            var request = index.getAll(parseInt(school));
            var container = $('#classes-list');

            container.empty();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    var row = $('<div>').addClass('row').addClass('row-class').attr('itemid', item.id);
                    var total = 'Total: '+'<span class="badge">12</span>';
                    var col4 = $('<div>').addClass('col-md-4').html(total);
                    var col8 = $('<div>').addClass('col-md-8').html(item.name+'<br>'+item.grade_name+' - '+item.section_name);

                    row.append(col4);
                    row.append(col8);
                    container.append(row);
                });
            };
        }

        function display_attendance_sheet(classroom)
        {
            var store = getStoreByName("attendances");
            var index = store.index("classroom");
            var request = index.getAll(parseInt(classroom));
            $('#attendance-sheet').find('tbody').empty();
            $('#attendance-sheet').show();

            request.onsuccess = function(){
                var result = request.result;
                if(result.length){
                    $(result).each(function(i, item){
                        create_attendance_row(item);
                    });
                }else{
                    create_new_attendance_data(classroom);
                }
            };
        }

        function create_attendance_row(item)
        {
            var status = '';
            if(item.status){
                status = 'checked';
            }
            var tr = $('<tr>');
            var col1 = $('<td>').html(item.student_full_name);
            var col2 = $('<td>').html($('<input class="status-checkbox" type="checkbox" '+status+' data-on-text="{% trans 'Present' %}" data-off-text="{% trans 'Absent' %}">'));

            tr.append(col1);
            tr.append(col2);
            $('#attendance-sheet').find('tbody').append(tr);
            $("[class='status-checkbox']").bootstrapSwitch();
        }

        function create_new_attendance_data(classroom)
        {
            var store = getStoreByName('registrations');
            var index = store.index('classroom');
            var request = index.getAll(parseInt(classroom));
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    var data = {
                        original_id: 0,
                        synchronized: false,
                        student: item.student,
                        student_full_name: item.student_full_name,
                        classroom: item.classroom,
                        classroom_name: item.classroom_name,
                        status: 0,
                        owner: user_id,
                        attendance_date: ''
                    };
                    getStoreByName('attendances').put(data);
                    create_attendance_row(data);
                });
            }
        }

        function synchronize_data(showFeedback)
        {
            var store = getObjectStore();
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    if(item.synchronized == false) {
                        push_data_to_server(item);
                    }else if(item.deleted == true){
                        delete_data_from_server(item);
                    }else{
                        update_data_into_server(item);
                    }
                });
                if(showFeedback){
                    bootbox.alert("{% trans 'Synchronization done' %}", function() {});
                }
            };
        }

        function push_data_to_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item;
            data['csrfmiddlewaretoken'] = csrftoken;

            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status == '201'){
                        $('#line-'+item.id).find('.attendance-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                        item.original_id = response.data.id;
                        update_item_store(item.id, 'original_id', response.data.id);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.attendance-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function update_data_into_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item;
            data['csrfmiddlewaretoken'] = csrftoken;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status == '200'){
                        $('#line-'+item.id).find('.attendance-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.attendance-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function delete_data_from_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "DELETE",
                url: synchro_path+item.original_id+'/',
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status = '200') {
                        var store = getObjectStore();
                        store.delete(parseInt(item.id));
                    }
                },
                error: function (response) {

                }
            });
        }

        function pull_data_from_server(url, store_name)
        {
            var store = getStoreByName(store_name);
            var csrftoken = getCookie('csrftoken');
            data = {csrfmiddlewaretoken: csrftoken};

            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    $(response).each(function(i, item){
                        var store = getStoreByName(store_name);
                        var request = store.get(item.id);
                        request.onsuccess = function(){
                            var result = request.result;
                            if(result == undefined){
                                store.put(item);
                            }
                        };
                    });
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function load_base_data()
        {
            pull_data_from_server('/api/schools/', 'schools');
            pull_data_from_server('/api/classrooms/', 'classrooms');
            pull_data_from_server('/api/grades/', 'grades');
            pull_data_from_server('/api/sections/', 'sections');
            pull_data_from_server('/api/students/', 'students');
            pull_data_from_server('/api/registration/', 'registrations');
            pull_data_from_server('/api/attendance/', 'attendances');
        }

        function createStores()
        {
            var request = indexedDB.open("compile_bd_3", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('attendances')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                }
                if(flag){

                    var store1 = db.createObjectStore("attendances", {keyPath: "id", autoIncrement:true});
                    store1.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });

                    var store2 = db.createObjectStore("students", {keyPath: "id", autoIncrement:true});

                    var store3 = db.createObjectStore("schools", {keyPath: "id", autoIncrement:true});
                    store3.createIndex('location', 'location', { unique: false, multiEntry: true });

                    var store4 = db.createObjectStore("classrooms", {keyPath: "id", autoIncrement:true});
                    store4.createIndex('school', 'school', { unique: false, multiEntry: true });
                    store4.createIndex('section', 'section', { unique: false, multiEntry: true });
                    store4.createIndex('grade', 'grade', { unique: false, multiEntry: true });


                    var store5 = db.createObjectStore("registrations", {keyPath: "id", autoIncrement:true});
                    store5.createIndex('classroom', 'classroom', { unique: false, multiEntry: true });
{#                    store5.createIndex('section', 'section', { unique: false, multiEntry: true });#}
{#                    store5.createIndex('grade', 'grade', { unique: false, multiEntry: true });#}

                    db.createObjectStore("grades", {keyPath: "id", autoIncrement:true});
                    db.createObjectStore("sections", {keyPath: "id", autoIncrement:true});

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                load_base_data();
{#                build_datatable();#}
            };
        }

        function getObjectStore()
        {
            var store = db.transaction(["attendances"], "readwrite").objectStore("attendances");
            return store;
        }

        function getStoreByName(store_name)
        {
            var store = db.transaction([store_name], "readwrite").objectStore(store_name);
            return store;
        }

        function getRecord(itemid)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            return request;
        }

    </script>

{% endblock %}
