{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.12.1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-badge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-alert.css' %}">
    <style>
        input[readonly=readonly], select[readonly=readonly] {
            background: #CCCCCC;
        }
        .synchro-status.success {
            background-color: #1ABB9C !important;
        }
        .synchro-status.failed {
            background-color: #ac2925 !important;
        }
        tr.highlighted {
            background-color: darkseagreen !important;
        }
        .registration-field:focus {
            background-color: yellow;
        }
        tr.warning {
            border: 3px solid #90111A;
        }
        span.required {
            color: red;
        }
    </style>
{% endblock %}

{% block content-full-page %}

    {% include 'alp/prototype_current.html' %}
    {% include 'alp/prototype.html' %}


         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                <div class="alert alert-success" role="alert" id="alert-synchro-success" style="display: none;"><strong>{% trans 'Well done' %}</strong> {% trans 'Synchronization success' %}</div>
                <div class="alert alert-warning" role="alert" id="alert-synchro-warning" style="display: none;"><strong>{% trans 'Warning' %}</strong> {% trans 'Please check fill required field' %}</div>
                <div class="alert alert-danger" role="alert" id="alert-connection" style="display: none;">{% trans 'Please check your internet connectivity' %}</div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                              <ol class="breadcrumb">
                                    <li><b>{% trans "ALP Registrations" %}</b></li>
                                    <li><b>{{ school }}</b></li>
                                    <li><b>{{ location }}</b></li>
                                    <li><b>{{ location_parent }}</b></li>
                                    <li><input type="text" id="search_old_student" size="300" style="width: 400px;" placeholder="{% trans "Search an old student" %}" /></li>
                              </ol>
                          </div>
                          <div class="panel-heading" style="position: absolute; top:50px;" id="header">
                            <ol class="breadcrumb">
                                <li>
                                      <button class="btn btn-info" id="registration-synchro">
                                        <i class="icon-synch-sign icon-white"></i>&nbsp;
                                            {% trans "synchronize" %}
                                      </button>
                                      <button class="btn btn-info" id="registration-download">
                                        <i class="icon-synch-sign icon-white"></i>&nbsp;
                                            {% trans "download data" %}
                                      </button>
                                    <a class="btn btn-info" id="registration-export" href="{% url "alp:alp_data_export" %}" target="_blank">
                                        <i class="icon-export-sign icon-white"></i>&nbsp;
                                            {% trans "Export" %}
                                    </a>
                                </li>
                                    <li>
                                        <label><b>{% trans "Filter by" %}</b></label>
{#                                        <select name="assignedlevel" id="filter_assignedlevel" class="col-120">#}
{#                                            <option value="0">{% trans "Filter by assigned level" %}</option>#}
{#                                            {% for item in informal_educations %}#}
{#                                                <option value="{{ item.id }}">{{ item.name }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
                                        <select name="level" id="filter_class" class="col-120">
                                            <option value="0">{% trans "Current Level" %}</option>
                                            {% for item in informal_educations %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select name="section" id="filter_section" class="col-120">
                                            <option value="0">{% trans "Current Section" %}</option>
                                            {% for item in sections %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-success" id="filter_go">
                                            {% trans "Filter data" %}
                                        </button>
                                        <button class="btn btn-warning" id="filter_cancel">
                                            {% trans "Rest filter" %}
                                        </button>
                                    </li>
                                </ol>
                          </div>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                              <div class="loader"></div>
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height= "500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%" style="margin-bottom: 100px; margin-top: 75px;">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th rowspan="2">&nbsp;
{#                                            <label class="col-100">{% trans "Not enrolled in this school" %}</label>#}
                                        </th>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2"><label class="col-140">{% trans "Student first name" %}</label></th>
                                        <th rowspan="2"><label class="col-140">{% trans "Student father name" %}</label></th>
                                        <th rowspan="2"><label class="col-140">{% trans "Student last name" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Sex" %}</label></th>
                                        <th colspan="5" style="text-align: center; background-color: #b0e1ef;"><label class="col-100">{% trans "Student actual status" %}</label></th>
                                        <th colspan="3" style="text-align: center;"><label>{% trans "Student birthday" %}</label></th>
                                        <th rowspan="2"><label class="col-60">{% trans "Student age" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Student nationality" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Mother fullname" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Mother nationality" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Registered in UNHCR" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Student ID Type" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Student ID Number" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student living address" %}</label></th>
                                        <th rowspan="2"><label class="col-120">{% trans "Phone number (6 digits)" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Phone prefix (2 digits)" %}</label></th>
                                        <th colspan="2" style="text-align: center; background-color: #67b168;"><label>{% trans "Last student education" %}</label></th>
                                        <th colspan="4" style="text-align: center; background-color: #ec971f;"><label>{% trans "Last student informal education" %}</label></th>
                                    </tr>
                                    <tr id="thead-line-2">
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Pre-test result" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-100">{% trans "Assigned to level" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Post-test result" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-230">{% trans "Current Level" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-230">{% trans "Current Section" %}</label></th>
                                        <th><label class="col-80">{% trans "year" %}</label></th>
                                        <th><label class="col-100">{% trans "month" %}</label></th>
                                        <th><label class="col-80">{% trans "day" %}</label></th>
                                        <th style="background-color: #67b168;"><label class="col-100">{% trans "Last education level" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "Education year" %}</label></th>
                                        <th style="background-color: #ec971f;"><label class="col-150">{% trans "Is the child participated in an ALP program" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP round" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP level" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP result" %}</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                            <div style="position: fixed; bottom: 10px; {% if LANGUAGE_CODE == 'ar-ar' %}right: 35px;{% else %}left: 35px;{% endif %}">
                              <button class="btn btn-success" id="add_datatable_line">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "Add empty line" %}
                              </button>
                              <button class="btn btn-success" id="add_defined_lines">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "Add defined number of lines" %}
                              </button>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-ui-1.12.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/appcache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery.quicksearch.js' %}"></script>#}
    <script type="text/javascript">
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var alp_round = '{{ alp_round }}';
        var school = '{{ school_id }}';
        var rows = 1;
        var limit = 100;
        var offset = 0;
        var total = {{ total }};
        var filter_on = false;
        var synchro_result = true;
        var prototype = $('#registration_prototype');
        var prototype_view = $('#registration_view_prototype');
        var table = $('#registrations-table');
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}

        var host = protocol+'{{ request.get_host }}';
        var synchro_path = host+'/api/outreach/';
        var arabic_fields = "#student_address, #student_mother_fullname, #student_first_name, #student_father_name, #student_last_name";

        $(document).ready(function(){

            $('#search_old_student').val('');
            $('#filter_class').val(0);
            $('#filter_section').val(0);
            $('#filter_assignedlevel').val(0);
            createStores();

            bootbox.addLocale(language, {
                OK : '{% trans "Ok" %}',
                CANCEL : '{% trans "Cancel" %}',
                CONFIRM : '{% trans "Confirm" %}'
            });
            bootbox.setLocale(language);

            $(document).on('blur', arabic_fields, function(){
                checkArabicOnly($(this));
            });

            $(document).on('click', '#registered_in_unhcr_1, #registered_in_unhcr_0', function(){
                var itemscope = $(this).attr('itemscope');
                var id_type = $('#line-'+itemscope).find('#student_id_type');
                $(this).trigger('change');
                if($(this).attr('data-value') == 'yes'){
                    $(id_type).val(1);
                    $(id_type).trigger('blur');
                    $(id_type).attr('disabled', 'disabled');
                }else{
                    $(id_type).val('');
                    $(id_type).trigger('blur');
                    $(id_type).removeAttr('disabled');
                }
            });

            $(document).on('click', '#participated_in_alp_1, #participated_in_alp_0', function(){
                var itemscope = $(this).attr('itemscope');
                var alp_details = $('#line-'+itemscope).find('.alp_details');
                $(this).trigger('change');
                if($(this).attr('data-value') == 'yes'){
                    $(alp_details).removeAttr('disabled');
                }else{
                    $(alp_details).val('');
                    $(alp_details).trigger('blur');
                    $(alp_details).attr('disabled', 'disabled');
                }
            });

            $(document).on('click', '#filter_go', function(){
                filter_on = true;
                $(".loader").show();
                var classroom = $('#filter_class').val();
                var section = $('#filter_section').val();

                if(classroom != 0) {
                    filterByClass(classroom, section);
                }else{
                    filter_on = false;
                    $(".loader").hide();
                }
            });

            $(document).on('click', '#filter_cancel', function(){
                filter_on = false;
                incremental_id = 0;
                offset = 0;
                limit = 100;
                build_datatable();
                $('#filter_class').val(0);
                $('#filter_section').val(0);
                $('#filter_assignedlevel').val(0);
                $('#loader').hide();
            });

            $(document).on('click', 'tbody tr', function(){
                $('tbody').find('tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });

            $(window).scroll(function () {
                var l = $(this).scrollLeft();
                if(parseInt(l) <= 0){
                    $('#header').css({'left': l});
                }else{
                    $('#header').css({'right': -l});
                }

                if($(window).scrollTop() == $(document).height() - $(window).height()){
                    if(filter_on == true){
                        return false;
                    }
                    var total_records = $('#registrations-table').find('tr.registration-line').length;
                    console.log(total_records);
                    console.log(total);
                    if(total_records < total) {
                        offset = limit;
                        limit = limit + 100;
                        $('#load_more_data').hide();
                        $(".loader").show();
                        build_datatable();
                        $(".loader").hide();
                    }else{
                        $(".loader").hide();
                    }
                }
            });

            $(document).on('click', '#add_datatable_line', function(){
                var item = create_item_store_default_keys();
                add_to_store(item);
                scrollToBottom();
            });

            $(document).on('click', '#add_defined_lines', function(){
                bootbox.prompt("{% trans 'Please enter the number of lines' %}", function(result) {
                    if (result === null) {
                    } else {
                        var number = parseInt(result);
                        for (var i = 0; i < number; i++) {
                            var item = create_item_store_default_keys();
                            add_to_store(item);
                        }
                        scrollToBottom();
                    }
                });
            });

            $(document).on('click', '.delete-registration-row', function(){
                var item = $(this);
                bootbox.confirm("{% trans 'are you sure you want to delete this row?' %}", function(result) {
                    if(result == true){
                        delete_from_store(item.attr('itemscope'), 'registrations');
                        item.parents('tr').remove();
                    }
                });
            });

            $(document).on("click", "input[type='text']", function(){
                $(this).select();
            });

            $(document).on('change', '.student_birthday', function(){
                if($(this).val()) {
                    var option = $(this).find('option:selected');
                    var age = calculateAge($(this).attr('itemscope'));
                    update_item_store(parseInt($(this).attr('itemscope')), 'student_age', age, 'registrations');
                    var itemblock = '.student_age_'+$(this).attr('itemscope');
                    $(itemblock).val(age);
                }
            });

            $(document).on('blur', '.registration-field', function(){
                if($(this).attr('data-value')){
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations');
                }else{
                    var value = $(this).attr('value');
                    if(!value){
                        value = $(this).val();
                    }
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('name'), value, 'registrations');
                }
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations');
            });

            $(document).on('change', '.registration-field-check', function(){
                update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'registrations');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'registrations');
            });

            $(document).on('change', '#student_id_type', function(){
                if($(this).val() == 6) {
                    var itemscope = $(this).attr('itemscope');
                    $('#line-'+itemscope).find('#student_id_number').val('000000');
                }
            });

            $(document).on('click', '#registration-synchro', function(){
                synchro_result = true;
                $('.alert').hide();
                if(navigator.onLine) {
                    $(".loader").show();
                    synchronize_data(true);
                }else{
                    $('#alert-connection').show();
                }
            });

            $(document).on('click', '#registration-download', function(){
                if(navigator.onLine) {
                    incremental_id = 0;
                    offset = 0;
                    limit = 100;
                    $('#registrations-table').find('.registration-line').remove();
                    $('.alert').hide();
                    $(".loader").show();
                    load_base_data();
                    setTimeout(function(){
                        build_datatable();
                        $(".loader").hide();
                    }, 5000);
                }else{
                    $('#alert-connection').show();
                }
            });

            $("#search_old_student").autocomplete({
              source: function( request, response ) {
                $.ajax( {
                  url: synchro_path,
                  dataType: "json",
                  data: {
                    term: request.term
                  },
                  success: function( data ) {
                    response( data);
                  }
                } );
              },
              minLength: 3,
              select: function( event, ui ) {
                  $("#search_old_student").val('');
                  add_external_record(ui.item);
                  return false;
              }
            }).autocomplete( "instance" )._renderMenu = function( ul, items ) {
                 var that = this;
                 $.each( items, function( index, item ) {
                     that._renderItemData( ul, item );
                });
                $( ul ).find( "li:odd" ).addClass( "odd" );
            };

            $("#search_old_student").autocomplete( "instance" )._renderItem = function( ul, item ) {
                  return $( "<li>" )
                    .append( "<div style='border: 1px solid;'>" + item.student_full_name + " - " + item.student_mother_fullname + " (" + item.student_birthday + ") "
                                   + "<br>" + '{% trans "Last year situation" %}: ' + item.registered_in_level_name + " / " + item.section_name
                                   + "<br>" + '{% trans "Referred to level" %}: ' + " / " + item.refer_to_level_name
                                   + "</div>" )
                    .appendTo( ul );
            };

        });

{#        function init_quicksearch()#}
{#        {#}
{#            $('input#search').quicksearch('table tbody tr', {#}
{#                'selector': 'td',#}
{#                'stripeRows': ['odd', 'even'],#}
{#                'loader': '.loader',#}
{#                'noResults': 'tr#noresults',#}
{#                'bind': 'keyup keydown',#}
{#                'onBefore': function () {#}
{#                    console.log('on before');#}
{#                },#}
{#                'onAfter': function () {#}
{#                    console.log('on after');#}
{#                }#}
{#            });#}
{#        }#}

        function create_item_store_default_keys()
        {
            var item = {
                id: rows,
                synchronized: false,
                deleted: false,
                owner: user_id,
                original_id: 0,
                alp_round: alp_round,
                to_update: true,
                school: school,
                student_id: 0
            };
            var fields = prototype.find('.registration-field');
            $(fields).each(function(i, field){
                if($(field).attr('data-name')) {
                    item[$(field).attr('data-name')] = '';
                }else{
                    item[$(field).attr('name')] = '';
                }
            });

            return item;
        }

        function add_to_store(data)
        {
            var store = getStoreByName('registrations');
            var request = store.put(data);
            add_table_newline(data.id, prototype, table);
            rows = rows + 1;
        }

        function filterByAssignedLevel(level)
        {
            var store = getStoreByName('registrations');
            var index = store.index("assigned_to_level");
            var request = index.getAll(parseInt(level));

            request.onsuccess = function() {
                var result = request.result;
                reBuildTable(result);
            }
        }

        function filterByClass(classroom, section)
        {
            var store = getStoreByName('registrations');
            console.log(classroom);
            console.log(section);
            if(section != 0) {
                var index = store.index("registered_in_levelAndSection");
                var request = index.getAll([classroom, parseInt(section)]);
                console.log(request);
            }else{
                console.log('ko');
                var index = store.index("registered_in_level");
                var request = index.getAll(parseInt(classroom));
            }

            request.onsuccess = function() {
                var result = request.result;
                reBuildTable(result);
            }
        }

        function reBuildTable(data)
        {
            incremental_id = 0;
            $('#registrations-table').find('.registration-line').remove();
            $(data).each(function(i, item){
                if(item.deleted == false){
                    $(".loader").show();
                    if(item.owner == user_id){
                        add_table_newline(item.id, prototype, table);
                    }else{
                        add_table_newline(item.id, prototype_view, table);
                    }
                    add_fill_line_data(item);
                    $(".loader").hide();
                }
            });
        }

        function build_datatable()
        {
            var store = getStoreByName('registrations');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    rows = item.id;
                    if(item.deleted == false && i >= offset && i < limit && $('#line-'+item.id).length == 0){
                        if(item.owner == user_id){
                            add_table_newline(item.id, prototype, table);
                        }else{
                            add_table_newline(item.id, prototype_view, table);
                        }
                        add_fill_line_data(item);
                    }
                });
                rows = rows + 1;
            };
        }

        function add_fill_line_data(item)
        {
            var fields = $('#line-'+item.id).find('.registration-field');
            $(fields).each(function(i, field){
                if($(field).attr('data-value')){
                    var value = item[$(field).attr('data-name')];
                }else{
                    var value = item[$(field).attr('name')];
                }

                if(value == "yes" || value == "no"){
                    if($(field).attr('data-value') == value){
                        $(field).attr('checked', 'checked');
                        if($(field).attr('itemref')){
                            var f_related = $('#line-'+item.id).find('.'+$(field).attr('itemref'));
                            $(f_related).attr('disabled', 'disabled');
                        }
                    }
                }else{
                    $(field).val(value);
                }
                if($(field).hasClass('note-indicator-value') || $(field).hasClass('note-indicator-total')){
                    $(field).attr('value', value);
                    $(field).text(value);
                }
            });
        }

        function synchronize_data(showFeedback)
        {
            var store = getStoreByName('registrations');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    $('#line-'+item.id).removeClass('warning');
                    $('#line-'+item.id).find('.synchro-status').removeClass('failed');
                    $('#line-'+item.id).find('.synchro-status').removeClass('success');
                    $('#line-'+item.id).find('.registration-field').removeClass('required');

                    if(item.synchronized == false) {
                        push_data_to_server(item);
                    }else if(item.deleted == true) {
                        delete_data_from_server(synchro_path, item.original_id, item.id, 'registrations');
                    }else if(item.to_patch && item.to_update){
                        patch_data_into_server(item);
                    }else if(item.to_update){
                        update_data_into_server(item);
                    }
                    $(".loader").hide();
                });
                if(showFeedback && synchro_result == true){
                    $('#alert-synchro-success').show();
                    setTimeout(function(){
                        $('#alert-synchro-success').hide();
                    }, 5000);
                }
                if(showFeedback && synchro_result == false){
                    $('#alert-synchro-warning').show();
                    setTimeout(function(){
                        $('#alert-synchro-warning').hide();
                    }, 5000);
                }
            };
        }

        function push_data_to_server(item)
        {
            var data = item;

            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                async: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 201){
                        $('#line-'+item.id).find('.synchro-status').addClass('success');
                        update_item_store(parseInt(item.id), 'synchronized', true, 'registrations');
                        update_item_store(parseInt(item.id), 'original_id', response.id, 'registrations');
                        update_item_store(parseInt(item.id), 'to_update', false, 'registrations');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+item.id).addClass('warning');
                    $('#line-'+item.id).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function update_data_into_server(item)
        {
            var data = item;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 200){
                        $('#line-'+item.id).find('.synchro-status').addClass('success');
                        $('#line-'+item.id).find('.registration-field').removeClass('required');
                        update_item_store(parseInt(item.id), 'synchronized', true, 'registrations');
                        update_item_store(parseInt(item.id), 'to_update', false, 'registrations');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+item.id).addClass('warning');
                    $('#line-'+item.id).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function patch_data_into_server(item)
        {
            var itemid = item.id;
            var data = item;
            delete data.id;

            $.ajax({
                type: "PATCH",
                url: synchro_path+itemid+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    $('#line-'+itemid).find('.synchro-status').addClass('success');
                    update_item_store(parseInt(itemid), 'to_update', false, 'registrations');
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+itemid).addClass('warning');
                    $('#line-'+itemid).find('.synchro-status').addClass('failed');
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+itemid).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function pull_registrations_data(url, store_name)
        {
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                async: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    var store = getStoreByName(store_name);
                    var data = response;
                    if(response.data) {
                        data = response.data;
                    }
                    total = data.length;
                    $(data).each(function(i, item){

                        var request = store.index('original_id').get(parseInt(item.original_id));
                        request.onsuccess = function() {
                            item.synchronized = true;
                            item.deleted = false;
                            item.to_update = false;
                            item.to_patch = true;
                            item.student_nationality = item.student_nationality_id;
                            item.student_mother_nationality = item.student_mother_nationality_id;
                            item.student_id_type = item.student_id_type_id;

                            item.registered_in_level = item.next_level;
                            item.last_education_level = item.last_education_level_id;
                            item.last_informal_edu_level = item.last_informal_edu_level_id;
                            item.last_informal_edu_round = item.last_informal_edu_round_id;
                            item.last_informal_edu_final_result = item.last_informal_edu_final_result_id;

                            if(request.result === undefined) {
                                store.put(item);
                            }else{
                                var result = request.result;
                                result = item;
                                store.put(result);
                            }
                        };
                    });
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }

        function add_external_record(item)
        {
            var store = getStoreByName('registrations');
            var request = store.index('student_id').get(parseInt(item.student_id));
            request.onsuccess = function() {
                if(request.result === undefined) {
                    item.synchronized = false;
                    item.deleted = false;
                    item.to_update = false;
                    item.student_nationality = item.student_nationality_id;
                    item.student_mother_nationality = item.student_mother_nationality_id;
                    item.student_id_type = item.student_id_type_id;
                    item.alp_round = alp_round;

                    item.registered_in_level = item.next_level;
                    item.last_education_level = item.last_education_level_id;
                    item.last_informal_edu_level = item.last_informal_edu_level_id;
                    item.last_informal_edu_round = item.last_informal_edu_round_id;
                    item.last_informal_edu_final_result = item.last_informal_edu_final_result_id;

                    var itemid = item.id;
                    var data = item;
                    data.id = rows;
                    delete data.original_id;
                    add_to_store(data);
                    add_fill_line_data(data);
                }else{
                    bootbox.alert("{% trans 'This student already added to the list' %}", function(result) {
                        return true;
                    });
                }
            };
        }

        function pull_registration_record(itemid)
        {
           return $.ajax({
                type: "GET",
                url: synchro_path+'?id='+itemid,
                cache: false,
                async: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response) {
                    add_external_record(response[0])
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }

        function load_base_data()
        {
            pull_registrations_data(synchro_path, 'registrations');
        }

        function createStores()
        {
            var db_name = "bd_current_"+alp_round;
            var request = indexedDB.open(db_name, 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('registrations')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                }
                if(flag){
                    var store = db.createObjectStore("registrations", {keyPath: "id", autoIncrement:true});
                    store.createIndex('original_id', 'original_id');
                    store.createIndex('student_id', 'student_id');

                    store.createIndex('level', 'level');
                    store.createIndex('assigned_to_level', 'assigned_to_level');

                    store.createIndex('registered_in_level', 'registered_in_level');
                    store.createIndex('section', 'section');
                    store.createIndex('registered_in_levelAndSection', ['registered_in_level', 'section']);

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                $(".loader").show();
                setTimeout(function(){
                    build_datatable();
                    $(".loader").hide();
                }, 5000);
            };
        }

        function calculateAge(itemid)
        {
            var age = 0;
            var form = $('#line-'+itemid);

            var birthday_day = form.find('#student_birthday_day').val();
            var birthday_month = form.find('#student_birthday_month').val();
            var birthday_year = form.find('#student_birthday_year').val();

            var birthDate = new Date(birthday_year, birthday_month, birthday_day);

            if(birthday_day != "" && birthday_month != "" && birthday_year != "" ) {
                age = getDateDiff(birthDate,new Date());
            }

            return age;
        }

        function getDateDiff(dateOfBirth, dateToCalculate) {
            var calculateYear = dateToCalculate.getFullYear();
            var calculateMonth = dateToCalculate.getMonth();
            var calculateDay = dateToCalculate.getDate();

            var birthYear = dateOfBirth.getFullYear();
            var birthMonth = dateOfBirth.getMonth();
            var birthDay = dateOfBirth.getDate();

            var age = calculateYear - birthYear;
            var ageMonth = calculateMonth - birthMonth;
            var ageDay = calculateDay - birthDay;

            if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
                age = parseInt(age) - 1;
            }

            return age;
        }

    </script>

{% endblock %}
