{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">

{% endblock %}


{% block content-full-page %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "ALP data collecting" %}</a></li>
                                    <li>
                                         <select id="id_school" class="col-400">
                                             <option value="">---{% trans "Display by School" %}---</option>
                                              {% for school in schools %}
                                                <option value="{{ school.id }}" {% if selectedSchool == school.id %}selected="selected"{% endif %}>
                                                    {{ school }} - {% if school.location %}{{ school.location.name }}{% endif %}
                                                </option>
                                              {% endfor %}
                                         </select>
                                    </li>
                                    <li>
                                        {% if selectedSchool %}
                                        <a class="btn btn-info" id="outreach-export" href="{% url "alp:alp_data_export" %}?school={{ selectedSchool }}" target="_blank">
                                            <i class="icon-export-sign icon-white"></i>&nbsp;
                                                {% trans "Export" %}
                                          </a>
                                        {% endif %}
                                    </li>
                                 </ol>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="outreaches-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th rowspan="2"><label>{% trans "Governorate" %}</label></th>
                                        <th rowspan="2"><label>{% trans "District" %}</label></th>
                                        <th rowspan="2"><label>{% trans "School number" %}</label></th>
                                        <th rowspan="2"><label>{% trans "School" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student first name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student father name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student last name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Sex" %}</label></th>
                                        <th colspan="3" style="text-align: center;"><label>{% trans "Student birthday" %}</label></th>
                                        <th rowspan="2"><label class="col-60">{% trans "Student age" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student nationality" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Mother fullname" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Mother nationality" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Registered in UNHCR" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student ID Type" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student ID Number" %}</label>
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "ID Number tooltip" %}"></i>
                                        </th>
                                        <th rowspan="2"><label>{% trans "Student living address" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Phone number (6 digits)" %}</label></th>
                                        <th rowspan="2"><label class="col-100">{% trans "Phone prefix (2 digits)" %}</label></th>
                                        <th colspan="2" style="text-align: center; background-color: #67b168;"><label>{% trans "Last student education" %}</label></th>
                                        <th colspan="4" style="text-align: center; background-color: #ec971f;"><label>{% trans "Last student informal education" %}</label></th>
                                        <th colspan="5" style="text-align: center; background-color: #b0e1ef;"><label>{% trans "Student notes" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Registered in school" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Registered in level" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Registered in section" %}</label></th>
                                    </tr>
                                    <tr id="thead-line-2">
                                        <th><label>{% trans "year" %}</label></th>
                                        <th><label>{% trans "month" %}</label></th>
                                        <th><label>{% trans "day" %}</label></th>
                                        <th style="background-color: #67b168;"><label class="col-100">{% trans "Last education level" %}</label></th>
                                        <th style="background-color: #67b168;"><label>{% trans "Education year" %}</label></th>
                                        <th style="background-color: #ec971f;"><label class="col-150">{% trans "Is the child participated in an ALP program" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP round" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP level" %}</label></th>
                                        <th style="background-color: #ec971f;"><label>{% trans "ALP result" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label>{% trans "Arabic language" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label>{% trans "Foreign language" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label>{% trans "Math" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label>{% trans "Science" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label>{% trans "Total" %}</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for registry in outreaches %}
                                        <tr>
                                            <td>{% if registry.school and registry.school.location and registry.school.location.parent %}{{ registry.school.location.parent.name }}{% endif %}</td>
                                            <td>{% if registry.school and registry.school.location %}{{ registry.school.location.name }}{% endif %}</td>
                                            <td>{% if registry.school %}{{ registry.school.number }}{% endif %}</td>
                                            <td>{% if registry.school %}{{ registry.school.name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.number }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.first_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.father_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.last_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{% trans registry.student.sex %}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.birthday }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.get_age }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.nationality_name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.mother_fullname }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.mother_nationality.name }}{% endif %}</td>
                                            <td>{% if registry.registered_in_unhcr %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                            <td>{% if registry.student and registry.student.id_type %}{{ registry.student.id_type.name }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.id_number }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.address }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.phone }}{% endif %}</td>
                                            <td>{% if registry.student %}{{ registry.student.phone_prefix }}{% endif %}</td>
                                            <td>{% if registry.last_education_level %}{{ registry.last_education_level.name }}{% endif %}</td>
                                            <td>{{ registry.last_education_year }}</td>
                                            <td>{% if registry.participated_in_alp %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                                            <td>{% if registry.last_informal_edu_round %}{{ registry.last_informal_edu_round.name }}{% endif %}</td>
                                            <td>{% if registry.last_informal_edu_level %}{{ registry.last_informal_edu_level.name }}{% endif %}</td>
                                            <td>{% if registry.last_informal_edu_final_result %}{{ registry.last_informal_edu_final_result.name }}{% endif %}</td>
                                            <td>{{ registry.exam_result_arabic }}</td>
                                            <td>{{ registry.exam_result_language }}</td>
                                            <td>{{ registry.exam_result_math }}</td>
                                            <td>{{ registry.exam_result_science }}</td>
                                            <td>{{ registry.exam_total }}</td>
                                            <td>{% if registry.exam_school %}{{ registry.exam_school.name }} - {{ registry.exam_school.number }}{% endif %}</td>
                                            <td>{% if registry.level %}{{ registry.level.name }}{% endif %}</td>
                                            <td>{% if registry.section %}{{ registry.section.name }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';

        $(document).ready(function(){

            oTable = $('#outreaches-table').DataTable({
                fixedHeader: false,
                paging:   true,
                ordering: true,
                info:     true,
                autoWidth: false,
                scrollY: '50vh',
                scrollX: true,
                scrollCollapse: true,
                "language": {
                    "url": "/static/locale/"+language+".json"
                },
                "fnInitComplete": function(oSettings, json) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });

            // get the list of school and fill the table with it
            $("#id_school").change(function(){
                var selected_school = $(this).val();
               // reload the page with the school id passed in post
                var url = '{% url "alp:alp_data_view" %}';
                if(selected_school){
                    url = url+'?school='+selected_school;
                }
                window.location.href = url;
            });

        });
    </script>

{% endblock %}
