{#{% extends "base.html" %}#}
{#{% load staticfiles i18n %}#}
{#{% get_current_language as LANGUAGE_CODE %}#}
{#{% load util_tags %}#}
{##}
{#{% block extra_head %}#}
{##}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block content-full-page %}#}
{##}
{#         <section class="main-content-wrapper">#}
{#            <section id="main-content">#}
{#                 <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        </br>#}
{#                    </div>#}
{#                </div>#}
{#            <div class="row">#}
{#                    <div class="col-md-12">#}
{#                        <div class="panel panel-default">#}
{#                          <div class="panel-heading">#}
{#                            <h3 class="panel-title">{% trans "Outreach" %}#}
{#                              <a class="btn btn-info" id="outreach-export" href="{% url "alp:outreach_export" %}" target="_blank">#}
{#                                <i class="icon-export-sign icon-white"></i>&nbsp;#}
{#                                    {% trans "Export" %}#}
{#                              </a>#}
{#                            </h3>#}
{#                            <div class="actions pull-right">#}
{#                                <i class="fa fa-chevron-down"></i>#}
{#                                <i class="fa fa-times"></i>#}
{#                            </div>#}
{#                          </div>#}
{#                          <div class="panel-body">#}
{#                                <table id="outreaches-table" class="table table-striped table-bordered cell-border"#}
{#                                       data-height="500"#}
{#                                       data-pagination="true"#}
{#                                       data-search="true"#}
{#                                       cellspacing="0"#}
{#                                       width="100%">#}
{#                                <thead>#}
{#                                    <tr id="thead-line-1">#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "School number" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "School name number" %}"></i>#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "School" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "School name" %}"></i>#}
{#                                        </th>#}
{#                                        <th colspan="3">#}
{#                                            {% trans "Outreach exam" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Average distance" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Average distance tooltip" %}"></i>#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Preferred language" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Last training level" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Last training level tooltip" %}"></i>#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Last education year" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Last education level" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Student living address" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Governorate" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Phone number" %}#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "ID Number" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "ID Number tooltip" %}"></i>#}
{#                                        </th>#}
{#                                        <th rowspan="2">{% trans "Sex" %}</th>#}
{#                                        <th colspan="3">{% trans "Birthday" %}</th>#}
{#                                        <th rowspan="2">{% trans "Nationality" %}</th>#}
{#                                        <th rowspan="2">{% trans "Mother fullname" %}</th>#}
{#                                        <th rowspan="2">{% trans "Student fullname (in arabic)" %}</th>#}
{#                                        <th rowspan="2">{% trans "Student number" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Student number tooltip" %}"></i>#}
{#                                        </th>#}
{#                                        <th rowspan="2">#}
{#                                            {% trans "Partner" %}#}
{#                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Partner tooltip" %}"></i>#}
{#                                        </th>#}
{#                                        {% for col in columns %}#}
{#                                            <th rowspan="2" class="extra-column" id="{{ col.name }}" itemscope="{{ col.id }}">#}
{#                                                {{ col.label }}#}
{#                                            </th>#}
{#                                        {% endfor %}#}
{#                                    </tr>#}
{#                                    <tr id="thead-line-2">#}
{#                                        <th>{% trans "year" %}</th>#}
{#                                        <th>{% trans "month" %}</th>#}
{#                                        <th>{% trans "day" %}</th>#}
{#                                        <th>{% trans "year" %}</th>#}
{#                                        <th>{% trans "month" %}</th>#}
{#                                        <th>{% trans "day" %}</th>#}
{#                                    </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                    {% for outreach in outreaches %}#}
{#                                        <tr>#}
{#                                            <td>{{ outreach.school.number }}</td>#}
{#                                            <td>{% if outreach.school %}{{ outreach.school.name }}{% endif %}</td>#}
{#                                            <td>{{ outreach.exam_year }}</td>#}
{#                                            <td>{{ outreach.exam_month }}</td>#}
{#                                            <td>{{ outreach.exam_day }}</td>#}
{#                                            <td>{{ outreach.average_distance }}</td>#}
{#                                            <td>{% if outreach.preferred_language %}{{ outreach.preferred_language.name }}{% endif %}</td>#}
{#                                            <td>{% if outreach.last_class_level %}{{ outreach.last_class_level.name }}{% endif %}</td>#}
{#                                            <td>{{ outreach.last_education_year }}</td>#}
{#                                            <td>{% if outreach.last_education_level %}{{ outreach.last_education_level.name }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.address }}{% endif %}</td>#}
{#                                            <td>{% if outreach.location %}{{ outreach.location.name }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.phone }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.id_number }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.sex }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.birthday_year }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.birthday_month }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.birthday_day }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student and outreach.student.nationality %}{{ outreach.student.nationality.name }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.mother_fullname }}{% endif %}</td>#}
{#                                            <td>{% if outreach.student %}{{ outreach.student.full_name }}{% endif %}</td>#}
{#                                            <td></td>#}
{#                                            <td>{% if outreach.partner %}{{ outreach.partner.name }}{% endif %}</td>#}
{#                                            {% for col in columns %}#}
{#                                                {% with outreach.id|stringformat:"s" as outreach_id %}#}
{#                                                {% with col_name=col.name|add:'-'|add:outreach_id %}#}
{#                                                    {% json_load_value outreach.extra_fields col_name as field_value %}#}
{#                                                    {% if field_value %}#}
{#                                                        <td>{{ field_value }}</td>#}
{#                                                    {% else %}#}
{#                                                        <td>&nbsp;</td>#}
{#                                                    {% endif %}#}
{#                                                {% endwith %}#}
{#                                                {% endwith %}#}
{#                                            {% endfor %}#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                     </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            </section>#}
{#         </section>#}
{##}
{#{% endblock %}#}
{##}
{#{% block extra_js %}#}
{##}
{#    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <script type="text/javascript">#}
{#        var oTable = null;#}
{#        var language  = '{{ LANGUAGE_CODE }}';#}
{##}
{#        $(document).ready(function(){#}
{##}
{#            oTable = $('#outreaches-table').DataTable({#}
{#                fixedHeader: true,#}
{#                paging:   true,#}
{#                ordering: true,#}
{#                info:     true,#}
{#                autoWidth: false,#}
{#                scrollY: '50vh',#}
{#                scrollX: true,#}
{#                scrollCollapse: true,#}
{#                "language": {#}
{#                    "url": "/static/locale/"+language+".json"#}
{#                },#}
{#                "fnInitComplete": function(oSettings, json) {#}
{#                    $('[data-toggle="tooltip"]').tooltip();#}
{#                }#}
{#            });#}
{#        });#}
{#    </script>#}
{##}
{#{% endblock %}#}
