{% extends "base.appcache.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/select.dataTables.min.css">

{% endblock %}

{% block content-full-page %}

    {% include 'alp/outreach_prototype.html' %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Outreach" %}
                              <a class="btn btn-info" id="outreach-synchro" href="#">
                                <i class="icon-synch-sign icon-white"></i>&nbsp;
                                    {% trans "outreach synchronize" %}
                              </a>
                              <a class="btn btn-info" id="outreach-add-column" href="#">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "add column" %}
                              </a>
                              <a class="btn btn-info" id="outreach-export" href="{% url "alp:outreach_export" %}" target="_blank">
                                <i class="icon-export-sign icon-white"></i>&nbsp;
                                    {% trans "Export" %}
                              </a>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="outreaches-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th rowspan="2">&nbsp;</th>
                                        <th rowspan="2">
                                            {% trans "School number" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "School name number" %}"></i>
                                        </th>
                                        <th rowspan="2">
                                            {% trans "School" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "School name" %}"></i>
                                            <input type="checkbox" name="duplicate_school" id="duplicate_school" />
                                        </th>
                                        <th colspan="3">
                                            {% trans "Outreach exam" %}
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Average distance" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Average distance tooltip" %}"></i>
                                            <input type="checkbox" name="duplicate_average_distance" id="duplicate_average_distance" />
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Preferred language" %}
                                            <input type="checkbox" name="duplicate_preferred_language" id="duplicate_preferred_language" />
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Last training level" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Last training level tooltip" %}"></i>
                                            <input type="checkbox" name="duplicate_last_class_level" id="duplicate_last_class_level" />
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Last education year" %}
                                            <input type="checkbox" name="duplicate_last_education_year" id="duplicate_last_education_year" />
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Last education level" %}
                                            <input type="checkbox" name="duplicate_last_education_level" id="duplicate_last_education_level" />
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Student living address" %}
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Governorate" %}
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Phone number" %}
                                        </th>
                                        <th rowspan="2">
                                            {% trans "ID Number" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "ID Number tooltip" %}"></i>
                                        </th>
                                        <th rowspan="2">{% trans "Sex" %}</th>
                                        <th colspan="3">{% trans "Birthday" %}</th>
                                        <th rowspan="2">{% trans "Nationality" %}</th>
                                        <th rowspan="2">{% trans "Mother fullname" %}</th>
                                        <th rowspan="2">{% trans "Student fullname" %}</th>
                                        <th rowspan="2">{% trans "Student number" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Student number tooltip" %}"></i>
                                        </th>
                                        <th rowspan="2">
                                            {% trans "Partner" %}
                                            <i class="icon-info-sign" data-toggle="tooltip" title="{% trans "Partner tooltip" %}"></i>
                                            <input type="checkbox" name="duplicate_partner" id="duplicate_partner" />
                                        </th>
                                    </tr>
                                    <tr id="thead-line-2">
                                        <th>{% trans "year" %}
                                            <input type="checkbox" name="duplicate_exam_year" id="duplicate_exam_year" />
                                        </th>
                                        <th>{% trans "month" %}
                                            <input type="checkbox" name="duplicate_exam_month" id="duplicate_exam_month" />
                                        </th>
                                        <th>{% trans "day" %}
                                            <input type="checkbox" name="duplicate_exam_day" id="duplicate_exam_day" />
                                        </th>
                                        <th>{% trans "year" %}</th>
                                        <th>{% trans "month" %}</th>
                                        <th>{% trans "day" %}</th>
                                    </tr>
                                </thead>

                                <tbody>

                                </tbody>
                            </table>
                        </div>
                              <a class="btn btn-success" id="add_datatable_line" href="#">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "Add empty line" %}
                              </a>
                              <a class="btn btn-success" id="duplicate_last_line" href="#">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "duplicate last line" %}
                              </a>
                              <a class="btn btn-success" id="duplicate_last_line_select" href="#">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "duplicate last line with selected option" %}
                              </a>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/tooltip.js' %}"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootbox.js"></script>
    <script type="text/javascript">
        var oTable = null;
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var columns = 0;
        var rows = 1;
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = '{{ request.get_host }}';
        var synchro_path = protocol+host+'/api/outreach/';
        var synchro_path_extra = protocol+host+'/api/extra-column/';

        window.addEventListener("offline", function(e) {
          $('#outreach-synchro').hide();
        }, false);

        window.addEventListener("online", function(e) {
          $('#outreach-synchro').show();
        }, false);

        var appCache = window.applicationCache;
        console.log(appCache);

        // Check if a new cache is available on page load.
        window.addEventListener('load', function(e) {

          window.applicationCache.addEventListener('updateready', function(e) {
            if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
              // Browser downloaded a new app cache.
              if (confirm('A new version of this site is available. Load it?')) {
                window.location.reload();
              }
            } else {
              // Manifest didn't changed. Nothing new to server.
            }
          }, false);

        }, false);


        $(document).ready(function(){

            createStores();

            setInterval(function(){
                if(navigator.onLine) {
                    synchronize_data(false);
                }
            }, 3600000);

            $(document).on("click", ".delete-column", function(e) {
                var itemid = $(this).parent().attr('itemscope');
                var breakline = '<br/>';
                var field_values = breakline + '{% trans "This column contains there following data:" %}' + breakline;
                $('#outreaches-table').find('.extra-field-'+itemid).each(function(){
                    field_values = field_values + $(this).val() + breakline;
                });
                bootbox.confirm("{% trans 'are you sure you want to delete this column?' %}"+field_values, function(result) {
                    if(result == true){
                        delete_extra_column(itemid);
                        delete_extra_field(itemid);
                    }
                });
            });

            $('[data-toggle="tooltip"]').tooltip();

            $(document).on('click', '#add_datatable_line', function(){
                var item = create_item_store_default_keys();
                add_to_store(item);
                scrollToBottom();
            });

            $(document).on('click', '#duplicate_last_line', function(){
                if(rows == 0) {
                    return false;
                }else{
                    var lastid = $('.outreach-field-id:last').val();
                    var request = getRecord(lastid);
                    request.onsuccess = function(){

                        var params = {
                            school_number: true,
                            school: true,
                            exam_year: true,
                            exam_month: true,
                            exam_day: true,
                            average_distance: true,
                            preferred_language: true,
                            last_class_level: true,
                            last_education_year: true,
                            last_education_level: true,
                            partner: true
                        };
                        console.log(request.result);
                        duplicate_item_values(request.result, params);
                    };
                }
            });
            $(document).on('click', '#duplicate_last_line_select', function(){
                if(rows == 0) {
                    return false;
                }else{
                    var lastid = $('.outreach-field-id:last').val();
                    var request = getRecord(lastid);
                    request.onsuccess = function(){

                        var params = {
                            school_number: $('#duplicate_school').is(':checked'),
                            school: $('#duplicate_school').is(':checked'),
                            exam_year: $('#duplicate_exam_year').is(':checked'),
                            exam_month: $('#duplicate_exam_month').is(':checked'),
                            exam_day: $('#duplicate_exam_day').is(':checked'),
                            average_distance: $('#duplicate_average_distance').is(':checked'),
                            preferred_language: $('#duplicate_preferred_language').is(':checked'),
                            last_class_level: $('#duplicate_last_class_level').is(':checked'),
                            last_education_year: $('#duplicate_last_education_year').is(':checked'),
                            last_education_level: $('#duplicate_last_education_level').is(':checked'),
                            partner: $('#duplicate_partner').is(':checked')
                        };
                        duplicate_item_values(request.result, params);
                    };
                }
            });

            $(document).on('click', '.delete-outreach-row', function(){
                var item = $(this);
                bootbox.confirm("{% trans 'are you sure you want to delete this row?' %}", function(result) {
                    if(result == true){
                        delete_from_store(item.attr('itemscope'));
                        item.parents('tr').remove();
                    }
                });
            });

            $(document).on('change', '.outreach-school', function(){
                if($(this).val()){
                    var option = $(this).find('option:selected');
                    update_item_store($(this).attr('itemscope'), 'school_number', option.attr('itemcontent'));
                    var itemblock = '.school_number_'+$(this).attr('itemscope');
                    $(itemblock).val(option.attr('itemcontent'));
                }
            });

            $(document).on('blur', '.outreach-field', function(){
                if($(this).hasClass('extra-field')){
                    update_extra_field_store($(this).attr('itemscope'), $(this).attr('name'), $(this).val());
                }
                update_item_store($(this).attr('itemscope'), $(this).attr('name'), $(this).val());
            });

            $(document).on('click', '#outreach-synchro', function(){
                synchronize_data(true);
            });

            $(document).on('click', '#outreach-add-column', function(){
                bootbox.prompt("{% trans 'Please enter extra column name' %}", function(result) {
                  if (result === null) {
                  } else {
                    columns = columns + 1;
                    var column_name = 'extra-column-'+columns;
                    var column_label = result;
                    add_column_to_store(columns, column_name, column_label);
                    create_extra_columns_html(columns, column_name, column_label);
                    $('#outreaches-table').find('.outreach-line').each(function(i, item){
                        var itemid = $(this).attr('itemscope');
                        var td = create_extra_field_html(columns, itemid);
                        $(this).append(td);
                        var field_name = 'extra-field-'+columns+'-'+itemid;
                        update_item_store(itemid, field_name, '');
                        update_extra_field_store(itemid, field_name, '');
                    });
                  }
                });
            });
        });

        function scrollToBottom()
        {
            $("html, body").animate({ scrollTop: $(document).height() }, 10);
        }

        function add_outreach_newline(itemid)
        {
            var line_html =  $('#outreach_prototype').find('tbody').html().replace(/\$\$itemscope_id\$\$/g, itemid);
            $('#outreaches-table').find('tbody').append(line_html);

            var extra_columns = $('#outreaches-table').find('.extra-column');
            $(extra_columns).each(function(i, col){
                var td = create_extra_field_html($(this).attr('itemscope'), itemid);
                $('#line-'+itemid).append(td);
            });
        }

        function duplicate_item_values(duplicata, fields)
        {
            var new_item = create_item_store_default_keys();
            $.each(fields, function(field, flag){
                if(flag){
                    new_item[field] = duplicata[field];
                }
            });

            add_to_store(new_item);
            add_fill_line_data(new_item);
            scrollToBottom();
        }

        function create_item_store_default_keys()
        {
            var item = {id: rows, synchronized: false, deleted: false, owner: user_id};
            var fields = $('#outreach_prototype').find('.outreach-field');
            $(fields).each(function(i, field){
                item[$(field).attr('name')] = '';
            });

            var extra_columns = $('#outreaches-table').find('.extra-column');
            var extra_fields = {};
            $(extra_columns).each(function(i, col){
                var field_name = 'extra-field-'+$(this).attr('itemscope')+'-'+rows;
                item[field_name] = '';
                extra_fields[field_name] = '';
            });

            item['tmp_extra_fields'] = extra_fields;

            return item;
        }

        function add_to_store(data)
        {
            var store = getObjectStore();
            var request = store.put(data);
            add_outreach_newline(data.id);
            rows = rows + 1;
        }

        function delete_from_store(itemid)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            request.onsuccess = function(){
                result = request.result;
                if(result.synchronized == true){
                    update_item_store(itemid, 'deleted', true);
                }else{
                    store.delete(parseInt(itemid));
                    rows = rows - 1;
                }
            }
        }

        function update_item_store(itemid, name, value)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            request.onsuccess = function(){
                var item = request.result;
                item[name] = value;
                store.put(item);
            };
        }

        function update_extra_field_store(itemid, name, value, col)
        {
            var store =  getObjectStore();
            var request = store.get(parseInt(itemid));
            request.onsuccess = function(){
                var item = request.result;
                var tmp_extra_fields = item.tmp_extra_fields;
                tmp_extra_fields[name] = value;
                item.tmp_extra_fields = tmp_extra_fields;
                if(item.original_id){
                    var extra_fields = item.extra_fields;
                    extra_fields[col+'-'+item.original_id] = value;
                    item.extra_fields = extra_fields;
                }
                store.put(item);
            };
        }

        function patch_item_store(item)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(item.id));
            request.onsuccess = function(){
                store.put(item);
            };
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function build_datatable()
        {
            add_extra_columns();
            var store = getObjectStore();
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    rows = item.id;
                    if(item.deleted == false){
                        add_outreach_newline(item.id);
                        add_fill_line_data(item);
                    }
                });
                rows = rows + 1;
            };
        }

        function add_extra_columns()
        {
            var store = getColumnsStore();
            var request = store.getAll();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, col){
                    columns = col.id;
                    if(col.deleted == false){
                        create_extra_columns_html(col.id, col.name, col.label);
                    }
                });
                columns = columns + 1;
            }
        }

        function create_extra_columns_html(column, name, label)
        {
            var btn = $('<a class="btn-sm btn-danger delete-column" href="#"><i class="icon-delete icon-white"></i></a>');
            var th = $('<th>').attr('rowspan', 2)
                            .addClass('extra-column')
                            .attr('id', name)
                            .attr('itemscope', column)
                            .text(label);
            th.append(btn);
            $('#thead-line-1').append(th);
        }

        function create_extra_field_html(column, itemid)
        {
            var td = $('<td>').append(
                    $('<input>').attr('type', 'text')
                            .attr('name', 'extra-field-'+column+'-'+itemid)
                            .attr('id', 'extra-field-'+column+'-'+itemid)
                            .attr('class', 'outreach-field extra-field')
                            .addClass('extra-field-'+column)
                            .attr('itemscope', itemid)
                            .attr('itemid', column)
            );

            return td;
        }

        function delete_extra_column(column)
        {
            var col_name = 'extra-column-'+column;
            update_column(col_name, 'deleted', true);
            $('#'+col_name).remove();
        }

        function delete_extra_field(column)
        {
            var store = getObjectStore();
            var request = store.getAll();
            request.onsuccess = function(){
                var result = request.result;
                $(result).each(function(i, item){
                    var tmp_field_name = 'extra-field-'+column+'-'+item.id;
                    var tmp_extra_fields = item.tmp_extra_fields;
                    delete tmp_extra_fields[tmp_field_name];
                    delete item[tmp_field_name];
                    item.tmp_extra_fields = tmp_extra_fields;
                    if(item.original_id){
                        var field_name = 'extra-field-'+column+'-'+item.original_id;
                        var extra_fields = item.extra_fields;
                        delete extra_fields[field_name];
                        delete item[field_name];
                        item.extra_fields = extra_fields;
                    }
                    patch_item_store(item);
                    $('#'+field_name).parent().remove();
                });
            }
        }

        function add_fill_line_data(item)
        {
            var fields = $('#line-'+item.id).find('.outreach-field');
            $(fields).each(function(i, field){
                $(field).val(item[$(field).attr('name')]);
            });
        }

        function synchronize_data(showFeedback)
        {
            var store = getObjectStore();
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    if(item.synchronized == false) {
                        push_data_to_server(item);
                    }else if(item.deleted == true){
                        delete_data_from_server(item);
                    }else{
                        update_data_into_server(item);
                    }
                });
                if(showFeedback){
                    bootbox.alert("{% trans 'Synchronization done' %}", function() {});
                }
            };

            var col_store = getColumnsStore();
            var col_request = col_store.getAll();
            col_request.onsuccess = function() {
                var col_result = col_request.result;
                $(col_result).each(function(i, col){
                    if(col.synchronized == false) {
                        push_extra_columns_to_server(col);
                    }else if(col.deleted == true){
                        delete_extra_columns_from_server(col);
                    }else{
                        //update_extra_columns_on_server(col);
                    }
                });
            };
        }

        function push_data_to_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item;
            data['csrfmiddlewaretoken'] = csrftoken;
            console.log(data);
            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    if(response.status == '201'){
                        $('#line-'+item.id).find('.outreach-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                        item.original_id = response.data.id;
                        update_item_store(item.id, 'original_id', response.data.id);
                        create_extra_field_store(item, response.data.id);
                        patch_extra_field_data_on_server(item);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.outreach-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function update_data_into_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item;
            data['csrfmiddlewaretoken'] = csrftoken;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status == '200'){
                        $('#line-'+item.id).find('.outreach-field').removeClass('required');
                        update_item_store(item.id, 'synchronized', true);
                        patch_extra_field_data_on_server(item);
                    }
                },
                error: function (response) {
                    var required_fields = JSON.parse(response.responseText);
                    $('#line-'+item.id).find('.outreach-field').removeClass('required');
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    console.log(response);
                }
            });
        }

        function create_extra_field_store(item, new_item_id)
        {
            var extra_columns = $('#outreaches-table').find('.extra-column');
            var store = getObjectStore();

            var extra_fields = {};
            $(extra_columns).each(function(i, col){
                var field_name = 'extra-field-'+$(this).attr('itemscope')+'-'+new_item_id;
                var field_value = item['extra-field-'+$(this).attr('itemscope')+'-'+item.id];
                extra_fields[field_name] = field_value;
            });

            item['extra_fields'] = extra_fields;
            store.put(item);
        }

        function patch_extra_field_data_on_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item.extra_fields;

            $.ajax({
                type: "PATCH",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    if(response.status == '200'){
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function delete_data_from_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "DELETE",
                url: synchro_path+item.original_id+'/',
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status = '200') {
                        var store = getObjectStore();
                        store.delete(parseInt(item.id));
                    }
                },
                error: function (response) {

                }
            });
        }

        function pull_data_from_server()
        {
            var csrftoken = getCookie('csrftoken');
            data['csrfmiddlewaretoken'] = csrftoken;

            $.ajax({
                type: "GET",
                url: synchro_path,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status == '201'){
                        var store = getObjectStore();
                        $(response.data).each(function(i, item){
                            rows = item.id;
                            item.synchronized = true;
                            item.deleted = false;
                            store.put(item);
                            add_outreach_newline();
                        });
                        rows = rows + 1;
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function push_extra_columns_to_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            var data = item;
            data['csrfmiddlewaretoken'] = csrftoken;

            $.ajax({
                type: "POST",
                url: synchro_path_extra,
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status == '201'){
                        update_column(item.name,'synchronized', true);
                        update_column(item.name,'original_id', response.data.id);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function update_extra_columns_on_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "PUT",
                url: synchro_path_extra+item.original_id+'/',
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status = '200') {
                        var store = getColumnsStore();
                        store.delete(item.name);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function delete_extra_columns_from_server(item)
        {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "DELETE",
                url: synchro_path_extra+item.original_id+'/',
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    if(response.status = '200') {
                        var store = getColumnsStore();
                        store.delete(item.name);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        function createStores()
        {
            var request = indexedDB.open("compile_bd", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('outreaches')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                }
                if(flag){
                    db.createObjectStore("outreaches", {keyPath: "id", autoIncrement:true});
                    db.createObjectStore("columns", {keyPath: "name", autoIncrement:true});
                    db.createObjectStore("columnsValues", {keyPath: "name", autoIncrement:true});
                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                build_datatable();
            };
        }

        function getObjectStore()
        {
            var store = db.transaction(["outreaches"], "readwrite").objectStore("outreaches");
            return store;
        }

        function getRecord(itemid)
        {
            var store = getObjectStore();
            var request = store.get(parseInt(itemid));
            return request;
        }

        function getColumnsStore()
        {
            var store = db.transaction(["columns"], "readwrite").objectStore("columns");
            return store;
        }

        function add_column_to_store(column, name, label)
        {
            var store = getColumnsStore();
            store.put({id: column, name: name, label: label, synchronized: false, owner: user_id, deleted: false});
        }

        function update_column(col_name, name, value)
        {
            var store = getColumnsStore();
            var request = store.get(col_name);
            request.onsuccess = function(){
                var item = request.result;
                item[name] = value;
                store.put(item);
            };
        }

    </script>

{% endblock %}
