{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.0/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
{#	<link rel="stylesheet" type="text/css" href="{% static 'css/editor.dataTables.min.css' %}">#}

    <style>

        th {
            border-color: black;
            background-color: lightskyblue;
            text-align: right;
        }
        th, td {
            font-size:14px;
        }
    </style>

{% endblock %}

{% block content-full-page %}
         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">{% trans "Outreach" %}</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
{#                              <a href="#" class="btn btn-success" id="add_datatable_line">#}
{#                                <i class="icon-plus-sign icon-white"></i>&nbsp;#}
{#                                    {% trans "Add outreach line" %}#}
{#                              </a>#}
                                <table id="outreaches_table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "" %}">&nbsp;</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "School name number" %}">{% trans "School number" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "School name" %}">{% trans "School" %}
                                            <input type="checkbox" name="duplicate_school" id="duplicate_school" />
                                        </th>
                                        <th colspan="3" data-toggle="tooltip" title="{% trans "Outreach exam tooltip" %}">{% trans "Outreach exam" %}
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Average distance tooltip" %}">{% trans "Average distance" %}
                                            <input type="checkbox" name="duplicate_average_distance" id="duplicate_average_distance" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Preferred language tooltip" %}">{% trans "Preferred language" %}
                                            <input type="checkbox" name="duplicate_preferred_language" id="duplicate_preferred_language" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Last training level tooltip" %}">{% trans "Last training level" %}
                                            <input type="checkbox" name="duplicate_last_class_level" id="duplicate_last_class_level" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Last education year tooltip" %}">{% trans "Last education year" %}
                                            <input type="checkbox" name="duplicate_last_education_year" id="duplicate_last_education_year" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Last education level tooltip" %}">{% trans "Last education level" %}
                                            <input type="checkbox" name="duplicate_last_education_level" id="duplicate_last_education_level" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Student living address tooltip" %}">{% trans "Student living address" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Governorate tooltip" %}">{% trans "Governorate" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Phone number tooltip" %}">{% trans "Phone number" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "ID Number tooltip" %}">{% trans "ID Number" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Sex tooltip" %}">{% trans "Sex" %}</th>
                                        <th colspan="3" data-toggle="tooltip" title="{% trans "Birthday tooltip" %}">{% trans "Birthday" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Nationality tooltip" %}">{% trans "Nationality" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Mother fullname tooltip" %}">{% trans "Mother fullname" %}</th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Student fullname tooltip" %}">{% trans "Student fullname" %}</th>
{#                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "" %}">{% trans "Student number" %}</th>#}
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "Partner tooltip" %}">{% trans "Partner" %}
                                            <input type="checkbox" name="duplicate_partner" id="duplicate_partner" />
                                        </th>
                                        <th rowspan="2" data-toggle="tooltip" title="{% trans "" %}">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "year" %}
                                        </th>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "month" %}
                                            <input type="checkbox" name="duplicate_exam_month" id="duplicate_exam_month" />
                                        </th>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "day" %}
                                            <input type="checkbox" name="duplicate_exam_day" id="duplicate_exam_day" />
                                        </th>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "year" %}</th>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "month" %}</th>
                                        <th data-toggle="tooltip" title="{% trans "" %}">{% trans "day" %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in outreaches %}
                                        <tr>
                                            {% include 'alp/outreach_new_line.html' with outreach=item years=years %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                              <a class="btn btn-success" id="add_datatable_line">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "Add empty line" %}
                              </a>
                              <a class="btn btn-success" id="duplicate_last_line">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "duplicate last line" %}
                              </a>
                              <a class="btn btn-success" id="duplicate_last_line_select">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "duplicate last line with selected option" %}
                              </a>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript">
        var outreach_total = {{ outreaches|length }};
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';
        $(document).ready(function(){

            oTable = $('#outreaches_table').DataTable({
                fixedHeader: true,
                paging:   false,
                ordering: false,
                info:     true,
                autoWidth: false,
                scrollY: '50vh',
                scrollX: true,
                scrollCollapse: true,
{#                processing: true,#}
{#                serverSide: true,#}
{#                ajax: "{% url 'alp:outreach_list_json' %}"#}
                "language": {
                    "url": "/static/locale/"+language+".json"
{#                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json"#}
                },
                "fnInitComplete": function(oSettings, json) {
                    $('[data-toggle="tooltip"]').tooltip();
                    scrollToBottom();
                }
            });

            $(document).on('click', '#add_datatable_line', function(){
                if(outreach_total == 0) {
                    $('#outreaches_table').find('tbody').empty();
                }
                outreach_total = outreach_total + 1;
                load_outreach_newline(0, {});
            });
            $(document).on('click', '#duplicate_last_line', function(){
                if(outreach_total == 0) {
                    return false;
                }else{
                    var lastid = $('.outreach-field-id:last').val();
                    outreach_total = outreach_total + 1;
                    load_outreach_newline(lastid, {});
                }
            });
            $(document).on('click', '#duplicate_last_line_select', function(){
                if(outreach_total == 0) {
                    return false;
                }else{
                    var lastid = $('.outreach-field-id:last').val();
                    outreach_total = outreach_total + 1;
                    var params = {
                        options: true,
                        school: $('#duplicate_school').is(':checked'),
                        exam_month: $('#duplicate_exam_month').is(':checked'),
                        exam_day: $('#duplicate_exam_day').is(':checked'),
                        average_distance: $('#duplicate_average_distance').is(':checked'),
                        preferred_language: $('#duplicate_preferred_language').is(':checked'),
                        last_class_level: $('#duplicate_last_class_level').is(':checked'),
                        last_education_year: $('#duplicate_last_education_year').is(':checked'),
                        last_education_level: $('#duplicate_last_education_level').is(':checked'),
                        partner: $('#duplicate_partner').is(':checked')
                    };
                    load_outreach_newline(lastid, params);
                }
            });

            $(document).on('click', '.save-outreach-row', function(){
                var itemscope = $(this).attr('itemscope');
                save_row($('#'+itemscope));
            });
            $(document).on('click', '.delete-outreach-row', function(){
                delete_row($(this), $(this).attr('itemscope'));
                outreach_total = outreach_total - 1;
            });
            $(document).on('change', '.outreach-school', function(){
                if($(this).val()){
                    var itemblock = '#school_number_'+$(this).attr('itemscope');
                    load_school_number($(this).val(), itemblock);
                }
            });
            $(document).on('blur', '.outreach-field', function(){
                save_row_value($(this).attr('itemscope'), $(this).attr('name'), $(this).val());
            });
        });

        function scrollToBottom()
        {
            var $scrollBody = $(oTable.table().node()).parent();
            $scrollBody.scrollTop($scrollBody.get(0).scrollHeight);
            $scrollBody.scrollLeft($scrollBody.get(0).scrollWidth);
{#            $("html, body").animate({ scrollTop: $(document).height() }, 1000);#}
        }

        function load_school_number(school, itemscope)
        {
            $.ajax({
                type: "GET",
                url: "{% url 'students:school_detail_json' %}",
                data: "id="+school,
                cache: false,
                dataType: 'json',
                success: function(response){
                    $(itemscope).text(response.number);
                },
                error: function(response) {

                }
            });
        }

        function load_outreach_newline(lastid, params)
        {
            var data = {};
            if(params){
                params['id'] = lastid;
                data = params;
            }else{
                data = {id:lastid};
            }

            $.ajax({
                type: "GET",
                url: "{% url 'alp:outreach_new_line' %}",
                data: data,
                cache: false,
                dataType: 'html',
                success: function(response){
{#                    $('#outreaches_table').find('tbody').append(response);#}
                    oTable.row.add(response.split('##')).draw();
{#                    oTable.row.add([response]).draw();#}
                    scrollToBottom();
                },
                error: function(response) {

                }
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function delete_row(button, outreach) {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "DELETE",
                url: "{% url "alp:outreach_delete_line" %}",
                data: outreach,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    oTable.row(button.parents('tr')).remove().draw();
                },
                error: function (response) {

                }
            });
        }

        function save_row_value(outreach, name, value) {
            var csrftoken = getCookie('csrftoken');
            var data = {csrfmiddlewaretoken: csrftoken, name: name, value: value, id: outreach};
            data[name] = value;
            $.ajax({
                type: "POST",
                url: "{% url 'alp:outreach_new_line' %}",
                data: data,
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {

                }
            });
        }

        function save_row(form) {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                cache: false,
                headers: {"X-CSRFToken":csrftoken},
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {

                }
            });
        }
    </script>

{% endblock %}
