{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-alert.css' %}">
    <style>
        tr.highlighted {
            background-color: darkseagreen !important;
        }
        .outreach-field-p:focus {
            background-color: yellow;
        }
        .outreach-field:focus {
            background-color: yellow;
        }
        tr.warning {
            border: 3px solid #90111A;
        }
    </style>
{% endblock %}

{% block content-full-page %}

    {% include 'alp/prototype_new.html' %}

         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">
                <div class="alert alert-success" role="alert" id="alert-synchro-success" style="display: none;"><strong>{% trans 'Well done' %}</strong> {% trans 'Synchronization success' %}</div>
                <div class="alert alert-warning" role="alert" id="alert-synchro-warning" style="display: none;"><strong>{% trans 'Warning' %}</strong> {% trans 'Please check fill required field' %}</div>
                <div class="alert alert-danger" role="alert" id="alert-connection" style="display: none;">{% trans 'Please check you internet connectivity' %}</div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                              <ol class="breadcrumb">
                                    <li><b>{% trans "ALP Pre-test" %}</b></li>
                                    <li><b>{{ school }}</b></li>
                                    <li><b>{{ location }}</b></li>
                                    <li><b>{{ location_parent }}</b></li>
                              </ol>
                          </div>
                          <div class="panel-heading" style="position: absolute; top:50px;" id="header">
                                <ol class="breadcrumb">
                                    <li><a>
                                        <h3 class="panel-title">{% trans "ALP data collecting" %}</h3></a></li>
                                    <li>
                                      <button class="btn btn-info" id="outreach-synchro">
                                        <i class="icon-synch-sign icon-white"></i>&nbsp;
                                            {% trans "synchronize" %}
                                      </button>
                                    </li>
                                    <li>
                                        <select name="school" id="filter_school" style="width: 210px;">
                                            <option value="">{% trans "Filter by School" %}</option>
                                            {% for item in schools %}
                                                <option value="{{ item.id }}" {% if school_id == item.id %}selected="selected"{% endif %}>{{ item }} {% if item.location %}{{ item.location.name }}{% endif %}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" id="search" size="300" style="width: 200px;" placeholder="{% trans "Search a student" %}" />
                                        <button class="btn btn-warning" id="filter_cancel">
                                            {% trans "Rest filter" %}
                                        </button>
                                        <a class="btn btn-info" id="outreach-export" href="{% url "alp:alp_data_export" %}" target="_blank">
                                            <i class="icon-export-sign icon-white"></i>&nbsp;
                                                {% trans "Export" %}
                                        </a>
                                    </li>
                                </ol>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                              <div class="loader"></div>
                                <table id="outreaches-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%" style="margin-bottom: 100px; margin-top: 75px;">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th rowspan="2">&nbsp;</th>
                                        <th rowspan="2"><label>{% trans "Student first name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student father name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Student last name" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Sex" %}</label></th>
                                        <th rowspan="2" style="background-color: #b0e1ef;"><label>{% trans "Registered in level" %}</label></th>
                                        <th colspan="9" style="text-align: center; background-color: #b0e1ef;"><label>{% trans "Student notes" %}</label></th>
                                        <th rowspan="2" style="background-color: #b0e1ef;"><label>{% trans "Assigned to level" %}</label></th>
                                        <th colspan="3" style="text-align: center;"><label>{% trans "Student birthday" %}</label></th>
                                        <th rowspan="2"><label class="col-60">{% trans "Student age" %}</label></th>
                                        <th rowspan="2"><label>{% trans "Mother fullname" %}</label></th>
                                    </tr>
                                    <tr id="thead-line-2">
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Arabic language" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Foreign language" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Math" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Science" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Total" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Arabic language corrector" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Foreign language corrector" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Math corrector" %}</label></th>
                                        <th style="background-color: #b0e1ef;"><label class="col-60">{% trans "Science corrector" %}</label></th>
                                        <th><label>{% trans "year" %}</label></th>
                                        <th><label>{% trans "month" %}</label></th>
                                        <th><label>{% trans "day" %}</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for line in data %}
                                    {% include 'alp/prototype-view_new.html' with role="CERD" student=line.student level=line.level %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <div style="position: fixed; bottom: 10px; {% if LANGUAGE_CODE == 'ar-ar' %}right: 35px;{% else %}left: 35px;{% endif %}">
                              <button class="btn btn-success" id="add_datatable_line">
                                <i class="icon-plus-sign icon-white"></i>&nbsp;
                                    {% trans "Add empty line" %}
                              </button>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

{% endblock %}

{% block extra_js %}

    {% get_user_token request.user.id as user_token %}
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/appcache.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/indexedDB.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.quicksearch.js' %}"></script>
    <script type="text/javascript">
        var db = null;
        var language  = '{{ LANGUAGE_CODE }}';
        var user_id = {{ request.user.id }};
        var user_username = '{{ request.user.username }}';
        var user_email = '{{ request.user.email }}';
        var user_token = '{{ user_token }}';
        var alp_round = '{{ alp_round }}';
        var school = '{{ school_id }}';
        var rows = 1;
        var synchro_result = true;
        var prototype = $('#outreach_prototype');
        var table = $('#outreaches-table');
        var selectedSchool = '{{ school_id }}';
        var filterSchools = true;
        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}

        var host = protocol+'{{ request.get_host }}';
        var synchro_path = host+'/api/outreach/';
        var arabic_fields = "#student_address, #student_mother_fullname, #student_first_name, #student_father_name, #student_last_name";

        $(document).ready(function(){

            $('#search').val('');
            createStores();
            bootbox.addLocale(language, {
                OK : '{% trans "Ok" %}',
                CANCEL : '{% trans "Cancel" %}',
                CONFIRM : '{% trans "Confirm" %}'
            });
            bootbox.setLocale(language);

            $('input#search').quicksearch('table tbody tr', {
                selector: 'span'
            });

            $(document).on('keypress', 'input#search', function(){
                $('body, html').scrollLeft(400);
            });

            $(document).on('blur', '#exam_corrector_science', function(){
                $('body, html').scrollLeft(800);
            });

            $(document).on('blur', arabic_fields, function(){
                checkArabicOnly($(this));
            });

            $(document).on('click', '#registered_in_unhcr_1, #registered_in_unhcr_0', function(){
                var itemscope = $(this).attr('itemscope');
                var id_type = $('#line-'+itemscope).find('#student_id_type');
                $(this).trigger('change');
                if($(this).attr('data-value') == 'yes'){
                    $(id_type).val(1);
                    $(id_type).trigger('blur');
                    $(id_type).attr('disabled', 'disabled');
                }else{
                    $(id_type).val('');
                    $(id_type).trigger('blur');
                    $(id_type).removeAttr('disabled');
                }
            });

            $(document).on('click', '#participated_in_alp_1, #participated_in_alp_0', function(){
                var itemscope = $(this).attr('itemscope');
                var alp_details = $('#line-'+itemscope).find('.alp_details');
                $(this).trigger('change');
                if($(this).attr('data-value') == 'yes'){
                    $(alp_details).removeAttr('disabled');
                }else{
                    $(alp_details).val('');
                    $(alp_details).trigger('blur');
                    $(alp_details).attr('disabled', 'disabled');
                }
            });

            $("#filter_school").change(function(){
                var selected_school = $(this).val();
               // reload the page with the school id passed in post
                var url = '{% url "alp:alp_pre_test" %}';
                if(selected_school){
                    url = url+'?school='+selected_school;
                }
                window.location.href = url;
            });

            $(document).on('click', '#filter_cancel', function(){
                $('.outreach-line').show();
                $('.outreach-line-p').show();
                $('#search').val('');
                $('tbody').find('tr').removeClass('highlighted');
            });

            $(document).on('click', 'tbody tr', function(){
                $('tbody').find('tr').removeClass('highlighted');
                $(this).addClass('highlighted');
            });

            $(window).scroll(function () {
                var l = $(this).scrollLeft();
                if(parseInt(l) <= 0){
                    $('#header').css({'left': l});
                }else{
                    $('#header').css({'right': -l});
                }
            });

            $(document).on('click', '#add_datatable_line', function(){
                var item = create_item_store_default_keys();
                add_to_store(item);
                scrollToBottom();
            });

            $(document).on('click', '.delete-outreach-row', function(){
                var item = $(this);
                bootbox.confirm("{% trans 'are you sure you want to delete this row?' %}", function(result) {
                    if(result == true){
                        delete_from_store(item.attr('itemscope'), 'outreaches');
                        item.parents('tr').remove();
                    }
                });
            });

            $(document).on("click", "input[type='text']", function(){
                $(this).select();
            });

            $(document).on('change', '.outreach-location', function(){
                if($(this).val()){
                    var option = $(this).find('option:selected');
                    var itemblock = '.governorate_name_'+$(this).attr('itemscope');
                    update_item_store(parseInt($(this).attr('itemscope')), 'governorate_name', option.attr('data-parent'), 'outreaches');
                    $(itemblock).val(option.attr('data-parent'));

                    var school = $('#line-'+$(this).attr('itemscope')).find('.outreach-school');
                    school.find('option').hide();
                    school.find('option[value=""]').show();
                    school.find('option[data-parent='+$(this).val()+']').show();
                }else{
                    var itemblock = '.governorate_name_'+$(this).attr('itemscope');
                    update_item_store(parseInt($(this).attr('itemscope')), 'governorate_name', '', 'outreaches');
                    $(itemblock).val('');

                    var school = $('#line-'+$(this).attr('itemscope')).find('.outreach-school');
                    school.find('option').hide();
                    school.find('option[value=""]').show();
                }
            });

            $(document).on('change', '.outreach-school', function(){
                if($(this).val()){
                    var option = $(this).find('option:selected');
                    update_item_store(parseInt($(this).attr('itemscope')), 'school_number', option.attr('itemcontent'), 'outreaches');
                    var itemblock = '.school_number_'+$(this).attr('itemscope');
                    $(itemblock).val(option.attr('itemcontent'));
                }
            });

            $(document).on('change', '.student_birthday', function(){
                if($(this).val()) {
                    var option = $(this).find('option:selected');
                    var age = calculateAge($(this).attr('itemscope'));
                    update_item_store(parseInt($(this).attr('itemscope')), 'student_age', age, 'outreaches');
                    var itemblock = '.student_age_'+$(this).attr('itemscope');
                    $(itemblock).val(age);
                }
            });

            $(document).on('change, blur', '.exam-note', function(){

                $(this).removeClass('required');
                var item = $(this).parent().parent();
                var max = parseInt(item.find('#level').find('option:selected').attr('data-value'));
                if(parseFloat($(this).val()) > max){
                    $(this).val(0);
                    $(this).addClass('required');
                    return false;
                }

                var note1 = parseFloat(item.find('#exam_result_arabic').val());
                var note2 = parseFloat(item.find('#exam_result_language').val());
                var note3 = parseFloat(item.find('#exam_result_math').val());
                var note4 = parseFloat(item.find('#exam_result_science').val());
                item.find('#exam_total').val(note1+note2+note3+note4);
                item.find('#exam_total').trigger('blur');
            });

            $(document).on('blur', '.exam-corrector', function(){
                if(parseInt($(this).val()) < 11){
                    $(this).focus();
                    alert('Enter the exam corrector');
                }
            });

            $(document).on('blur', '#exam_total, #level', function(){
                calc_assigned_level($(this).parent().parent());
            });
            $(document).on('change', '#exam_total, #level', function(){
                calc_assigned_level($(this).parent().parent());
            });

            $(document).on('change', '.note-indicator', function(){
                var item = $(this).parent().parent();
                var note = parseInt($(this).find('option:selected').attr('data-value'));
                var total = note*4;
                item.find('.note-indicator-value').text('/'+note);
                item.find('.note-indicator-value').attr('value', '/'+note);
                item.find('.note-indicator-value').trigger('blur');

                item.find('.note-indicator-total').text('/'+total);
                item.find('.note-indicator-total').attr('value', '/'+total);
                item.find('.note-indicator-total').trigger('blur');
            });

            $(document).on('blur', '.outreach-field', function(){
                if($(this).attr('data-value')){
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'outreaches');
                }else{
                    var value = $(this).attr('value');
                    if(!value){
                        value = $(this).val();
                    }
                    update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('name'), value, 'outreaches');
                }
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'outreaches');
            });

            $(document).on('blur', '.outreach-field-p', function(){
                update_or_create_item(parseInt($(this).attr('itemscope')), $(this).attr('name'), $(this).val(), 'outreaches-p');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'outreaches-p');
            });
            $(document).on('change', '.outreach-field-p', function(){
                update_or_create_item(parseInt($(this).attr('itemscope')), $(this).attr('name'), $(this).val(), 'outreaches-p');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'outreaches-p');
            });

            $(document).on('change', '.outreach-field-check', function(){
                update_item_store(parseInt($(this).attr('itemscope')), $(this).attr('data-name'), $(this).attr('data-value'), 'outreaches');
                flag_record_to_update(parseInt($(this).attr('itemscope')), 'outreaches');
            });

            $(document).on('click', '#outreach-synchro', function(){
                synchro_result = true;
                $('.alert').hide();
                if(navigator.onLine) {
                    $(".loader").show();
                    synchronize_data(true);
                }else{
                    $('#alert-connection').show();
                }
            });

        });

        function create_item_store_default_keys()
        {
            var item = {
                id: rows,
                synchronized: false,
                deleted: false,
                owner: user_id,
                original_id: 0,
                to_update: true,
                alp_round: alp_round,
                school: school,
            };
            var fields = $('#outreach_prototype').find('.outreach-field');
            $(fields).each(function(i, field){
                if($(field).attr('data-name')) {
                    item[$(field).attr('data-name')] = '';
                }else{
                    if(filterSchools == true){
                        item[$(field).attr('name')] = $(field).val();
                    }else{
                        item[$(field).attr('name')] = '';
                    }
                }
            });

            return item;
        }

        function add_to_store(data)
        {
            var store = getStoreByName('outreaches');
            var request = store.put(data);
            add_table_newline(data.id, prototype, table);
            rows = rows + 1;
        }

        function build_datatable()
        {
            var store = getStoreByName('outreaches');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    rows = item.id;
                    if(item.deleted == false){
                        if(filterSchools == false){
                            add_table_newline(item.id, prototype, table);
                            add_fill_line_data(item);
                        }else if(filterSchools == true && parseInt(item.school) == parseInt(selectedSchool)){
                            add_table_newline(item.id, prototype, table);
                            add_fill_line_data(item);
                        }
                    }
                });
                rows = rows + 1;
            };
        }

        function add_fill_line_data(item)
        {
            var fields = $('#line-'+item.id).find('.outreach-field');
            $(fields).each(function(i, field){
                if($(field).attr('data-value')){
                    var value = item[$(field).attr('data-name')];
                }else{
                    var value = item[$(field).attr('name')];
                }

                if(value == "yes" || value == "no"){
                    if($(field).attr('data-value') == value){
                        $(field).attr('checked', 'checked');
                        if($(field).attr('itemref')){
                            var f_related = $('#line-'+item.id).find('.'+$(field).attr('itemref'));
                            $(f_related).attr('disabled', 'disabled');
                        }
                    }
                }else{
                    $(field).val(value);
                }
                if($(field).hasClass('note-indicator-value') || $(field).hasClass('note-indicator-total')){
                    $(field).attr('value', value);
                    $(field).text(value);
                }
            });
        }

        function synchronize_data(showFeedback)
        {
            $('.outreach-line-p').removeClass('warning');
            $('.outreach-line').removeClass('warning');

            $('.outreach-field').removeClass('required');
            $('.outreach-field-p').removeClass('required');

            var store = getStoreByName('outreaches');
            var request = store.getAll();
            request.onsuccess = function() {
                var result = request.result;
                $(result).each(function(i, item){
                    if(item.synchronized == false) {
                        push_data_to_server(item);
                    }else if(item.deleted == true){
                        delete_data_from_server(synchro_path, item.original_id, item.id, 'outreaches');
                    }else if (item.to_update == true) {
                        update_data_into_server(item);
                    }
                    $(".loader").hide();
                });
                if(showFeedback && synchro_result == true){
                    $('#alert-synchro-success').show();
                    setTimeout(function(){
                        $('#alert-synchro-success').hide();
                    }, 5000);
                }
                if(showFeedback && synchro_result == false){
                    $('#alert-synchro-warning').show();
                    setTimeout(function(){
                        $('#alert-synchro-warning').hide();
                    }, 5000);
                }
            };

            var store_p = getStoreByName('outreaches-p');
            var request_p = store_p.getAll();
            request_p.onsuccess = function() {
                var result_p = request_p.result;
                $(result_p).each(function(i, item){
                    if(item.to_update == true) {
                        patch_data_into_server(item);
                        $(".loader").hide();
                    }
                    $(".loader").hide();
                });
            };
        }

        function push_data_to_server(item)
        {
            var data = item;

            $.ajax({
                type: "POST",
                url: synchro_path,
                data: data,
                cache: false,
                async: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 201){
                        item.synchronized = true;
                        item.original_id = response.id;
                        item.to_update = false;

                        update_item_store(parseInt(item.id), 'synchronized', true, 'outreaches');
                        update_item_store(parseInt(item.id), 'original_id', response.id, 'outreaches');
                        update_item_store(parseInt(item.id), 'to_update', false, 'outreaches');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    $('#line-'+item.id).addClass('warning');
                    console.log(response);
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function update_data_into_server(item)
        {
            var data = item;

            $.ajax({
                type: "PUT",
                url: synchro_path+item.original_id+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 200){
                        update_item_store(parseInt(item.id), 'synchronized', true, 'outreaches');
                        update_item_store(parseInt(item.id), 'to_update', false, 'outreaches');
                        synchro_result = true;
                    }
                },
                error: function (response) {
                    $('#line-'+item.id).addClass('warning');
                    console.log(response);
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+item.id).find('#'+field_name).addClass('required');
                    });
                    synchro_result = false;
                }
            });
        }

        function patch_data_into_server(item)
        {
            var itemid = item.id;
            var data = item;
            delete data.id;

            if(data.exam_result_arabic) {
                data.exam_result_arabic = data.exam_result_arabic.replace(",",".");
            }
            if(data.exam_result_language) {
                data.exam_result_language = data.exam_result_language.replace(",",".");
            }
            if(data.exam_result_math) {
                data.exam_result_math = data.exam_result_math.replace(",",".");
            }
            if(data.exam_result_science) {
                data.exam_result_science = data.exam_result_science.replace(",",".");
            }

            $.ajax({
                type: "PATCH",
                url: synchro_path+itemid+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    update_item_store(parseInt(itemid), 'to_update', false, 'outreaches-p');
                },
                error: function (response) {
                    console.log(response);
                    $('#line-'+itemid).addClass('warning');
                    var required_fields = JSON.parse(response.responseText);
                    $.each(required_fields, function(field_name, field_msg){
                        $('#line-'+itemid).find('#'+field_name).addClass('required');
                    });
                }
            });
        }

        function createStores()
        {
            var request = indexedDB.open("bd_pretest", 3);

            request.onupgradeneeded = function() {
                // The database did not previously exist, so create object stores and indexes.
                db = request.result;
                var flag = false;
                try {
                    if(!db.objectStoreNames().contains('outreaches')) {
                        flag = true;
                    }
                }catch(err) {
                    flag = true;
                }
                if(flag){
                    var store = db.createObjectStore("outreaches", {keyPath: "id", autoIncrement:true});
                    db.createObjectStore("outreaches-p", {keyPath: "id", autoIncrement:true});

                    var profile_store = db.createObjectStore("user", {keyPath: "id"});
                    profile_store.put({id: user_id, username: user_username, email: user_email});
                }
            };

            request.onsuccess = function() {
                db = request.result;
                $(".loader").show();
                setTimeout(function(){
                    build_datatable();
                    $(".loader").hide();
                }, 5000);
            };
        }

        function calculateAge(itemid)
        {
            var age = 0;
            var form = $('#line-'+itemid);

            var birthday_day = form.find('#student_birthday_day').val();
            var birthday_month = form.find('#student_birthday_month').val();
            var birthday_year = form.find('#student_birthday_year').val();

            var birthDate = new Date(birthday_year, birthday_month, birthday_day);

            if(birthday_day != "" && birthday_month != "" && birthday_year != "" ) {
                age = getDateDiff(birthDate,new Date());
            }

            return age;
        }

        function getDateDiff(dateOfBirth, dateToCalculate) {
            var calculateYear = dateToCalculate.getFullYear();
            var calculateMonth = dateToCalculate.getMonth();
            var calculateDay = dateToCalculate.getDate();

            var birthYear = dateOfBirth.getFullYear();
            var birthMonth = dateOfBirth.getMonth();
            var birthDay = dateOfBirth.getDate();

            var age = calculateYear - birthYear;
            var ageMonth = calculateMonth - birthMonth;
            var ageDay = calculateDay - birthDay;

            if (ageMonth < 0 || (ageMonth == 0 && ageDay < 0)) {
                age = parseInt(age) - 1;
            }

            return age;
        }

        function calc_assigned_level(item)
        {
            var level = parseInt(item.find('#level').val());
            var total = parseInt(item.find('#exam_total').val());
            var assigned_level = item.find('#assigned_to_level');
            var to_level = 0;

            if(level == 1 || level == 2 || level == 3){
                if(total < 40){
                    to_level = 1;
                }else if(total >= 40 && total < 80){
                    to_level = 2;
                }else if(total >= 80 && total <= 120){
                    to_level = 3;
                }
            }
            if(level == 4 || level == 5 || level == 6){
                if(total < 20) {
                    to_level = 1;
                }else if(total >= 20 && total < 40){
                    to_level = 2;
                }else if(total >= 40 && total < 60){
                    to_level = 3;
                }else if(total >= 60 && total < 100){
                    to_level = 4;
                }else if(total >= 100 && total < 140){
                    to_level = 5;
                }else if(total >= 140 && total <= 180){
                    to_level = 6;
                }
            }
            if(level == 7 || level == 8 || level == 9){
                if(total < 20) {
                    to_level = 1;
                }else if(total >= 20 && total < 40){
                    to_level = 2;
                }else if(total >= 40 && total < 60){
                    to_level = 3;
                }else if(total >= 60 && total < 80){
                    to_level = 4;
                }else if(total >= 80 && total < 100){
                    to_level = 5;
                }else if(total >= 100 && total < 120){
                    to_level = 6;
                }else if(total >= 120 && total < 160){
                    to_level = 7;
                }else if(total >= 160 && total < 200){
                    to_level = 8;
                }else if(total >= 200 && total <= 240){
                    to_level = 9;
                }
            }
            assigned_level.val(to_level);
            assigned_level.trigger('blur');
        }

    </script>

{% endblock %}
