{% load staticfiles i18n %}
{% load util_tags %}

{% get_range 1990 2020 as years %}
{% get_range 1 32 as days %}
{% get_range_str 2001 2020 as last_education_years %}

<table style="display:none;" id="outreach_prototype">
    <tr id="line-$$itemscope_id$$" class="outreach-line" itemscope="$$itemscope_id$$">
        <td>
            <button class="btn btn-danger delete-outreach-row" itemscope="$$itemscope_id$$">
                <i class="icon-trash icon-white"></i>
                {% trans "Delete" %}
            </button>
        </td>
        <td>
            <input type="text" name="student_first_name" id="student_first_name" class="outreach-field"
                   itemscope="$$itemscope_id$$" style="width: 110px;" placeholder="{% trans "Student first name" %}"/>
        </td>
        <td>
            <input type="text" name="student_father_name" id="student_father_name" class="outreach-field"
                   itemscope="$$itemscope_id$$" style="width: 110px;" placeholder="{% trans "Student father name" %}"/>
        </td>
        <td>
            <input type="text" name="student_last_name" id="student_last_name" class="outreach-field"
                   itemscope="$$itemscope_id$$" style="width: 110px;" placeholder="{% trans "Student last name" %}" />
        </td>
        <td>
            <select name="student_sex" id="student_sex" class="outreach-field" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Sex" %}</option>
                {% for key, item in genders %}
                    <option value="{{ key }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
    {% if request.user|has_group:"CERD" %}
        <td>
            <select name="level" id="level" class="outreach-field note-indicator" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Registered in level" %}</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}" data-value="{{ item.note }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="exam_result_arabic" id="exam_result_arabic" class="outreach-field exam-note"
                   itemscope="$$itemscope_id$$" maxlength="5" size="6" placeholder="{% trans "Arabic language" %}"/>
            <span class="note-indicator-value outreach-field" name="note-indicator-value" id="note-indicator-value" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <input type="text" name="exam_result_language" id="exam_result_language" class="outreach-field exam-note"
                   itemscope="$$itemscope_id$$" maxlength="5" size="6" placeholder="{% trans "Foreign language" %}" />
            <span class="note-indicator-value outreach-field" name="note-indicator-value" id="note-indicator-value" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <input type="text" name="exam_result_math" id="exam_result_math" class="outreach-field exam-note"
                   itemscope="$$itemscope_id$$" maxlength="5" size="6" placeholder="{% trans "Math" %}" />
            <span class="note-indicator-value outreach-field" name="note-indicator-value" id="note-indicator-value" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <input type="text" name="exam_result_science" id="exam_result_science" class="outreach-field exam-note"
                   itemscope="$$itemscope_id$$" maxlength="5" size="4" placeholder="{% trans "Science" %}"/>
            <span class="note-indicator-value outreach-field" name="note-indicator-value" id="note-indicator-value" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <input type="text" name="" class="exam_total_$$itemscope_id$$" readonly="readonly"
                   itemscope="$$itemscope_id$$" id="exam_total" disabled="disabled" size="3" />
            <span class="note-indicator-total outreach-field" name="note-indicator-total" id="note-indicator-total" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <input name="exam_corrector_arabic" id="exam_corrector_arabic" class="outreach-field exam-corrector"
                   itemscope="$$itemscope_id$$" style="width: 70px;" placeholder="{% trans "Arabic language" %}"/>
        </td>
        <td>
            <input name="exam_corrector_language" id="exam_corrector_language" class="outreach-field exam-corrector"
                   itemscope="$$itemscope_id$$" style="width: 70px;" placeholder="{% trans "Foreign language" %}"/>
        </td>
        <td>
            <input name="exam_corrector_math" id="exam_corrector_math" class="outreach-field exam-corrector"
                   itemscope="$$itemscope_id$$" style="width: 70px;" placeholder="{% trans "Math" %}"/>
        </td>
        <td>
            <input name="exam_corrector_science" id="exam_corrector_science" class="outreach-field exam-corrector"
                   itemscope="$$itemscope_id$$" style="width: 70px;" placeholder="{% trans "Science" %}"/>
        </td>
        <td>
            <select name="assigned_to_level" id="assigned_to_level" class="outreach-field" itemscope="$$itemscope_id$$">
                <option value="">-------</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
    {% endif %}
    {% if request.user|has_group:"ALP_SCHOOL" %}
        <td>
            <select name="level" id="level" class="outreach-field note-indicator" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Registered in level" %}</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}" data-value="{{ item.note }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="" class="exam_total_$$itemscope_id$$" readonly="readonly"
                   itemscope="$$itemscope_id$$" id="exam_total" disabled="disabled" size="3" />
            <span class="note-indicator-total outreach-field" name="note-indicator-total" id="note-indicator-total" itemscope="$$itemscope_id$$"></span>
        </td>
        <td>
            <select name="assigned_to_level" id="assigned_to_level" class="outreach-field" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Assigned to level" %}</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="registered_in_level" id="registered_in_level" class="outreach-field" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Current Level" %}</option>
                {% for item in informal_educations %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="section" id="section" class="outreach-field" itemscope="$$itemscope_id$$">
                <option value="">{% trans "Current Section" %}</option>
                {% for item in sections %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </td>
    {% endif %}
        <td>
            <select name="student_birthday_year" id="student_birthday_year" class="outreach-field student_birthday" itemscope="$$itemscope_id$$">
                <option value="">{% trans "year" %}</option>
                {% for item in years %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="student_birthday_month" id="student_birthday_month" class="outreach-field student_birthday" itemscope="$$itemscope_id$$">
                <option value="">{% trans "month" %}</option>
                {% for key, name in months %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="student_birthday_day" id="student_birthday_day" class="outreach-field student_birthday" itemscope="$$itemscope_id$$">
                <option value="">{% trans "day" %}</option>
                {% for item in days %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input type="text" name="student_age" class="outreach-field student_age_$$itemscope_id$$" readonly="readonly"
                   disabled="disabled" itemscope="$$itemscope_id$$" id="student_age" value="" size="4"/>
        </td>
        <td>
            <input type="text" name="student_mother_fullname" id="student_mother_fullname" class="outreach-field"
                  placeholder="{% trans "Mother fullname" %}" itemscope="$$itemscope_id$$" />
        </td>
    </tr>
</table>
