{% load static i18n %}
{% load util_tags %}
{% load simple_tags %}

<div class="mb-2 mr-2 btn-group dropdown" style="position: relative;">
    <button class="btn btn-outline-primary">Actions</button>
    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-outline-primary"><span class="sr-only">Toggle Dropdown</span>
    </button>
    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start">
        <a type="button" href="{% url 'mscc:child_profile' record.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-contact btn-icon-wrapper"> </i></button>
          {% trans "View Profile" %}</a>
       {% if user|has_group:"MSCC_CENTER" and  user.center %}
        <a type="button" href="{% url 'mscc:child_edit' record.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-create btn-icon-wrapper"> </i></button>
          {% trans "Edit" %}</a>
        <a type="button" href="" tabindex="0" class="dropdown-item delete-student"  data-registration-id="{{ record.id }}">
          <button id="delete-button-{{ record.id }}" class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-info"><i class="ion-android-delete btn-icon-wrapper"> </i></button>
          {% trans "Delete" %}</a>
      {% endif %}

<div tabindex="-1" class="dropdown-divider"></div>

        {% get_services record as services %}

{% service_data 'EducationService' instance as result1 %}
  {% if result1 %}
      {% service_data 'EducationAssessment' record as result %}
      {% if result %}
        <a type="button" href="{% url 'mscc:service_diagnostic_assessment_edit' record.id result.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
          Diagnostic Assessment
        </a>
        {% if result.post_test_done %}
        <a type="button" href="{% url 'mscc:service_education_assessment_edit' record.id result.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
          Education Assessment
        </a>
        {% else %}
        <a type="button" href="{% url 'mscc:service_education_assessment_edit' record.id result.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
          Education Assessment
        </a>
        {% endif %}
      {% else %}
        <a type="button" href="{% url 'mscc:service_diagnostic_assessment_add' record.id %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
          Diagnostic Assessment
        </a>
      {% endif %}
{% endif %}
{% if record.child_age > 2 %}
{% service_data 'EducationService' record as result %}
      {% if result %}
        <a type="button" href="{% url 'mscc:service_education_edit' record.id result.id record.type %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
          Education Situation
        </a>
      {% else %}
        <a type="button" href="{% url 'mscc:service_education_add' record.id record.type %}" tabindex="0" class="dropdown-item">
          <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
          Education Situation
        </a>
      {% endif %}
{% endif %}


        {% get_service_info services record 'RS' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_education_rs_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Retention Support
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_education_rs_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Retention Support
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Inclusion' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_inclusion_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Inclusion
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_inclusion_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Inclusion
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Digital component' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_digital_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Digital Component
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_digital_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Digital Component
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Health and Nutrition' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_health_nutrition_edit' record.id result.child.age result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Health and Nutrition
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_health_nutrition_add' record.id result.child.age %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Health and Nutrition
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'PSS' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_pss_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                PSS
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_pss_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              PSS
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Adolescents kit' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_youth_kit_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Y&AD Kit
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_youth_kit_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Y&AD Kit
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Caregivers Package' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:service_follow_up_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Protection follow-up
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:service_follow_up_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Protection follow-up
            </a>
          {% endif %}
        {% endif %}

        {% get_service_info services record 'Referral' as result %}
        {% if result %}
          {% if result.service_id %}
              <a type="button" href="{% url 'mscc:referral_edit' record.id result.service_id %}" tabindex="0" class="dropdown-item">
                <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-checkmark-circle"> </i></button>
                Referral
              </a>
          {% else %}
            <a type="button" href="{% url 'mscc:referral_add' record.id %}" tabindex="0" class="dropdown-item">
              <button class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-outline-success"><i class="ion-android-add-circle"> </i></button>
              Referral
            </a>
          {% endif %}
        {% endif %}

        <!--<h6 tabindex="-1" class="dropdown-header">Header</h6>-->
        <!--<a type="button" tabindex="0" class="dropdown-item">Actions</a>-->
        <!--<div tabindex="-1" class="dropdown-divider"></div>-->
        <!--<a type="button" tabindex="0" class="dropdown-item">Dividers</a>-->
    </div>
</div>


