
{% load staticfiles i18n %}
{% load util_tags %}

<div class="mb-2 mr-2 btn-group dropdown">
                                                <button class="btn btn-outline-secondary">Actions</button>
                                                <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle-split dropdown-toggle btn btn-outline-secondary"><span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(89px, 33px, 0px);">
                                                    <a type="button" href="/clm/mscc-view/{{ record.id }}" tabindex="0" class="dropdown-item">{% trans "View" %}</a>
                                                    <a type="button" href="/clm/mscc-edit/{{ record.id }}" tabindex="0" class="dropdown-item">{% trans "Edit" %}</a>
                                                </div>
                                            </div>


