{% load staticfiles i18n %}
{% load util_tags %}

<select onchange="openSelectedURL(this);"  >
  <option value="">------</option>
  <option value="/clm/mscc-edit/{{ record.id }}">{% trans "Edit" %}</option>
  <option value="/clm/education-situation/{{ record.id }}">{% trans "Education Situation" %}</option>
  <option value="/clm/diagnostic-assessment/{{ record.id }}">{% trans "Diagnostic Assessment" %}</option>
  <option value="/clm/education-assessment/{{ record.id }}">{% trans "Education Assessment" %}</option>
  <option value="/clm/mscc-edit/{{ record.id }}">{% trans "Referral" %}</option>
  <option value="/clm/mscc-edit/{{ record.id }}">{% trans "Inclusion" %}</option>
  <option value="/clm/mscc-edit/{{ record.id }}">{% trans "Retention support" %}</option>
</select>

