{% extends "base4.html" %}
{% load static i18n %}
{% load static i18n %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load util_tags %}
{% bootstrap_css %}

{% block content %}

<div class="app-page-title"><div class="page-title-wrapper"><div class="page-title-heading"><div class="page-title-icon"><i class="icon pe-7s-server icon-gradient bg-ripe-malin"></i></div><div>
    Welcome {{ request.user }} to CLM<sup>+</sup>
    <div class="page-title-subheading">
                                    </div>
</div></div><div class="page-title-actions">
</div></div></div>


    <section>


      	<div class="profile-content">
            <div class="container">
                <div class="row">
                      <br>
        	           <div class="profile text-center">
	                        <div class="avatar"><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar"></a></div>

    <div class="name text-center">
      <blockquote>
        <h4>{{ user }}</h4>
        <!--<small><cite title="Source Title"><i class="icon-map-marker"></i></cite></small>-->
      </blockquote>
    </div>
        <div class="description text-center">
      <p>
        <b>{% trans "Partner: " %}</b> {{ user.partner }}<br>
        <b>{% trans "Email: " %}</b> {{ user.email }} <br>
        <b>{% trans "Name: " %}</b> {{ user.first_name }}, {{ user.last_name }} <br>
        <b>{% trans "Date Joined: " %}</b> {{ user.date_joined }}<br>
      </p>
    </div>
    </div>

</div>
      </div>
        </div>

</section>
{% endblock %}
