{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

<script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/util.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/date.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/Initialisation.js' %}"></script>

<script type="text/javascript" src="{% static 'js/hhvisit/UI/SlyInitialisation.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/Loading/Visit.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/UI/Visit.js' %}"></script>

<script type="text/javascript" src="{% static 'js/hhvisit/Saving/Visit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hhvisit/UI/Attempt.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/UI/Child/Child.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hhvisit/UI/Service.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/Validation/Attempt.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hhvisit/Validation/Service.js' %}"></script>


<script type="text/javascript" src="{% static 'js/hhvisit/UI/Comment.js' %}"></script>

<script type="text/javascript">

    var language  = '{{ LANGUAGE_CODE }}';

    var protocol = 'http://';
    {% if request.is_secure %}
        protocol = 'https://';
    {% endif %}
    var host = protocol+'{{ request.get_host }}';
    var hhVisitURL = host+'/api/household-visit/';
    var hhVisitAttemptURL = host+'/api/household-visit-attempt/';

    var hhVisitChildVisitURL = host+'/api/household-visit-child/';
    var hhVisitServiceURL = host+'/api/household-visit-service/';
    var hhVisitCommentURL = host+'/api/household-visit-comment/';

    var visitDataRecord;

    var saveText = "{% trans "Save" %}";
    var cancelText ="{% trans "Cancel" %}";


</script>


