{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">


    <style>
        .row-class {
            cursor: pointer;
        }
        .row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

        .child-row-class {
            cursor: pointer;
        }
        .child-row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

    </style>

{% endblock %}


{% block content %}


         <div class="loader"></div>

         <section class="main-content-wrapper" id = "hhList">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">

                <div class="alert alert-success" role="alert" style="display: none;">
                    <strong>{% trans 'Success' %}</strong> {% trans 'Your change is successfully Saved' %}
                </div>
                <div class="alert alert-warning" role="alert" style="display: none;">
                    <strong>{% trans 'Oops' %}</strong> {% trans 'Error saving changes, please contact system administrators' %}
                </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "Household Visit" %}</a></li>
                                 </ol>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th>{% trans "HH District" %}</th>
                                        <th>{% trans "HH Address" %}</th>
                                        <th>{% trans "HH Representative Name" %}</th>
                                        <th>{% trans "# of Children Absent" %}</th>
                                        <th>{% trans "Primary Phone Number" %}</th>
                                        <th>{% trans "Secondary Phone Number" %}</th>
                                        <th>{% trans "Status- Completed, Pending" %}</th>
                                        <th>{% trans "Attempt Number" %}</th>
                                         <th>{% trans "Team Assigned" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visit in visits %}
                                        <tr class="row-class" visitID="{{ visit.id }}">
                                            <td>{{ visit.registering_adult.school.location.name }}</td>
                                            <td>{{ visit.registering_adult.address }}</td>
                                            <td>{{ visit.registering_adult }}</td>
                                            <td>{{ visit.child_visit_count }}</td>
                                            <td>{{ visit.registering_adult.primary_phone }}</td>
                                            <td>{{ visit.registering_adult.secondary_phone }}</td>
                                            <td>{{ visit.visit_status }}</td>
                                            <td>{{ visit.visit_attempt_count }}</td>
                                            <td>{{ visit.household_visit_team.team_name}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

     <div id = "hhForm" style ="display:none">

       {% include 'hhvisit/household-visit.html' %}

     </div>

{% endblock %}

{% block extra_js %}

    {% include 'hhvisit/initialisation.html' %}

{% endblock %}




