{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">


    <style>
        .row-class {
            cursor: pointer;
        }
        .row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

        .child-row-class {
            cursor: pointer;
        }
        .child-row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

    </style>

{% endblock %}


{% block content %}


         <div class="loader"></div>

         <section class="main-content-wrapper" id = "hhList">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">

                <div class="alert alert-success" role="alert" style="display: none;">
                    <strong>{% trans 'Success' %}</strong> {% trans 'Your change is successfully Saved' %}
                </div>
                <div class="alert alert-warning" role="alert" style="display: none;">
                    <strong>{% trans 'Oops' %}</strong> {% trans 'Error saving changes, please contact system administrators' %}
                </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "Household Visit" %}</a></li>
                                 </ol>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th>{% trans "HH District" %}</th>
                                        <th>{% trans "HH Address" %}</th>
                                        <th>{% trans "HH Representative Name" %}</th>
                                        <th>{% trans "# of Children Absent" %}</th>
                                        <th>{% trans "Primary Phone Number" %}</th>
                                        <th>{% trans "Secondary Phone Number" %}</th>
                                        <th>{% trans "Status- Completed, Pending" %}</th>
                                        <th>{% trans "Attempt Number" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visit in visits %}
                                        <tr class="row-class" visitID="{{ visit.id }}">
                                          <td>{{ visit.registering_adult.school.location.name }}</td>
                                          <td>{{ visit.registering_adult.address }}</td>
                                          <td>{{ visit.registering_adult }}</td>
                                          <td>{{ visit.child_visit_count }}</td>
                                          <td>{{ visit.registering_adult.primary_phone }}</td>
                                          <td>{{ visit.registering_adult.secondary_phone }}</td>
                                          <td>{{ visit.visit_attempt_status }}</td>
                                          <td>{{ visit.visit_attempt_count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

     <div id = "hhForm" style ="display:none">

       {% include 'hhvisit/household-visit.html' %}

     </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date.js' %}"></script>
    <script type="text/javascript">
        var oTable = null;
        var language  = '{{ LANGUAGE_CODE }}';

        $(document).ready(function(){

            oTable = $('#registrations-table').DataTable({
                fixedHeader: false,
                paging:   true,
                ordering: true,
                info:     true,
                autoWidth: false,
                scrollY: '50vh',
                scrollX: true,
                scrollCollapse: true,
                "language": {
                    "url": "/static/locale/"+language+".json"
                },
                "fnInitComplete": function(oSettings, json) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });


            $(document).on
            (
               'click',
               '.row-class',
               function()
               {
                  block = $(this);

                  var visitID = block.attr('visitID')

                  $("#hhList").hide();

                  LoadVisit(visitID);

                  $("#hhForm").show();

                  CheckInitialiseSly();
               }
             );


            $(document).on
            (
               'click',
               '#hhCloseButton',
               function()
               {
                  $("#hhForm").hide();

                  $("#hhList").show();
               }
             );

            $(document).on
            (
               'click',
               '#hhSaveButton',
               function()
               {
                  SaveVisit();

                  $("#hhForm").hide();

                  $("#hhList").show();
               }
             );


            $(document).on
            (
               'click',
               '.child-row-class',
               function()
               {
                  block = $(this);

                  ShowChildForm(block);
               }
            );
        });

 var slyInitialised = false;
 var onePerFrameSly;
function CheckInitialiseSly()
{
   if(!slyInitialised)
   {
      slyInitialised= true;

      onePerFrameSly = initializeSly($('#oneperframe'));

      //alert("Sly initialised");
      //alert(JSON.stringify(onePerFrameSly));

      $("#previousButton").click(function()
      {
        onePerFrameSly.prev();
        $("#hhSaveButton").hide();
      });

      $("#nextButton").click(function()
      {
         if(onePerFrameSly.rel.activeItem == 0)
         {
            if(ValidateAttempts())
            {
              onePerFrameSly.next();
            }
         }
         else if(onePerFrameSly.rel.activeItem == 1)
         {
              onePerFrameSly.next();
              $("#hhSaveButton").show();
         }
         else
         {
            onePerFrameSly.next();
         }
      });
   }

   onePerFrameSly.toStart(true);

}
        function ValidateAttempts()
        {
           var attemptsValid = true;

           $("#household-visit-attempt-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 attemptsValid = attemptsValid && ValidateAttempt(trElement);

              }
           );

           if(!attemptsValid)
           {
              $("#household_not_found_error").show();
           }
           else
           {
            $("#household_not_found_error").hide();
            }

           return attemptsValid;
        }

        function ValidateAttempt(trElement)
        {
           var household_not_found = trElement.find('td:nth-child(3) input').is(':checked');

           var comment = trElement.find('td:nth-child(4) textarea').val();

           return !household_not_found || comment;
        }

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = protocol+'{{ request.get_host }}';
        var hhVisitURL = host+'/api/household-visit/';
        var hhVisitAttemptURL = host+'/api/household-visit-attempt/';

        var hhVisitChildVisitURL = host+'/api/household-visit-child/';
        var hhVisitServiceURL = host+'/api/household-visit-service/';
        var hhVisitCommentURL = host+'/api/household-visit-comment/';

        function LoadVisit(visitID)
        {
           $(".loader").show();

        <!--alert(hhVisitURL+visitID);-->
           $.ajax({
                     type: "GET",
                     url: hhVisitURL+visitID,
                     data: [],
                     cache: false,
                     async: false,
                     headers: getHeader(),
                     dataType: 'json',
                     success: function (response) {
                        InitialiseVisitForm(response);
                        HideLoader();
                     },
                     error: function (response) {
                        HideLoader();
                        var required_fields = JSON.parse(response.responseText);
                        console.log(response);
                     }
                 });

        }

        function HideLoader()
        {
           setTimeout
           (
              function()
              {
                 $(".loader").hide();
              },
              500
           )
        }

        var visitDataRecord;

        function InitialiseVisitForm(visitData)
        {
           visitDataRecord = visitData;

           //alert(JSON.stringify(visitData));

           $("#hhVisitName").text(visitData.first_name+' '+visitData.father_name+' '+visitData.last_name);
           $("#hhAllvisitAttemptCount").text(visitData.all_visit_attempt_count);

           $("#household-visit-attempt-table tbody").empty();
           AddAttemptEmptyRow();
           visitData.visit_attempt.forEach
           (
              function(entry)
              {
                 AddAttemptRow(entry, true);
              }
           );


           $("#household-visit-child-table tbody").empty();

           visitData.children_visits.forEach
           (
              function(entry)
              {
                 AddChildRow(entry);
              }
           );

           $("#household-visit-comment-table tbody").empty();
           AddCommentEmptyRow();
           visitData.visit_comment.forEach
           (
              function(entry)
              {
                 AddCommentRow(entry, true);
              }
           );


        }

        function FormatDate(dateString)
        {
           var date;

           if(isDate(dateString, "yyyy-mm-ddTHH:mm:ssZ") )
           {
              date = new Date(getDateFromFormat(dateString, "yyyy-mm-ddTHH:mm:ssZ"));
           }
           else
           {
              date = new Date(dateString);
           }

           var result =
           (
              date.getDate().toString() + '/' +
              (date.getMonth() + 1).toString() + '/' +
              date.getFullYear().toString()
           );

           return result;
        }


        function FormatJSONDate(dateString)
        {
           var date;

           if(isDate(dateString, "dd/mm/yyyy") )
           {
              date = new Date(getDateFromFormat(dateString, "dd/mm/yyyy"));
           }
           else
           {
              date = new Date(dateString);
           }

           return date;
        }


        function AddAttemptEmptyRow()
        {
           AddAttemptRow({id:'', date:(new Date()).toString(),household_not_found:false,comment:''}, false);
        }

        function AddAttemptRow(entry, disabled)
        {
           var attemptIDCell = "<td style = \"display:none\">"+(entry.id)+"</td>";

           var dateCell = "<td>"+FormatDate(entry.date)+"</td>";

           var checkBoxCell;

           var noteCell;

           if(disabled)
           {
             checkBoxCell = "<td><input disabled type=\"checkbox\" name=\"found\" value=\"found\" "+(entry.household_not_found?"checked":"")+" /></td>";
             noteCell = "<td><textarea disabled name=\"comment\" style=\"width:100%;height:100%\" >"+(entry.comment)+"</textarea></td>";
             <!--noteCell = "<td>"+(entry.comment)+"</td>";-->
           }
           else
           {
             checkBoxCell = "<td><input type=\"checkbox\" name=\"found\" value=\"found\" "+(entry.household_not_found?"checked":"")+" /></td>";
             noteCell = "<td><textarea name=\"comment\" style=\"width:100%;height:100%\" >"+(entry.comment)+"</textarea></td>";
           }

           $("#household-visit-attempt-table tbody").append
           (
              "<tr>"+attemptIDCell+dateCell+checkBoxCell+noteCell+"</tr>"
           );
        }


        function AddChildRow(entry)
        {
           var childIDCell = "<td style = \"display:none\">"+(entry.id)+"</td>";

           var childNameCell = "<td>"+(entry.first_name +' '+entry.father_name+' '+entry.last_name)+"</td>";

           var schoolCell = "<td>"+(entry.child_school)+"</td>";

           var gradeCell = "<td>"+(entry.child_grade)+"</td>";

           var ageCell = "<td>"+(entry.calculate_age)+"</td>";

           var mainReasonCell = "<td style = \"display:none;\">"+(entry.main_reason_id)+"</td>";
           var subReasonCell = "<td style = \"display:none;\">"+(entry.specific_reason_id)+"</td>";

           var isEnrolled = (entry.child_enrolled_in_another_school==null?false:entry.child_enrolled_in_another_school);
           var isEnrolledCell = "<td style = \"display:none;\">"+isEnrolled+"</td>";

           $("#household-visit-child-table tbody").append
           (
              "<tr class = \"child-row-class\" >"+childIDCell+childNameCell+schoolCell+gradeCell+ageCell+mainReasonCell+subReasonCell+isEnrolledCell+"</tr>"
           );
        }


        function AddServiceEmptyRow(editForm)
        {
           AddServiceRow(editForm,{id:'',service_type_id:null,service_provider:''});
        }

        function AddServiceRow(editForm, entry)
        {
           var serviceIDCell = "<td style = \"display:none\">"+(entry.id)+"</td>";

           var serviceTypeCell = "<td>"+editForm.find("[name=childServiceType]").html()+"</td>";

           var serviceProvideCell = "<td><input type=\"text\" value=\""+entry.service_provider+"\" style = \"width:100%;\" /></td>";

           editForm.find("[name=childServices] tbody").append
           (
              "<tr>"+serviceIDCell+serviceTypeCell+serviceProvideCell+"</tr>"
           );

           updateDropDownValue(editForm.find("tr:last-child td:nth-child(2) select"), entry.service_type_id );
        }

        function AddCommentEmptyRow(entry)
        {
           AddCommentRow({id:'',date:(new Date()).toString() ,comment:''}, false);
        }

        function AddCommentRow(entry, disabled)
        {
           var attemptIDCell = "<td style = \"display:none\">"+(entry.id)+"</td>";
           var dateCell = "<td>"+FormatDate(entry.date)+"</td>";
           var noteCell ;
           if(disabled)
           {
           noteCell = "<td><textarea disabled name=\"comment\" style=\"width:100%;height:100%\" >"+(entry.comment)+"</textarea></td>";
           }
           else
           {
           noteCell = "<td><textarea name=\"comment\" style=\"width:100%;height:100%\" >"+(entry.comment)+"</textarea></td>";
           }
           $("#household-visit-comment-table tbody").append
           (
              "<tr>"+attemptIDCell+dateCell+noteCell+"</tr>"
           );
        }

        function ShowChildForm(row)
        {
           bootbox.dialog
           (
              {
                 title: "Child",
                 message: $('[name=childFormParent]').html(),
                 buttons:
                 {
                    success:
                    {
                       label: "{% trans "Save" %}",
                       className: "btn-success",
                       callback: function ()
                       {
                          var editForm = $('.bootbox-body').find('[name=childForm]');

                          var mainReasonID = editForm.find("[name=childMainReason]").val();

                          row.find("td:nth-child(6)").html(mainReasonID);

                          var specificReasonID = editForm.find("[name=childSpecificReason]").val();

                          row.find("td:nth-child(7)").html(specificReasonID);

                          var isEnrolled =
                          GetBooleanSelection
                          (
                             editForm.find('.child_enrolled_in_another_school_block')
                          );

                          row.find("td:nth-child(8)").html(isEnrolled);

                          var childID = row.find("td:first-child").text();
                          var childServiceData = CreateChildServiceData(childID, editForm);

                          UpdateChildVisitServiceData( childID, childServiceData);

                          //UpdateChildVisitData(row);
                       },
                       cancel:
                       {
                          label: "{% trans "Cancel" %}",
                          className: "btn-default",
                          callback: function ()
                          {
                             bootbox.hideAll();
                          }
                       }
                    }
                 }
              }
           );

           var editForm = $('.bootbox-body').find('[name=childForm]');

           var childID = row.find("td:first-child").text();

           var childVisits = visitDataRecord.children_visits.filter
           (
              function(childVisit)
              {
                 return childVisit.id == childID;
              }
           );

           if(childVisits.length > 0)
           {
              var childVisit = childVisits[0];

              var childRowRecord = CreateChildDataRecord(row);

              editForm.find("[name=childName]").html( childVisit.first_name +' '+childVisit.father_name+' '+childVisit.last_name );

              updateDropDownValue(editForm.find("[name=childMainReason]"),childRowRecord.main_reason_id );

              FilterSpecificReasons(editForm, childRowRecord.main_reason_id);
              InitialiseReasonDropdowns(editForm);

              updateDropDownValue(editForm.find("[name=childSpecificReason]"),childRowRecord.specific_reason_id );

              UpdateOthersSpecifyVisibility(editForm);

              ChangeBooleanSelection
              (
                 editForm.find('.child_enrolled_in_another_school_block'),
                 childRowRecord.child_enrolled_in_another_school
              );

              childVisit.child_visit_service.forEach
              (
                 function(entry)
                 {
                    AddServiceRow(editForm, entry);
                 }
              );
           }

           function InitialiseReasonDropdowns(editForm)
           {
              editForm.on
              (
                 'change', '[name=childMainReason]',
                 function()
                 {
                    FilterSpecificReasons(editForm, parseInt($(this).val()));

                    updateDropDownValue(editForm.find("[name=childSpecificReason]"),null );

                    UpdateOthersSpecifyVisibility(editForm);
                 }
              );


              editForm.on
              (
                 'change', '[name=childSpecificReason]',
                 function()
                 {
                    UpdateOthersSpecifyVisibility(editForm);

                    if(!editForm.find("[name='otherReason']").visible())
                    {
                       editForm.find("[name='specific_reason_other_specify']").text("");
                    }
                 }
              );
           }

           function UpdateOthersSpecifyVisibility(editForm)
           {
                var specificReasonDropdown = editForm.find("[name=childSpecificReason]");

                var specificReasonText = getDropDownValueText(specificReasonDropdown, specificReasonDropdown.val()).trim();

                if(specificReasonText == "Other (specify)")
                {
                   editForm.find("[name='otherReason']").show();
                }
                else
                {
                   editForm.find("[name='otherReason']").hide();
                }
           }


           function getDropDownValueText(dropDownElement, value)
           {
              return dropDownElement.find('option[value="'+value+'"]').text();
           }

           function FilterSpecificReasons(editForm, mainReasonID)
           {
              editForm.find("[name=childSpecificReason] option[main-reason-id!="+mainReasonID+"]").hide();
              editForm.find("[name=childSpecificReason] option[main-reason-id="+mainReasonID+"],[value='']").show();
           }

           function UpdateChildVisitData(row)
           {
              var childID = row.find("td:first-child").text();

              var childVisits = visitDataRecord.children_visits.filter
              (
                 function(childVisit)
                 {
                    return childVisit.id == childID;
                 }
              );

              childRecord = CreateChildDataRecord(row);

              if(childVisits.length > 0)
              {
                 var childVisit = childVisits[0];

                 console.log(JSON.stringify(visitDataRecord.children_visits));

                 RemoveArrayElement(visitDataRecord.children_visits,childVisit);
                 visitDataRecord.children_visits.push(childRecord);

                 console.log(JSON.stringify(visitDataRecord.children_visits));
              }
           }

           function RemoveArrayElement(a,e)
           {
              var index = a.indexOf(e);

              if (index > -1)
              {
                 a.splice(index, 1);
              }
           }

           function GetBooleanSelection(element)
           {
              return element.find('a.active').attr('data-title')==1 ? "true":"false";
           }

           function ChangeBooleanSelection(element, isSelected)
           {
              ChangeBooleanSelectionOption(element.find('a[data-title=1]'),isSelected);
              ChangeBooleanSelectionOption(element.find('a[data-title=0]'),!isSelected);
           }

           function ChangeBooleanSelectionOption(element, isSelected)
           {
              if(isSelected)
              {
                 element.addClass("active");
                 element.removeClass("notActive");
              }
              else
              {
                 element.removeClass("active");
                 element.addClass("notActive");
              }
           }


            editForm.on
            (
               'click',
               '[name=addServiceButton]',
               function()
               {
                  AddServiceEmptyRow(editForm);
               }
             );

        }

        function GetChildVisitServiceData(childID)
        {
           var result = null;

           var childVisits = visitDataRecord.children_visits.filter
           (
              function(childVisit)
              {
                 return childVisit.id == childID;
              }
           );

           if(childVisits.length > 0)
           {
              childVisitRecord = childVisits[0];

              result = childVisitRecord.child_visit_service;
           }

           return result;
        }

        function UpdateChildVisitServiceData(childID, data)
        {
           var childVisitRecord = null;

           var childVisits = visitDataRecord.children_visits.filter
           (
              function(childVisit)
              {
                 return childVisit.id == childID;
              }
           );

           if(childVisits.length > 0)
           {
              var childVisitRecord = childVisits[0];
              childVisitRecord.child_visit_service = data;
           }

        }

        function updateDropDownValue(dropDownElement, value)
        {
            dropDownElement.find('option:selected').removeAttr('selected');
            dropDownElement.find('option[value="'+value+'"]').attr("selected",true);
        }


        function SaveVisit()
        {
           var data =
           {

              visit_status : "pending",

              visit_attempt : CreateVisitAttemptsData(),

              children_visits : CreateChildData(),

              visit_comment : CreateVisitCommentData()

           };

           SaveVisitRecord(visitDataRecord.id, data);
        }

        function SaveVisitAttempts()
        {
           var visitAttemptsData = CreateVisitAttemptsData();

           alert(JSON.stringify(visitAttemptsData));

           visitAttemptsData.forEach
           (
              function(entry)
              {
                 SaveVisitAttemptRecord(entry.id,entry);
              }
           );
        }

        function CreateVisitAttemptsData()
        {
           visitAttemptsData = [];

           $("#household-visit-attempt-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 visitAttemptRecord = new Object();

                 visitAttemptRecord.id = trElement.find('td:nth-child(1)').html();

                 visitAttemptRecord.date = FormatJSONDate((trElement.find('td:nth-child(2)').html()) );

                 visitAttemptRecord.household_not_found = trElement.find('td:nth-child(3) input').is(':checked');

                 visitAttemptRecord.comment = trElement.find('td:nth-child(4) textarea').val();

                 visitAttemptRecord.household_visit_id = visitDataRecord.id;

                 //alert(JSON.stringify(visitAttemptRecord));

                 visitAttemptsData.push(visitAttemptRecord);
              }
           );

           return visitAttemptsData;
        }


        function CreateVisitCommentData()
        {
           visitCommentData = [];

           $("#household-visit-comment-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 visitCommentRecord = new Object();

                 visitCommentRecord.id = trElement.find('td:nth-child(1)').html();

                 visitCommentRecord.date = FormatJSONDate((trElement.find('td:nth-child(2)').html()) );

                 visitCommentRecord.comment = trElement.find('td:nth-child(3) textarea').val();

                 visitCommentRecord.household_visit_id = visitDataRecord.id;

                 if( visitCommentRecord.comment )
                 {
                    visitCommentData.push(visitCommentRecord);
                 }
              }
           );

           <!--alert(JSON.stringify(visitCommentData));-->
           return visitCommentData;
        }

        function CreateChildData()
        {
           childData = [];

           $("#household-visit-child-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 childRecord = CreateChildDataRecord(trElement);

                 childData.push(childRecord);
              }
           );

           return childData;
        }

        function CreateChildDataRecord(trElement)
        {
             childRecord = new Object();

             childRecord.id = trElement.find('td:nth-child(1)').html();

             childRecord.main_reason_id = trElement.find('td:nth-child(6)').html();

             childRecord.specific_reason_id = trElement.find('td:nth-child(7)').html();

             childRecord.household_visit_id = visitDataRecord.id;

             childRecord.child_enrolled_in_another_school = trElement.find('td:nth-child(8)').html()=="true";

             childRecord.child_visit_service = GetChildVisitServiceData(childRecord.id);

             return childRecord;
        }


        function CreateChildServiceData(childVisitID,editForm)
        {
           childServiceData = [];

           editForm.find("[name=childServices] tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 childServiceRecord = new Object();

                 childServiceRecord.id = trElement.find('td:nth-child(1)').html();

                 dropDownElement = trElement.find('td:nth-child(2) select');

                 childServiceRecord.service_type_id = dropDownElement.val();
                 childServiceRecord.service_type = dropDownElement.find('option[value="'+childServiceRecord.service_type_id+'"]').text().trim();

                 childServiceRecord.service_provider = trElement.find('td:nth-child(3) input').val();

                 childServiceRecord.child_visit_id = childVisitID;

                 childServiceData.push(childServiceRecord);

              }
           );

           return childServiceData;
        }

        function SaveVisitRecord(id, data)
        {
            SaveRelatedRecord(id,data,hhVisitURL);
        }

        function SaveVisitAttemptRecord(id, data)
        {
            SaveRelatedRecord(id,data,hhVisitAttemptURL);
        }

        function SaveChildVisitRecord(id, data)
        {
            SaveRelatedRecordCallback
            (
                id,
                data,
                hhVisitChildVisitURL,
                function(result)
                {
                    data.child_visit_service.forEach
                    (
                      function(entry)
                      {
                          entry.child_visit_id = result.id;
                          SaveChildVisitServiceRecord(entry.id,entry);
                      }
                    );
                }
            );
        }

        function SaveChildVisitServiceRecord(id, data)
        {
            SaveRelatedRecord
            (
                id,
                data,
                hhVisitServiceURL
            );
        }

        function SaveChildVisitCommentRecord(id, data)
        {
            SaveRelatedRecord
            (
                id,
                data,
                hhVisitCommentURL
            );
        }

        function SaveRelatedRecord(id, data, url)
        {
            SaveRelatedRecordCallback(id,data,url, function(x){});
        }

        function SaveRelatedRecordCallback(id, data, url, callback)
        {
           $(".loader").show();

           <!--alert(JSON.stringify(data));-->

           $.ajax
           (
              {
                   type: id != null ? "PUT":"POST",
                   url: url+ (id != null ? id+"/" : ""),
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify(data),
                   cache: false,
                   headers: getHeader(),
                   dataType: 'json',
                   success: function (response, result, jqXHR)
                   {
                      HideLoader();

                      if(jqXHR.status == 200)
                      {
                         alert("Success");
                      }

                      <!--alert(response);-->
                   },
                   error:
                   function (response)
                   {
                      HideLoader();
                      alert("Failure");
                   }
              }
            );
        }

    </script>

{% endblock %}




