{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-breadcrumbs.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/select.dataTables.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sly.css' %}"
          xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:font-weight="http://www.w3.org/1999/xhtml">


    <style>
        .row-class {
            cursor: pointer;
        }
        .row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

        .child-row-class {
            cursor: pointer;
        }
        .child-row-class:hover {
           background-color: gainsboro !IMPORTANT;
        }

    </style>

{% endblock %}


{% block content %}


         <div class="loader"></div>

         <section class="main-content-wrapper" id = "hhList">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                    </div>
                </div>
            <div class="row">

                <div class="alert alert-success" role="alert" style="display: none;">
                    <strong>{% trans 'Success' %}</strong> {% trans 'Your change is successfully Saved' %}
                </div>
                <div class="alert alert-warning" role="alert" style="display: none;">
                    <strong>{% trans 'Oops' %}</strong> {% trans 'Error saving changes, please contact system administrators' %}
                </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">
                                <ol class="breadcrumb">
                                    <li><a>{% trans "Household Visit" %}</a></li>
                                 </ol>
                            </h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                                <table id="registrations-table" class="table table-striped table-bordered cell-border"
                                       data-height="500"
                                       data-pagination="true"
                                       data-search="true"
                                       cellspacing="0"
                                       width="100%">
                                <thead>
                                    <tr id="thead-line-1">
                                        <th>{% trans "HH District" %}</th>
                                        <th>{% trans "HH Address" %}</th>
                                        <th>{% trans "HH Representative Name" %}</th>
                                        <th>{% trans "# of Children Absent" %}</th>
                                        <th>{% trans "Primary Phone Number" %}</th>
                                        <th>{% trans "Secondary Phone Number" %}</th>
                                        <th>{% trans "Status- Completed, Pending" %}</th>
                                        <th>{% trans "Attempt Number" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for visit in visits %}
                                        <tr class="row-class" visitID="{{ visit.id }}">
                                          <td>{{ visit.registering_adult.school.location.name }}</td>
                                          <td>{{ visit.registering_adult.address }}</td>
                                          <td>{{ visit.registering_adult }}</td>
                                          <td>{{ visit.child_visit_count }}</td>
                                          <td>{{ visit.registering_adult.primary_phone }}</td>
                                          <td>{{ visit.registering_adult.secondary_phone }}</td>
                                          <td>{{ visit.visit_attempt_status }}</td>
                                          <td>{{ visit.visit_attempt_count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                     </div>
                </div>
            </div>

            </section>
         </section>

     <div id = "hhForm" style ="display:none">

       {% include 'hhvisit/household-visit.html' %}

     </div>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sly.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/Initialisation.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/hhvisit/UI/SlyInitialisation.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/Loading/Visit.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/UI/Visit.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/hhvisit/Saving/Visit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hhvisit/UI/Attempt.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/UI/Child/Child.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hhvisit/UI/Service.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/Validation/Attempt.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hhvisit/Validation/Service.js' %}"></script>


    <script type="text/javascript" src="{% static 'js/hhvisit/UI/Comment.js' %}"></script>

    <script type="text/javascript">

        var language  = '{{ LANGUAGE_CODE }}';

        var protocol = 'http://';
        {% if request.is_secure %}
            protocol = 'https://';
        {% endif %}
        var host = protocol+'{{ request.get_host }}';
        var hhVisitURL = host+'/api/household-visit/';
        var hhVisitAttemptURL = host+'/api/household-visit-attempt/';

        var hhVisitChildVisitURL = host+'/api/household-visit-child/';
        var hhVisitServiceURL = host+'/api/household-visit-service/';
        var hhVisitCommentURL = host+'/api/household-visit-comment/';

        var visitDataRecord;

        var saveText = "{% trans "Save" %}";
        var cancelText ="{% trans "Cancel" %}";


        function GetChildVisitServiceData(childID)
        {
           var result = null;

           var childVisits = visitDataRecord.children_visits.filter
           (
              function(childVisit)
              {
                 return childVisit.id == childID;
              }
           );

           if(childVisits.length > 0)
           {
              childVisitRecord = childVisits[0];

              result = childVisitRecord.child_visit_service;
           }

           return result;
        }

        function UpdateChildVisitServiceData(childID, data)
        {
           var childVisitRecord = null;

           var childVisits = visitDataRecord.children_visits.filter
           (
              function(childVisit)
              {
                 return childVisit.id == childID;
              }
           );

           if(childVisits.length > 0)
           {
              var childVisitRecord = childVisits[0];
              childVisitRecord.child_visit_service = data;
           }

        }

        function updateDropDownValue(dropDownElement, value)
        {
            dropDownElement.find('option:selected').removeAttr('selected');
            dropDownElement.find('option[value="'+value+'"]').attr("selected",true);
        }


        function SaveVisit()
        {
           var data =
           {

              visit_attempt : CreateVisitAttemptsData(),

              children_visits : CreateChildData(),

              visit_comment : CreateVisitCommentData()

           };

           if(data.visit_attempt.length > 0)
           {
              data.visit_status = data.visit_attempt[0].household_not_found ? "pending" : "completed";
           }

           SaveVisitRecord(visitDataRecord.id, data);
        }

        function SaveVisitAttempts()
        {
           var visitAttemptsData = CreateVisitAttemptsData();

           alert(JSON.stringify(visitAttemptsData));

           visitAttemptsData.forEach
           (
              function(entry)
              {
                 SaveVisitAttemptRecord(entry.id,entry);
              }
           );
        }

        function CreateVisitAttemptsData()
        {
           visitAttemptsData = [];

           $("#household-visit-attempt-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 visitAttemptRecord = new Object();

                 visitAttemptRecord.id = trElement.find('td:nth-child(1)').html();

                 visitAttemptRecord.date = FormatJSONDate((trElement.find('td:nth-child(2)').html()) );

                 visitAttemptRecord.household_not_found = trElement.find('td:nth-child(3) input').is(':checked');

                 visitAttemptRecord.comment = trElement.find('td:nth-child(4) textarea').val();

                 visitAttemptRecord.household_visit_id = visitDataRecord.id;

                 //alert(JSON.stringify(visitAttemptRecord));

                 if(!visitAttemptRecord.id )
                 {
                    visitAttemptsData.push(visitAttemptRecord);
                 }

              }
           );

           return visitAttemptsData;
        }


        function CreateVisitCommentData()
        {
           visitCommentData = [];

           $("#household-visit-comment-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 visitCommentRecord = new Object();

                 visitCommentRecord.id = trElement.find('td:nth-child(1)').html();

                 visitCommentRecord.date = FormatJSONDate((trElement.find('td:nth-child(2)').html()) );

                 visitCommentRecord.comment = trElement.find('td:nth-child(3) textarea').val();

                 visitCommentRecord.household_visit_id = visitDataRecord.id;

                 if( visitCommentRecord.comment && !visitCommentRecord.id )
                 {
                    visitCommentData.push(visitCommentRecord);
                 }
              }
           );

           <!--alert(JSON.stringify(visitCommentData));-->
           return visitCommentData;
        }

        function CreateChildData()
        {
           childData = [];

           $("#household-visit-child-table tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 childRecord = CreateChildDataRecord(trElement);

                 childData.push(childRecord);
              }
           );

           return childData;
        }

        function CreateChildDataRecord(trElement)
        {
             childRecord = new Object();

             childRecord.id = trElement.find('td:nth-child(1)').html();

             childRecord.main_reason_id = trElement.find('td:nth-child(6)').html();

             childRecord.specific_reason_id = trElement.find('td:nth-child(7)').html();

             childRecord.household_visit_id = visitDataRecord.id;

             childRecord.child_enrolled_in_another_school = trElement.find('td:nth-child(8)').html()=="true";

             childRecord.child_visit_service = GetChildVisitServiceData(childRecord.id);

             return childRecord;
        }


        function CreateChildServiceData(childVisitID,editForm)
        {
           childServiceData = [];

           editForm.find("[name=childServices] tbody tr")
           .each
           (
              function(i, obj)
              {
                 trElement = $(obj);

                 childServiceRecord = new Object();

                 childServiceRecord.id = trElement.find('td:nth-child(1)').html();

                 dropDownElement = trElement.find('td:nth-child(2) select');

                 childServiceRecord.service_type_id = dropDownElement.val();
                 childServiceRecord.service_type = dropDownElement.find('option[value="'+childServiceRecord.service_type_id+'"]').text().trim();

                 childServiceRecord.service_provider = trElement.find('td:nth-child(3) input').val();

                 childServiceRecord.child_visit_id = childVisitID;

                 childServiceData.push(childServiceRecord);

              }
           );

           return childServiceData;
        }

        function SaveVisitRecord(id, data)
        {
            SaveRelatedRecord(id,data,hhVisitURL);
        }

        function SaveVisitAttemptRecord(id, data)
        {
            SaveRelatedRecord(id,data,hhVisitAttemptURL);
        }

        function SaveChildVisitRecord(id, data)
        {
            SaveRelatedRecordCallback
            (
                id,
                data,
                hhVisitChildVisitURL,
                function(result)
                {
                    data.child_visit_service.forEach
                    (
                      function(entry)
                      {
                          entry.child_visit_id = result.id;
                          SaveChildVisitServiceRecord(entry.id,entry);
                      }
                    );
                }
            );
        }

        function SaveChildVisitServiceRecord(id, data)
        {
            SaveRelatedRecord
            (
                id,
                data,
                hhVisitServiceURL
            );
        }

        function SaveChildVisitCommentRecord(id, data)
        {
            SaveRelatedRecord
            (
                id,
                data,
                hhVisitCommentURL
            );
        }

        function SaveRelatedRecord(id, data, url)
        {
            SaveRelatedRecordCallback(id,data,url, function(x){});
        }

        function SaveRelatedRecordCallback(id, data, url, callback)
        {
           $(".loader").show();

           <!--alert(JSON.stringify(data));-->

           $.ajax
           (
              {
                   type: id != null ? "PUT":"POST",
                   url: url+ (id != null ? id+"/" : ""),
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify(data),
                   cache: false,
                   headers: getHeader(),
                   dataType: 'json',
                   success: function (response, result, jqXHR)
                   {
                      HideLoader();

                      if(jqXHR.status == 200)
                      {
                         alert("Success");
                      }

                      <!--alert(response);-->

                      $("#hhForm").hide();

                      $("#hhList").show();
                   },
                   error:
                   function (response)
                   {
                      HideLoader();
                      alert("Failure");
                   }
              }
            );
        }

    </script>

{% endblock %}




