{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}


    <link rel="stylesheet" type="text/css" href="{% static 'css/hhvisit/jquery-ui.min.css' %}">

{% endblock %}

{% block content %}

{#xxx#}
{##}
{#<div class="ui-widget">#}
{#  <label for="tags">Tags: </label>#}
{#  <input id="tags">#}
{#</div>#}

<br/>
<br/>

<input id = "absencesURL" type = "text" value ="http://127.0.0.1:8000/attendances/absents/" style = "width:500px" />

<br/>
<br/>

<input id = "saveAbsencesURL" type = "text" value ="http://127.0.0.1:8000/hhvisit/load-absences/" style = "width:500px" />

<br/>
<br/>

<textarea id = "absencesResult" style ="width:600px;height:200px;">


</textarea>

<br/>
<br/>

<input id = "loadButton" type = "button" value="Load"/>

<br/>
<br/>

<input id = "saveButton" type = "button"  value="Save" />



{% endblock %}

{% block extra_js %}

<script type="text/javascript" src="{% static 'js/hhvisit/Absence/jquery-ui.min.js' %}"></script>


<script type="text/javascript">

{#    var protocol = 'http://';#}
{#    {% if request.is_secure %}#}
{#        protocol = 'https://';#}
{#    {% endif %}#}
{#    var host = protocol+'{{ request.get_host }}';#}
{#    var searchStudentsURL = host+'/api/search-students/';#}
{##}
{#  $(#}
{#     function()#}
{#     {#}
{##}
{#        $( "#tags" ).autocomplete({#}
{#          source: searchStudentsURL,#}
{#          minLength: 2,#}
{#        });#}
{##}
{#     }#}
{#  );#}

var absencesData = null;

$(document).ready
(
    function()
    {
        $(document).on
        (
           'click',
           '#loadButton',
           function()
           {
              LoadAbsences();
           }
        );

        $(document).on
        (
           'click',
           '#saveButton',
           function()
           {
              SaveAbsences();
           }
        );
    }
);

function LoadAbsences()
{
   $.ajax
   (
       {
             type: "GET",
             url: $("#absencesURL").val(),
             data: [],
             cache: false,
             async: false,
             headers: getHeader(),
             dataType: 'json',
             success: function (response)
             {
                 $("#absencesResult").val(JSON.stringify(response));
                 absencesData = response;
             },
             error: function (response) {
                var required_fields = JSON.parse(response.responseText);
                console.log(response);
             }
       }
   );
}

function SaveAbsences()
{
   $.ajax
   (
       {
             type: "POST",
             url: $("#saveAbsencesURL").val(),
             contentType: 'application/json; charset=utf-8',
             data: JSON.stringify(absencesData),
             cache: false,
             async: false,
             headers: getHeader(),
             dataType: 'text',
             success: function (response)
             {
                 $("#absencesResult").val(response);
             },
             error: function (response) {
                var required_fields = JSON.parse(response.responseText);
                console.log(response);
             }
       }
   );
}


  </script>

{% endblock %}




