{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#{% load util_tags %}#}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

{% load util_tags %}
<section class="main-content-wrapper">
            <section id="main-content">
                <div class="title_left">
                    <h3 style="color:#73879C;">{% trans 'Registrations ALP' %}</h3>
                </div>
                <hr>
     <div class="row">

         <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{% trans 'ALP overall' %}
                    <select name="alp_round" id="alp_round">
                        {% for round in alp_rounds %}
                            <option value="{{ round.id }}" {% if round.id == alp_round.id %}selected="selected"{% endif %}>{{ round }}</option>
                        {% endfor %}
                    </select>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div id="schools_by_governate" style="height:350px;">
                      <button class="btn btn-info" id="export1">
                        <i class="icon-export-sign icon-white"></i>&nbsp;
                            Export
                      </button>
                    <table class="table table-striped table-bordered cell-border"
                           data-tableName="ALP overall"
                           data-height="500"
                           data-pagination="true"
                           data-search="true"
                           cellspacing="0"
                           width="100%"
                           id="exporttable1">
                        <thead>
                            <tr>
                                <th rowspan="2">ALP round: {{ alp_round.name }}</th>
                                <th colspan="2">Male</th>
                                <th colspan="2">Female</th>
                                <th colspan="2">Total</th>
                            </tr>
                            <tr>
                                <th>#</th>
                                <th>%</th>
                                <th>#</th>
                                <th>%</th>
                                <th>#</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Children outreached</td>
                                <td>{{ outreached_males }}</td>
                                <td>{{ outreached_males|percentage:outreached }}</td>
                                <td>{{ outreached_females }}</td>
                                <td>{{ outreached_females|percentage:outreached }}</td>
                                <td>{{ outreached }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children who sat for placement test</td>
                                <td>{{ pretested_males }}</td>
                                <td>{{ pretested_males|percentage:pretested }}</td>
                                <td>{{ pretested_females }}</td>
                                <td>{{ pretested_females|percentage:pretested }}</td>
                                <td>{{ pretested }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children enrolled</td>
                                <td>{{ enrolled_males }}</td>
                                <td>{{ enrolled_males|percentage:enrolled }}</td>
                                <td>{{ enrolled_females }}</td>
                                <td>{{ enrolled_females|percentage:enrolled }}</td>
                                <td>{{ enrolled }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children re-enrolled</td>
                                <td>{{ old_enrolled_males }}</td>
                                <td>{{ old_enrolled_males|percentage:old_enrolled }}</td>
                                <td>{{ old_enrolled_females }}</td>
                                <td>{{ old_enrolled_females|percentage:old_enrolled }}</td>
                                <td>{{ old_enrolled }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children enrolled for the first time</td>
                                <td>{{ new_enrolled_males }}</td>
                                <td>{{ new_enrolled_males|percentage:new_enrolled }}</td>
                                <td>{{ new_enrolled_females }}</td>
                                <td>{{ new_enrolled_females|percentage:new_enrolled }}</td>
                                <td>{{ new_enrolled }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children enrolled for the first time with pre-test</td>
                                <td>{{ new_enrolled_test_males }}</td>
                                <td>{{ new_enrolled_test_males|percentage:new_enrolled_test }}</td>
                                <td>{{ new_enrolled_test_females }}</td>
                                <td>{{ new_enrolled_test_females|percentage:new_enrolled_test }}</td>
                                <td>{{ new_enrolled_test }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><strong>Post test results</strong></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children who sat for post test</td>
                                <td>{{ posttested_males }}</td>
                                <td>{{ posttested_males|percentage:posttested }}</td>
                                <td>{{ posttested_females }}</td>
                                <td>{{ posttested_females|percentage:posttested }}</td>
                                <td>{{ posttested }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children who passed ALP level</td>
                                <td>{{ passed_level_males }}</td>
                                <td>{{ passed_level_males|percentage:passed_level }}</td>
                                <td>{{ passed_level_females }}</td>
                                <td>{{ passed_level_females|percentage:passed_level }}</td>
                                <td>{{ passed_level }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children referred to ALP following level</td>
                                <td>{{ referred_to_following_males }}</td>
                                <td>{{ referred_to_following_males|percentage:referred_to_following }}</td>
                                <td>{{ referred_to_following_females }}</td>
                                <td>{{ referred_to_following_females|percentage:referred_to_following }}</td>
                                <td>{{ referred_to_following }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children repeat ALP level</td>
                                <td>{{ repeated_level_males }}</td>
                                <td>{{ repeated_level_males|percentage:repeated_level }}</td>
                                <td>{{ repeated_level_females }}</td>
                                <td>{{ repeated_level_females|percentage:repeated_level }}</td>
                                <td>{{ repeated_level }}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Children referred to formal</td>
                                <td>{{ referred_to_formal_males }}</td>
                                <td>{{ referred_to_formal_males|percentage:referred_to_formal }}</td>
                                <td>{{ referred_to_formal_females }}</td>
                                <td>{{ referred_to_formal_females|percentage:referred_to_formal }}</td>
                                <td>{{ referred_to_formal }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
         </div>

    </div>

</section>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#export1').click(function(){
            $("#exporttable1").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: $("#exporttable1").attr('data-tableName')+'.xls',
                fileext: ".xlsx",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
    });
    </script>
{% endblock %}
