{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#{% load util_tags %}#}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content-full-page %}

{% load util_tags %}
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="title_left">
            <h3 style="color:#73879C;">{% trans 'Full data export' %}</h3>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift registration</h3>
                <p class="card-text">Export data for 2nd shift registration of the current school year.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift&current=true" target="_blank">Export All</a>
                    {% for item in classrooms %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift&current=true&classroom={{ item.id }}" target="_blank">Export level {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift gradings</h3>
                <p class="card-text">Export data for 2nd shift gradings of the current school year.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true" target="_blank">Export all terms</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=1" target="_blank">Export term 1</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=2" target="_blank">Export term 2</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=3" target="_blank">Export term 3</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=4" target="_blank">Export term 4-[current year]</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=false&term=4" target="_blank">Export term 4-[last year]</a>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift registration full data</h3>
                <p class="card-text">Export the full data for 2nd shift registration for all school years.</p>
                <a href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift" class="btn btn-primary">Export</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP Pre-test</h3>
                <p class="card-text">Export Pre-test gradings data entered by the partner for the current pre-test round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&pre_test=true&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP school registration</h3>
                <p class="card-text">Export school registration data entered by the school IT for the current round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP Post-test</h3>
                <p class="card-text">Export Post-test gradings data entered by the partner for the current post-test round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&post_test=true&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP full data</h3>
                <p class="card-text">Export ALP full data for all rounds.</p>
                <a href="{% url 'dashboard:run-exporter' %}?report=export_alp" class="btn btn-primary">Export</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <form id="attendance-form" action="{% url 'dashboard:run-exporter-attendance' %}" method="GET">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">Attendances & Absences </h3>
                <table border="0">
                  <th></th>
                  <th></th>
                  <tr><td>
			          <div class="col-sm-5 pull-left">
                  <label class="control-label  pull-left" for="txtfromschool" ><b>From School Number</b></label>
				          <input type="text" class="form-control " id="txtfromschool" name="txtfromschool"  maxlength="80"/>
			          </div>
                <div class="col-sm-5 pull-left">
                  <label class="control-label  pull-left" for="txttoschool"><b>To School Number</b></label>
				          <input type="text" class="form-control" id="txttoschool" name="txttoschool"  maxlength="80"/>
			           </div>
                    </td>
                </tr>
                  <tr>

                    <td>
                   <hr>
                  <div class="col-sm-4 pull-left">
                    <label class="control-label  pull-left" for="txtfromdate"><b>From Date</b></label>
				            <input type="date" name="txtfromdate">
			           </div>
                      <div class="col-sm-4 pull-left">
                    <label class="control-label  pull-left" for="txttodate"><b>To Date</b></label>
				             <input type="date" name="txttodate">
			           </div>
                    </td>
                  </tr>
                  </table>
                 <br>
                <div style="background-color:#E8E9E9">
                    <p class="card-text">Student's Last  Attendance and Absences</p>
                    <input class="btn btn-primary" type="submit" value="Generate" name="btn_lastattendance" id="btn_lastattendance"/>
                    <input class="btn btn-primary" type="submit" value="Excel" name="btn_lastattendance" id="btn_lastattendanceex"  style="background-color: green;" />
                </div>
              </div>
            </div>
            </form>
          </div>

          <div class="col-sm-4">
            <form id="summary-attendance-form" action="{% url 'dashboard:export-summary-attendance' %}" method="GET">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">Total of attend and absent days per students</h3>
                <table border="0">
                  <th></th>
                  <th></th>
                  <tr>
                    <td>
                      <div class="col-sm-5 pull-left">
                         <label class="control-label  pull-left" for="att_fromschool" ><b>From School Number</b></label>
				                 <input type="text" class="form-control " id="att_fromschool" name="att_fromschool"  maxlength="80"/>
			                </div>
                      <div class="col-sm-5 pull-left">
                         <label class="control-label  pull-left" for="att_toschool"><b>To School Number</b></label>
				                 <input type="text" class="form-control" id="att_toschool" name="att_toschool"  maxlength="80"/>
			                </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                     <hr>
                       <div class="col-sm-4 pull-left">
                         <label class="control-label  pull-left" for="att_fromdate"><b>From Date</b></label>
				                 <input type="date" name="att_fromdate">
			                </div>
                          <div class="col-sm-4 pull-left">
                          <label class="control-label  pull-left" for="att_todate"><b>To Date</b></label>
				                  <input type="date" name="att_todate">
			                </div>
                    </td>
                  </tr>
                </table>
                 <br>
                <div style="background-color:#D1D3D4">
                    <p class="card-text">Total of attend and absent days per students</p>
                    <input class="btn btn-primary" type="submit" value="Excel" name="btn_lastattendance" id="btn_lastattendance_excel"/>
                </div>
              </div>
            </div>
            </form>
          </div>

          <div class="col-sm-4"  >
            <form id="attendance-per-day" action="{% url 'dashboard:run-to-excel-per-day' %}" method="GET" >
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">  Daily : Attendances & Absences  </h3>
                <p class="card-text">Export to Excel : Attendances & Absences per day</p>
                <table border="0">
                  <th></th>
                  <th></th>
                  <tr><td>
			          <div class="col-sm-4 pull-left">
                  <label class="control-label  pull-left" for="txt_from_school" ><b>From School </b></label>
				          <input type="text" class="form-control " id="txt_from_school" name="txt_from_school"  maxlength="80"/>
			          </div>
                <div class="col-sm-4 pull-left">
                  <label class="control-label  pull-left" for="txt_to_school"><b>To School </b></label>
				          <input type="text" class="form-control" id="txt_to_school" name="txt_to_school"  maxlength="80"/>
			           </div>
                    </td>
                </tr>
                <tr><td>

                  <div class="col-sm-4 pull-left">
                    <label class="control-label  pull-left" for="txt_from_date"><b>From Date</b></label>
				            <input type="date" name="txt_from_date">
			           </div>
                      <div class="col-sm-4 pull-left">
                    <label class="control-label  pull-left" for="txt_to_date"><b>To Date</b></label>
				             <input type="date" name="txt_to_date">
			           </div>
                    </td>
                  </tr>
                <tr><td>

                  <div class="col-sm-4 pull-from">
                    <label class="control-label  pull-left" for="txt_student"><b>Student Nb</b></label>
				            <input type="text" name="txt_student">
			           </div>

                    </td>
                  </tr>

                  </table>
                <br>
               <input class="btn btn-primary" type="submit" value="Generate" name="btntype" id="btntype1"/>
               <input class="btn btn-primary" type="submit" value="Excel" name="btntype" id="btntype2"  style="background-color: green;" />
               <input class="btn btn-info" type="submit" value="Attendance" name="btntype" id="btntype3"/>
              </div>
            </div>
            </form>
          </div>

         <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block" >
                <h3 class="card-title">Common Tasks</h3>
                <p class="card-text">Update duplicate students</p>
                <a href="{% url 'dashboard:update_duplicatestd' %}" class="btn btn-primary" >update Duplicated students</a>
                <br>
                <a href="{% url 'dashboard:dup_id_enr' %}" class="btn btn-info">Duplicate ID of students in enrollments</a>
                <br>
                <a href="{% url 'dashboard:dup_nb_enr' %}" class="btn btn-primary">Duplicate Number of students in enrollments</a>
                <br>
                <a href="{% url 'dashboard:generate_pretest_result' %}" class="btn btn-info">Generate ALP-PreTest Results</a>
              </div>
            </div>
          </div>

        </div>

      <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">De-Generate</h3>
                <form id="de-generate" action="{% url 'dashboard:degenerate-list-justification' %}" method="GET" >
                     <label class="control-label  pull-left" for="txt_school" ><b>&nbsp;{% trans 'School number' %}&nbsp; </b></label>
                            <input type="text" class="form-control " id="txt_school" name="txt_school"  maxlength="80"/>
                            <input class="btn btn-primary" type="submit" value=" {% trans 'De-Generate List' %} " name="btntype" id="btntype1"/>
                </form>
                </div>
          </div>

        </div>

    </section>
</section>
{% endblock %}
