{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#{% load util_tags %}#}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content-full-page %}

{% load util_tags %}
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="title_left">
            <h3 style="color:#73879C;">{% trans 'Full data export' %}</h3>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift registration</h3>
                <p class="card-text">Export data for 2nd shift registration of the current school year.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift&current=true" target="_blank">Export All</a>
                    {% for item in classrooms %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift&current=true&classroom={{ item.id }}" target="_blank">Export level {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift gradings</h3>
                <p class="card-text">Export data for 2nd shift gradings of the current school year.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true" target="_blank">Export all terms</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=1" target="_blank">Export term 1</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=2" target="_blank">Export term 2</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=3" target="_blank">Export term 3</a>
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift_gradings&current=true&term=4" target="_blank">Export term 4</a>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">2nd shift registration full data</h3>
                <p class="card-text">Export the full data for 2nd shift registration for all school years.</p>
                <a href="{% url 'dashboard:run-exporter' %}?report=export_2ndshift" class="btn btn-primary">Export</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP Pre-test</h3>
                <p class="card-text">Export Pre-test gradings data entered by the partner for the current pre-test round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&pre_test=true&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP school registration</h3>
                <p class="card-text">Export school registration data entered by the school IT for the current round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP Post-test</h3>
                <p class="card-text">Export Post-test gradings data entered by the partner for the current post-test round.</p>

                <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-export-sign icon-white"></i>&nbsp;
                      {% trans "Export" %}
                  </button>
                  <div class="dropdown-menu">
                    {% for item in alp_rounds %}
                    <a class="dropdown-item" href="{% url 'dashboard:run-exporter' %}?report=export_alp&post_test=true&alp_round={{ item.id }}" target="_blank">Export round {{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">ALP full data</h3>
                <p class="card-text">Export ALP full data for all rounds.</p>
                <a href="{% url 'dashboard:run-exporter' %}?report=export_alp" class="btn btn-primary">Export</a>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <form id="attendance-form" action="{% url 'dashboard:run-exporter-attendance' %}" method="GET">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">Last Attendances & Absences </h3>
                <p class="card-text">Generate Last Attendance/Absence for all students.</p>
                <table border="0">
                  <th></th>
                  <th></th>
                  <tr><td>
			          <div class="col-sm-4 pull-right">
                  <label class="control-label  pull-left" for="txtfromschool" ><b>From School Number</b></label>
				          <input type="text" class="form-control " id="txtfromschool" name="txtfromschool"  maxlength="80"/>
			          </div>
                <div class="col-sm-4 pull-right">
                  <label class="control-label  pull-left" for="txttoschool"><b>To School Number</b></label>
				          <input type="text" class="form-control" id="txttoschool" name="txttoschool"  maxlength="80"/>
			           </div>
                    </td>
                </tr>
                  <tr>
                    <hr>
                    <td>
                   <hr>
                  <div class="col-sm-4 pull-right">
                    <label class="control-label  pull-left" for="txtfromdate"><b>From Date</b></label>
				            <input type="date" name="txtfromdate">
			           </div>
                      <div class="col-sm-4 pull-right">
                    <label class="control-label  pull-left" for="txttodate"><b>To Date</b></label>
				             <input type="date" name="txttodate">
			           </div>
                    </td>
                  </tr>
                  </table>
                 <br>
                <input class="btn btn-primary" type="submit" value="Generate" name="btn_lastattendance" id="btn_lastattendance"/>

                <input class="btn btn-primary" type="submit" value="Excel" name="btn_lastattendance" id="btn_lastattendanceex"  style="background-color: green;" />

              </div>
            </div>
            </form>
          </div>

          <div class="col-sm-4"  >
            <form id="attendance-per-day" action="{% url 'dashboard:run-to-excel-per-day' %}" method="GET" >
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">  Attendances & Absences per day </h3>
                <p class="card-text">Export to Excel : Attendances & Absences per day</p>
                <table border="0">
                  <th></th>
                  <th></th>
                  <tr><td>
			          <div class="col-sm-4 pull-right">
                  <label class="control-label  pull-left" for="txt_from_school" ><b>From School </b></label>
				          <input type="text" class="form-control " id="txt_from_school" name="txt_from_school"  maxlength="80"/>
			          </div>
                <div class="col-sm-4 pull-right">
                  <label class="control-label  pull-left" for="txt_to_school"><b>To School </b></label>
				          <input type="text" class="form-control" id="txt_to_school" name="txt_to_school"  maxlength="80"/>
			           </div>
                    </td>
                </tr>
                <tr><td>

                  <div class="col-sm-4 pull-right">
                    <label class="control-label  pull-left" for="txt_from_date"><b>From Date</b></label>
				            <input type="date" name="txt_from_date">
			           </div>
                      <div class="col-sm-4 pull-right">
                    <label class="control-label  pull-left" for="txt_to_date"><b>To Date</b></label>
				             <input type="date" name="txt_to_date">
			           </div>
                    </td>
                  </tr>
                  </table>
                <br>
               <input class="btn btn-primary" type="submit" value="Generate" name="btntype" id="btntype1"/>
               <input class="btn btn-primary" type="submit" value="Excel" name="btntype" id="btntype2"  style="background-color: green;" />
              </div>
            </div>
            </form>
          </div>



          <!--<div class="col-sm-4">-->
            <!--<div class="card m-3">-->
              <!--<div class="card-block">-->
                <!--<h3 class="card-title">Attendance full data</h3>-->
                <!--<p class="card-text">Export Attendance full data for all schools.</p>-->
                <!--<a href="{% url 'dashboard:run-exporter' %}?report=export_attendance" class="btn btn-primary">Export</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        </div>
    </section>
</section>
{% endblock %}
