
<!DOCTYPE html>
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}


<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <title>Justification List</title>
</head>
<style>
   body{
        width: 29.7cm;
        height: 21cm;
        margin: 5mm 5mm 5mm 5mm;
        /* change the margins as you want them to be. */
        counter-reset: tableCount;
   }
   .counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
   }
#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    counter-increment: page;
    content: counter(page);
}
</style>
<script type='text/javascript'>
		function PrintReport()
		{
			window.print();
		}

	</script>
<body>
<div  >
     <button class="btn btn-info" id="preview" onclick="PrintReport();" hidden>
        Print
     </button>


 {%for v_school in school %}
 <table width="100%" border="0" cellspacing="0" cellpadding="4">
   <th width="15%" height="190">
     <div>
        <img src="{% static 'images/mehe.png' %}" style="float: center; width: 90px; height: 90px;" />
     </div>

     <div>
     الجمهورية اللبنانية
     <br>
     وزارة التربية والتعليم العالي
     <br>
     وحدة برنامج التعليم الشامل
       <br>
       <u>PMU</u>
       </div>
   </th>
   <th width="20%">

   </th>
   <th width="40%">
     <table width="100%" border="1" cellspacing="0" cellpadding="4">
       <tr>
         <th colspan="2">
           <font color="navy">
              <h2 align="center">            لائحة بأسماء التلاميذ غير اللبنانيين بحسب الصفوف   </h2>
           </font>
         </th>
       </tr>
         <tr>
             <td width="35%" bgcolor="#F5F5F4">
                <font size="4">
               السنة الدراسية
              </font>
           </td>
           <td width="65%" align="right">
             {{ education_year }}
           </td>

         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
                رقم المدرسة في المركز التربوي
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.number }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               إسم المدرسة
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.name }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               اللغة الأجنبية
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.certified_foreign_language }}
           </td>
         </tr>
          <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               الملف
             </font>
           </td>
           <td width="65%" align="right">
              {{ last_justificationnumber.justificationnumber }}
           </td>
          </tr>

     </table>


   </th>
   <th width="5%">

   </th>
   <th width="29%">
     <table width="100%" border="1" cellspacing="0" cellpadding="4">

       <tr>
         <td bgcolor="#F5F5F4">
           المحافظة
         </td>
         <td align="right">
           {{ v_school.location.parent.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           القضاء
         </td>
         <td align="right">
           {{ v_school.location.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           البلدة
         </td>
         <td align="right">

         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           رقم الهاتف
         </td>
         <td align="right">
           {{ v_school.land_phone_number }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           الدوام
         </td>
         <td align="right" >
           {% if v_school.is_2nd_shift %}
              بعد الظهر
           {% endif %}
           {% if v_school.is_alp %}
              - ALP
           {% endif %}

         </td>
       </tr>
     </table>
   </th>
 </table>

{% endfor %}


{% regroup enrollment by classroom as v_enrollment %}

<ul>
{% for classroom in v_enrollment %}
  <br>
    <font color="green" size="5">
      <li>السنة المنهجية : {{ classroom.grouper }} </li>
    </font>


 <font size="2" face="Courier New" >
    <table width="100%" border="1" cellspacing="0" cellpadding="4" >
     <th width="3%">
       <table width="100%" >
         <tr><td> <font size="1" color="red"> خاص بالمنطقة التربوية</font>           </td></tr>
         <th> <font size="2">           مبرر</font>
         </th>
         <tr>
         <td><font size="1">          نعم / لا         </font></td>

         </tr>

       </table>
     </th>
     <th width="4%">
         <font size="2" color="black" ># </font>
     </th>
      <th><div style="width: 90px; overflow:hidden;">الإسم</div></th>
      <th><div style="width: 90px; overflow:hidden;">إسم الأب</div></th>
      <th><div style="width: 90px; overflow:hidden;">الشهرة</div></th>
     <th width="2%">الجنس</th>
     <th width="8%">مكان الولادة</th>
     <th width="9%">
       <table border="0" width="100%" >
       <th colspan="3">
         <u>
         تاريخ الولادة
       </u>
       </th>
       <tr>
           <br>
           <td><font size="1" color="black">اليوم</font></td>
           <td><font size="1" color="black"> الشهر</font></td>
           <td><font size="1" color="black">السنة</font></td>
       </tr>
       </table>
     </th>
     <th width="6%" align="right">رقم compiler الموحد</th>
     <th width="34%">
       <table width="100%" border="0" >

         <th colspan="4"> معلومات عن اّخر سنة دراسية         </th>
         <tr>
         <td width="70%%" style="border:1px solid black"><font size="1" color="black">اّخر سنة منهجية / اّخر دورة</font></td>
         <td width="20%" style="border:1px solid black" align="right"><font size="1" color="black">النتيجة</font></td>
         <td width="4%" style="border:1px solid black"><font size="1" color="black">الإفادة المبرزة</font></td>
         <td width="6%" style="border:1px solid black"><font size="1" color="black">تاريخ التصديق</font></td>
         </tr>
         </table>
     </th>


     {% for enr in classroom.list %}
        <tr>
          <div>
          <td width="3%"></td>
          <td width="3%" class="counterCell"  ></td>
            <td style="padding-left:5px; "><div style="width: 90px; overflow:hidden;"><font size="1"> {{ enr.student.first_name}}</font></div></td>
            <td style="padding-left:5px;"><div style="width: 90px; overflow:hidden;"><font size="1">{{ enr.student.father_name}}</font></div></td>
            <td style="padding-left:5px;"><div style="width: 90px; overflow:hidden;"><font size="1">{{ enr.student.last_name}}</font></div></td>

            {% ifequal enr.student.sex 'Male' %}
              <td width="3%"><font size="1"> ذ</font></td>
            {% endifequal %}
            {% ifequal enr.student.sex 'Female' %}
              <td width="2%"><font size="1"> أ</font></td>
            {% endifequal %}

            <td><font size="1"> {{ enr.student.place_of_birth }}</font></td>
          <td>
            <table width="100%" >
              <td width="20"><font size="1"> {{ enr.student.birthday_day }}</font></td>
              <td width="20"><font size="1"> {{ enr.student.birthday_month }}</font></td>
              <td width="40"><font size="1"> {{ enr.student.birthday_year }}</font></td>
            </table>
          </td>
          <td>{{ enr.student.id }}</td>

          {% ifnotequal enr.last_education_year 'na' %}
             <td width="34%">
               <table width="100%" >
                  <td width="15%" align="rigth"><font size="1"> {{ enr.last_education_year }}</font></td>
                  <td width="45%" align="rigth"><font size="1"> {{ enr.last_school.name }}</font></td>
                  <td width="20%" align="rigth"><font size="1"> {{ enr.last_education_level }}</font></td>
                  {% ifequal enr.last_year_result 'graduated'%}
                    <td width="10%" align="rigth"><font size="1"> ناجح/ة  </font></td>
                  {% endifequal %}
                  {% ifequal enr.last_year_result 'failed'%}
                    <td width="10%" align="rigth"><font size="1">معيد/ة  </font></td>
                  {% endifequal %}
                  <td width="6%" align="right"><font size="1"> {{ enr.documenttype.description2 }}</font></td>
                  <td width="4%" align="right"><font size="1"> {{enr.signature_cert_date}}</font></td>
               </table>
             </td>
          {% else %}
             <td width="34%">
              <table width="100%" border="0" >
                <td width="60%" align="right"><font size="1" > {{ enr.last_informal_edu_round }}</font></td>
                <td width="30%" align="right"><font size="1" > {{ enr.last_informal_edu_final_result }}</font></td>
                <td width="6%" align="right"><font size="1"> {{ enr.documenttype.description2 }}</font></td>
                <td width="4%" align="right"><font size="1"> {{enr.signature_cert_date}}</font></td>

              </table>
             </td>
          {% endifnotequal %}




        </tr>
       {% endfor %}

  </table>
 </font>
  {% endfor %}
</ul>



  <br><br><br><br>
  {% for schl in school %}
  <table width="100%" border="0" >
    <th>

  <table width="100%" border="1" cellspacing="0" cellpadding="4" >
    <th width="70%">


  <table width="100%" border="0" cellspacing="0" cellpadding="4" >
    <tr>

      <td colspan="6" align="right">

      </td>
    </tr>
    <tr>

     <td width="15%" align="left">
       <font size="4"><b>
             أنا الموقع (ة) أدناه
       </b></font>
     </td>
      <td width="15%" align="right">
        <font size="4" color="navy"><b>
            {{ schl.director_name }}
        </font></b>
       </td>
    <td width="10%" align="left">
      <font size="4"><b>
         مدير(ة) مدرسة &nbsp;
      </font></b>
    </td>
    <td width="30%" align="right">
      <font size="4" color="navy"><b>
       {{ schl.name}}-دوام &nbsp;

        {% if schl.is_2nd_shift %}
              بعد الظهر
           {% endif %}
           {% if schl.is_alp %}
              - ALP
           {% endif %}

      </font></b>
    </td>

    </tr>
    <tr>
     <td width="10%">

     </td>
     <td width="10%" colspan="5" align="right">
         <br>
         <font size="4"><b>
         أفيد ان التلاميذ المدونة أسماؤهم في هذه اللائحة و عددهم
         </font></b>
         <font size="5" color="navy"><b>
          &nbsp;&nbsp;&nbsp;***&nbsp;{{ schl.total_registered_2ndshift }}&nbsp;***
         </font></b>
         <font size="4"><b>
            يتابعون في مدرستي
           <br><br>
          وأصرّح على مسؤوليتي أن المعلومات الواردة في هذه اللائحة مطابقة للواقع
         </font></b>
    </td>

    </tr>
    </table>
   </th>
    <th width="33%" >
      <table border="0" width="100%" >
        <th><tr>
          <font size="3"><b>
           إن مندرجات هذه اللائحة صحيحة و قد دققت على مسؤوليتي
          </b></font>
          <br>
          </tr>

        </th>
        <tr>
          <td>
            <table width="100%" >
              <th width="30%">
                ختم المدرسة
              </th>
              <th width="35%"><div class="square" ></div></th>
              <th width="35%"></th>
            </table>
          </td>
        </tr>
        <tr>
          <td align="right">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; توقيع المدير
          </td>
        </tr>
        <tr>
          <td>
          في
            {{ current_date|date:"d/m/Y"  }}
          </td>
        </tr>
      </table>
    </th>
  </table>
  <br><br>

    </th>
    {% endfor %}
  </table>

</div>

</body>

</html>
