
<!DOCTYPE html>
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <title>Justification List</title>
</head>
<style>

div.b {
  height: 55px;
  border: 1px solid black;
}

   body{
        width: 31.7cm;
        height: 21cm;
        margin: 2mm 2mm 2mm 2mm;
        max-height: 21cm;
        /* change the margins as you want them to be. */
        counter-reset: tableCount;
        <!--margin:1;-->
        padding:0;
   }
   .counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
   }
#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:after {
    counter-increment: page;
    content: counter(page);
}
table {
   <!--border-collapse: collapse;-->
   table-layout:fixed;
}
td {
  page-break-inside: avoid !important;

  <!--overflow : hidden;-->
  word-wrap:break-word;



}

</style>
<script type='text/javascript'>
		function PrintReport()
		{
			window.print();
		}

	</script>
<body >

{%for v_school in school %}
 <table width="100%" border="0" cellspacing="0" cellpadding="4">
   <th width="15%" height="190">
     <div>
        <img src="{% static 'images/mehe.png' %}" style="float: center; width: 90px; height: 90px;" />
     </div>

     <div>
     الجمهورية اللبنانية
     <br>
     وزارة التربية والتعليم العالي
     <br>
     وحدة برنامج التعليم الشامل
       <br>
       <u>PMU</u>
       </div>
   </th>
   <th width="5%">

   </th>
   <th width="55%">
     <table width="100%" border="1" cellspacing="0" cellpadding="4">
       <tr>
         <th colspan="2">
           <font color="navy">
              <h2 align="center">            لائحة بأسماء التلاميذ غير اللبنانيين بحسب الصفوف   </h2>
           </font>
         </th>
       </tr>
         <tr>
             <td width="35%" bgcolor="#F5F5F4">
                <font size="4">
               السنة الدراسية
              </font>
           </td>
           <td width="65%" align="right">
             {{ education_year }}
           </td>

         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
                رقم المدرسة في المركز التربوي
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.number }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               إسم المدرسة
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.name }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               اللغة الأجنبية
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.certified_foreign_language }}
           </td>
         </tr>
          <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               الملف
             </font>
           </td>
           <td width="65%" align="right">
              {{ last_justificationnumber }}
           </td>
          </tr>
     </table>
   </th>
   <th width="1%">

   </th>
   <th width="34%">
     <table width="100%" border="1" cellspacing="0" cellpadding="4">
       <tr>
         <td bgcolor="#F5F5F4">
           المحافظة
         </td>
         <td align="right">
           {{ v_school.location.parent.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           القضاء
         </td>
         <td align="right">
           {{ v_school.location.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           البلدة
         </td>
         <td align="right">

         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           رقم الهاتف
         </td>
         <td align="right">
           {{ v_school.land_phone_number }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           الدوام
         </td>
         <td align="right" >
           {% if v_school.is_2nd_shift %}
              بعد الظهر
           {% endif %}
           {% if v_school.is_alp %}
              - ALP
           {% endif %}

         </td>
       </tr>
     </table>
   </th>
 </table>

{% endfor %}


{% if rep_groupby == 'SECTION' %}
  {% regroup enrollment by class_section as v_enrollment %}
<ul>
{% for class_section in v_enrollment %}

    <font color="green" size="5">
      <div style="height: 40px; overflow:hidden;">السنة المنهجية : {{ class_section.grouper }} </div>
    </font>


 <font size="2" face="Courier New" >
    <table width="100%" border="1" cellspacing="0" cellpadding="4" >
      <tr>

     <th width="4%" style="max-height:20px">
       <font size="3" color="black" ><b># </b></font>
     </th>

     <th width="25%">الإسم الثلاثي /
       <br><br>رقم compiler الموحد
     </th>
     <th width="5%" ><font size="2"><small>الجنس</small></font></th>
     <th width="13%" style="max-height:20px">مكان الولادة</th>
     <th width="11%" style="max-height:20px">
       <table border="0" width="100%" >
       <th colspan="3" style="max-height:20px">
         <u>
         تاريخ الولادة
       </u>
       </th>
       <tr>
           <br>
           <td><font size="1" color="black">اليوم</font></td>
           <td><font size="1" color="black"> الشهر</font></td>
           <td><font size="1" color="black">السنة</font></td>
       </tr>
       </table>
     </th>

     <th width="41%">
        معلومات عن اّخر سنة دراسية
       <table width="100%" border="1" >

         <tr >
            <td width="40%"><font size="1" color="black">اّخر سنة منهجية
            <br>
              / اّخر دورة
            </font></td>
            <td width="20%" ><font size="1" color="black">النتيجة</font></td>
            <td width="20%" ><font size="1" color="black">الإفادة المبرزة</font></td>
            <td width="20%"><font size="1" color="black">تاريخ التصديق</font></td>
         </tr>
         </table>
     </th>
</tr>

     {% for enr in class_section.list %}
        <tr>
          <td width="4%" class="counterCell" style="max-height:20px" ></td>
          <td width="25%"><div>
            {% if enr.moved or enr.dropout_status %}
               <fornt size="2" color="red"><b>(-)</b></fornt>
            {% endif %}

            <font size="4">
              {{ enr.student.full_name}}
              <br>
              {{ enr.student.id }}
          </font></div></td>

            {% ifequal enr.student.sex 'Male' %}
          <td width="5%" style="max-height:20px" align="center"><font size="3"> ذ</font></td>
            {% endifequal %}
            {% ifequal enr.student.sex 'Female' %}
          <td width="5%" style="max-height:20px" align="center"><font size="3"> أ</font></td>
            {% endifequal %}

          <td width="13%"><font size="2"> {{ enr.student.place_of_birth }}</font></td>
          <td width="11%">
            <table width="100%" >
              <td width="25%"><font size="2"> {{ enr.student.birthday_day }}</font></td>
              <td width="25%"><font size="2"> {{ enr.student.birthday_month }}</font></td>
              <td width="50%"><font size="2"> {{ enr.student.birthday_year }}</font></td>
            </table>
          </td>


          {% ifnotequal enr.last_education_year 'na' %}
             <td width="41%" >
               <table width="100%" >
                  <td width="20%" align="rigth"><font size="2"> {{ enr.last_education_year }}</font></td>
                  <td width="20%" align="rigth"><font size="2"> {{ enr.last_school.name }}</font></td>
                  <td width="15%" align="rigth"><font size="2"> {{ enr.last_education_level }}</font></td>
                  {% ifequal enr.last_year_result 'graduated'%}
                    <td width="10%" align="rigth"><font size="2"> ناجح/ة  </font></td>
                  {% endifequal %}
                  {% ifequal enr.last_year_result 'failed'%}
                    <td width="10%" align="rigth"><font size="2">معيد/ة  </font></td>
                  {% endifequal %}
                  <td width="20%" align="right"><font size="2"> {{ enr.documenttype.description2 }}</font></td>
                  <td width="15%" align="right"><font size="2"> {{enr.signature_cert_date}}</font></td>
               </table>
             </td>
          {% else %}
             <td width="41%" >
              <table width="100%" border="0" >
                <td width="25%" align="right"><font size="2" > {{ enr.last_informal_edu_round }}</font></td>
                <td width="25%" align="right"><font size="2" > {{ enr.last_informal_edu_final_result }}</font></td>
                <td width="30%" align="right"><font size="2"> {{ enr.documenttype.description2 }}</font></td>
                <td width="20%" align="right"><font size="2"> {{enr.signature_cert_date}}</font></td>

              </table>
             </td>
          {% endifnotequal %}

        </tr>
       {% endfor %}

  </table>
 </font>
  {% endfor %}
</ul>
  <hr>
<div>
  <font color="red" size="2"><b>N.B.:</b></font>
  &nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;(-) : تلميذ منتقل/منقطع

</div>
{% else %}
 
  {% regroup enrollment by classroom as v_enrollment %}
  <ul>
   {% for classroom in v_enrollment %}

      <div class="b">
        <font color="green" size="5"><br>السنة المنهجية : {{ classroom.grouper }}       </font>
      </div>

   <font size="2" face="Courier New" >
   <table width="100%" border="1" cellspacing="0" cellpadding="4" >
     <tr>
        <th width="4%" style="max-height:20px">
           <div style="height: 40px; overflow:hidden;">
           <font size="3" color="black" ><b># </b></font>
           </div>
        </th>
        <th width="27%">الإسم الثلاثي /
          <div style="height: 40px; overflow:hidden;">
           <br>رقم compiler الموحد
          </div>
        </th>
        <th width="3%" ><font size="2"><div style="height: 40px; overflow:hidden;"><small>الجنس</small></div></font></th>
        <th width="13%"><div style="height: 40px; overflow:hidden;">مكان الولادة</div></th>
        <th width="10%">
          <div style="height: 40px; overflow:hidden;">
          <table border="0" width="100%" >
            <th >                       تاريخ الولادة
              <br><font size="1">
                يوم/شهر/سنة
              </font>
            </th>

          </table>
          </div>
        </th>
        <th width="42%">
          <div style="height: 40px; overflow:hidden;">
          معلومات عن اّخر سنة دراسية
          <table width="100%" border="1" >
           <tr >
             <td width="40%"><font size="1" color="black">اّخر سنة منهجية             <br>              / اّخر دورة             </font></td>
             <td width="20%" ><font size="1" color="black">النتيجة</font></td>
             <td width="20%" ><font size="1" color="black">الإفادة المبرزة</font></td>
             <td width="20%"><font size="1" color="black">تاريخ التصديق</font></td>
           </tr>
          </table>
          </div>
        </th>
     </tr>
     {% for enr in classroom.list %}
     <tr>
       <td width="4%" class="counterCell" ><div style="height: 40px; overflow:hidden;"></div></td>
       <td width="27%">
           <div style="height: 40px; overflow:hidden;">
              {% if enr.moved or enr.dropout_status %}
              <fornt size="2" color="red"><b>(-)</b></fornt>
              {% endif %}
               <font size="4">             {{ enr.student.full_name}}               <br>              {{ enr.student.id }}     </font>
           </div>
       </td>
       {% ifequal enr.student.sex 'Male' %}
       <td width="3%" align="center"><div style="height: 40px; overflow:hidden;"><font size="3"> ذ</font></div></td>
       {% endifequal %}
       {% ifequal enr.student.sex 'Female' %}
       <td width="3%" align="center"><div style="height: 40px; overflow:hidden;"><font size="3"> أ</font></div></td>
       {% endifequal %}
       <td width="13%"><div style="height: 40px; overflow:hidden;"><font size="2"> {{ enr.student.place_of_birth }}</font></div></td>
       <td width="10%">
          <div style="height: 40px; overflow:hidden;">
          <table width="100%" >
            <td width="25%"><font size="2"> {{ enr.student.birthday_day }}</font></td>
            <td width="25%"><font size="2"> {{ enr.student.birthday_month }}</font></td>
            <td width="50%"><font size="2"> {{ enr.student.birthday_year }}</font></td>
          </table>
          </div>
       </td>
       {% ifnotequal enr.last_education_year 'na' %}
       <td width="42%" >
           <div style="height: 40px; overflow:hidden;">
           <table width="100%" >
              <td width="10%" align="rigth"><font size="2"> {{ enr.last_education_year }}</font></td>
              <td width="30%" align="rigth"><font size="2"> {{ enr.last_school.name }}</font></td>
              <td width="17%" align="rigth"><font size="2"> {{ enr.last_education_level }}</font></td>
              {% ifequal enr.last_year_result 'graduated'%}
                   <td width="8%" align="rigth"><font size="1"> ناجح/ة  </font></td>
              {% endifequal %}
              {% ifequal enr.last_year_result 'failed'%}
                    <td width="8%" align="rigth"><font size="1">معيد/ة  </font></td>
              {% endifequal %}
              <td width="20%" align="right"><font size="2"> {{ enr.documenttype.description2 }}</font></td>
              <td width="15%" align="right"><font size="2"> {{enr.signature_cert_date}}</font></td>
           </table>
           </div>
        </td>
        {% else %}
        <td width="41%" >
          <div style="height: 45px; overflow:hidden;">
           <table width="100%" border="0" >
              <td width="25%" align="right"><font size="2" > {{ enr.last_informal_edu_round }}</font></td>
              <td width="25%" align="right"><font size="2" > {{ enr.last_informal_edu_final_result }}</font></td>
              <td width="30%" align="right"><font size="2"> {{ enr.documenttype.description2 }}</font></td>
              <td width="20%" align="right"><font size="2"> {{enr.signature_cert_date}}</font></td>
           </table>
          </div>
        </td>
        {% endifnotequal %}
     </tr>
     {% endfor %}
  </table>
 </font>
  {% endfor %}
</ul><hr>
<div>
  <font color="red" size="2"><b>N.B.:</b></font>
  &nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;(-) : تلميذ منتقل/منقطع

</div>


{% endif  %}
  

  <br><br>
  {% for schl in school %}
  <table width="100%" border="0" >
    <th>

  <table width="100%" border="1" cellspacing="0" cellpadding="4" >
    <th width="70%">
    <table width="100%" border="0" cellspacing="0" cellpadding="4" >

    <tr>
      <td width="15%" align="left">
        <font size="4"><b>
             أنا الموقع (ة) أدناه
        </b></font>
      </td>
      <td width="20%" align="right">
         <font size="4" color="navy"><b>
            {{ schl.director_name }}
         </b></font>
      </td>
      <td width="12%" align="left">
        <font size="4"><b><br>
         مدير(ة) مدرسة &nbsp;
        </b></font>
      </td>
      <td width="48%" align="right">
        <font size="4" color="navy"><b>
         {{ schl.name}}-دوام &nbsp;
          {% if schl.is_2nd_shift %}
                بعد الظهر
          {% endif %}
             {% if schl.is_alp %}
                - ALP
          {% endif %}
         </b></font>
      </td>
    </tr>
    <tr>
      <td width="10%">   </td>
      <td width="90%" colspan="5" align="right">
        <br>
         <font size="4"><b>
           أفيد ان التلاميذ المدونة أسماؤهم في هذه اللائحة و عددهم
         </b></font>
         <font size="5" color="navy"><b>
          &nbsp;&nbsp;&nbsp;***&nbsp;{{ schl.total_registered }}&nbsp;***
         </b></font>
         <font size="4"><b>
            يتابعون في مدرستي
           <br><br>
          وأصرّح على مسؤوليتي أن المعلومات الواردة في هذه اللائحة مطابقة للواقع
         </b></font>
      </td>
    </tr>
    </table>
    </th>

    <th width="30%" >
      <table border="0" width="100%" >
        <th><tr>
          <font size="3"><b>
           إن مندرجات هذه اللائحة صحيحة و قد دققت على مسؤوليتي
          </b></font>
          <br>
          </tr>

        </th>
        <tr>
          <td>
            <table width="100%" >
              <th width="30%">
                ختم المدرسة
              </th>
              <th width="35%"><div class="square" ></div></th>
              <th width="35%"></th>
            </table>
          </td>
        </tr>
        <tr>
          <td align="right">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; توقيع المدير
          </td>
        </tr>
        <tr>
          <td>
          في
            {{ current_date|date:"d/m/Y"  }}
          </td>
        </tr>
      </table>
    </th>
  </table>
  <br><br>

    </th>
    {% endfor %}
  </table>

</div>

</body>

</html>
