
<!DOCTYPE html>
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}


<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <title>Justification List</title>
</head>
<style>
    body {
    counter-reset: tableCount;
    }
    .counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
   }
   .square {
    height: 200px;
    width: 200px;
    background-color: #f0f0f5;
  }
  body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 1cm;
  margin-top: 1cm;
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 5px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
table, td1, th1 {
  border: 0px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  height: 15px;
  vertical-align: bottom;
}
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
</style>
<script type='text/javascript'>
		function PrintReport()
		{
			window.print();
		}

	</script>
<body>
     <button class="btn btn-info" id="preview" onclick="PrintReport();" hidden>
        Print
     </button>
<page size="A4" layout="landscape">

 {%for v_school in school %}
 <table width="100%" border="0">
   <th width="15%" height="190">
     <div>
        <img src="{% static 'images/mehe.png' %}" style="float: center; width: 90px; height: 90px;" />
     </div>

     <div>
     الجمهورية اللبنانية
     <br>
     وزارة التربية والتعليم العالي
     <br>
     وحدة إدارة متابعة تنفيذ برنامج التعليم الشامل
       <br>
       <u>PMU</u>
       </div>
   </th>
   <th width="20%">

   </th>
   <th width="40%">
     <table width="100%" border="1" id="customers">
       <tr>
         <th colspan="2">
           <font color="navy">
              <h2 align="center">            لائحة بأسماء التلاميذ الغير لبنانيين بحسب الصفوف   </h2>
           </font>
         </th>
       </tr>

         <tr>

             <td width="35%" bgcolor="#F5F5F4">
                <font size="4">
               السنة الدراسية
              </font>
           </td>
           <td width="65%" align="right">
             {{ education_year }}
           </td>

         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
                رقم المدرسة في المركز التربوي
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.number }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               إسم المدرسة
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.name }}
           </td>
         </tr>
         <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               اللغة الأجنبية
             </font>
           </td>
           <td width="65%" align="right">
             {{ v_school.certified_foreign_language }}
           </td>
         </tr>
          <tr>
           <td width="35%" bgcolor="#F5F5F4">
             <font size="4">
               الملف
             </font>
           </td>
           <td width="65%" align="right">

           </td>
          </tr>

     </table>


   </th>
   <th width="5%">

   </th>
   <th width="29%">
     <table width="100%" border="1" id="customers">

       <tr>
         <td bgcolor="#F5F5F4">
           المحافظة
         </td>
         <td align="right">
           {{ v_school.location.parent.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           القضاء
         </td>
         <td align="right">
           {{ v_school.location.name }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           البلدة
         </td>
         <td align="right">

         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           رقم الهاتف
         </td>
         <td align="right">
           {{ v_school.land_phone_number }}
         </td>
       </tr>
       <tr>
         <td bgcolor="#F5F5F4">
           الدوام
         </td>
         <td align="right" >
           {% if v_school.is_2nd_shift %}
              بعد الظهر
           {% endif %}
           {% if v_school.is_alp %}
              - ALP
           {% endif %}

         </td>
       </tr>
     </table>
   </th>
 </table>

{% endfor %}


{% regroup enrollment by classroom as v_enrollment %}

<ul>
{% for classroom in v_enrollment %}
  <br>
    <font color="green" size="5">
      <li>السنة المنهجية : {{ classroom.grouper }} </li>
    </font>

 <table width="100%" border="1" >
   <th width="58%"></th>
   <th width="52%"  bgcolor="#F5F5F4">معلومات عن اّخر سنة دراسية</th>
 </table>
 <font size="2" face="Courier New" >
    <table width="100%" border="1" class="fixed">
     <th width="3%">
       <table width="100%" class="fixed">
         <th>
           مبرر
         </th>
         <tr>
         <td>
          نعم / لا
         </td>
         </tr>
       </table>
     </th>
     <th width="5%">
         <font size="2" color="black">الرقم </font>
         <font size="1" color="black">
          المتسلسل
         </font>
     </th>
      <th><div style="width: 28px; overflow:hidden;">الإسم</div></th>
      <th><div style="width: 28px; overflow:hidden;">إسم الأب</div></th>
      <th><div style="width: 28px; overflow:hidden;">الشهرة</div></th>
     <th width="4%">الجنس</th>
     <th width="8%">مكان الولادة</th>
     <th width="9%">
       <table border="0" width="100%" class="fixed">
       <th colspan="3">
         <u>
         تاريخ الولادة
       </u>
       </th>
       <tr>
           <br>
           <td><font size="1" color="black">اليوم</font></td>
           <td><font size="1" color="black"> الشهر</font></td>
           <td><font size="1" color="black">السنة</font></td>

       </tr>
       </table>
     </th>
     <th width="6%" align="right">رقم compiler الموحد</th>
     <th width="20%">
       <table width="100%" border="0" class="fixed">
         <th colspan="4">
          نظامي
         </th>
         <tr>
             <td width="15%" style="border:1px solid black"><font size="1" color="black">العام</font></td>
             <td width="45%" style="border:1px solid black" align="right"><font size="1" color="black"> إسم المدرسة</font></td>
             <td width="20%" style="border:1px solid black" align="right"><font size="1" color="black"> السنة المنهجية</font></td>
             <td width="20%" style="border:1px solid black" align="right"><font size="1" color="black">النتيجة</font></td>
         </tr>
       </table>
     </th>
     <th width="14%">
       <table width="100%" border="0" class="fixed">
         <th colspan="2">
          غير نظامي
         </th>
         <tr >
           <td   width="50%" style="border:1px solid black" align="right"><font size="1" color="black">&nbsp;&nbsp;&nbsp;
             آخر دورة
          </font></td>
           <td width="50%" style="border:1px solid black" align="right"><font size="1" color="black">
             النتيجة
           </font></td>

         </tr>
       </table>

     </th>
     <th width="4%" ><font size="1" color="black">الإفادة المبرزة</font></th>
     <th width="3%" ><font size="1" color="black">تاريخ التصديق</font></th>

     {% for enr in classroom.list %}
        <tr>
          <div>
          <td width="3%"></td>
          <td width="5%" class="counterCell"  ></td>
            <td style="padding-left:5px;"><div style="width: 28px; overflow:hidden;"><font size="1"> {{ enr.student.first_name}}</font></div></td>
            <td style="padding-left:5px;"><div style="width: 28px; overflow:hidden;"><font size="1">{{ enr.student.father_name}}</font></div></td>
            <td style="padding-left:5px;"><div style="width: 28px; overflow:hidden;"><font size="1">{{ enr.student.last_name}}</font></div></td>
            <td><font size="1"> {{ enr.student.sex }}</font></td>
            <td><font size="1"> {{ enr.student.place_of_birth }}</font></td>
          <td>
            <table width="100%" class="fixed">
              <td width="20"><font size="1"> {{ enr.student.birthday_day }}</font></td>
              <td width="20"><font size="1"> {{ enr.student.birthday_month }}</font></td>
              <td width="40"><font size="1"> {{ enr.student.birthday_year }}</font></td>
            </table>
          </td>
          <td>{{ enr.student.id }}</td>
          <td>
            <table width="100%" class="fixed" >
              <td width="15%" align="rigth"><font size="1"> {{ enr.last_education_year }}</font></td>
              <td width="45%" align="rigth"><font size="1"> {{ enr.last_school.name }}</font></td>
              <td width="20%" align="rigth"><font size="1"> {{ enr.last_education_level }}</font></td>
              <td width="20%" align="rigth"><font size="1"> {{ enr.last_year_result }}</font></td>
            </table>
          </td>
          <td>
           <table width="100%" border="0" class="fixed">
             <td ><font size="1" width="50%"> {{ enr.last_informal_edu_round }}</font></td>
             <td ><font size="1" width="50%"> {{ enr.last_informal_edu_final_result }}</font></td>
            </tr>
           </table>
          </td>
          <td ><font size="1"> {{ enr.documenttype.description2 }}</font></td>
          <td ><font size="1"> {{enr.documentyear}}</font></td>
           </div>
        </tr>
       {% endfor %}

  </table>
 </font>
  {% endfor %}
</ul>



  <br><br><br><br><br><br>
  {% for schl in school %}
  <table width="100%" border="1" class="fixed">
    <th>

  <table width="100%" border="0" class="fixed">
    <th width="70%">


  <table width="100%" border="0" class="fixed">
    <tr>

      <td colspan="6" align="right">

      </td>
    </tr>
    <tr>

     <td width="15%" align="left">
       <font size="4"><b>
             أنا الموقع (ة) أدناه
       </font></b>
     </td>
      <td width="15%" align="right">
        <font size="4" color="navy"><b>
            {{ schl.director_name }}
        </font></b>
       </td>
    <td width="10%" align="left">
      <font size="4"><b>
         مدير(ة) مدرسة &nbsp;
      </font></b>
    </td>
    <td width="30%" align="right">
      <font size="4" color="navy"><b>
       {{ schl.name}}-دوام &nbsp;

        {% if schl.is_2nd_shift %}
              بعد الظهر
           {% endif %}
           {% if schl.is_alp %}
              - ALP
           {% endif %}

      </font></b>
    </td>

    </tr>
    <tr>
     <td width="10%">

     </td>
     <td width="10%" colspan="5" align="right">
         <br>
         <font size="4"><b>
         أفيد ان التلاميذ المدونة أسماؤهم في هذه اللائحة و عددهم
         </font></b>
         <font size="5" color="navy"><b>
          &nbsp;&nbsp;&nbsp;***&nbsp;{{ schl.total_registered_2ndshift }}&nbsp;***
         </font></b>
         <font size="4"><b>
          &nbsp;&nbsp;&nbsp;  يتابعون في مدرستي
           <br><br>
          وأصرّح على مسؤوليتي أن المعلومات الواردة في هذه اللائحة مطابقة للواقع
         </font></b>
    </td>

    </tr>
    </table>
   </th>
    <th width="30%" >
      <table border="0" width="100%" class="fixed">
        <th><tr>
          <font size="4"><b>
           إن مندرجات هذه اللائحة صحيحة و قد دققت على مسؤوليتي
          </b></font>
          <br>
          </tr>

        </th>
        <tr>
          <td>
            <table width="100%" class="fixed">
              <th width="30%">
                ختم المدرسة
              </th>
              <th width="35%"><div class="square" ></div></th>
              <th width="35%"></th>
            </table>
          </td>
        </tr>
        <tr>
          <td align="right">
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; توقيع المدير
          </td>
        </tr>
        <tr>
          <td>
          في
            {{ current_date|date:"d/m/Y"  }}
          </td>
        </tr>
      </table>
    </th>
  </table>
  <br><br>

    </th>
    {% endfor %}
  </table>


  </page>
</body>

</html>
