{% extends "base.html" %}
{% load static i18n %}

{% block project_title %}Pivot Dashboard{% endblock %}

{% block content %}
<div class="page-header">
    <div class="page-header-titles">
        <h1 class="page-header-title"><i class="pe-7s-graph1"></i> Pivot Dashboard</h1>
    </div>
</div>

<div id="pivot" style="margin: 20px;"></div>
{% endblock content %}

{% block extra_js %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.css">
<script src="https://cdn.jsdelivr.net/npm/pivottable@2.23.0/dist/pivot.min.js"></script>
<script type="text/javascript">
  $(function(){
    $.getJSON("{% url 'dashboard:pivot_data' %}", function(data){
      $("#pivot").pivotUI(data);
    });
  });
</script>
{% endblock %}
