{% extends "base.html" %}
{% load humanize %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<section class="main-content-wrapper">
            <section id="main-content">
                <div class="title_left">
                    <h3 style="color:#73879C;">{% trans 'Registrations ALP Pre-test' %}</h3>
                </div>
                <hr>
     <div class="row">
         <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans 'Total Students' %}</span>
              <div class="count">{{ registrations|intcomma }}</div>
{#              <span class="count_bottom"><i class="green">4% </i> From Yesterday</span>#}
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans 'Total Males' %}</span>
              <div class="count">{{ males|intcomma }}</div>
{#              <span class="count_bottom"><i class="red">4% </i> From Yesterday</span>#}
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans 'Total Females' %}</span>
              <div class="count">{{ females|intcomma }}</div>
{#              <span class="count_bottom"><i class="green">4% </i> From Yesterday</span>#}
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>{% trans 'Total Schools' %}</span>
              <div class="count">{{ schools|intcomma }}</div>
{#              <span class="count_bottom"><i class="green">4% </i> From Yesterday</span>#}
            </div>

         </div>

       <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2>{% trans 'Students By Governorate by Grade' %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div>
                      <button class="btn btn-info" id="export1">
                        <i class="icon-export-sign icon-white"></i>&nbsp;
                            Export
                      </button>
                    <table class="table table-striped table-bordered cell-border"
                           data-tableName="Number of children by Assigned level"
                           data-height="500"
                           data-pagination="true"
                           data-search="true"
                           cellspacing="0"
                           width="100%"
                           id="exporttable1">
                        <thead>
                            <tr>
                                <th rowspan="3">Governorate</th>
                                <th colspan="27"># of children by Assigned level</th>
                            </tr>
                            <tr>
                                {% for level in education_levels %}
                                    <th colspan="2">{{ level.name }}</th>
                                {% endfor %}
                                <th rowspan="2">Total Male</th>
                                <th rowspan="2">Total Female</th>
                                <th rowspan="2">Total</th>
                            </tr>
                            <tr>
                              {% for level in education_levels %}
                                    <th>Male</th>
                                    <th>Female</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for gov in governorates %}
                            <tr>
                                <td><strong>{{ gov.name }}</strong></td>
                                {% for level in education_levels %}
                                <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments gov.id level.id 'Male' as number %}
                                    {{ number }}
                                </td>
                                <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments gov.id level.id 'Female' as number %}
                                    {{ number }}
                                </td>
                                {% endfor %}
                                <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments gov.id 0 'Male' as number %}
                                    {{ number }}
                                </td>
                               <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments gov.id 0 'Female' as number %}
                                    {{ number }}
                                </td>
                               <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments gov.id 0 as number %}
                                    {{ number }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><strong>Total</strong></td>
                                {% for level in education_levels %}
                                <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments 0 level.id 'Male' as number %}
                                    {{ number }}
                                </td>
                                <td>
                                    {% alp_by_gov_by_assignedlevel_by_gender enrollments 0 level.id 'Female' as number %}
                                    {{ number }}
                                </td>
                                {% endfor %}
                                <td>{{ males }}</td>
                                <td>{{ females }}</td>
                                <td>{{ registrations }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

         <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2>{% trans 'Students By Governorate by Age' %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div>
                      <button class="btn btn-info" id="export2">
                        <i class="icon-export-sign icon-white"></i>&nbsp;
                            Export
                      </button>
                    {% get_range_int 0 30 as ages %}
                    <table class="table table-striped table-bordered cell-border"
                           data-tableName="# of children by Age"
                           data-height="500"
                           data-pagination="true"
                           data-search="true"
                           cellspacing="0"
                           width="100%"
                           id="exporttable2">
                        <thead>
                            <tr>
                                <th rowspan="2">Governorate</th>
                                <th colspan="31"># of children by Age</th>
                            </tr>
                            <tr>
                                {% for age in ages %}
                                    <th>{{ age }}</th>
                                {% endfor %}
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gov in governorates %}
                                {% get_range_int 0 30 as ages1 %}
                            <tr>
                                <td><strong>{{ gov.name }}</strong></td>
                                {% for age in ages1 %}
                                    <td>
                                        {% alp_by_gov_by_age enrollments gov.id age as number %}
                                        {{ number }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% alp_by_gov_by_age enrollments gov.id as number %}
                                    {{ number }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><strong>Total</strong></td>
                                {% get_range_int 0 30 as ages2 %}
                                {% for age in ages2 %}
                                    <td>
                                        {% alp_by_gov_by_age enrollments 0 age as number %}
                                        {{ number }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {{ registrations }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

         <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2>{% trans 'Students By Grade by Age' %}</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div>
                      <button class="btn btn-info" id="export3">
                        <i class="icon-export-sign icon-white"></i>&nbsp;
                            Export
                      </button>
                    {% get_range_int 0 17 as ages %}
                    <table class="table table-striped table-bordered cell-border"
                           data-tableName="Students By Grade by Age"
                           data-height="500"
                           data-pagination="true"
                           data-search="true"
                           cellspacing="0"
                           width="100%"
                           id="exporttable3">
                        <thead>
                            <tr>
                                <th rowspan="2">Grades</th>
                                <th colspan="18"># of children by Age</th>
                            </tr>
                            <tr>
                                {% for age in ages %}
                                    <th>{{ age }}</th>
                                {% endfor %}
                                <th>17+</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for level in education_levels %}
                                {% get_range_int 0 17 as ages1 %}
                            <tr>
                                <td><strong>{{ level.name }}</strong></td>
                                {% for age in ages1 %}
                                    <td>
                                        {% alp_by_assignedlevel_by_age enrollments level.id age as number %}
                                        {{ number }}
                                    </td>
                                {% endfor %}
                                <td>
                                    {% alp_by_assignedlevel_by_age enrollments level.id 17 True as number %}
                                    {{ number }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{% trans 'Schools By Governorate' %}</h2>
                <ul class="nav navbar-right panel_toolbox">
{#                  <li><a class="close-link"><i class="fa fa-close"></i></a></li>#}
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div id="schools_by_governate" style="height:350px;"></div>
              </div>
            </div>
          </div>

     </div>

</section>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

    <script>

    $(document).ready(function(){
        $('#export1').click(function(){
            $("#exporttable1").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: $("#exporttable1").attr('data-tableName')+'.xls',
                fileext: ".xlsx",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
        $('#export2').click(function(){
            $("#exporttable2").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: $("#exporttable2").attr('data-tableName')+'.xls',
                fileext: ".xlsx",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
        $('#export3').click(function(){
            $("#exporttable3").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: $("#exporttable3").attr('data-tableName')+'.xls',
                fileext: ".xlsx",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
    });

    </script>
{% endblock %}
