{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}

{% endblock %}

{% block content %}

<section class="main-content-wrapper">
    <section id="main-content">
        <div class="title_left">
            <h3 style="color:#73879C;">{% trans 'Registrations 2nd Shift' %}</h3>
            <a class="export-link" href="{% url "enrollments:enrollment_export_by_school" %}" target="_blank">Export number of student by school</a>
            <br>
            <a class="export-link" href="{% url "enrollments:enrollment_export_by_cycle" %}" target="_blank">Export number of student by cycle</a>
        </div>
    </section>
</section>

{% endblock %}

{% block extra_js %}

{% endblock %}
