<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{#{% load util_tags %}#}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content-full-page %}

{% load util_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Utilities</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<section class="main-content-wrapper">
    <section id="main-content">
      <form id="attendance-form" action="#" method="GET">
        <div class="row">
          <div class="col-sm-4">
            <div class="card m-3">
              <div class="card-block">
                <h3 class="card-title">Students list</h3>
                <p class="card-text">Generate the justification number for the school  and lock the data</p>

                <div class="btn-group">
                    <a href="{% url 'dashboard:run-list-justification' %}" class="btn btn-info">{% trans 'Draft of student list' %}</a>
                </div>

                <hr>

                <div class="btn-group" >
                   <a href="#mymodal"   role="button"   class="btn btn-large btn-primary" data-toggle="modal"  ><font color ="lime" size="4">{% trans 'Last copy' %}</font></a>
                  <br><br>

                     <table border="1">
                        <colgroup>
                          <col span="2" style="background-color:aqua">
                          <col style="background-color:yellow">
                        </colgroup>
                     </table>
                </div>
                <hr>
                <div class="btn-group">
                    <a href="{% url 'dashboard:run-available-documents' %}" class="btn btn-info">{% trans 'List of available documents' %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>


<div id="mymodal" class="modal fade" dir="rtl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">هل أنت متأكد من تثبيت المعلومات؟</h4>
            </div>


            <div class="modal-footer" dir="ltr">
                <button type="button" class="btn btn-default" data-dismiss="modal">كلا</button>
			        	 <a href="{% url 'dashboard:run-generate-justification' %}" class="btn btn-info">{% trans 'Confirmed' %}</a>
				      <br>
            </div>

        </div>

    </div>

</div>

      </form>
    </section>
</section>


</body>
</html>
{% endblock %}
