{% extends "base.html" %}
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<section class="main-content-wrapper">

  <section id="main-content">
      <div class="title_left">
          <h3>{% trans 'Students by Governorate by Nationality by Grade' %} - {{ selected_year.name }}</h3>
      </div>
     <div class="" style="overflow: scroll;">
        <div class="x_content">
                <button class="btn btn-info" id="export1">
                  <i class="icon-export-sign icon-white"></i>&nbsp;
                      Export
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Education Year
                  </button>
                  <div class="dropdown-menu">
                    {% for item in education_years %}
                    <a class="dropdown-item" href="{% url 'dashboard:2ndshift_governorate_nationality' %}?current={{ item.id }}">{{ item.name }}</a>
                    {% endfor %}
                  </div>
                </div>
                <table class="table table-striped table-bordered cell-border"
                       data-tableName="Students By Governorate by Nationality by Grade"
                       data-height="500"
                       data-pagination="true"
                       data-search="true"
                       cellspacing="0"
                       width="100%"
                       id="exporttable1">
                    <thead>
                        <tr>
                            <th rowspan="3">Governorate</th>
                            <th colspan="41" style="text-align: center;">Nationalities</th>
                        </tr>
                        <tr>
                            {% for nation in nationalities %}
                                <th colspan="2">{{ nation.name }}</th>
                            {% endfor %}
                            <!--<th colspan="2">Total</th>-->
                            <!--<th colspan="2" rowspan="2">Total</th>-->
                        </tr>
                        <tr>
                            {% for nation in nationalities %}
                                <th>Male</th>
                                <th>Female</th>
                            {% endfor %}
                                <!--<th>Male</th>-->
                                <!--<th>Female</th>-->
                        </tr>
                        <tr>

                        </tr>
                    </thead>
                    <tbody>
                        {% for gov in governorates %}
                        <tr>
                            <td><strong>{{ gov.name }}</strong></td>
                            {% for nation in nationalities %}
                              {% for level in education_levels %}
                                    <td>
                                        {% enrollment_by_gov_by_nationality_by_gender_by_grade enrollments gov.id nation.id 'Male' level.id as number %}
                                        {{ number }}
                                    </td>
                                    <td>
                                        {% enrollment_by_gov_by_nationality_by_gender_by_grade enrollments gov.id nation.id 'Female' level.id as number %}
                                        {{ number }}
                                    </td>
                              {% endfor %}
                            {% endfor %}
                                    <!--<td>-->
                                        <!--{% enrollment_by_gov_by_nationality_by_gender_by_grade enrollments gov.id 0 'Male' level.id as number %}-->
                                        <!--{{ number }}-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{% enrollment_by_gov_by_nationality_by_gender_by_grade enrollments gov.id 0 'Female' level.id as number %}-->
                                        <!--{{ number }}-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--{% enrollment_by_gov_by_nationality_by_gender_by_grade enrollments gov.id 0 0 as number %}-->
                                        <!--{{ number }}-->
                                    <!--</td>-->
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>Total</strong></td>
                            {% for nation in nationalities %}
                            <td>
                                {% enrollment_by_gov_by_nationality_by_gender enrollments 0 nation.id 'Male' as number %}
                                {{ number }}
                            </td>
                            <td>
                                {% enrollment_by_gov_by_nationality_by_gender enrollments 0 nation.id 'Female' as number %}
                                {{ number }}
                            </td>
                            {% endfor %}
                            <td>{{ males }}</td>
                            <td>{{ females }}</td>
                            <td>{{ registrations }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>

</section>
    </section>
{% endblock %}

{% block extra_js %}
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script>

    $(document).ready(function(){
        $('#export1').click(function(){
            $("#exporttable1").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: $("#exporttable1").attr('data-tableName')+'.xls',
                fileext: ".xlsx",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true
            });
        });
    });

    </script>

{% endblock %}
