{% load static i18n %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">  <!-- Added lang attribute -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <title>Dirasa | {% block head_title %}Home{% endblock %}</title>

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="{% static 'vendor/flaticons/flaticon.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/hover/css/hover-min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/mfp/css/magnific-popup.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'custom/2.2.0/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'custom/2.2.0/css/layouts/olivia.css' %}" rel="stylesheet"/>
    <link href="{% static 'custom/2.2.0/css/colors/default.css' %}" id="color-styles" rel="stylesheet"/>
    <link href="{% static 'css/project.css' %}?v=9" rel="stylesheet">

    <!-- JS Dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1hb5ozf1gHfd2v/6jbGJ9DXtbMR98kMrcj/oQ6"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Add Datepicker JS -->
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

    {% block extra_head %}
    {% endblock %}

    <style>
      .col-icon i.fa {
        color: #fff !important;
      }
      .col-icon i:before {
        color: #fff !important;
      }
      .dropdown:hover .dropdown-menu {
          display: block;
      }
      ul.dropdown-menu, ul.your-menu-class {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
      }
      li {
          list-style-type: none;
      }
    </style>
</head>

<body id="olivia" class="boxed" style="max-width: 95%;">

<!--Pre-Loader-->
<div id="preloader"></div>

<header>
    {% block header %}
        <section id="top-navigation" class="container-fluid nopadding">
            <div class="row nopadding ident ui-bg-color01">
                <!-- Main Navigation -->
                <ul id="nav" class="row nopadding cd-side-navigation">
                    <li class="col-xs-4 col-sm-3 nopadding menuitem ui-menu-color01" data-animation-duration="1000"
                        data-animation-delay="100">
                        <a href="/clm/bridging-page/" class="hvr-sweep-to-bottom">
                            <i class="flaticon-insignia"></i>
                            <span>{% trans 'home' %}</span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="col-xs-4 col-sm-3 nopadding menuitem ui-menu-color02" data-animation-duration="1000"
                            data-animation-delay="1100">
                            <a href="/admin/" class="hvr-sweep-to-bottom">
                                <i class="flaticon-tool-1"></i>
                                <span>{% trans 'Admin' %}</span>
                            </a>
                        </li>
                        <li class="col-xs-4 col-sm-3 nopadding menuitem ui-menu-color03" data-animation-duration="1000"
                            data-animation-delay="1100">
                            <a href="{% url 'users:profile' %}" class="hvr-sweep-to-bottom">
                                <i class="flaticon-profile5"></i>
                                <span>{% trans 'Profile' %}</span>
                            </a>
                        </li>
                        <li class="col-xs-4 col-sm-3 nopadding menuitem ui-menu-color06" data-animation-duration="1000"
                            data-animation-delay="1100">
                            <a href="{% url 'account_logout' %}" class="hvr-sweep-to-bottom">
                                <i class="flaticon-identification28"></i>
                                <span>{% trans 'Logout' %}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="col-xs-4 col-sm-4 nopadding menuitem ui-menu-color06" data-animation-duration="1000"
                            data-animation-delay="1100">
                            <a href="{% url 'account_login' %}" class="hvr-sweep-to-bottom">
                                <i class="flaticon-identification28"></i>
                                <span>{% trans 'Login' %}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </section>
    {% endblock %}
</header>

<!-- Container -->
<div class="content-wrap">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block main_content %}
    {% endblock main_content %}

    <div class="" style="position: relative;width: 100%; background-color: #f7f7f7; padding-top: 15px;">
        {% block content-full-page %}
        {% endblock content-full-page %}
    </div>
</div>

<footer class="padding-50 dark ui-bg-color01">
    <!-- Footer content -->
</footer>

</body>
</html>
