{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load util_tags %}

    <div class="m-b">
      <nav class="navbar navbar-dark navbar-static-top bg-inverse">
        <div class="container">
          <a class="navbar-brand" href="/?ln={{ LANGUAGE_CODE }}">
              {% if request.user.is_authenticated %}
                {% if request.user|has_group:"ALP" %}{% trans "Compiler" %} 1.1{% else %}{% trans "Pilot" %} 1.7{% endif %}
              {% else %}
                  {% trans "Compiler" %} 1.1
              {% endif %}
          </a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
               {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a>
              </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% if request.user|has_group:"ALP_OUTREACH" %}
                        {% if request.user|has_group:"PARTNER" or request.user|has_group:"CERD" or request.user|has_group:"ALP_DIRECTOR" %}
                  <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"alp_data_collecting" %}active{% endif %}" href="{% url 'alp:alp_data_collecting' %}?ln={{ LANGUAGE_CODE }}">{% trans "ALP data collecting" %}</a>
                  </li>
                        {% endif %}
                        {% if request.user|has_group:"ALP_MEHE" %}
                  <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"alp_data_view" %}active{% endif %}" href="{% url 'alp:alp_data_view' %}?ln={{ LANGUAGE_CODE }}">{% trans "ALP data collecting" %}</a>
                  </li>
                        {% endif %}
                    {% endif %}
                {% if request.user|has_group:"SCHOOL" or request.user|has_group:"DIRECTOR" %}
                  <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"enrollment" %}active{% endif %}" href="{% url 'enrollments:enrollment' %}?ln={{ LANGUAGE_CODE }}">{% trans "Registration" %}</a>
                  </li>
                {% endif %}
                {% if request.user|has_group:"PMU" %}
                  <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"enrollment_view" %}active{% endif %}" href="{% url 'enrollments:enrollment_view' %}?ln={{ LANGUAGE_CODE }}">{% trans "Registration" %}</a>
                  </li>
                {% endif %}
                    {% if request.user|has_group:"ATTENDANCE" %}
                      <li class="nav-item">
                        <a class="nav-link {% if request|is_current_page:"attendance" %}active{% endif %}" href="{% url 'attendances:attendance' %}?ln={{ LANGUAGE_CODE }}">{% trans "Attendance" %}</a>
                      </li>
                    {% endif %}
                {% if request.user|has_group:"PILOT" %}
                <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"registering_pilot" %}active{% endif %}" href="{% url 'registrations:registering_pilot' %}?ln={{ LANGUAGE_CODE }}">{% trans "Registration" %}</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"waiting_list" %}active{% endif %}" href="{% url 'registrations:waiting_list' %}?ln={{ LANGUAGE_CODE }}">{% trans "Waiting List" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request|is_current_page:"class_assignment" %}active{% endif %}" href="{% url 'registrations:class_assignment' %}?ln={{ LANGUAGE_CODE }}">{% trans "Class Assignments" %}</a>
                </li>
                {% endif %}
            {% endif %}
              {% if request.user|has_group:"PILOT_HHVISIT" %}
              <li class="nav-item">
                <a class="nav-link {% if request|is_current_page:"household_visit" %}active{% endif %}" href="{% url 'hhvisit:household_visit' %}?ln={{ LANGUAGE_CODE }}">{% trans "Household Visit" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request|is_current_page:"household_visit_list" %}active{% endif %}" href="{% url 'hhvisit:household_visit_list' %}?ln={{ LANGUAGE_CODE }}">{% trans "Household Visit" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request|is_current_page:"household_visit_list_supervisor" %}active{% endif %}" href="{% url 'hhvisit:household_visit_list_supervisor' %}?ln={{ LANGUAGE_CODE }}">{% trans "Household Visit Assignment" %}</a>
              </li>
              {% endif %}
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
              {% if request.user.is_authenticated %}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>#}
{#                </li>#}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
                  <li class="nav-item">
                    <a href="{% url 'users:set_language' 'en-us' %}" class="nav-link{% if LANGUAGE_CODE == 'en-us' %} active{% endif %}">
                        {% trans 'English' %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'users:set_language' 'ar-ar' %}" class="nav-link{% if LANGUAGE_CODE == 'ar-ar' %} active{% endif %}">
                        {% trans 'Arabic' %}
                    </a>
                  </li>

              {% else %}
{#                <li class="nav-item">#}
{#                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>#}
{#                </li>#}
                <li class="nav-item">
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
              {% endif %}
                {% block header %}{% endblock %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
