{% load static i18n %}

        	<header role="header" style="padding-top: 5px;">

            	<div class="container">

                	<!-- logo -->

                    	<h1>

                        	<a href="/" title="CLM +"><img src="{% static 'images/logo-gray.png' %}" style="width: 80px; height: 40px;" title="CLM +" alt="CLM +"/></a>

                      </h1>

                    <!-- logo -->

                    <!-- nav -->

                    <nav role="header-nav" class="navy">

                        <ul id="grid">
                          <li><a href="/" title="Home">Home</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'users:profile' %}" title="Profile">Profile</a></li>

                            <li><a href="/admin/" title="Settings">Settings</a></li>

                            <li><a href="{% url 'account_logout' %}" title="Logout">Logout</a></li>
                          {% else %}

                            <li><a href="{% url 'account_login' %}" title="Login">Login</a></li>

                          {% endif %}

                        </ul>

                    </nav>

                    <!-- nav -->

                </div>

            </header>
